/* @ Post Author Section */
#postauthor {margin-bottom: 2em;}
#postauthor .copy-pad {
	padding:  10px 15px;
}
	#postauthor .author-info{ margin-left: 120px; }
	.author-thumb {text-align: left; margin-left: -120px;}
	.author-thumb img {float:left; margin-right: 25px;padding: 5px;}