body {font-family: Arial, sans-serif!important; background: #030303 no-repeat fixed left top!important;}



div.pagination {
   border: 0 none;
}

#sidebar .acomment-content {
  color: #333 !important;
}
#sidebar .acomment-meta a {
  color: #777 !important;
}


#post-navigator .current {border: 1px solid #14345E!important;}

.wp-pagenavi .pages, #post-navigator a, #post-navigator a:hover {border: 1px solid #14345E!important;}

#sidebar a, #sidebar .textwidget a, #sidebar .widget_tag_cloud a {color: #FFF2B3!important;}

#sidebar .bpside h2 {border-bottom: 1px solid #3D3D3D!important;}

#sidebar .bpside li {border-bottom: 1px solid #3D3D3D!important;}

#footer {color: #FFFFFF!important;}

#footer a {color: #FFF780!important;}

#footer a:hover {color: #FFF780!important; text-decoration: underline!important;}

#sidebar {color: #FFFFFF!important;}

#sidebar, #sidebar h2, #sidebar h2 a, #sidebar .bpside .time-since {color: #FFFFFF!important;}

#sidebar h2.widgettitle {color: #FFFFFF!important;}

#member-content h4 {color: #FFFFFF!important;}

.activity-list .activity-header a:first-child, span.highlight {-moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; color: #FFF !important; border: 1px solid #395E6F; margin-right: 3px; padding: 3px 8px; text-decoration: none; background: #49768C;}

.activity-list .activity-header a:first-child:hover, span.highlight:hover {-moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; color: #FFF !important; border: 1px solid #4E7D94; margin-right: 3px; padding: 3px 8px; text-decoration: none; background: #6798AF !important;}

span.activity {color: #FFF; border: 1px solid #3D6274; margin-right: 3px; padding: 3px 8px; text-decoration: none; background: #49768C;}

#member-content li a, #member-content #activity-rss p a, #member-content form a, #main-column a, .bpside li a, #post-entry .textwidget a, #post-entry div.widget_tag_cloud a, .message-box a, .item-options a, .post-content a, h1 a, .post-author a, p.tags a, #post-navigator-single a, table a, .group-button a, .generic-button a, #activity-pag a, div.textwidget a, div.item-title a, div.pagination-links a, div.directory-listing a, #custom ul#options-nav li a, div.activity a, #latest-update a {color: #14345E !important;}

#commentpost a, #cf a, #respond a {color: #14345E;}

div.create-account a, #rss-com p a, #rss-com p a:hover, ul#letter-list li a, #container ul.content-header-nav li a, div.reply a, .content-header-nav .current a {background: #14345E!important; color: #FFF !important;}

#searchbox {background: #49768C!important; border-bottom: 2px solid #295B6B!important;}

#header, #meprofile, #optionsbar h3, #optionsbar p.avatar {background: #122752!important; border-bottom: 10px solid #1C2438!important;}

#header #intro-text h2, #header #intro-text span, #header a, div#meprofile, div#optionsbar h3 {color: #FFFFFF!important;}

#footer {background: #29435C!important; border-bottom: 10px solid #263052!important;}

#post-entry .bpside h2 {border-bottom: 3px solid #14345E!important;}

#sidebar {background: #000000!important; border-left: 5px solid #3D3D3D!important;}

.post-tagged p.com a {border: 1px solid #E3E3E3!important;}

.post-tagged p.com a:hover {border: 1px solid #707070!important;}

#member-content h4 {background: #2C5E85!important; border-bottom: 5px solid #28444D!important;}

#signup-button a, div.create-account a {background: #2C5E85!important; color: #FFF!important;}

#member-content h4 a, ul#letter-list li a, #member-content ul.content-header-nav li a {color: #FFFDC4!important;}

/* 18246-1344572798-ai */