body {font-family: Tahoma, Lucida Sans, Arial!important; background: #181919!important;}

#sidebar li {border-bottom: 1px solid #111;}

a {color: #cc6633; text-decoration: underline;}

#sidebar .activity-list .activity-header a:first-child, #sidebar span.highlight {-moz-background-clip: border; -moz-background-inline-policy: continuous; -moz-background-origin: padding; -moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; background: #FFCC33 none repeat scroll 0 0; border: 1px solid #FFCC00; color:#CC3300 !important; margin-right: 3px; padding: 3px 8px; text-decoration: none;}

#sidebar, #sidebar h2, #sidebar h2 a, #sidebar .bpside .time-since {color: #EEEEEE!important;}

#sidebar .bpside h2 {border-bottom: 2px solid #AAAAAA!important;}

#sidebar a, #sidebar .textwidget a, #sidebar .widget_tag_cloud a {color: #AAAAAA!important;}

.activity-list .activity-header a:first-child, span.highlight {-moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; color: #C30 !important; border: 1px solid #FC0; margin-right: 3px; padding: 3px 8px; text-decoration: none; background: #FC3;}

.activity-list .activity-header a:first-child:hover, span.highlight:hover {-moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; color: #000 !important; border: 1px solid #F60; margin-right: 3px; padding: 3px 8px; text-decoration: none; background: #F90 !important;}

span.activity {color: #C30; border: 1px solid #FC0; margin-right: 3px; padding: 3px 8px; text-decoration: none; background: #FC3;}

#sidebar ul#bp-nav, #sidebar ul#options-nav {background: #FFF!important;}

#sidebar li.current a {color: #444!important;}

ul#options-nav li.current a {background: #bd4830 url(../images/members/options.png) no-repeat 8px center;}

ul#bp-nav .current #my-activity {background: #bd4830 url(../images/members/activity-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-profile {background: #bd4830 url(../images/members/profile-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-blogs {background: #bd4830 url(../images/members/blog-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-wire {background: #bd4830 url(../images/members/wire-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-messages {background: #bd4830 url(../images/members/message-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-friends {background: #bd4830 url(../images/members/friend-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-groups {background: #bd4830 url(../images/members/group-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-settings {background: #bd4830 url(../images/members/setting-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #wp-logout {background: #bd4830 url(../images/members/logout-bullet.png) no-repeat 8px center;}

#sidebar ul#bp-nav li a, #sidebar ul#options-nav li a {border-bottom: 1px solid #EEE!important;}

#member-content li a, #member-content #activity-rss p a, #member-content form a, #main-column a, .bpside li a, #post-entry .textwidget a, #post-entry div.widget_tag_cloud a, .message-box a, .item-options a, .post-content a, h1 a, .post-author a, p.tags a, #post-navigator-single a, table a, .group-button a, .generic-button a, .com a, #activity-pag a, .pagination-links a, .directory .out-content a, div.activity a, #latest-update a {color: #ac5d10!important;}

#commentpost a, #cf a, #respond a {color: #ac5d10;}

div.create-account a, #rss-com p a, #rss-com p a:hover, ul#letter-list li a, ul.content-header-nav li a, div.reply a, .content-header-nav .current a {background: #ac5d10!important;}

#searchbox {background: #cd4023!important; border-bottom: 2px solid #bd4830!important;}

#header, #meprofile, #optionsbar h3, #optionsbar p.avatar {background: #393532!important; border-bottom: 10px solid #262320!important;}

#header #intro-text h2, #header #intro-text span, #header a, div#meprofile, div#optionsbar h3 {color: #FFFFFF!important;}

#footer {background: #262320!important; border-bottom: 10px solid #222222!important;}

#post-entry .bpside h2 {border-bottom: 3px solid #ac5d10!important;}

#sidebar {background: #262320!important; border-left: 5px solid #181614!important;}

.post-tagged p.com a {border: 1px solid #f9f0e6!important;}

.post-tagged p.com a:hover {border: 1px solid #333026!important;}

#post-navigator .current {border: 1px solid #ac5d10!important;}

.wp-pagenavi .pages, #post-navigator a, #post-navigator a:hover {border: 1px solid #ac5d10!important;}

#member-content h4 {background: #a05013!important; border-bottom: 5px solid #86490d!important;}

#member-content h4 a, ul#letter-list li a, #member-content ul.content-header-nav li a {color: #FFFFFF!important;}

#signup-button a, div.create-account a {background: #a05013!important; color: #FFF!important;}

/* 18246-1344572798-ai */