body {font-family: Helvetica, Arial, sans-serif!important; background: #222323!important;}

a {color: #990000;}

#sidebar p, #sidebar div {color: #fff !important;}

.content .activity-list .activity-header a:first-child, .content span.highlight, #sidebar .activity-list .activity-header a:first-child, #sidebar span.highlight {-moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; color: #C30 !important; border: 1px solid #FC0; margin-right: 3px; padding: 3px 8px; text-decoration: none; background: #FC3 !important;}

.activity-list .activity-header a:first-child:hover, span.highlight:hover {-moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; color: #000 !important; border: 1px solid #F60; margin-right: 3px; padding: 3px 8px; text-decoration: none; background: #F90 !important;}

span.activity {color: #C30; border: 1px solid #FC0; margin-right: 3px; padding: 3px 8px; text-decoration: none; background: #FC3;}

#sidebar, #sidebar h2, #sidebar h2 a, #sidebar .bpside .time-since {color: #FC3 !important;}

#sidebar .bpside li {border-bottom: 1px solid #970000;}

#sidebar .pagination {border: 0px none !important;}

#sidebar .bpside h2 {border-bottom: 2px solid #EEEEEE!important;}

#sidebar .activity-comments li {color: #333 !important;}

#sidebar .activity-comments li a {color: #660000 !important;}

#sidebar a, #sidebar .textwidget a, #sidebar .widget_tag_cloud a {color: #EEEEEE!important;}

#sidebar ul#bp-nav, #sidebar ul#options-nav {background: #555555!important;}

ul#options-nav li.current a {background: #888888 url(../images/members/options.png) no-repeat 8px center;}

ul#bp-nav .current #my-activity {background: #888888 url(../images/members/activity-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-profile {background: #888888 url(../images/members/profile-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-blogs {background: #888888 url(../images/members/blog-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-wire {background: #888888 url(../images/members/wire-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-messages {background: #888888 url(../images/members/message-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-friends {background: #888888 url(../images/members/friend-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-groups {background: #888888 url(../images/members/group-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-settings {background: #888888 url(../images/members/setting-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #wp-logout {background: #888888 url(../images/members/logout-bullet.png) no-repeat 8px center;}

#sidebar ul#bp-nav li a, #sidebar ul#options-nav li a {border-bottom: 1px solid #222222!important;}

#member-content li a, #member-content #activity-rss p a, #member-content form a, #main-column a, .bpside li a, #post-entry .textwidget a, #post-entry div.widget_tag_cloud a, .message-box a, .item-options a, .post-content a, h1 a, .post-author a, p.tags a, #post-navigator-single a, table a, .group-button a, .generic-button a, .com a, #activity-pag a, .pagination-links a, .directory .out-content a, div.activity a, #latest-update a {color: #990000 !important;}

#commentpost a, #cf a, #respond a {color: #990000;}

div.create-account a, #rss-com p a, #rss-com p a:hover, ul#letter-list li a, ul.content-header-nav li a, div.reply a, .content-header-nav .current a {background: #990000!important;}

#searchbox {background: #111111!important; border-bottom: 2px solid #333333!important;}

#header, #footer, #meprofile, #optionsbar h3, #optionsbar p.avatar {background: #222222!important; border-bottom: 10px solid #111111!important;}

#post-entry .bpside h2 {border-bottom: 3px solid #990000!important;}

#sidebar {background: #CC0000!important; border-left: 5px solid #990000!important;}

.post-tagged p.com a {border: 1px solid #F4F4F4!important;}

.post-tagged p.com a:hover {border: 1px solid #990000!important;}

#post-navigator .current {border: 1px solid #990000!important;}

.wp-pagenavi .pages, #post-navigator a, #post-navigator a:hover {border: 1px solid #990000!important;}

#member-content h4 {background: #CC3300!important; border-bottom: 5px solid #333300!important;}

#member-content h4 a, ul#letter-list li a, #member-content ul.content-header-nav li a {color: #FFFFFF!important;}

#signup-button a{background: #CC3300!important;}

/* 18246-1344572798-ai */