body {font-family: Arial, sans-serif!important; background: #E4E4E4 no-repeat fixed left top!important;}

#sidebar .activity-list .activity-header a:first-child, #sidebar span.highlight {color: #111 !important;}

#sidebar li {border-bottom: 1px solid #111; margin-bottom: 10px !important;}

div.pagination {border-bottom: 0px none;}

#sidebar, #sidebar h2, #sidebar h2 a, #sidebar .bpside .time-since {color: #FFFFFF!important;}

#sidebar .bpside h2 {border-bottom: 2px solid #C7C7C7!important;}

#sidebar a, #sidebar .pagination a, #sidebar .textwidget a, #sidebar .widget_tag_cloud a {color: #C7C7C7 !important;}

#sidebar .acomment-content {color: #444 !important; font-size: 11px;}

#sidebar ul#bp-nav, #sidebar ul#options-nav {background: #0D0D0D!important;}

#sidebar li.current a {color: #fff!important;}

ul#options-nav li.current a {background: #B0B0B0 url(images/members/options.png) no-repeat 8px center;}

ul#bp-nav .current #my-activity {background: #B0B0B0 url(images/members/activity-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-profile {background: #B0B0B0 url(images/members/profile-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-blogs {background: #B0B0B0 url(images/members/blog-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-wire {background: #B0B0B0 url(images/members/wire-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-messages {background: #B0B0B0 url(images/members/message-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-friends {background: #B0B0B0 url(images/members/friend-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-groups {background: #B0B0B0 url(images/members/group-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-settings {background: #B0B0B0 url(images/members/setting-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #wp-logout {background: #B0B0B0 url(images/members/logout-bullet.png) no-repeat 8px center;}

#sidebar ul#bp-nav li a, #sidebar ul#options-nav li a {border-bottom: 1px solid #5E5E5E!important;}

#member-content li a, #member-content #activity-rss p a, #member-content form a, #main-column a, .bpside li a, #post-entry .textwidget a, #post-entry div.widget_tag_cloud a, .message-box a, .item-options a, .post-content a, h1 a, .post-author a, p.tags a, #post-navigator-single a, table a, .group-button a, .generic-button a, .com a, #activity-pag a, .pagination-links a, .directory .out-content a, div.activity a, #latest-update a {color: #52100B!important;}

#commentpost a, #cf a, #respond a {color: #52100B;}

div.create-account a, #rss-com p a, #rss-com p a:hover, ul#letter-list li a, ul.content-header-nav li a, div.reply a, .content-header-nav .current a {background: #52100B!important;}

#searchbox {background: #5E5E5E!important; border-bottom: 2px solid #8A8A8A!important;}

#header, #meprofile, #optionsbar h3, #optionsbar p.avatar {background: #050505!important; border-bottom: 10px solid #575757!important;}

#header #intro-text h2, #header #intro-text span, #header a, div#meprofile, div#optionsbar h3 {color: #FFFFFF!important;}

#footer {background: #242424!important; border-bottom: 10px solid #545454!important;}

#post-entry .bpside h2 {border-bottom: 3px solid #52100B!important;}

#sidebar {background: #212121!important; border-left: 5px solid #404040!important;}

.post-tagged p.com a {border: 1px solid #E8E8E8!important;}

.post-tagged p.com a:hover {border: 1px solid #696969!important;}

#post-navigator .current {border: 1px solid #52100B!important;}

.wp-pagenavi .pages, #post-navigator a, #post-navigator a:hover {border: 1px solid #52100B!important;}

#member-content h4 {background: #1F1F1F!important; border-bottom: 5px solid #6E6E6E!important;}

#member-content h4 a, ul#letter-list li a, #member-content ul.content-header-nav li a {color: #E6E6E6!important;}

#signup-button a, div.create-account a {background: #1F1F1F!important; color: #FFF!important;}

/* 18246-1344572798-ai */