body {font-family: Georgia, serif!important; background: #BFBAAA no-repeat fixed left top!important;}

#post-navigator .current {border: 1px solid #5E323C!important;}

.wp-pagenavi .pages, #post-navigator a, #post-navigator a:hover {border: 1px solid #5E323C!important;}

#sidebar a, #sidebar .textwidget a, #sidebar .widget_tag_cloud a {color: #615F33!important;}

#sidebar .bpside h2 {border-bottom: 1px solid #BDB0A8!important;}

#sidebar .bpside li {border-bottom: 1px solid #BDB0A8!important;}

#footer {color: #FFFFFF!important;}

#footer a {color: #918E7A!important;}

#footer a:hover {color: #918E7A!important; text-decoration: underline!important;}

#sidebar {color: #000000!important;}

#sidebar, #sidebar h2, #sidebar h2 a, #sidebar .bpside .time-since {color: #000000!important;}

#sidebar h2.widgettitle {color: #030303!important;}

#member-content h4 {color: #FFFFFF!important;}

#member-content li a, #member-content #activity-rss p a, #member-content form a, #main-column a, .bpside li a, #post-entry .textwidget a, #post-entry div.widget_tag_cloud a, .message-box a, .item-options a, .post-content a, h1 a, .post-author a, p.tags a, #post-navigator-single a, table a, .group-button a, .generic-button a, #activity-pag a, div.textwidget a, div.item-title a, div.pagination-links a, div.directory-listing a, #custom ul#options-nav li a, div.activity a, #latest-update a {color: #5E323C !important;}

#commentpost a, #cf a, #respond a {color: #5E323C;}

div.create-account a, #rss-com p a, #rss-com p a:hover, ul#letter-list li a, #container ul.content-header-nav li a, div.reply a, .content-header-nav .current a {background: #5E323C!important; color: #FFF !important;}

#searchbox {background: #8C6F4D!important; border-bottom: 2px solid #594938!important;}

#header, #meprofile, #optionsbar h3, #optionsbar p.avatar {background: #3D3833!important; border-bottom: 10px solid #1C1C16!important;}

#header #intro-text h2, #header #intro-text span, #header a, div#meprofile, div#optionsbar h3 {color: #FFFFFF!important;}

#footer {background: #1C1B14!important; border-bottom: 10px solid #080707!important;}

#post-entry .bpside h2 {border-bottom: 3px solid #5E323C!important;}

#sidebar {background: #D6D3BC!important; border-left: 5px solid #BDB0A8!important;}

.post-tagged p.com a {border: 1px solid #FCF1D2!important;}

.post-tagged p.com a:hover {border: 1px solid #707070!important;}

#member-content h4 {background: #707A46!important; border-bottom: 5px solid #606B41!important;}

#signup-button a, div.create-account a {background: #707A46!important; color: #FFF!important;}

#member-content h4 a, ul#letter-list li a, #member-content ul.content-header-nav li a {color: #C0D4A9!important;}

/* 18246-1344572798-ai */