body {font-family: Helvetica, Arial, sans-serif!important; background: #DCEDF2 no-repeat fixed left top!important;}

div.pagination {border: 0px none;}

#post-navigator .current {border: 1px solid #2CA3B0!important;}

.wp-pagenavi .pages, #post-navigator a, #post-navigator a:hover {border: 1px solid #2CA3B0!important;}

#sidebar a, #sidebar .textwidget a, #sidebar .widget_tag_cloud a {color: #D9CDBA!important;}

#sidebar .bpside h2 {border-bottom: 1px solid #0C2F36!important;}

#sidebar .bpside li {border-bottom: 1px solid #0C2F36!important;}

#footer {color: #FFFFFF!important;}

#footer a {color: #DBB92E!important;}

#footer a:hover {color: #DBB92E!important; text-decoration: underline!important;}

#sidebar .activity-list .activity-header a:first-child, #sidebar span.highlight {-moz-background-clip: border; -moz-background-inline-policy: continuous; -moz-background-origin: padding; -moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; background: #D3F0FE none repeat scroll 0 0; border: 1px solid #AFE2FE; color:#026180 !important; margin-right: 3px; padding: 3px 8px; text-decoration: none;}

#logout-link a {color:#026180 !important;}

#sidebar {color: #FFFFFF!important;}

#sidebar, #sidebar h2, #sidebar h2 a, #sidebar .bpside .time-since {color: #FFFFFF!important;}

#sidebar h2.widgettitle {color: #FFF782!important;}

#member-content h4 {color: #FFFFFF!important;}

#member-content li a, #member-content #activity-rss p a, #member-content form a, #main-column a, .bpside li a, #post-entry .textwidget a, #post-entry div.widget_tag_cloud a, .message-box a, .item-options a, .post-content a, h1 a, .post-author a, p.tags a, #post-navigator-single a, table a, .group-button a, .generic-button a, #activity-pag a, div.textwidget a, div.item-title a, div.pagination-links a, div.directory-listing a, #custom ul#options-nav li a, div.activity a, #latest-update a {color: #2CA3B0!important;}

#commentpost a, #cf a, #respond a {color: #2CA3B0;}

div.create-account a, #rss-com p a, #rss-com p a:hover, ul#letter-list li a, #container ul.content-header-nav li a, div.reply a, .content-header-nav .current a {background: #2CA3B0!important; color: #FFF !important;}

#searchbox {background: #77EDD5!important; border-bottom: 2px solid #31B5A8!important;}

#header, #meprofile, #optionsbar h3, #optionsbar p.avatar {background: #34CCD1!important; border-bottom: 10px solid #33B0B0!important;}

#header #intro-text h2, #header #intro-text span, #header a, div#meprofile, div#optionsbar h3 {color: #FFFFFF!important;}

#footer {background: #135D69!important; border-bottom: 10px solid #094A41!important;}

#post-entry .bpside h2 {border-bottom: 3px solid #2CA3B0!important;}

#sidebar {background: #16494F!important; border-left: 5px solid #0C2F36!important;}

.post-tagged p.com a {border: 1px solid #EBFCFF!important;}

.post-tagged p.com a:hover {border: 1px solid #707070!important;}

#member-content h4 {background: #3B547A!important; border-bottom: 5px solid #273F52!important;}

#signup-button a, div.create-account a {background: #3B547A!important; color: #FFF!important;}

#member-content h4 a, ul#letter-list li a, #member-content ul.content-header-nav li a {color: #FAFFB3!important;}

/* 18246-1344572798-ai */