body {font-family: Trebuchet MS, Arial, Verdana, Helvetica, sans-serif!important; background: #2D2523!important;}

#sidebar .activity-list .activity-header a:first-child, #sidebar span.highlight {-moz-background-clip: border; -moz-background-inline-policy: continuous; -moz-background-origin: padding; -moz-border-radius-bottomleft: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; background: #D3F0FE none repeat scroll 0 0; border: 1px solid #AFE2FE; color:#026180 !important; margin-right: 3px; padding: 3px 8px; text-decoration: none;}

#sidebar, #sidebar h2, #sidebar h2 a, #sidebar .bpside .time-since {color: #FFFFFF!important;}

#sidebar .bpside h2 {border-bottom: 2px solid #C3C3C3!important;}

#sidebar a, #sidebar .textwidget a, #sidebar .widget_tag_cloud a {color: #C3C3C3!important;}

#sidebar ul#bp-nav, #sidebar ul#options-nav {background: #222222!important;}

#sidebar li.current a {color: #FFFFFF!important;}

div.pagination {
  border: 0px none;
}

div.pagination a, #sidebar .acomment-content {
  color: #999 !important;
}
#sidebar li {
  border-bottom: 1px solid #333;
}


ul#options-nav li.current a {background: #555555 url(../images/members/options.png) no-repeat 8px center;}

ul#bp-nav .current #my-activity {background: #555555 url(../images/members/activity-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-profile {background: #555555 url(../images/members/profile-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-blogs {background: #555555 url(../images/members/blog-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-wire {background: #555555 url(../images/members/wire-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-messages {background: #555555 url(../images/members/message-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-friends {background: #555555 url(../images/members/friend-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-groups {background: #555555 url(../images/members/group-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-settings {background: #555555 url(../images/members/setting-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #wp-logout {background: #555555 url(../images/members/logout-bullet.png) no-repeat 8px center;}

#sidebar ul#bp-nav li a, #sidebar ul#options-nav li a {border-bottom: 1px solid #666666!important;}

#member-content li a, #member-content #activity-rss p a, #member-content form a, #main-column a, .bpside li a, #post-entry .textwidget a, #post-entry div.widget_tag_cloud a, .message-box a, .item-options a, .post-content a, h1 a, .post-author a, p.tags a, #post-navigator-single a, table a, .group-button a, .generic-button a, .com a, #activity-pag a, .pagination-links a, .directory .out-content a, div.activity a, #latest-update a {color: #c54216!important;}

#commentpost a, #cf a, #respond a {color: #c54216;}

div.create-account a, #rss-com p a, #rss-com p a:hover, ul#letter-list li a, ul.content-header-nav li a, div.reply a, .content-header-nav .current a {background: #c54216!important;}

#searchbox {background: #111111!important; border-bottom: 2px solid #000!important;}

#header, #meprofile, #optionsbar h3, #optionsbar p.avatar {background: #c54216!important; border-bottom: 10px solid #ab350e!important;}

#header #intro-text h2, #header #intro-text span, #header a, div#meprofile, div#optionsbar h3 {color: #FFFFFF!important;}

#footer {background: #c54216!important; border-bottom: 10px solid #ab350e!important;}

#post-entry .bpside h2 {border-bottom: 3px solid #c54216!important;}

#sidebar {background: #000000!important; border-left: 5px solid #444444!important;}

.post-tagged p.com a {border: 1px solid #fbfae4!important;}

.post-tagged p.com a:hover {border: 1px solid #222222!important;}

#post-navigator .current {border: 1px solid #c54216!important;}

.wp-pagenavi .pages, #post-navigator a, #post-navigator a:hover {border: 1px solid #c54216!important;}

#member-content h4 {background: #ae511f!important; border-bottom: 5px solid #883a0f!important;}

#member-content h4 a, ul#letter-list li a, #member-content ul.content-header-nav li a {color: #FFFFFF!important;}

#signup-button a, div.create-account a {background: #ae511f!important; color: #FFF!important;}

/* 18246-1344572798-ai */