body {font-family: Calibri, Helvetica, Trebuchet MS!important; background: #dadada!important;}

#logout-link a {color: #333 !important;}

#sidebar, #sidebar h2, #sidebar h2 a, #sidebar .bpside .time-since {color: #232323!important;}

#sidebar .bpside h2 {border-bottom: 2px solid #ac0305!important;}

#sidebar a, #sidebar .textwidget a, #sidebar .widget_tag_cloud a {color: #ac0305!important;}

#sidebar ul#bp-nav, #sidebar ul#options-nav {background: #FFF!important;}

#sidebar li.current a {color: #111111!important;}

ul#options-nav li.current a {background: #F8F8F8 url(../images/members/options.png) no-repeat 8px center;}

ul#bp-nav .current #my-activity {background: #F8F8F8 url(../images/members/activity-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-profile {background: #F8F8F8 url(../images/members/profile-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-blogs {background: #F8F8F8 url(../images/members/blog-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-wire {background: #F8F8F8 url(../images/members/wire-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-messages {background: #F8F8F8 url(../images/members/message-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-friends {background: #F8F8F8 url(../images/members/friend-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-groups {background: #F8F8F8 url(../images/members/group-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-settings {background: #F8F8F8 url(../images/members/setting-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #wp-logout {background: #F8F8F8 url(../images/members/logout-bullet.png) no-repeat 8px center;}

#sidebar ul#bp-nav li a, #sidebar ul#options-nav li a {border-bottom: 1px solid #EEE!important;}

#member-content li a, #member-content #activity-rss p a, #member-content form a, #main-column a, .bpside li a, #post-entry .textwidget a, #post-entry div.widget_tag_cloud a, .message-box a, .item-options a, .post-content a, h1 a, .post-author a, p.tags a, #post-navigator-single a, table a, .group-button a, .generic-button a, .com a, #activity-pag a, .pagination-links a, .directory .out-content a, div.activity a, #latest-update a {color: #CA0002!important;}

#commentpost a, #cf a, #respond a {color: #CA0002;}

div.create-account a, #rss-com p a, #rss-com p a:hover, ul#letter-list li a, ul.content-header-nav li a, div.reply a, .content-header-nav .current a {background: #CA0002!important;}

#searchbox {background: #F5F5F5!important; border-bottom: 2px solid #860507!important;}

#header, #meprofile, #optionsbar h3, #optionsbar p.avatar {background: #CA0002!important; border-bottom: 10px solid #ac0305!important;}

#header #intro-text h2, #header #intro-text span, #header a, div#meprofile, div#optionsbar h3 {color: #FFFFFF!important;}

#footer {background: #ac0305!important; border-bottom: 10px solid #a20305!important;}

#post-entry .bpside h2 {border-bottom: 3px solid #CA0002!important;}

#sidebar {background: #F4F5F4!important; border-left: 5px solid #EDEDED!important;}

.post-tagged p.com a {border: 1px solid #F0F0F0!important;}

.post-tagged p.com a:hover {border: 1px solid #E8E8E8!important;}

#post-navigator .current {border: 1px solid #CA0002!important;}

.wp-pagenavi .pages, #post-navigator a, #post-navigator a:hover {border: 1px solid #CA0002!important;}

#member-content h4 {background: #CA0002!important; border-bottom: 5px solid #ac0305!important;}

#member-content h4 a, ul#letter-list li a, #member-content ul.content-header-nav li a {color: #FFFFFF!important;}

#signup-button a, div.create-account a {background: #CA0002!important; color: #FFF!important;}

/* 18246-1344572798-ai */