body {font-family: Lucida Grande, Verdana, Tahoma, Trebuchet MS!important; background: #444444!important;}

#sidebar, #sidebar h2, #sidebar h2 a, #sidebar .bpside .time-since {color: #111111!important;}

#sidebar .bpside h2 {border-bottom: 2px solid #006699!important;}

#sidebar a, #sidebar .textwidget a, #sidebar .widget_tag_cloud a {color: #006699!important;}

#sidebar ul#bp-nav, #sidebar ul#options-nav {background: #FFFFFF!important;}

ul#options-nav li.current a {background: #FFFF99 url(../images/members/options.png) no-repeat 8px center;}

ul#bp-nav .current #my-activity {background: #FFFF99 url(../images/members/activity-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-profile {background: #FFFF99 url(../images/members/profile-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-blogs {background: #FFFF99 url(../images/members/blog-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-wire {background: #FFFF99 url(../images/members/wire-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-messages {background: #FFFF99 url(../images/members/message-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-friends {background: #FFFF99 url(../images/members/friend-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-groups {background: #FFFF99 url(../images/members/group-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-settings {background: #FFFF99 url(../images/members/setting-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #wp-logout {background: #FFFF99 url(../images/members/logout-bullet.png) no-repeat 8px center;}

#sidebar ul#bp-nav li a, #sidebar ul#options-nav li a {border-bottom: 1px solid #E1E1E1!important;}

#member-content li a, #member-content #activity-rss p a, #member-content form a, #main-column a, .bpside li a, #post-entry .textwidget a, #post-entry div.widget_tag_cloud a, .message-box a, .item-options a, .post-content a, h1 a, .post-author a, p.tags a, #post-navigator-single a, table a, .group-button a, .generic-button a, .com a, #activity-pag a, .pagination-links a, .directory .out-content a, div.activity a, #latest-update a {color: #2277DD!important;}

#commentpost a, #cf a, #respond a {color: #2277DD;}

div.create-account a, #rss-com p a, #rss-com p a:hover, ul#letter-list li a, ul.content-header-nav li a, div.reply a, .content-header-nav .current a {background: #2277DD!important;}

#searchbox {background: #669933!important; border-bottom: 2px solid #006600!important;}

#header, #footer, #meprofile, #optionsbar h3, #optionsbar p.avatar {background: #0066CC!important; border-bottom: 10px solid #006699!important;}

#post-entry .bpside h2 {border-bottom: 3px solid #2277DD!important;}

#sidebar {background: #F7F7F7!important; border-left: 5px solid #E1E1E1!important;}

.post-tagged p.com a {border: 1px solid #EEEEEE!important;}

.post-tagged p.com a:hover {border: 1px solid #EEEEEE!important;}

#post-navigator .current {border: 1px solid #2277DD!important;}

.wp-pagenavi .pages, #post-navigator a, #post-navigator a:hover {border: 1px solid #2277DD!important;}

#member-content h4 {background: #2277DD!important; border-bottom: 5px solid #006699!important;}

#member-content h4 a, ul#letter-list li a, #member-content ul.content-header-nav li a {color: #FFFFCC!important;}

#signup-button a{background: #2277DD!important;}

/* 18246-1344572798-ai */