body {font-family: Verdana, Arial, Times New Roman, sans-serif!important; background: #EEE!important;}

#sidebar, #sidebar h2, #sidebar h2 a, #sidebar .bpside .time-since {color: #444!important;}

#sidebar .bpside h2 {border-bottom: 2px solid #666666!important;}

#sidebar a, #post-entry .textwidget a {color: #666666!important;}

#sidebar ul#bp-nav, #sidebar ul#options-nav {background: #c7c0b7!important;}

#sidebar li.current a {color: #FFFFFF!important;}

ul#options-nav li.current a {background: #918c86 url(../images/members/options.png) no-repeat 8px center;}

ul#bp-nav .current #my-activity {background: #918c86 url(../images/members/activity-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-profile {background: #918c86 url(../images/members/profile-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-blogs {background: #918c86 url(../images/members/blog-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-wire {background: #918c86 url(../images/members/wire-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-messages {background: #918c86 url(../images/members/message-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-friends {background: #918c86 url(../images/members/friend-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-groups {background: #918c86 url(../images/members/group-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #my-settings {background: #918c86 url(../images/members/setting-bullet.png) no-repeat 8px center;}

ul#bp-nav .current #wp-logout {background: #918c86 url(../images/members/logout-bullet.png) no-repeat 8px center;}

#sidebar ul#bp-nav li a, #sidebar ul#options-nav li a {border-bottom: 1px solid #b0aaa2!important;}

#member-content li a, #member-content #activity-rss p a, #member-content form a, #main-column a, .bpside li a, #post-entry .textwidget a, #post-entry div.widget_tag_cloud a, .message-box a, .item-options a, .post-content a, h1 a, .post-author a, p.tags a, #post-navigator-single a, table a, .group-button a, .generic-button a, .com a, #activity-pag a, .directory .out-content a, div.activity a, #latest-update a {color: #DC6322!important;}

#commentpost a, #cf a, #respond a {color: #DC6322;}

div.create-account a, #rss-com p a, #rss-com p a:hover, ul#letter-list li a, ul.content-header-nav li a, div.reply a, .content-header-nav .current a {background: #DC6322!important;}

#searchbox {background: #222222!important; border-bottom: 2px solid #444444!important;}

#header, #meprofile, #optionsbar h3, #optionsbar p.avatar {background: #DC6322!important; border-bottom: 10px solid #d25b1b!important;}

#header #intro-text h2, #header #intro-text span, #header a, div#meprofile, div#optionsbar h3 {color: #FFFFFF!important;}

#footer {background: #DC6322!important; border-bottom: 10px solid #d25b1b!important;}

#post-entry .bpside h2 {border-bottom: 3px solid #DC6322!important;}

#sidebar {background: #F8F4EF!important; border-left: 5px solid #FCDCB4!important;}

.post-tagged p.com a {border: 1px solid #fbfae4!important;}

.post-tagged p.com a:hover {border: 1px solid #F8F4EF!important;}

#post-navigator .current {border: 1px solid #DC6322!important;}

.wp-pagenavi .pages, #post-navigator a, #post-navigator a:hover {border: 1px solid #DC6322!important;}

#member-content h4 {background: #DC6322!important; border-bottom: 5px solid #d25b1b!important;}

#member-content h4 a, ul#letter-list li a, #member-content ul.content-header-nav li a {color: #fffbf9!important;}

#signup-button a, div.create-account a {background: #DC6322!important; color: #FFF!important;}

/* 18246-1344572798-ai */