/********************************************* layout */
#site-logo {
text-shadow: none;
}

.grid-block {
-moz-box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}

.grid-block-end {
-moz-box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}

#slider-wrapper {
-moz-box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}

#slider-wrapper-small, #whats-new-form, #respond {
-moz-box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}

#widgets h4 {
text-shadow: none;
}

/********************************************* forms */
a.button, input[type=submit], input[type=button],
ul.button-nav li a, div.generic-button a {
text-shadow: none;
}
	
a.button:hover, a.button:focus, input[type=submit]:hover, input[type=button]:hover,
ul.button-nav li a:hover, ul.button-nav li.current a,
div.generic-button a:hover {
text-shadow: none;
}


/********************************************* navigation */
#homepage-content .nav a, #homepage-content .nav a:visited, #homepage-content .nav a:link {
text-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}

/* main level link */
.nav a, .nav a:visited, .nav a:link {
text-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}

/* main level link hover */
.nav .current a, .nav li:hover > a, .nav li.current_page_item a {
text-shadow: none;
}

.nav ul a:hover {
text-shadow: none;
}

/* level 2 list */
.nav ul {
-moz-box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}

.nav ul a {
text-shadow: none;
}

/********************************************* text */
h1, h1 a, h1 a:link, h1 a:hover, h1 a:visited {
text-shadow: none;
}

h2, h3, h4, h5, h6 {
text-shadow: none;
}

/********************************************* comments */
.attachment-post-thumbnail, .entry img {
-moz-box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}

/******************************************** buddypress */
img.avatar {
-moz-box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}

div.item-list-tabs {
text-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}
			
div.item-list-tabs#subnav {
text-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}

.activity-list li.load-more {
text-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
}

/* 18246-1344572888-ai */