a,a:link{color:#222222;}
a:hover{color:#666666;}
a:visited{color:#333333;}
a.comment-reply-link,a.button,input[type=submit],input[type=button],
ul.button-nav li a,div.generic-button a{background:#B3B3B3 url('darkproduct-images/button_off.jpg') repeat-x;border:1px solid #888888;color:#ffffff;}
a.comment-reply-link:hover,a.button:hover,a.button:focus,input[type=submit]:hover,input[type=button]:hover,
ul.button-nav li a:hover,ul.button-nav li.current a,
div.generic-button a:hover{background:#838383 url('darkproduct-images/button_hover.jpg') repeat-x;border:1px solid #888888;color:#ffffff;}
.activity-list li .activity-inreplyto{background:url( darkproduct-images/replyto_arrow.gif ) 7px 0 no-repeat;}
body.activity-permalink .activity-list li .activity-header > p{background:url( darkproduct-images/activity_arrow.gif ) top left no-repeat;}
.activity-list .activity-header a:first-child,span.highlight{background:#f3f3f3;border:1px solid #f1f1f1;color:#111111;}
.activity-list .activity-header a:first-child:hover{background:#f3f3f3 !important;color:#222222 !important;}
.activity-list .activity-content img.thumbnail{border:2px solid #cccccc;}
.activity-list li.load-more{background:#f3f3f3;border:1px solid #f1f1f1;}
.activity-list div.activity-meta a{background:#f3f3f3;border:1px solid #f1f1f1;}
.activity-list div.activity-meta a.acomment-reply{background:#f3f3f3;border:1px solid #f1f1f1;}
div.activity-meta a:hover{background:#eeeeee;border:1px solid #f1f1f1;}
div.activity-meta a.acomment-reply:hover{background:#eeeeee;border:1px solid #f1f1f1;}
div.activity-comments > ul{background:#f3f3f3;}
div.activity-comments ul li{border-top:1px solid #f1f1f1;}
div.activity-comments form.ac-form{background:#eeeeee;border:1px solid #f1f1f1;}
div.activity-comments form.loading{background-image:url( darkproduct-images/ajax-loader.gif );background-position:2% 95%;background-repeat:no-repeat;}
div.ac-reply-avatar img{border:2px solid #f1f1f1;}
body{background:#e1e1e1;color:#222222;font-family:Helvetica,Arial,Sans-serif;}
#buddypress-navigation{background:#ffffff url('darkproduct-images/navigation_gradient.png') repeat-x;}
#buddypress-navigation .sf-menu a,#buddypress-navigation .sf-menu a:visited{/* visited pseudo selector so IE6 applies text darkproduct*/
color:#ffffff;text-shadow:#666666 1px 1px 0;}
#buddypress-navigation .sf-menu li li{background:#b3b3b3;}
#buddypress-navigation .sf-menu li li li{background:#b3b3b3;}
#buddypress-navigation .sf-menu li:hover,#buddypress-navigation .sf-menu li.sfHover,
#buddypress-navigation .sf-menu a:focus,#buddypress-navigation .sf-menu a:hover,#buddypress-navigation .sf-menu a:active,#buddypress-navigation .sf-menu .current_page_item,#buddypress-navigation .sf-menu .selected{background:#999999;text-shadow:#666666 1px 1px 0;color:#ffffff;outline:0;}
#content,.container{background:#ffffff;border:1px solid #ffffff;}
#page-navigation .sf-menu a,#page-navigation .sf-menu a:visited{/* visited pseudo selector so IE6 applies text darkproduct*/
color:#ffffff;text-shadow:#666666 1px 1px 0;}
#page-navigation .sf-menu li li{background:#f3f3f3;}
#page-navigation .sf-menu li li li{background:#f3f3f3;}
#page-navigation .sf-menu li:hover,#page-navigation .sf-menu li.sfHover,
#page-navigation .sf-menu a:focus,#page-navigation .sf-menu a:hover,#page-navigation .sf-menu a:active,#page-navigation .sf-menu .current_page_item,#page-navigation .sf-menu .selected{background:#999999;color:#ffffff;text-shadow:#666666 1px 1px 0;outline:0;}
#footer-navigation{color:#666666;text-shadow:#ffffff 1px 1px 0;}
#footer{background:#ffffff;border:1px solid #ffffff;}
#footer-navigation a{color:#666666;text-shadow:#ffffff 1px 1px 0;}
#footer-navigation{background:#f3f3f3;color:#111111;}
#search-bar input[type=text]{border:1px solid #cccccc;background:#ffffff;}
.padder h3,h2.pagetitle{color:#222222;}
h1{color:#222222;text-shadow:#ffffff 1px 1px 0;}
#header h1{color:#222222;text-shadow:#ffffff 1px 1px 0;font-size:40px;}
hr{background-color:#cccccc;}
h2{color:#222222;}
h3{color:#222222;}
h4{color:#222222;}
h5{color:#222222;}
h6{color:#222222;}
img.avatar{border:2px solid #f1f1f1;}
div#invite-list{background:#eeeeee;border:1px solid #f1f1f1;}
div#item-header h2 span.highlight span{background:#eeeeee;border:1px solid #f1f1f1;}
ul.item-list li{border-bottom:1px solid #f1f1f1;}
div.item-list-tabs{background:#eeeeee;}
div.item-list-tabs#subnav{border-bottom:1px solid #f1f1f1;}
div.item-list-tabs ul li a span.unread-count{color:#ffffff;}
.ajax-loader{background:url( darkproduct-images/ajax-loader.gif ) center left no-repeat !important;}
a.loading{background-image:url( darkproduct-images/ajax-loader.gif ) !important;background-position:95% 50% !important;background-repeat:no-repeat !important;}
ul li.loading a{background-image:url( darkproduct-images/ajax-loader.gif );background-position:92% 50%;background-repeat:no-repeat;}
span.activity,div#message p{background:#f3f3f3;border:1px solid #f1f1f1;}
div#message.updated p{background:#eeeeee;border:1px solid #f1f1f1;}
div.messages-options-nav{background:#eeeeee;}
div#message.error p{background:#e41717;color:#fff;border:1px solid #a71a1a;}
div#message-thread div.alt{background:#f3f3f3;}
#page-navigation{background:#ffffff url('darkproduct-images/navigation_gradient.png') repeat-x;}
div.pagination{border-bottom:1px solid #f1f1f1;}
div.pending a,a.disabled{border:1px solid #f1f1f1;color:#666666;}
div.pending a:hover,a.disabled:hover{border:1px solid #f1f1f1;color:#666666;}
div.post pre,div.post code p{background:#f3f3f3;}
div.post table{border:1px solid #f1f1f1;}
div.post table th{border-top:1px solid #f1f1f1;}
div.post table td{border-top:1px solid #f1f1f1;}
div.post div.author-box,div.comment-avatar-box{background:#f3f3f3;}
div.post div.author-box img,div.comment-avatar-box img{border:4px solid #f1f1f1;}
div.post p.postmetadata,div.comment-meta,div.comment-options,.widget-error{color:#666666;}
div.post{border-bottom:1px solid #f1f1f1;}
div.post .wp-caption{border:1px solid #f1f1f1;background-color:#f3f3f3;}
div#sidebar div.item-options{border-bottom:1px solid #f1f1f1;}
#sidebar{background:#FBFBFB;border:1px solid #f3f3f3;}
form.standard-form#signup_form div div.error{color:#ffffff;background:#e41717;}
form.standard-form textarea,form.standard-form input[type=text],
form.standard-form select,form.standard-form input[type=password],
.dir-search input[type=text]{border:1px solid #f1f1f1;}
textarea{border:1px solid #f1f1f1;}
table tr td.label{border-right:1px solid #f1f1f1;}
table tr.alt{background:#f3f3f3;}
table.forum tr:first-child{background:#eeeeee;}
table.forum tr.sticky td{background:#FFF9DB;}
table.forum tr.closed td.td-title{background-image:url( darkproduct-images/closed.png );background-position:15px 50%;background-repeat:no-repeat;}
table#message-threads tr.unread td{background:#f3f3f3;border:1px solid #f1f1f1;}
ul#topic-post-list li.alt{background:#f3f3f3;}
li span.unread-count,tr.unread span.unread-count{background:#666666;color:#ffffff;}
form#whats-new-form{border-bottom:1px solid #f1f1f1;}
form#whats-new-form #whats-new-textarea{border:1px solid #f1f1f1;}
.shadow-spacer{background:url('darkproduct-images/background-shadow.png') no-repeat;}
ul.pagination li{background:#B3B3B3;font-size:16px;}
ul.pagination{background:#B3B3B3;border:1px solid #B3B3B3;}
ul.pagination a{background:#969696;color:#f3f3f3;}
ul.pagination li.active a{color:#ffffff;}

/* 18246-1344572922-ai */