body {
font-size: 100%;
font-family:"Lucida Grande", "Lucida Sans", sans-serif;
margin: 0px; padding: 0px; background: #FFFFFF; color: #777777;}


.gallery-caption {}
.bypostauthor {}

.bpfb_form_container {
  background-color: transparent !important;
  padding: 0px !important;
}


h1, h2, h3, h4, h5, h6 {font-family: "Lucida Grande", "Lucida Sans", sans-serif; color: #333;}

.home-intro input[type="text"], .home-intro input[type="password"] {
  width: 30% !important;
}

.post-content h1 { font-size: 20px; }
.post-content h2 { font-size: 19px; }
.post-content h3 { font-size: 18px !important; }
.post-content h4 { font-size: 16px; }
.post-content h5 { font-size: 15px; }
.post-content h6 { font-size: 14px; }

.post-content table {

    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    margin: 5px 0 10px;
}
.post-content th {

}
.post-content th, .post-content td {
    border: 1px solid #CCCCCC;
    padding: 3px 10px;
    text-align: left;
    vertical-align: top;
}

table {clear: both;}

.content .main-column {margin: 0px; padding: 0px; float: right; width: 500px; font-size: 11px; line-height: 16px;}

#container {width: 960px; margin-right: auto; margin-left: auto;}

#top-header {background: #bcc7dd url(../images/bg-transparent.png) repeat-x left top; margin: 0px; padding: 0px 0px 30px; float: left; width: 100%; font-size: 11px;}

#option-ads {margin: 0px 0px 20px; padding: 0px; float: left; width: 100%; text-align: center;}

#home-logo {margin: 0px; padding: 30px 0px 0px; width: 420px; color: #3B5998; float: left; overflow: hidden;}

#home-logo img {margin: 0px; padding: 0px; border: 0px none; max-width: 100%; height: auto;}

#home-logo h1 {font-size: 24px; margin: 0px; padding: 0px; width: 100%; float: left;}

#home-logo p {margin: 0px; padding: 0px 0px 20px 0px; width: 100%; float: left; font-size: 14px;}

#home-logo a {color: #3B5998; text-decoration: none;}

#custom-img-header {margin: 0px 0px 20px; padding: 0px; float: left; height: 150px; width: 960px; overflow: hidden;}

#home-news {width: 100%; margin: 0px 0px 25px; padding: 0px; float: left;}

#home-news a:hover {text-decoration: underline;}

#home-news span {font-size: 12px; font-style: italic; line-height: 22px; margin: 0px; padding: 0px; float: left; width: 100%;}

#home-news .leftbox {margin: 0px; padding: 0px; float: left; width: 57%; padding-right: 3%;}

#home-news #rightbox {float: left; width: 37%; padding-left: 2%;}

#home-news #rightbox p {margin: 0px 0px 8px; padding: 0px 0px 8px; float: left; width: 100%; font-size: 11px; line-height: 16px; border-bottom: 1px solid #eee;}

#custom #home-news p.date {font-size: 11px; color: #666666; margin: 0px 0px 15px; padding: 0px;}

.avatar-box {margin: 0px 0px 15px; padding: 8px; float: left; width: 150px; background: #EDEFF4; border-bottom: 1px solid #DFE2EC;}

.avatar-box img {margin-bottom: 5px;}

#member-left p {font-size: 11px; line-height: 18px;}

#member-left a:hover {color: #3B5998; text-decoration: underline;}

.leftbox a {color: #3B5998; text-decoration: none;}

#home-news h3 {font-size: 13px; margin: 0px 0px 10px; padding: 0px 0px 2px; float: left; width: 100%; border-bottom: 1px solid #CCCCCC; color: #333333;}

#home-news h1 {margin: 0px; padding: 0px; float: left; width: 100%; font-size: 24px; line-height: 28px;}

#home-news .leftbox .feat-img {margin: 0px; padding: 0px 0px 15px; float: left; width: 100%; overflow: hidden;}

#home-news #rightbox .feat-img {margin: 0px; padding: 0px 8px 0px 0px; float: left; width: 48px; overflow: hidden; height: 40px;}

#home-news #rightbox img {margin: 0px; padding: 0px; height: auto; max-width: 100%;}

#home-news .leftbox img {margin: 0px; padding: 0px; height: auto; max-width: 100%;}

#home-news .leftbox p {font-size: 12px; line-height: 18px; margin: 0px 0px 16px 0px; padding: 0px; float: left; width: 100%;}

#home-news .post-comments {margin: 0px; padding: 0px 0px 25px; float: left; width: 100%;}

#home-news .post-comments a {display: block; margin: 0px; padding: 4px 12px; float: left; font-size: 13px; color: #FFFFFF; text-decoration: none; background: #3B5998;}

.post-home-author {margin: 0px; padding: 8px 0px 12px; float: left; width: 100%; font-size: 12px;}

.home-featured-code {margin: 25px 0px 0px; padding: 0px; float: left; width: 500px;}

.home-featured-code .feat-img {margin: 0px; padding: 0px; float: left; width: 500px; overflow: hidden;}

#img-code { width: 480px; border: 10px solid #FFFFFF; overflow: hidden;}

#video-code embed, #video-code object, #video-code param {margin: 0px; padding: 0px; height: 300px !important; width: 500px !important; position: relative; z-index: 5;}

.home-intro {margin: 0px; padding: 35px 0px 0px; float: right; width: 440px;}

.home-intro h1, .home-intro strong {color: #16223A; margin: 0px 0px 10px; padding: 0px; float: left; width: 100%; font-size: 22px;}

.home-intro p {font-size: 13px; line-height: 18px; margin: 0px; padding: 0px; float: left; width: 100%; color: #333333;}

.home-intro p a {font-size: 15px; color: #3B5998; text-decoration: none; font-weight: bold;}

.home-intro p a:hover {font-size: 15px; color: #67a54b; text-decoration: underline; font-weight: bold;}

.home-intro #login-form {margin: 0px; padding: 25px 0px 0px; float: left; width: 100%;}

.home-intro #login-form h3 {margin-bottom: 10px; color: #000000;}

#login-form input [ type = 'text' ], #login-form input [ type = 'password' ] {width: 140px; font: 12px Arial, sans-serif; color: #999999;}

#wrapper {width: 960px; margin-right: auto; margin-left: auto; font-size: 0.6875em;}

.content-wrap {width: 960px; margin-right: auto; margin-left: auto;}

#container {margin: 0px; padding: 25px 0px 0px; float: left; width: 100%;}

#home-left {margin: 0px; padding: 0px; float: left; width: 66%;}

#container .box {float: left; overflow: hidden;}

#container #box-center {width: 50%; margin: 0px; padding: 0px; float: right;}

#container #box-left {width: 46%; margin: 0px; padding: 0px 4% 0px 0px;}

#container #box-right {width: 32%; margin: 0px; padding: 0px 0px 0px 2%; float: right;}

li.profile-setting {background: url(../images/site-icon/profile-setting.gif) no-repeat left 3px; padding-left: 18px !important; padding-top: 2px; padding-bottom: 1px;}

li.profile-flickr {background: url(../images/flickr.jpg) no-repeat left center; padding-left: 25px !important; padding-top: 3px; padding-bottom: 3px;}

li.profile-youtube {background: url(../images/youtube.jpg) no-repeat left center; padding-left: 25px !important; padding-top: 3px; padding-bottom: 3px;}

#member-left .sidebar_list {margin: 0px; padding: 0px 0px 0px 6px; float: left; width: 160px;}

li.social-setting {background: url(../images/site-icon/social-setting.gif) no-repeat left 3px; padding-left: 18px !important; padding-top: 2px; padding-bottom: 1px;}

#optionsbar {margin: 0px; padding: 30px 0px 0px; float: right; max-width: 520px; text-align: right; width: auto;}

.blog-page #optionsbar {margin: 0px; padding: 30px 0px 0px; float: right; max-width: 520px; text-align: right; width: auto !important;}

ul#options-nav li {margin: 0px 8px 0px 0px; padding: 0px 8px 0px 0px; float: left; display: inline; font-size: 11px; border-right: 1px solid #C8CEDD; line-height: 16px;}

ul#options-nav li a {color: #3B5998; text-decoration: none; background: url(../images/spacer.gif) no-repeat; margin: 0px !important; padding: 0px !important;}

ul#options-nav li#li-user {color: #333333; border: 0px none;}

ul#options-nav li a:hover {color: #3B5998; text-decoration: underline;}

div.widget {margin: 0px 0px 20px; padding: 0px; width: 100%; line-height: 16px; float: left; overflow: hidden;}

.widget #s {width: 75%;}

.widget select {width: 90%;}

div.widget a, .footer a, #post-entry a {color: #3b5998; text-decoration: none;}

div.widget a:hover, .footer a:hover, #post-entry a:hover, .content a:hover {color: #36538D; text-decoration: underline;}

h2.widgettitle, .widget h2 {font-size: 1.175em; margin: 0px 0px 10px; padding: 0px 0px 3px; color: #333; border-bottom: 1px solid #ccc;}

div.widget ul li {padding: 0px; margin: 0px 0px 5px; width: 100%; font-size: 1em; overflow: hidden;}

div.widget ul li ul li {padding: 0px 0px 0px 5px; margin: 5px 0px 0px; float: left; width: 98%;}

.item-content img, .textwidget img {margin-bottom: 8px;}

.item-meta em {font-size: 10px; font-style: normal; color: #999999;}

.item-meta {font-size: 10px; line-height: 14px; padding-top: 4px; padding-bottom: 4px;}



#activity-filter-links {margin: 0px 0px 15px; padding: 0px; float: left; width: 100%;}

ul#activity-filter-links li, .bp-widget ul#activity-filter-links li {margin: 0px 8px 5px 0px; padding: 0px 8px 0px 20px; float: left; font-size: 11px; display: inline-block; border-right: 1px solid #ddd; background: url(../images/site-icon/default.gif) no-repeat 2px center; width: auto !important;}

ul#activity-filter-links li a {background: url(../images/spacer.gif) no-repeat !important;}

#activity-filter-links li#afilter-blogs {background: url(../images/site-icon/blogs.gif) no-repeat 3px center;}

#activity-filter-links li#afilter-friends {background: url(../images/site-icon/friends.gif) no-repeat 3px center;}

#activity-filter-links li#afilter-groups {background: url(../images/site-icon/groups.gif) no-repeat 3px center;}

#activity-filter-links li#afilter-profile {background: url(../images/site-icon/profile.gif) no-repeat 3px center;}

#activity-filter-links li#afilter-status {background: url(../images/site-icon/status.gif) no-repeat 3px center;}

#activity-filter-links li#afilter-clear {background: url(../images/site-icon/clear.gif) no-repeat 3px center;}

.widget blockquote {color: #333333; font-size: 12px; line-height: 18px; display: block; margin: 0px; clear: both; padding: 0px;}

#member-left {margin: 0px; padding: 0px; float: left; width: 176px; margin: 0 10px 0 0;}

#member-left .sidebar_list {font-size: 11px;}

#member-left a {color: #3B5998; text-decoration: none;}

#userbar {margin: 0px; padding: 0px; float: left; width: 100%;}

#htop {margin: 0px; padding: 0px 0px 20px; float: left; width: 100%;}

#top-bar {margin: 0px; padding: 0px; float: left; width: 100%;border-bottom: 1px solid #d8dfea; position: relative; z-index: 9999px;}

#wp-calendar {text-align: left; width: 100%; font-size: 12px;}

#wp-calendar caption {color: #666; font-weight: bold; text-align: center; line-height: 24px;}

#footer {margin: 15px 0px 0px; padding: 10px 0px 25px; float: left; width: 100%; line-height: 1.6em; border-top: 1px solid #eee;}

#footer-content {margin: 0px; padding: 0px; float: left; width: 100%;}

.content {float: left; width: 100%; margin: 0px; padding: 0px;}

h2#post-header {margin: 0px 0px 13px; padding: 0px;}

#right-sidebar {margin: 0px; padding: 0px; float: right; width: 250px;}
#rightbox img.alignleft {
  margin-right: 10px !important;
}


#left-sidebar {float: left; width: 160px; background: #eee; -moz-border-radius: 10px; -khtml-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; padding: 10px; overflow: hidden; margin: 0px;}

#left-sidebar .avatar-block img {height: 32px; width: 32px;}

#arrow-break {margin: 0px; padding: 0px; float: left; width: 160px; position: relative;}

#leftside {background: url(../images/leftside.jpg) no-repeat; margin: 0px; padding: 0px; height: 29px; width: 34px; position: absolute; left: -40px; top: 10px;}

#post-entry {margin: 0px; float: left !important; width: 490px; padding: 0px; padding: 0px 0px 15px 15px;}

div.sidebar_list {margin: 0px; padding: 0px; float: left; width: 100%; font-size: 11px; line-height: 16px;}

#post-entry .post, #post-entry .page {margin: 0px 0px 30px; padding: 0px; float: left; width: 100%;}

.post-meta {margin: 0px 0px 15px; padding: 0px; float: left; width: 100%;}

.post-avatar {margin: 5px 5px 0px 0px; padding: 0px 5px 0px 0px; float: left; width: 32px;}

.post-avatar img {height: 32px; width: 32px;}

.post-avatar span {font-size: 9px; text-align: center;}

.post-info {margin: 0px; padding: 0px; float: left; width: 91%;}

.post-info p {line-height: 19px; font-size: 11px;}

h1.post-title {
color:#333333;
font-size:1.75em;
line-height:1.125em;
margin:0;
}

.post-content {font-size: 12px; line-height: 18px; margin: 0px; padding: 5px 0px 20px 0px; float: left; width: 100%; color: #333; overflow: hidden;}

.post-content ul {margin-bottom: 15px; width: 100%;}

.post-content ul ul, .post-content ol ol {margin: 0px;}

.post-content ul li {margin-bottom: 5px; margin-left: 30px; padding-left: 0px; list-style: square outside;}

.post-content ul li ul li {margin-bottom: 0px; margin-top: 5px; background: url(../images/children.png) no-repeat left 2px; padding-left: 15px; list-style: none; margin-left: 10px;}

.post-content ol {list-style: decimal; margin-bottom: 18px; padding-left: 15px;}

.post-content ol li {margin-bottom: 5px; margin-left: 20px; padding-left: 0px; list-style: decimal outside;}

.post-content ol li ol li {margin-bottom: 0px; margin-top: 5px; padding-left: 0px; list-style: square; margin-left: 0px;}

.post-content p {margin-bottom: 15px;}

.post-content h3 {font-size: 13px; color: #000000; line-height: 20px;}

.post-tag {background: #f8f8f8; margin: 0px; padding: 8px 2% 8px 1%; float: left; width: 97%; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}

.post-tag span.comments {float: right;}

.post-tag span.tags {float: left; padding-left: 20px; background: url(../images/tag.gif) no-repeat 2px 4px; width: 300px; padding-top: 4px; padding-bottom: 4px;}

.post-tag .comments a {background: url(../images/comments.gif) no-repeat left 3px; padding-left: 18px; padding-top: 2px; padding-bottom: 2px; display: inline-block; float: right;}

#search-form input [ type = "text" ] {width: 95%;}

#wp-comments {margin: 0px; padding: 0px; float: left; width: 100%;}

#wp-comments h4 {margin: 0px 0px 15px; padding: 0px 0px 5px; float: left; width: 100%; font-size: 12px; color: #000000; border-bottom: 1px solid #DDD; font-weight: bold;}

h4#ping {margin-top: 25px;}

#wp-comments h4 span {font-size: 12px; font-weight: normal; text-decoration: none;}

#wp-comments h4 a, #wp-comments h5 a {text-decoration: none;}

#wp-comments h4 a:hover {text-decoration: underline !important;}

#wp-comments h5 {font-size: 13px; margin: 0px; padding: 0px; color: #999999;}

em.moderate {font-size: 12px; color: #111; font-style: normal; background: #FBEFAC url(../images/icons/action_check.png) no-repeat 5px 10px; padding: 8px 20px 8px 25px; border: 1px solid #F8E05A; font-weight: bold; margin: 0px;}

ol.commentlist {margin: 0px; padding: 0px; float: left; width: 100%; list-style: none;}

ol.commentlist li a {color: #0192b5; text-decoration: none;}

ol.commentlist li a:hover {color: #000000; text-decoration: none;}

ol.commentlist ul.children {margin: 0px; padding: 10px 0px 0px 10%; float: left; width: 90%; list-style: none;}

ol.commentlist ul.children ul {margin: 0px; padding: 10px 0px 0px; float: left; width: 100%;}

ol.commentlist ul.children .comment-meta-avatar {float: left;}

ol.commentlist ul.children .comment-meta-avatar img {float: left; height: 25px; width: 25px;}

ol.commentlist ul.children ul li .comment-meta-avatar {float: left;}

ol.commentlist ul.children ul li .comment-meta-avatar img {float: left; height: 25px; width: 25px;}

ol.commentlist ul.children .comment-meta-post {margin: 0px; padding: 0px 0px 0px 8px !important;}

ul.children .comment-meta-list {padding: 10px !important;}

ol.commentlist .alt .comment-meta-post {}

ol.commentlist .children .comment-meta-post {width: 85%;}

.comment-meta-list .alt {text-decoration: none;}

ol.commentlist li {margin: 0px 0px 2px; padding: 20px 0px 15px 2%; float: left; width: 98%; color: #444;}

ol.commentlist li.alt {background: #ECEFF5;}

ol.commentlist li li {border: 0px none; margin: 0px 0px 5px; padding: 0px;}

ol.commentlist li .comment-meta-avatar img {}

ol.commentlist li .comment-meta-list {margin: 0px; padding: 0px; float: left; width: 100%;}

ol.commentlist li .comment-meta-avatar {margin: 0px; padding: 0px; float: left;}

ol.commentlist .comment-meta-post {margin: 0px 0px 0px 10px; padding: 0px 2%; width: 83%; -moz-border-radius: 6px; -khtml-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; float: left;}

ol.commentlist .comment-author {font-size: 11px; line-height: 15px; margin: 0px; padding: 0px; float: left; width: 100%; font-weight: bold;}

ol.commentlist .comment-author small {font-size: 11px; font-weight: normal; color: #999999; margin: 0px; padding: 0px; float: left; width: 100%;}

#container span.inlink a {color: #999999; text-decoration: none !important;}

ol.commentlist .comment-content {margin: 0px; padding: 0px; font-size: 12px; line-height: 18px;}

ol.commentlist .comment-content blockquote {margin: 8px; padding: 5px 5px 0px; font: 14px/19px Helvetica, Arial, sans-serif; border-left: 5px solid #222; color: #000000;}

ol.commentlist .comment-content p {margin: 0px 0px 8px; padding: 0px;}

ol.commentlist div.reply {margin: 0px; padding: 0px; float: left;}

ol.commentlist div.reply a {color: #0192b5;}

#commentform .yousaid {margin: 0px; padding: 0px 0px 15px; float: left; width: 100%; font-size: 12px;}

#commentform .yousaid img {margin: 0px 8px 0px 0px; padding: 3px; float: left; border-top: 0px none; border-right: 0px none; border-bottom: 0px none; border-left: 0px none;}

ul.pinglist {margin: 0px; padding: 0px; float: left; width: 100%; list-style: none;}

ul.pinglist li {margin: 0px; padding: 8px 0px; float: left; width: 100%; font-size: 12px; line-height: 16px;}

ul.pinglist a {text-decoration: none;}

ul.pinglist h6 {font-size: 12px; margin: 0px; padding: 0px; float: left; width: 100%;}

ul.pinglist p {font-size: 11px; margin: 0px; padding: 5px 0px 0px; float: left; width: 100%;}

ul.pinglist .alt {background: #F5F8F8;}

ul.pinglist a:hover {text-decoration: none;}

#commentform {margin: 0px; padding: 3% 2% 4%; width: 96%; float: left; background: #eceff5;}

#commentform p {margin: 0px; padding: 0px;}

#commentform a:hover {text-decoration: underline;}

#respond {margin: 0px; padding: 2em 0px; float: left; width: 100%;}

#commentform .labelbox {width: 35%; float: left;}

#commentform .labelcom {float: right; width: 60%; margin: 0px; padding: 0px;}

.cancel-comment-reply {margin: 0px; float: left; width: 98%; padding: 0px 0px 0px 2px;}

.cancel-comment-reply a {font-size: 12px; text-decoration: underline; line-height: 16px; margin: 0px; padding: 8px 0px;}

#commentform a {text-decoration: none;}

#commentform label {display: block; margin: 0px; padding: 0px; font-size: 12px; float: left; width: 100%;}

#commentform small {font-size: 12px;}

#commentform .cfield {padding: 3px 2px; width: 96%; margin-top: 0px; border: 1px solid #dbdbdb; margin-bottom: 10px; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background: #FFF; color: #333333; font-size: 11px;}

#commentform .carea {padding: 5px 2px; width: 98% !important; margin-top: 5px; border: 1px solid #dbdbdb; margin-bottom: 10px; -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; height: 100px; background: #FFF; color: #444; font-size: 12px;}

#commentform .cinput {padding: 2px 5px; margin: 0px 0px 10px; color: #111; font: 12px/18px Arial, Tahoma, "Lucida Sans"; text-decoration: none; overflow: visible; background: #D4D0C8; border: 1px solid #D4D0C8;}

#post-navigator {margin: 0px; padding: 0%; float: left; width: 100%;}

#post-navigator .wp-pagenavi {margin: 0px; padding: 8px 0px; float: left; width: 100%;}

#post-navigator .pages {font-size: 12px; padding: 5px 8px; background: #eee; border-top: 1px solid #ddd; border-right: 1px solid #999999; border-bottom: 1px solid #999999; border-left: 1px solid #ddd; margin-right: 6px; -moz-border-radius: 6px; -khtml-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}

#post-navigator .current {font-size: 12px; padding: 5px 8px; background: #FFF; border-top: 1px solid #ddd; border-right: 1px solid #999999; border-bottom: 1px solid #999999; border-left: 1px solid #ddd; margin-right: 6px; -moz-border-radius: 6px; -khtml-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}

#post-navigator a {font-size: 12px; padding: 5px 8px; background: #eee; border-top: 1px solid #ddd; border-right: 1px solid #999999; border-bottom: 1px solid #999999; border-left: 1px solid #ddd; margin-right: 6px; -moz-border-radius: 6px; -khtml-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}

#post-navigator-single a {text-decoration: none;}

#post-navigator-single {color: #999999; text-decoration: none; margin: 0px; float: left; width: 100%; font-size: 11px; line-height: 16px; padding: 1em 0px 2em;}

#post-navigator-single .alignleft {text-align: left; margin: 0px; padding: 0px; float: left; width: 45%;}

#post-navigator-single .alignright {text-align: right; margin: 0px; padding: 0px; float: right; width: 45%;}

#page-navigation {margin: 0px; padding: 12px 0px; float: left; width: 100%;}

#paged {text-align: center; margin: 0px; padding: 0px; float: left; width: 100%; font-size: 11px; font-weight: bold;}

#paged a {text-decoration: none; color: #999999; padding-right: 6px; padding-left: 6px;}

#paged .current {color: #3B5998; text-decoration: none; padding-right: 6px; padding-left: 6px;}

#paged input [ type = 'text' ] {padding: 2px; width: 50px; background: #FFFFFF; margin-right: 5px; margin-left: 5px; border-top: 1px solid #999999; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC;}

#prepage {margin: 0px; padding: 5px 0px 0px; float: left; width: 100%;}

#prepage .alignleft {text-align: right; margin: 0px; padding: 0px; float: left; width: 50%;}

#prepage .alignright {text-align: right; margin: 0px; padding: 0px; float: right; width: 50%; font-size: 0px; color: #FFFFFF; text-decoration: none;}

#prepage .alignright a {text-align: left; margin: 0px; padding: 0px; float: left; width: 100px; background: url(../images/next.jpg) no-repeat left center; display: block; height: 40px; font-size: 0px; color: #FFFFFF; text-decoration: none;}

#prepage .alignleft a {text-align: right; margin: 0px; padding: 0px; float: right; width: 100px; background: url(../images/pre.jpg) no-repeat right center; display: block; height: 40px; font-size: 0px; color: #FFFFFF; text-decoration: none;}

#paged form {margin: 0px; padding: 0px; float: left;}

#paged .alignleft {text-align: right; margin: 0px; padding: 4px 0px 0px; float: left; width: 50%;}

#paged .alignright {text-align: left; margin: 0px; padding: 0px 0px 0px 5%; float: right; width: 44%;}

.tipsy {
	padding: 5px;
	font-size: 10px;
	opacity: 0.8;
	filter: alpha(opacity=80);
	background-repeat: no-repeat;
	line-height: 16px;
}
  .tipsy-inner { padding: 4px 5px; background-color: black; color: white; max-width: 200px; text-align: center; }
  .tipsy-north { background-image: url(../images/tipsy-north.gif); background-position: center top; }
  .tipsy-south { background-image: url(../images/tipsy-south.gif); background-position: bottom center; }
  .tipsy-east { background-image: url(../images/tipsy-east.gif); background-position: right center; }
  .tipsy-west { background-image: url(../images/tipsy-west.gif); background-position: left center; }


pre {
	margin: 8px 0px;
	padding: 10px;
	clear: both;
	width: 92%;
	overflow: scroll;
	font-family: "Courier New", "MS Sans Serif", sans-serif, serif;
	background: #FFFFFF;
	color: #000000;
	font-size: 1.125em;
	line-height: 22px;
	white-space: nowrap;
	border: 1px solid #eeeeee;
}

/* facebook button css */

#fbc_login span, #fbc_login br {display: none !important;}

#fbc_login {
	margin: 8px 0px 0px;
	padding: 0px;
	border-width: 0px;
	border-style: none;
	float: left;
}

#fc_wrap .dark {
	margin: 0px;
	padding: 0px;
	float: left;
	position: absolute;
	top: 0px;
	right: 0px;
}

#fb_login_image {display: none;}

#RES_ID_fb_login {margin: 0px; padding: 0px; float: left;}

.fbconnect_login_button {
	margin: 0px;
	padding: 0px;
	float: left;
}

.FB_ElementReady {background: transparent !important; border-width: 0px; border-style: none;}
#RES_ID_fb_login_image {
	margin: 0px;
	padding: 0px;
	float: left;
}

/* end facebook button css */

input[type='text'],input[type='password'], textarea, select {
	font-family: "Lucida Grande", "Lucida Sans", sans-serif;
	background: #FFFFFF;
	padding: 4px 2px;
	border-top: 1px solid #aaa;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #aaa;
	font-size: 11px;
	color: #666666;
	margin: 0px 0px 5px;
}

input[type='submit'], input[type='button'], input.button, input.submit {
	font-family: "Lucida Grande", "Lucida Sans", sans-serif;
	padding: 2px 5px;
	margin: 0px 0px 5px;
	font-size: 11px;
	text-decoration: none;
	overflow: visible;
	background: #67a54b;
	color: #FFFFFF;
	border: 1px solid #609B46;
}


textarea {
	height: 100px;
	width: 90% !important;
}

small, .small {
	font-size: 10px !important;
}

/* Captions */
div.aligncenter {
	display: block;
	margin: 0px auto;
}
div.alignleft {
	float: left;
	margin-right: 10px;
}
div.alignright {
	float: right;
	margin-right: 0px;
	margin-left: 10px;
}
.wp-caption {
	border: 1px solid #CCCCCC;
	text-align: center;
	background-color: #F8F8F8;
	padding-top: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 0.9em;
	line-height: 16px;
	padding: 5px 4px;
	margin: 0;
	font-family: Arial, Tahoma, "Lucida Sans";
	color: #949494;
	font-style: normal;
}
/* End captions */



img.centered, img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	float: right;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	float: left;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left;
	}
input[type='checkbox'] {
	border-width: 0px;
	border-style: none;
}

hr {
  display: none;
}



dt {
margin-bottom: 5px;
margin-top: 0px;
font-weight: 400;
font-size: 11px;
}


dd {
font-style: normal;
margin-bottom: 8px;
margin-left: 0px;
font-size: 11px;

}
code {
	font-family: "Courier New", "MS Sans Serif", sans-serif, serif;
	font-size: 11px;
}
.post-content img {
	border-width: 0px;
	border-style: none;
	max-width: 100%;
	height:auto;
}
img.wp-smiley {
	margin: 0px !important;
	padding: 0px !important;
	height: auto !important;
	width: auto !important;
}

/* nice titile */

div.nicetitle {
	position: absolute;
	padding: 8px 6px;
	top: 0px;
	width: 300px!important;
	background: #000000;
	filter: Alpha(Opacity=90);
	-moz-opacity:.90;
	opacity:.90;
	/* Mozilla proprietary */
    -moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	left: 0px;
}
div.nicetitle p {
	margin: 0;
	padding: 0 3px;
	font-size: 13px;
	color: #B7C93B;
}
div.nicetitle p.destination {
	font-size: 11px;
	text-align: left;
	padding-top: 3px;
	color: #eee;
}


.post-content .gallery {
	margin: 0px;
	padding: 25px 0px!important;
	float: left;
	width: 100%!important;
}
.post-content dl.gallery-item {
	display: inline-block!important;
	margin: 0px 0px 25px!important;
	padding: 0px!important;
	float: left!important;
}
.post-content dt.gallery-icon {
	margin: 0px!important;
	padding: 0px!important;
	width: 100%!important;
}
.post-content blockquote {
	padding: 10px;
	border-left: 10px solid #f8f8f8;
	margin: 10px;
	font-style: italic;
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
}
.post-content blockquote p {
	margin-bottom: 10px !important;
	padding: 0px;
}
.post-content .box-full {
width: 100%;
float: left;
}


.standard-form label {
	display: block;
}
.standard-form div {
	margin-bottom: 15px;
}
.standard-form .description {
	font-size: 10px;
	font-style: italic;
}
.recent-posts .post {
	margin-bottom: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #ddd;
}
.rsswidget img {
	height: auto !important;
	width: auto !important;
}


/* -----------------------------------*/
/* >> Dropdown Navigations <<<-----*/
/* -----------------------------------*/


#nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	width: 100%;
	font-size: 0.6875em;
}


#nav ul {
	background: transparent;
}



ul#nav li.current a, ul#nav li.selected a, ul#nav li.current_page_item a, ul#nav li.current-menu-item a  {
	float: left;
	display: inline-block;
	margin: 0px;
	padding: 0px 8px;
	height: 26px;
	font-size: 12px;
	line-height: 26px;
	background: #FFFFFF;
	border-top: 1px solid #d8dfea;
	border-right: 1px solid #d8dfea;
	border-left: 1px solid #d8dfea;
	text-decoration: none;
	text-align: center;
	color: #3b5998;
	font-weight: bold;
}

ul#nav li#current_user a  {
	float: left;
	display: inline-block;
	margin: 0px;
	padding: 0px 8px;
	height: 26px;
	font-size: 12px;
	line-height: 26px;
	border-top: 1px solid #66A64A !important;
	border-right: 1px solid #66A64A !important;
	border-left: 1px solid #66A64A !important;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	background: #76B55B !important;
}

#nav li {
	display: inline-block;
	float: left;
	color: #FFFFFF;
	margin: 0px 5px 0px 0px;
	padding: 0px;
	position: relative;

	}

#nav li li{
	background: transparent none !important;
	padding: 0px!important;

	}

#nav li ul {
	position: absolute;
	left: 0px; /* Set 1px less than menu width */
	top: 27px;
	z-index: 100000 !important;
	display: none;
	margin: 0px;
	padding: 0px;
	width: 250px;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
	border-top-width: 0px;
	border-top-style: none;
	list-style-type: none;
	}

/* Styles for Menu Items */
ul#nav li a {
	float: left;
	display: inline-block;
	margin: 0px !important;
	padding: 0px 8px !important;
	height: 26px;
	font-size: 12px;
	line-height: 26px;
	background: #D8DDE7;
	border-top: 1px solid #d8dfea;

	text-decoration: none;
	text-align: center;
	color: #3b5998;
	font-weight: bold;
	}
#nav li a:hover {
	float: left;
	display: inline-block;
	margin: 0px !important;
	padding: 0px 8px !important;
	height: 26px;
	font-size: 12px;
	line-height: 26px;
	background: #D8DDE7;
	border-top: 1px solid #d8dfea;

	text-decoration: underline;
	text-align: center;
	color: #3b5998;
	font-weight: bold;
	}

#nav ul li a, #nav ul li.current a, #nav ul li.selected a, #nav ul li.current_page_item a, #nav ul li.current_page_item ul li a, #nav ul li.current-menu-item a {
	text-decoration: none;
	display: inline-block;
	padding: 10px 9px 10px 20px;
	margin: 0px;
	float: left;
	background: #D8DDE7!important;
	border-bottom: 1px solid #C8CFDD;
	width: 215px;
	font-size: 12px;
	border-left: 0px none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-top-style: none;
	border-right-style: none;
	text-align: left !important;
	font-weight: bold;
	color: #3b5998;
	}

#nav ul li a:hover, #nav ul li.current a:hover, #nav ul li.selected a:hover, #nav ul li.current-menu-item a:hover, #nav ul li.current_page_item a:hover, #nav ul li.current_page_item ul li a:hover {
	text-decoration: none;
	display: inline-block;
	padding: 10px 9px 10px 20px;
	margin: 0px;
	float: left;
	background: #C4CBDB!important;
	border-bottom: 1px solid #C8CFDD;
	width: 215px;
	font-size: 12px;
	border-left: 0px none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-top-style: none;
	border-right-style: none;
	text-align: left !important;
	font-weight: bold;
	color: #36528B;
	}
/* Holly Hack. IE Requirement \*/
* html #nav ul li { float: left; height: 1%; }
* html #nav ul li a { height: 1%; }
/* End */

#nav li:hover ul, #nav li.over ul { display: block; } /* The magic */
#custom #nav li ul li:hover ul, #custom #nav li ul li.over ul { display: block; } /* The magic */
#custom #nav li ul li ul li:hover ul, #custom #nav li ul li ul li.over ul { display: block !important; } /* The magic */
/* -----------------------------------*/
/* >> End Dropdown Navigations <<<-----*/
/* -----------------------------------*/
#custom #nav li ul li ul {
	position: absolute;
	left: 230px; /* Set 1px less than menu width */
	top: 0px;
	display: none;
	margin: 0px;
	padding: 0px;
	width: 250px;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
	border-top-width: 0px;
	border-top-style: none;
	list-style-type: none;
}
#custom #nav li ul li ul li ul {
	position: absolute;
	left: 240px; /* Set 1px less than menu width */
	top: 0px;
	display: none !important;
	margin: 0px;
	padding: 0px;
	width: 230px;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
	border-top-width: 0px;
	border-top-style: none;
	list-style-type: none;
}
form div.error {
	font-size: 12px;
	font-weight: bold;
	color: #660000;
	background: #FFDBD2 url(../images/warning.png) no-repeat 8px center;
	border-top: 2px solid #FFBBAA;
	border-bottom: 2px solid #FFBBAA;
	display: block;
	margin-bottom: 6px;
	padding: 5px 5px 5px 30px;
	width: 400px;
	margin-top: 6px;
}




/* -----------------------------------*/
/* >> Dropdown TOP Navigations <<<-----*/
/* -----------------------------------*/


#options-nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	width: 100%;
	font-size: 0.6875em;
}
ul.bptopnav li {
    border-right: 0px none !important;
        }
#options-nav ul {
	background: transparent;
}


#options-nav li {
	display: inline-block;
	float: left;
	color: #FFFFFF;
	margin: 0px 5px 0px 0px;
	padding: 0px;
	position: relative;

	}

#options-nav li li{
	background: transparent none !important;
	padding: 0px!important;

	}

#options-nav li ul {
	position: absolute;
	left: 0px; /* Set 1px less than menu width */
	top: 17px;
	z-index: 100000 !important;
	display: none;
	margin: 0px;
	padding: 0px;
	width: 180px;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
	border-top-width: 0px;
	border-top-style: none;
	list-style-type: none;
	}

/* Styles for Menu Items */
ul#options-nav li a {


	}
#options-nav li a:hover {

	}

#options-nav li ul li a {
    text-decoration: none;
	display: inline-block;
	padding: 5px 15px !important;
	margin: 0px;
	float: left;
	background: #D8DDE7!important;
	border-bottom: 1px solid #C8CFDD;
	width: 150px;
	font-size: 12px;
	border-left: 0px none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-top-style: none;
	border-right-style: none;
	text-align: left !important;
	font-weight: bold;
	color: #3b5998;
	}

#options-nav li ul li a:hover {
	text-decoration: none;
	display: inline-block;
	padding: 5px 15px !important;
	margin: 0px;
	float: left;
	background: #C4CBDB!important;
	border-bottom: 1px solid #C8CFDD;
	width: 150px;
	font-size: 12px;
	border-left: 0px none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-top-style: none;
	border-right-style: none;
	text-align: left !important;
	font-weight: bold;
	color: #36528B;
	}
/* Holly Hack. IE Requirement \*/
* html #options-nav ul li { float: left; height: 1%; }
* html #options-nav ul li a { height: 1%; }
/* End */

#options-nav li:hover ul, #options-nav li.over ul { display: block; } /* The magic */
#custom #options-nav li ul li:hover ul, #custom #options-nav li ul li.over ul { display: block; } /* The magic */
#custom #options-nav li ul li ul li:hover ul, #custom #options-nav li ul li ul li.over ul { display: block !important; } /* The magic */
/* -----------------------------------*/
/* >> End Dropdown Navigations <<<-----*/
/* -----------------------------------*/
#custom #options-nav li ul li ul {
	position: absolute;
	left: 180px; /* Set 1px less than menu width */
	top: 0px;
	display: none;
	margin: 0px;
	padding: 0px;
	width: 180px;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
	border-top-width: 0px;
	border-top-style: none;
	list-style-type: none;
}
#custom #options-nav li ul li ul li ul {
	position: absolute;
	left: 180px; /* Set 1px less than menu width */
	top: 0px;
	display: none !important;
	margin: 0px;
	padding: 0px;
	width: 180px;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
	border-top-width: 0px;
	border-top-style: none;
	list-style-type: none;
}
           .home-featured-code iframe {
  max-width: 100%; width: 100%; height: 320px; max-height: 600px;
                    float:left;
}


#mobile-search {
display: none;
}

/* added responsive css */
@media only screen and (min-width:490px) and (max-width: 770px) {
                  .home-intro {
                    width: 100%;
                    float:left;
                    padding: 10px 0 0;
                  }
                   .home-featured-code {
  width: 100%;
                    float:left;
}

      .home-featured-code img {
  max-width: 100%; width: auto; height: auto;
                    float:left;
}

#optionsbar, #left-sidebar, #member-left {
  display: none;
}
#content, #container, #home-left, #container #box-right, #right-sidebar, #post-entry {
  width: 100% !important; float:left; margin: 0px !important; padding: 1em 0 !important; border: 0 none !important;
}

.content-wrap, #wrapper {
 margin: 0 auto;
  width: 90%;
}

}




@media only screen and (max-width:480px) {
.item-list .action {
  float: left;
  margin: 1em 0;
  position: relative !important;
  text-align: left !important;
  width: 100%;
}

     .home-intro {
                    width: 100%;
                    float:left;
                    padding: 10px 0 0;
                  }
                   .home-featured-code {
  width: 100%;
                    float:left;
}

      .home-featured-code img {
  max-width: 100%; width: auto; height: auto;
                    float:left;
}


    #img-code {
  max-width: 94%; width: auto; height: auto;
                    float:left;
}

#mobile-search select {
  padding: 0.5em 1em;
  font-size: 12px;
  width: 80%;
  margin: 0 0 1.25em;
}

          .post-tag span.tags {
  width: 100% !important;
}

          #top-bar {         overflow: hidden;
  max-width: 100%;
  width: auto;
}
        .post-info {
  float: left;
  margin: 0;
  padding: 0;
  width: 80%;
}
        ol.commentlist .comment-meta-post {
  border-radius: 6px 6px 6px 6px;
  float: left;
  margin: 0 0 0 10px;
  padding: 0 2%;
  width: 73%;
}
     #custom #whats-new-options {
  height: 95px !important;
}

         .wp-caption {
     max-width: 200px !important;
     padding: 10px !important;
   }
     .post-content img {
     max-width: 200px !important;
     width: auto !important;
     height: auto !important;
   }


#mobile-search {
display: inline;
}
#userbar #nav, #optionsbar, #left-sidebar, #member-left {
  display: none;
}
#content, #container, #home-left, #container #box-right, #right-sidebar, #post-entry, #container #box-center, #container #box-left {
  width: 100% !important; float:left; margin: 0px !important; padding: 1em 0 !important; border: 0 none !important;
}

.directory #content, .registration #content {
width: 100% !important; float:left; margin: 0px; padding: 1em 0; border: 0 none;
}

#footer .alignleft, #footer .alignright {
  width: 100%;
  float:left;
  text-align: center;
  font-size: 11px;
}

.content-wrap, #wrapper {
 margin: 0 auto;
  width: 90%;
}
      #custom div.dir-search input[type="text"] {
  padding: 0.5em 1em;
  width: 60%;
}
 div.dir-search {
    float: left;
    margin: 10px 0 !important;
    width: 100%;
}
              #call-action p {
     width: 100%;
     float:left;
     margin: 0px 0px 10px;
   }

            ul.item-list li div.item-title, ul.item-list li h4 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    width: 96%;
}
          .directory div.action {
    display: block;
    float: left !important;
    margin: 5px 0 20px !important;
    position: relative !important;
    text-align: left !important;
    width: 100%;
}
               .directory div.item-meta {
    margin: 0px 0px 10px !important;
  }

          .directory div.item-title, div.item-desc {
    width: 100% !important;
    margin: 0px !important;
  }
  ul.item-list li div.action {
   top: 8px !important;
}

}



@media only screen and (max-width:320px) {
   #top-bar {         overflow: hidden;
  max-width: 100%;
  width: auto;
}

 body {
    padding: 0px !important; margin: 0px;
  }

#wp-admin-bar {
  display: none;
}

ol.commentlist .comment-meta-post {
width: 63%;
}

}

/* 18246-1344572780-ai */