RewriteEngine On
RewriteCond %{HTTP_HOST} nycga.cc [NC]
RewriteRule ^(.*)$ http://www.nycga.net/$1 [R,L]

redirect 301 /donate /how-to-help
redirect 301 /2011/09/30/declaration-of-the-occupation-of-new-york-city/ /resources/declaration
redirect 301 /who-we-are /about/
redirect 301 /calendar /events/
redirect 301 /2011/09/24/principles-of-solidarity-working-draft /resources/principles-of-solidarity

# BEGIN WordPress
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]

# uploaded files
RewriteRule ^files/(.+) wp-includes/ms-files.php?file=$1 [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule . index.php [L]
# END WordPress
