#boxes .content-pad{padding-bottom: 5px}
.fboxtitle h3{
	padding: 0 0 .4em 0;
	font-size: 1.3em;
}
.dcol-pad{ padding: 10px 0; }
.fboxes p { margin: 0; margin-bottom: 10px; }
.fboxes ul {
 	list-style-type: none;
 	margin-top: 5px;
 }

.fboxes ul a {
 	text-decoration: none;
 }
.fboxes a:hover {
 	text-decoration: underline;
 }

.fboxes #searchbox {
 	padding: 1px;
 	width: 160px;
 }

.fboxes li {
 	margin-bottom: 5px;
 	line-height: 17px; /* Required for cross-browser consistency; cross-browser defaults vary. */
 }

.inline_thumbs .fboxgraphic { padding-top:5px; }

.top_thumbs .fboxgraphic, .only_thumbs .fboxgraphic{
	text-align: center;
	margin-bottom:5px;
}
.only_thumbs .fboxinfo{ display: none; }

.fboxinfo{ overflow:hidden; padding:5px 0px 0 0px; }