body {font-size: 100%;
font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, sans-serif;
color: #656565; background: #FFF; margin: 0px; padding: 0px;}

.gallery-caption {}
.bypostauthor {}
a.comment-reply-link {
  color: #6BB264 !important;
}
.panel-index {
  padding: 0px !important;
}

.top-bg-inner .alignright { margin-right: 15px; font-size: 12px;}

:-moz-any-link:focus {outline: none;}

.padder h3 {color: #111;}

ul#mysocialmedia {margin: 0px; padding: 0px 0px 20px 0px; float: left; width: 100%; list-style: none;}

ul#mysocialmedia img {border: 3px solid #efefef;}

ul#mysocialmedia img:hover {border: 3px solid #CCCCCC;}

ul#mysocialmedia li {margin: 0px 15px 0px 0px; padding: 0px; float: left; width: auto !important; list-style: none;}

ul#myblogrssfeed {margin: 0px; padding: 0px; float: left; width: 100%; list-style: none;}

ul#myblogrssfeed li {margin: 0px 0px 8px; padding: 0px 0px 8px; float: left; width: 100%; list-style: none; border-bottom: 1px solid #ddd;}

ul#myblogrssfeed li h1 {margin: 0px; padding: 0px; float: left; width: 100%; list-style: none; font: 15px/20px Helvetica, Arial, sans-serif;}

ul#myblogrssfeed li .rss-author {margin: 0px; padding: 0px; float: left; width: 100%; list-style: none; font: 11px/20px Helvetica, Arial, sans-serif;}

ul#myblogrssfeed li .rss-content {margin: 0px; padding: 8px 0px 0px; float: left; width: 100%; list-style: none; font: 12px/20px Helvetica, Arial, sans-serif;}

div.profile-ads {margin: 0px; padding: 12px 0px; float: left; width: 100%; overflow: hidden;}

#profile-header {clear: both;}

#profile-header img {margin: 0px; padding: 0px; border: 0px none; max-width: 100%; height: auto;}

.bp-widget {clear: both;} /* form  */

#siteform label {font-size: 16px; font-weight: normal;}

.main-domain {margin: 0px!important; padding: 0px!important;}

#siteform-site-address-domain {margin: 0px; padding: 0px; float: left;}

#siteform-submit {-moz-border-radius: 1em; background: #FFFFFF url(../images/grey-wp.png) no-repeat 8px center; margin: 0px 0px 1em; padding: 8px 20px 8px 40px; color: #000000; width: auto; overflow: visible; font: bold 18px Helvetica; border: 2px solid #666666;}

#siteform-submit:hover {color: #006699; background: #FFFFFF url(../images/blue-wp.png) no-repeat 8px center; border: 2px solid #0099CC;} /* end form  */

img {border: 0px none;}

input, select, textarea {font-family: "Lucida Grande", "Lucida Sans", Arial;}

input.button [ class ] {width: auto;}

fieldset, img {border: 0px none;} /* Captions */

div.aligncenter {display: block; margin: 0px auto;}

div.alignleft {float: left; margin-right: 10px;}

div.alignright {float: right; margin-right: 0px; margin-left: 10px;}

.wp-caption {border: 1px solid #CCCCCC; text-align: center; background: #F8F8F8; padding-top: 4px; margin-top: 10px; margin-bottom: 10px;}

.wp-caption img {margin: 0; padding: 0; border: 0 none;}

.wp-caption p.wp-caption-text {padding: 5px 4px; margin: 0; color: #949494; font: normal 11px/16px Arial, Tahoma, "Lucida Sans";} /* End captions */

p img {padding: 0;}

img.centered {display: block; margin-left: auto; margin-right: auto; text-align: center;}

img.alignright {padding: 4px; margin: 0 0 2px 7px; float: right;}

img.alignleft {padding: 4px; margin: 0 7px 2px 0; float: left;}

.alignright {float: right;}

.alignleft {float: left;}

dt {margin-bottom: 5px; margin-top: 0px; font: 400 1em Arial, Helvetica, sans-serif;}

dd {font: italic 1em Arial, Helvetica, sans-serif; margin-bottom: 8px; margin-left: 0px;}

code {font: 1.025em "Courier New", "MS Sans Serif", sans-serif, serif;}

blockquote p {margin: 0px; padding: 0px;}

blockquote {margin: 0px 15px 10px; padding: 8px 0px 8px 10px; font: italic bold 16px/19px Georgia, "Times New Roman", Helvetica, sans-serif; border-left: 4px solid #333333; letter-spacing: -1px;}

#footer blockquote {border-left: 0px none;}

pre {margin: 8px 0px; padding: 10px; clear: both; width: 92%; overflow: scroll; background: #FFFFFF; color: #000000; font: 13px/22px "Courier New", "MS Sans Serif", sans-serif, serif; white-space: nowrap; border: 1px solid #eeeeee;}

em {font-style: italic; font-weight: normal;}

#wp-calendar {margin: 0px; padding: 0px; float: left; width: 98% !important;}

div.profile-ads {margin: 0px; padding: 12px 0px; float: left; width: 100%; overflow: hidden;}

#profile-header {margin: 0px; padding: 0px 0px 15px;}

#profile-header img {margin: 0px; padding: 0px; border: 0px none; max-width: 100%; height: auto;}

#item-header-avatar .avatar {margin-bottom: 25px;}

.cbox {margin: 0px; padding: 2%; float: left; width: 96%;}

.cbox h3 {font-size: 21px; font-weight: normal; letter-spacing: -1px; color: #000000;}

#top-bg {background: #1f1f1f; margin: 0px; padding: 20px 0px; float: left; width: 100%;}

.top-bg-inner {margin: 0px auto; padding: 0px; width: auto; max-width: 960px; color: #575e63; line-height: 43px;}

.top-bg-inner a {color: #939a9e; text-decoration: underline;}

#header {background: #1B1A1A; margin: 0px; padding: 0px; float: left; width: 100%;}

#header-gfx {margin: 0px auto; padding: 0px; width: auto; max-width: 960px;}

#header-gfx-inner {margin: 0px; padding: 0px; width: 100%; background: url(../images/header-gfx.png) no-repeat top; float: left;}

.powered-by-mu {background: url(../images/powered-hover.png) no-repeat left top; margin: 0px; padding: 0px; float: left; height: 50px; width: 251px; font-size: 1px; color: #212830;}

.powered-by-mu a {margin: 0px; padding: 0px; float: left; height: 50px; width: 251px; font-size: 0px; color: #222B34; display: block; text-align: center; text-decoration: none;}

.powered-by-mu a:hover {margin: 0px; padding: 0px; float: left; height: 50px; width: 251px; font-size: 0px; color: #222B34; display: block; text-align: center; text-decoration: none; background: url(../images/powered-hover.png) no-repeat left bottom;}



#header-name-alt{float: left; width: 100%; font-size: 24px; color: #FFFFFF; margin: 0px; padding: 35px 0px;}

#header-name-alt span {font-size: 14px; color: #f7f7f7;}

#header-name-alt a, #custom #comment-form p a, #custom a#cancel-comment-reply-link {color: #FFCC00; text-decoration: underline;}

#panel {margin: 0px; padding: 30px 0px 0px 0px; float: left; width: 100%;}

#panel #logo {background: url(../images/logo.png) no-repeat; margin: 0px; padding: 0px; float: left; height: 146px; width: 341px;}

#panel #logo a {font-size: 0px; display: block; height: 146px; width: 341px; color: #1E252F;}

#socials {margin: 0px; padding: 0px; float: left; width: 349px; position: relative;}

#socials #the-mascot {margin: 0px; padding: 0px; float: left; height: 355px; width: 349px; position: absolute; left: 0px; top: -60px; background: url(../images/socials.png) no-repeat bottom;}

#socials-single {margin: 0px; padding: 0px; float: right; width: 209px; position: relative;}

#socials-single #the-mascot {margin: 0px; padding: 0px; float: right; height: 201px; width: 209px; left: 0px; top: 95px; background: url(../images/socials-single.png) no-repeat bottom; position: absolute;}

#left-panel {margin: 0px; padding: 0px 0px 25px; float: left; width: 450px;}

#intro-featured-img img {margin: 0px; padding: 0px; float: left; max-width: 100%; height/**/:/**/ auto; border: 0px none;}

#intro-featured-img {margin: 0px; padding: 0px; width: 420px; height: 280px; overflow: hidden; float: left;}

#right-panel {margin: 0px; padding: 0px 0px 30px 0px; float: right; width: 500px;}

#right-panel h4 {font-size: 38px; margin: 0px 0px 20px; padding: 0px; float: left; width: 100%; color: #FFFFFF; letter-spacing: -1px; font-weight: normal; font-style: normal; font-variant: normal; !important;}

#right-panel p.headtext {font-size: 13px; line-height: 22px; color: #f7f7f7; margin: 0px; padding: 0px 0px 16px 5px; float: left; width: 98%;}

#right-panel form {margin: 0px; padding: 35px 0px 0px 1%; float: left; width: 99%;}

#right-panel input {border: 0px none; font-size: 18px; background: transparent; line-height: 24px; color: #333333;}

input.submit-button {color: #FFFFFF; text-decoration: none; background: #00882D !important; padding: 5px 14px !important; font-size: 18px !important; text-shadow: 1pt 1pt 1pt #111111 !important;}

div.submit-button a {color: #FFFFFF; text-decoration: none; background: #00882D !important; padding: 8px 18px !important; font-size: 18px !important; display: block; margin: 0px; float: left; -moz-border-radius: 11px; -khtml-border-radius: 11px; -webkit-border-radius: 11px; border-radius: 11px;}

#right-panel label {font: 19px "Univers LT 55", "Lucida Grande", "Lucida Sans", Arial; color: #efefef; float: left; padding-top: 6px; width: 240px;}

#blog-network-name {margin: 0px; padding: 0px 0px 20px; float: left; width: 100%;}

#blog-network-name p {background: url(../images/input-box.png) repeat-x; margin: 0px 0px 0px 10px; padding: 0px; float: left; height: 33px; width: 330px; border: 1px solid #FFFFFF;}

#blog-network-domain {margin: 0px; padding: 0px 0px 25px; float: left; width: 100%;}

#blog-network-domain p {background: url(../images/input-box.png) repeat-x; margin: 0px 0px 0px 10px; padding: 0px; float: left; height: 33px; width: 180px; border: 1px solid #FFFFFF;}

#blog-network-domain span {font: 19px/33px "Univers LT 55", "Lucida Grande", "Lucida Sans", Arial; color: #FFFFFF; padding-left: 5px;}

.blog-name {margin: 7px 0px 0px 8px; padding: 0px; border: 0px none; font-size: 15px; color: #1B1B1B; float: left; width: 95%; background: transparent;}

#top-content {margin: 0px; padding: 0px; float: left; width: 100%; background: url(../images/shade-intro.jpg) repeat-x bottom;}

#wrap-top-content {margin: 0px auto; padding: 0px; width: auto; max-width: 960px;}

#content-top-content {margin: 0px; padding: 0px 0px 45px; width: auto; max-width: 960px; float: left;}

.one-community {float: left; width: 96%; font-size: 22px; line-height: 28px; letter-spacing: -1px; color: #000000; padding-top: 20px; padding-left: 2%; padding-right: 2%;}

.one-community span {font-size: 15px; line-height: 22px; letter-spacing: 0px; color: #666666;}

#container a:hover, #intro-content a:hover {color: #111 !important; text-decoration: underline !important;}

.one-community a, .services-box a, #custom ul.hlist a {color: #234D76; text-decoration: underline;}

#container span.learn-more a {color: #333333 !important; text-decoration: none;}

#container span.learn-more a:hover {color: #fff !important; text-decoration: none !important;}

#intro-content {background: url(../images/3-block-bg.jpg) repeat-x bottom; margin: 0px; padding: 0px; float: left; width: 100%;}

#wrap-intro-content {margin: 0px auto; padding: 0px; width: auto; max-width: 960px;}

#content-intro-content {margin: 0px; padding: 15px 0px 40px; width: 100%; max-width: 960px; float: left;}

.services-box {margin: 0px; padding: 0px 2%; float: left; width: 29%;}

.services-box h2 {color: #000000; margin: 0px 0px 15px; padding: 0px; float: left; width: 100%; letter-spacing: -1px; font: 400 19px "Univers LT 55", "Lucida Grande", "Lucida Sans", Arial;}

.services-box p.stext {font-size: 12px; line-height: 18px; margin: 0px; padding: 0px 0px 40px; float: left; width: 100%; color: #4a4a4a;}

#service-center, #section2 {border-right: 1px solid #eee; border-left: 1px solid #eee;}

ul.hlist {margin: 0px; padding: 0px; float: left; width: 100%; list-style: none;}

ul.hlist li {margin: 0px; padding: 0px 0px 20px; float: left; width: 100%; list-style: none;}


.services-box ul.hlist li h3 {
    color: #111111;
    float: left;
    font: 18px Helvetica,Arial,sans-serif;
    margin: 0 0 5px !important;
    padding: 0 !important;
    width: 100%;
}


ul.hlist li ul {margin: 0px !important; padding: 0px !important; list-style: none; float: left; width: 100%;}

ul.hlist li ul li ul {margin: 0px !important; padding: 0px !important; list-style: none; float: left; width: 100%;}

ul.hlist li ul li {margin: 5px 0px 0px; padding: 0px 0px 5px; float: left; width: 100%;}

ul.hlist li ul li ul li {margin: 0px 0px 5px 0px !important; padding: 0px 0px 5px 0px !important; float: left; width: 100%;}

#wrapper {margin: 0px; padding: 0px 0px 40px 0px; float: left; width: 100%; background: url(../images/footer-shade.jpg) repeat-x bottom;}

#wrapper, #footer, #intro-content {font-size: 0.6875em; line-height: 1.65em;}

#container {margin: 0px auto; padding: 0px; width: auto; max-width: 960px;}

.content {margin: 0px; padding: 25px 0px 0px; width: 100%; float: left;}

h2.services-brief {margin: 0px 0px 20px; padding: 0px 0px 5px; float: left; width: 100%; font: normal 25px "Univers LT 55", "Lucida Grande", "Lucida Sans", Arial; color: #000000; text-align: center; border-bottom: 1px solid #eee; letter-spacing: -1px;}

#services-content {margin: 0px; padding: 0px; float: left; width: 100%;}

#services-content .sbox {margin: 0px; padding: 0px 2%; float: left; width: 29%; height: 420px;}

#services-content .sbox .simg {background: url(../images/sbox.jpg) no-repeat; margin: 0px; padding: 15px 18px 20px 15px; float: left; height: 145px; width: 91%; }

.simg .img-services {margin: 0px; padding: 0px; float: left; height: 145px; width: 100%; overflow: hidden; border: 1px solid #ddd;}

#services-content h3 {margin: 0px; padding: 15px 0px 0px; float: left; width: 100%; color: #111; letter-spacing: -1px; font: normal 18px "Lucida Grande", "Lucida Sans", Arial;}

#services-content .sbox p {font-size: 12px; line-height: 18px; margin: 0px; padding: 15px 0px 0px; float: left; width: 100%;}

#container a {color: #234D76; text-decoration: underline;}

.sbox p a {color: #234D76; text-decoration: underline;}

.sbox p a:hover {color: #777; text-decoration: underline;}

#services-content .sbox p .learn-more {margin: 0px; padding: 15px 0px 0px; float: left; width: 100%;}

.learn-more a {background: url(../images/learn-more.jpg) no-repeat left top; display: block; margin: 0px; padding: 0px; float: left; height: 28px; width: 104px; text-align: center; font-size: 11px; color: #333333; text-decoration: none !important; line-height: 22px;}

.learn-more a:hover {background: url(../images/learn-more.jpg) no-repeat left bottom; display: block; margin: 0px; padding: 0px; float: left; height: 28px; width: 104px; text-align: center; font-size: 11px; color: #FFFFFF !important; text-decoration: none !important; line-height: 22px;}

#services-banner {text-align: center; margin: 0px; padding: 15px 0px 5px; float: left; width: 100%;}

#footer {background: #19252f url(../images/footer-bottom-shade.png) repeat-x bottom; margin: 0px; padding: 0px; float: left; width: 100%;}

#footer img.avatar {margin-right: 5px; margin-bottom: 5px; border: 2px solid #858E96 !important;}

#footer-wrap {margin: 0px auto; padding: 0px; width: 100%; max-width: 960px;}

#footer-content {margin: 0px; padding: 0px; width: 100%; max-width: 960px; float: left;}

#footer-content #links {margin: 0px; padding: 35px 0px 0px; float: left; width: 100%;}

.linkbox { margin: 0px; float: left; width: 20%; padding-right: 4%; }

.linkbox .list {margin: 0px; padding: 0px; float: left; width: 100%; list-style: none;}

.linkbox .list li {margin: 0px; padding: 0px 0px 25px; float: left; width: 100%; list-style: none; color: #858E96; font-style: normal;}

.linkbox .list a {color: #858E96; text-decoration: none;}

.linkbox .list li h3 {margin: 0px 0px 15px; padding: 0px; float: left; width: 100%; list-style: none; font-family: Helvetica, Arial, sans-serif;
color: #FFFFFF; text-transform: uppercase; font-size: 15px; }

.linkbox .list li ul {margin: 0px; padding: 0px; float: left; width: 100%; list-style: none;}

.linkbox .list li ul li a {}

.linkbox .list li ul li {margin: 0px 0px 5px; padding: 0px 0px 5px; float: left; width: 100%; list-style: none; color: #dce1e6; border-bottom: 1px solid #2D3942;}

.linkbox .list li ul li ul {margin: 0px!important; padding: 0px!important; float: left; width: 100%; list-style: none;}

.linkbox .list li ul li ul li {margin: 5px 0px 0px; float: left; width: 95%; list-style: none; padding: 5px 0px 0px 5%; border: 0px none; font-size: 11px;}

.linkbox .list a:hover {color: #FFFFFF; text-decoration: none;}

#more-idea {margin: 0px; padding: 35px 0px 0px; float: right; width: 29%;}

#more-idea .aligncenter {display: block; clear: both; margin-right: auto; margin-left: auto;}

.start-free-small {background: url(../images/start-free-small.png) no-repeat center center; margin: 25px auto; padding: 0px; height: 51px; width: 245px;}

.start-free-small a {display: block; height: 51px; width: 100%; font-size: 1px; color: #47A03D; text-align: center;}

#bottom-content {background: url(../images/rain-social.png) repeat-x top; margin: 0px; padding: 25px 0px 15px; float: left; width: 100%;}

.bottom-content-inner {width: auto; max-width: 960px; margin-right: auto; margin-left: auto; color: #071a33; font: normal 12px/18px "Univers LT 55", "Lucida Grande", "Lucida Sans", Arial;}

.bottom-content-inner a {color: #000000; text-decoration: none; border-bottom: 1px dotted #999999;}

#about-us {margin: 0px; padding: 0px 6% 30px 8%; float: left; width: 86%;}

#about-us h3 {margin: 0px 0px 15px; padding: 0px; float: left; width: 100%; list-style: none; font: normal 15px "Univers LT 55", "Lucida Grande", "Lucida Sans", Arial; color: #7d8184; text-transform: uppercase;}

#about-us p {font-size: 11px; line-height: 18px; margin: 0px; padding: 0px; float: left; width: 100%; color: #858E96;}

#about-us a {color: #B8BABC; text-decoration: none; border-bottom: 1px dotted #B8BABC; padding-bottom: 0.5px;}

#about-us a:hover {color: #eee; text-decoration: none; border-bottom: 1px dotted #eee; padding-bottom: 0.5px;}

#header-name {margin: 0px; padding: 70px 0px 0px; font-size: 19px; color: #FFFFFF; float: left; width: 400px; font-weight: normal; line-height: 26px;}

#header-name a, p.headtext a {color: #FFCC00; text-decoration: none;}

#content, #post-entry {float: right; border-left: 1px solid #ddd; width: 68% !important; padding: 0px 0px 35px 30px;}
#sidebar {margin: 0px; padding: 0px; float: left; width: 28%;}

#custom #container .full-width {float: left !important; padding: 0 0 35px 0px; border: 0px none !important; width: 100% !important;}

#custom .members-login .page {margin: 0px auto !important; width: 400px; clear: both; float: none; border: 0px none; padding-top: 20px; padding-bottom: 20px;}

#custom .members-login #sidebar-login-form {margin: 0px; padding: 4%; float: left; width: 91%; background: #eee; border-top: 1px solid #CCCCCC; border-right: 1px solid #999999; border-bottom: 1px solid #999999; border-left: 1px solid #CCCCCC; -moz-border-radius: 6px; -khtml-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}

.members-login #sidebar-user-login, .members-login #sidebar-user-pass {width: 90%;}

p.verify {font-size: 13px; font-weight: bold; color: #000000; background: #C2EFD1; border: 1px solid #62D587; margin: 0px; padding: 3%; float: left; width: 92%;}


#sidebar blockquote {margin: 0px 0px 15px; padding: 0px; clear: both; border: 0px none; color: #333333; font: normal normal 12px/18px Helvetica, Arial, sans-serif; letter-spacing: normal; word-spacing: normal;}

#sidebar .align-left {margin: 0px 10px 0px 0px; padding: 0px; float: left;}

#sidebar img {border: 0px none;}

#sidebar .sidebar {margin: 0px; padding: 0px; float: left; width: 100%;}

#sidebar .sidebar-end {margin: 0px; padding: 0px; float: left; width: 100%;}

.sidebar_list {margin: 0px; padding: 0px; float: left; width: 100%; list-style: none;}

.sidebar_list li {margin: 0px; padding: 0px 0px 20px; float: left; width: 97%; list-style: none;}

.sidebar_list li a {color: #666666; text-decoration: none;}

.sidebar_list li h3 {margin: 0px 2% 15px 0px; padding: 0px 3% 0px 0px; float: left; width: 95%; list-style: none; font-size: 15px; color: #000000; text-transform: uppercase; border-bottom: 1px solid #ededed;}

.sidebar_list li ul {margin: 0px; padding: 0px 0px 25px; float: left; width: 100%; list-style: none;}

.sidebar_list li ul li a {color: #888; text-decoration: underline;}

.sidebar_list li ul li a:hover {border-bottom: 1px solid #e5e5e5; color: #000000; text-decoration: underline;}

.sidebar_list li ul li {margin: 0px 0px 8px; padding: 0px; float: left; width: 100%; list-style: none; font-size: 13px; line-height: 20px; color: #333333;}

.sidebar_list li ul li ul {margin: 0px!important; padding: 0px!important; float: left; width: 100%; list-style: none;}

.sidebar_list li ul li ul li {margin: 8px 0px 0px; float: left; width: 100%; list-style: none; font-size: 13px; line-height: 20px; color: #333333; padding: 0px;}

.sidebar_list a:hover {color: #000000; text-decoration: none;}

.sidebar_list select {margin: 0px; padding: 3px; width: 81%; border: 1px solid #D8D8D8; background: #FFFFFF;}

h2#post-description {margin: 0px; padding: 0px 0px 1em; float: left; width: 100%; color: #1C1C1F; letter-spacing: -1px; font: normal 21px Helvetica, Arial, Tahoma, Helvetica;}

div.post {margin: 0px 0px 35px; padding: 0px; float: left; width: 100%; border-bottom: 1px solid #eee;}

div.page {margin: 0px 0px 35px; padding: 0px; float: left; width: 100%; border-bottom: 1px solid #eee;}

h1.post-title {margin: 0px; padding: 0px; float: left; width: 100%; letter-spacing: -1px; font: normal 36px/40px Helvetica, Arial, Tahoma, Helvetica; color: #000000;}

h1.post-title a {color: #000000; text-decoration: none;}

h1.post-title a:hover {color: #145163; text-decoration: none;}

.post-meta {margin: 0px; padding: 5px 0px; float: left; width: 100%; line-height: 24px; color: #999999; font-size: 12px;}

.post-meta a {text-decoration: none; color: #13708A;}

.post-content {margin: 0px; padding: 25px 0px; float: left; width: 100%; font-size: 13px; line-height: 22px; color: #3A3A3A;}

.post-content p {margin-top: 0px; margin-bottom: 18px;}

.post-content h2 {margin: 0px!important; padding: 10px 0px 0px; color: #121212; font: 400 19px/28px Helvetica, "Century Gothic", Arial;}

.post-content h3 {margin: 10px 0px 5px!important; padding: 0px; font-size: 16px;}

.post-content h4 {margin: 2em 0px 0.3em; padding: 0px; font-size: 17px;}

.post-content h5 {margin: 2em 0px 0.3em; padding: 0px; font-size: 16px;}

.post-content h6 {font-size: 14px; margin: 2em 0px 0.3em; padding: 0px;}

.post-content a {text-decoration: none; color: #13708A;}

.post-content a:hover {text-decoration: none; color: #000000;}

.post-content .featured {margin: 0px 0px 12px; padding: 0px 0px 12px; float: left; width: 100%; border-bottom: 1px solid #eee; background: url(../images/feat-shade.jpg) repeat-x left -999px;}

.post-content ul {margin-bottom: 24px; width: 100%; margin-left: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px; margin-top: 0px; list-style: none;}

.post-content ul ul, .post-content ol ol {margin: 0px; list-style: none;}

.post-content ul li {margin-bottom: 5px; margin-left: 35px; padding-left: 0px; list-style: square;}

.post-content ul li ul li {margin-bottom: 0px; margin-top: 5px; margin-left: 15px; padding-left: 0px; list-style: disc;}

.post-content ol {list-style: decimal; margin-bottom: 24px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px; margin-top: 0px; margin-left: 0px;}

.post-content ol li {margin-bottom: 5px; margin-left: 40px; padding-left: 0px; list-style: decimal;}

.post-content ol li ol li {margin-bottom: 0px; margin-top: 5px; padding-left: 0px; list-style: square; margin-left: 15px;}

.post-content .gallery ul {margin: 0px; padding: 0px;}

.post-content .gallery {margin: 0px; padding: 15px 0px 0px!important; float: left; width: 100%!important;}

dl.gallery-item {display: inline-block!important; margin: 0px 15px 15px 0px!important; padding: 0px!important; float: left!important; width: auto!important;}

dt.gallery-icon {margin: 0px!important; padding: 0px!important; float: left!important;} /* @end */

.post-content .featured:hover {margin: 0px 0px 12px; padding: 0px 0px 12px; float: left; width: 100%; border-bottom: 1px solid #eee; background: url(../images/feat-shade.jpg) repeat-x left bottom;}

.post-content #site-search {margin: 0px; padding: 2%; float: left; width: 96%; color: #FFFFFF!important; background: #19252f;}

.post-content #site-search label {padding-left: 10px;}

.post-content #site-search input {font-family: Arial, Helvetica;}

.post-content #site-search p {margin: 0px; padding: 0px; float: left; width: 100%;}

.post-content #site-search .sinput {font-size: 16px; color: #00324A; font-weight: bold; background: #FFFFFF; border: 1px solid #000000; margin: 3px 0px 0px; padding: 3px 6px; width: auto; overflow: visible; -moz-border-radius: 8px;}

.post-content #site-search .sbar {margin: 0px 15px 0px 0px; padding: 7px 6px; float: left; width: 80%; background: #FFFFFF; border: 1px solid #B5D5E8; font-size: 16px; color: #000000; line-height: 120%; font-weight: bold; -moz-border-radius: 8px;}

.post-comments {margin: 0px; padding: 0px; float: right; width: 300px; text-align: right; font: 21px Helvetica, Arial, sans-serif; color: #333333; letter-spacing: -1px;}

.post-comments a {font-size: 15px; color: #333333; text-decoration: none; font-weight: bold;}

.post-comments a:hover {font-size: 15px; color: #13708A; text-decoration: none; font-weight: bold; border-bottom: 1px dotted #CCCCCC;}

#pagination {margin: 0px; padding: 0px; float: left; width: 100%;}

#pagination .aleft {margin: 0px; padding: 0px; float: left; width: 45%;}

#pagination .aright {margin: 0px; padding: 0px; float: right; width: 45%;}

#pagination .aleft a {margin: 0px; padding: 0px; float: left; width: 97px; font-size: 1px; background: url(../images/previous.jpg) no-repeat; text-align: center; display: block; height: 38px; color: #FFFFFF;}

#pagination .aright a {margin: 0px; padding: 0px; float: right; width: 97px; font-size: 1px; background: url(../images/next.jpg) no-repeat; text-align: center; display: block; height: 38px; color: #FFFFFF;}

#pagination-single {margin: 0px; padding: 15px 0px 0px; float: left; width: 100%;}

#pagination-single .aleft {margin: 0px; padding: 0px; float: left; width: 45%;}

#pagination-single .aright {margin: 0px; padding: 0px; float: right; width: 45%; text-align: right;}

#pagination-single a {margin: 0px; padding: 0px; font-size: 13px; color: #333333; text-decoration: none;}

/*////////comments//////////*/

#comments-template {float: left; width: 100%; padding: 1em 0px 0px; border: 1px solid #FFFFFF; margin: 0px;}

#comments-template img {border: 0px none;}

#comments-template h4 {font: 21px/24px Helvetica, Arial, Tahoma, Helvetica; margin: 20px 0px; padding: 0px 0px 5px; float: left; width: 100%; color: #333333; border-bottom: 1px solid #ddd; letter-spacing: -1px;}

.box-com {margin: 0px 0px 2em; padding: 0px; float: left; width: 99%; background: #FFFFFF; border: 1px solid #CCCCCC; list-style: none;}

#comments-template a {color: #6BB264; text-decoration: none;}

#comments-template a:hover {color:#999999 !important; text-decoration: none;}

.commentlist .children {list-style: none; margin: 0px; padding: 0px 5%; float: left; width: 90%;}

.commentlist .children li {list-style: none; float: left; width: 100%; margin-right: 0px; margin-left: 0px; padding-right: 0px; padding-left: 0px;}

.commentlist {margin: 10px 0px; padding: 0px; list-style: none; float: left; width: 100%;}

.commentlist li {margin-left: 0px; padding: 0px;}

.blog-avatar {margin: 0px; padding: 0px 0px 0px 10px; float: right;}

.blog-avatar img {height: 32px; width: 32px;}

.blog-box {margin: 0px; padding: 2px 1% 2px 2%; float: left; width: 97%; border-bottom: 1px solid #CCCCCC; background: #f8f8f8;}

.blog-text .avatar {margin: 0px 6px 0px 0px; padding: 0px;}

.blog-text cite {}

#comments-template .alt {background: #19252F; color: #FFFFFF; border-bottom: 1px solid #2D3942;}

#comments-template .alt a {color: #FFFFFF; text-decoration: none;}

.blog-user {margin: 0px; padding: 8px 0px 0px; font-size: 15px; line-height: 18px; float: left;}

.blog-date {margin: 0px; padding: 0px 0px 5px; font-size: 10px; color: #666666; line-height: 18px; font-weight: normal;}

.blog-text {margin: 0px; padding: 10px 2%; font-size: 13px; line-height: 20px; font-weight: normal; overflow: hidden; float: left; width: 96%;}

.blog-text cite {font-size: 14px; line-height: 20px; font-style: normal;}

.blog-text .avatar {display: block; margin: 0px 8px 0px 0px; padding: 15px 0px 0px; float: left;}

.blog-text .comment-childs {margin: 5px 2px 2px 4px; padding: 2%; background: #F9F9F9; border: 1px solid #ddd; font-size: 13px;}

.comment-childs .comment-childs {margin: 5px 2px 2px 4px; padding: 2%; background: #FFFFFF!important; font-size: 13px; border: 1px solid #CCCCCC;}

.blog-text small {font-size: 10px; color: #666666; line-height: 18px; font-weight: normal;}

.box-com-author {margin: 0px 0px 1em; padding: 3%; float: left; width: 92%; border: 1px solid #ededed; background: #F2F2F2;}

.box-com-alt {margin: 0px 0px 1em; padding: 3%; float: left; width: 92%; background: #F9F9F9; border: 1px solid #ddd;}

p.thdrpy {color: #FFFFFF; font-family: Arial, Tahoma, "Lucida Sans";}

p.thdrpy a {padding: 2px 4px; font-size: 10px; color: #FFFFFF!important; text-decoration: none; border: 1px solid #3C3C34; background: #33322D;}

p.thdrpy a:hover {padding: 2px 4px; font-size: 10px; color: #FFFFFF!important; text-decoration: underline; border: 1px solid #19252F; background: #19252F;}

#pingback {list-style: none; width: 100%; margin: 0px; padding: 0px 0px 2em; float: left;}

#pingback li {font-size: 10px; margin: 0px; padding: 7px 0px; float: left; width: 100%; line-height: 17px; border-bottom: 1px solid #eee;}

#pingback li a {font-size: 13px; font-weight: 400; text-decoration: none; color: #19252F;}

#pingback li a:hover {font-size: 13px; font-weight: 400; text-decoration: underline; color: #000000;}

#comment-form {margin: 0px 0px 20px; padding: 3%; float: left; width: 94%; background: #19252F; border: 1px solid #17222B;}

#comment-form label {font-size: 14px; line-height: 16px; font-weight: normal; color: #FFFFFF;}

#comment-form p {padding: 0px; margin: 4px 0px 0px; font-size: 12px; color: #FFFFFF;}

#comment-form .inbox {padding: 4px; width: 60%; background: #FFFFFF; font-size: 13px; margin-bottom: 20px; border-top: 1px solid #999999; border-right: 1px solid #efefef; border-bottom: 1px solid #efefef; border-left: 1px solid #999999; color: #000000;}

#comment-form label span {color: #FFCC33; text-decoration: none;}

#comment-form .inarea {padding: 0px; width: 95%; background: #FFFFFF; height: 225px; font: 13px/20px Arial, sans-serif; border-top: 1px solid #999999; border-right: 1px solid #efefef; border-bottom: 1px solid #efefef; border-left: 1px solid #999999; margin: 0px 0px 5px; color: #333333;}

#comment-form #notify {font-size: 13px; line-height: 18px; margin: 15px 0px 0px; padding: 0px; float: left; width: 100%; color: #666666;}

#comment-form input.sbutton {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3C8633', endColorstr='#3C8633',GradientType=0 ); /* IE6-9 */
background: #3C8633; margin: 0px 0px 1em; padding: 0px 6px 3px; font-size: 14px; height: 25px; color: #FFFFFF; line-height: 25px; width: auto; overflow: visible; border-top: 0px none; border-right: 0px none; border-bottom: 0px none; border-left: 0px none;} /* @group signup page form */

form.sitecreationform fieldset.maindetails label {font: bold 18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; letter-spacing: -1px; font-weight: normal; color: #000000; float: left; width: 200px; vertical-align: middle; padding-top: 5px;}

form.sitecreationform fieldset.maindetails input {font: bold 18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; letter-spacing: -1px; font-weight: normal; color: #444; width: 250px; margin-bottom: 15px; background: transparent url(../images/input-box.png) repeat-x scroll -2px -2px; padding-left: 3px;}

br.clear {clear: both;}

form.sitecreationform fieldset.maindetails span.main-domain {color: #000; font: bold 16px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; letter-spacing: -1px; font-weight: normal; margin-left: 5px;}

.sitecreationform {background: #eee; padding: 20px; margin-bottom: 20px; -moz-border-radius: 11px; -khtml-border-radius: 11px; -webkit-border-radius: 11px; border: 1px solid #ddd;}

.sitecreationform fieldset.maindetails {background: #ccc; padding: 20px; margin-bottom: 20px; -moz-border-radius: 11px; -khtml-border-radius: 11px; -webkit-border-radius: 11px; border: 1px solid #bbb;}

.sitecreationform fieldset.secondarydetails {background: #ddd; padding: 20px; margin-bottom: 20px; -moz-border-radius: 11px; -khtml-border-radius: 11px; -webkit-border-radius: 11px; border: 1px solid #ccc;}

.sitecreationform fieldset.secondarydetails label {font: bold 18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; letter-spacing: -1px; font-weight: normal; color: #000000; float: left; width: 200px; vertical-align: middle; padding-top: 5px;}

.sitecreationform fieldset.secondarydetails input {font: bold 18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; letter-spacing: -1px; font-weight: normal; color: #444; width: 250px; margin-bottom: 15px; background: transparent url(../images/input-box.png) repeat-x scroll -2px -2px; padding-left: 3px;}

div.sitecreationmessage {margin-bottom: 20px; background: #ffc9ca; border-top: 1px solid #ff9396; border-bottom: 1px solid #ff9396; padding: 10px;}

.sitecreationform fieldset input.error {border: 2px solid #e55f62; color: #ff1727;}

#post-navigator {margin: 0em 0em 2em; padding: 0px; float: left; width: 100%;}

#post-navigator-single {margin: 1em 0em; padding: 0px; float: left; width: 100%; font-size: 1em;}

.wp-pagenavi {float: left; width: 100%; margin: 0px; padding: 1em 0em;}

.wp-pagenavi .pages {font-size: 12px; padding: 5px 8px; margin-right: 5px; background: #eee; border: 1px solid #CCCCCC;}

#post-navigator .current, #post-navigator a:hover {background: #234D76; padding: 4px 8px; margin-left: 4px; color: #FFFFFF !important; text-decoration: none !important; border: 1px solid #234D76;}

#post-navigator a {color: #234D76; background: #FFFFFF; padding: 4px 8px; margin: 0px 0px 0px 4px; text-decoration: none; border: 1px solid #234D76;}

#post-navigator .alignleft {margin: 0px; padding: 8px 0px; float: left; width: 45%; overflow: hidden;}

#post-navigator .alignright {margin: 0px; padding: 8px 0px; float: right; width: 45%; overflow: hidden; text-align: right;}

#post-navigator-single .alignleft {margin: 0px; padding: 8px 0px; float: left; width: 45%; overflow: hidden;}

#post-navigator-single .alignright {margin: 0px; padding: 8px 0px; float: right; width: 45%; overflow: hidden; text-align: right;}

#post-navigator-single a {text-decoration: none; color: #234D76;}

#post-navigator-single a:hover {color: #000000; text-decoration: underline;}

.cancel-comment-reply a {margin: 0px; padding-bottom: 20px; float: left;}

.cancel-comment-reply {margin: 0px; float: left; padding: 0px; width: 100%;}

#li-user {margin: 0px; padding: 0px; float: right; width: auto !important; font-size: 13px;}

#li-user .user-tab {margin: 0px; padding: 0px; width: auto; float: right;} 

/* -----------------------------------*/ 
/* >> Dropdown Navigations <<<-----*/ 
/* -----------------------------------*/ 
/* Holly Hack. IE Requirement \*/



#navigation {background: #1F2122 none; margin: 0px; padding: 10px 2%; float: left; width: 96%; }
#page-navigation {margin: 0px auto; padding: 0px; width: auto; max-width: 980px;}
#nav li.current_page_item a, #nav li.current_menu_item a, #nav li.current-menu-item a, #nav li.home a, #nav li.selected a {
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #252D30;
	color: #fff;
}
#nav li.current_page_item a:hover, #nav li.current_menu_item a:hover, #nav li.current-menu-item a:hover, #nav li.home a, #nav li.selected a:hover {
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background: #1A3B4C;
	color: #fff;
}

#nav {
	margin: 0px !important;
	padding: 0px !important;
	list-style: none;
	float: left;
	position: relative;
	font-size: 1em;
    z-index: 1000 !important;
    width: 100%;
}
#nav ul {
	background: transparent;
}


#nav li {
	position: relative;
	display: inline-block;
	float: left;
	margin: 0px;
	padding: 0px;
	}   
#nav li:hover {
	position: relative;
	display: inline-block;
	float: left;
	margin: 0px;
	padding: 0px;
	
	}

#nav li li{
	background: url(none)!important;
	padding: 0px!important;
	}

#nav li ul {
	position: absolute;
	left: 0px; /* Set 1px less than menu width */
	top: 28px;
	display: none;
	margin: 0px;
	padding: 0px;
	width: 180px;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
	border-top-width: 0px;
	border-top-style: none;
	list-style-type: none;
	box-shadow: 1px 2px 5px #111;
	-moz-box-shadow: 1px 2px 5px #111;
	-webkit-box-shadow: 1px 2px 5px #111;
	background: #252D30;
	}

/* Styles for Menu Items */
#nav li a {
	text-decoration: none;
	color: #BED2D6;
	display: inline-block;
	padding: 0px 15px;
	margin: 0px;
	float: left;
	font-size: 1em;
	line-height: 28px;
	}
#nav li a:hover {
	text-decoration: none;
	color: #FFF;
	display: inline-block;
	padding: 0px 15px;
	margin: 0px;
	float: left;
	font-size: 1em;
	line-height: 28px;
	}

#nav ul li a {
	text-decoration: none;
	color: #FFFFFF;
	display: inline-block;
	padding: 5px 15px 5px 15px;
	margin: 0px;
	float: left;
	width: 150px;
	font-size: 0.75em;
	line-height: 18px;
	border-left: 0px none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-top-style: none;
	border-right-style: none;
	}
#nav ul li a:hover {
	text-decoration: none;
	color: #FFFFFF;
	display: inline-block;
	padding: 5px 15px 5px 15px;
	margin: 0px;
	float: left;
	width: 150px;
	font-size: 0.75em;
	line-height: 18px;
	border-left: 0px none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-top-style: none;
	border-right-style: none;
	background: #386367;
	}

/* Holly Hack. IE Requirement \*/
* html ul li { float: left; height: 1%; }
* html ul li a { height: 1%; }

#nav li.arrow {
	background: url(../images/subarrow.gif) no-repeat 99% 14px;
	margin-right: 6px;
}
#nav li ul li.subarrow a {
	background:  url(../images/subsubarrow.gif) no-repeat 95% 14px;
	margin-right: 0px;
}
#nav li ul li.subarrow a:hover {
	background: #386367 url(../images/subsubarrow.gif) no-repeat 95% 14px;
	margin-right: 0px;
}

#nav li ul li.subarrow li a {
	background: transparent none !important;
	}
	#nav li ul li.subarrow li a:hover {
	background: #386367 none !important;
	}
/* End */

#nav li:hover ul, #nav li.over ul { display: block; } /* The magic */
#custom #nav li ul li:hover ul, #custom #nav li ul li.over ul { display: block; } /* The magic */
#custom #nav li ul li ul li:hover ul, #custom #nav li ul li ul li.over ul { display: block !important; } /* The magic */
/* -----------------------------------*/
/* >> End Dropdown Navigations <<<-----*/
/* -----------------------------------*/
#custom #nav li ul li ul {
	position: absolute;
	left: 180px; /* Set 1px less than menu width */
	top: 0px;
	display: none;
	margin: 0px;
	padding: 0px;
	width: 180px;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
	border-top-width: 0px;
	border-top-style: none;
	list-style-type: none;
}
#custom #nav li ul li ul li ul {
	position: absolute;
	left: 180px; /* Set 1px less than menu width */
	top: 0px;
	display: none !important;
	margin: 0px;
	padding: 0px;
	width: 180px;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
	border-top-width: 0px;
	border-top-style: none;
	list-style-type: none;
}


/* -----------------------------------*/ 
/* >> End Dropdown nav-topigations <<<-----*/ 
/* -----------------------------------*/

input [ type = 'text' ], input [ type = 'password' ], textarea, select {background: #FFFFFF; padding: 4px 2px; border-top: 1px solid #aaa; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; border-left: 1px solid #aaa; margin: 0px 0px 5px; font: 12px Arial, sans-serif;}

input [ type = 'submit' ], input [ type = 'button' ], input.button, input.submit {padding: 2px 5px; margin: 0px 0px 5px; text-decoration: none; overflow: visible; background: #234D76; -moz-border-radius: 6px; -khtml-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 0px none;}

div#random-groups {margin: 0px; padding: 0px; float: left; width: 100%; list-style: none;}

div#random-groups .item-avatar {margin: 0px 28px 0px 0px; padding: 0px; float: left; width:auto !important; list-style: none;}

#sidebar .item-avatar {margin-right: 1px !important; float: left; margin-bottom: 1px !important;}

.item-list .item-avatar {margin-bottom: 10px !important;}

.av-border, #sidebar .avatar {background: #FFFFFF; padding: 5px; border: 1px solid #ddd !important;}

.av-border:hover, #sidebar .avatar:hover {background: #FFFFFF; padding: 5px; border-top: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #999999; border-left: 1px solid #999999;} /*  * Note: Include the nivo-slider.css file that comes  * with the main download before including this file.  */

#slider-wrapper {width: 420px; height:280px !important;}

#slider {
position: relative; background: #181919 url(../images/ajax-loader.gif) no-repeat 50% 50%; width: 100%; height:280px !important;
}

#slider h1 {font-size: 1.25em; margin: 0px; padding: 0px;}

#slider img { position: absolute; top: 0px; left: 0px; display: none;}

#slider a {border: 0; display: block;}

.nivo-controlNav {position: absolute; right: 0; display: none; top: 0; padding: 0 5px; background: White; z-index: 999;}

.nivo-controlNav a {display: block; width: 10px; height: 10px; /*background:url(../images/nivo/bullets.png) no-repeat;*/ /*text-indent:-9999px;*/ border: 0; margin-right: 3px; float: left; color: #666666; font: 10px Helvetica, Arial, sans-serif; text-align: center; padding: 2px 2px 4px 2px;}

.nivo-controlNav a.active { /*background-position:-10px 0;*/background: #666666; color: #ffffff;}

.nivo-directionNav a {display: block; width: 31px; height: 34px; background: url(../images/arrows.png) no-repeat; text-indent: -9999px; border: 0;}

a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

/*  * jQuery Nivo Slider v1.9  * http://nivo.dev7studios.com  *  * Copyright 2010, Gilbert Pellegrom  * Free to use and abuse under the MIT license.  * http://www.opensource.org/licenses/mit-license.php  *  * March 2010  */ /* The Nivo Slider styles */

.nivoSlider {
position: relative;
}

.nivoSlider img {position: absolute; top: 0px; left: 0px; width: 100% !important; height: auto; float: left;} /* If an image is wrapped in a link */

.nivoSlider a.nivo-imageLink {position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border: 0; padding: 0; margin: 0; z-index: 60; display: none;} /* The slices in the Slider */

.nivo-slice {display: block; position: absolute; z-index: 50; height: 100%;} /* Caption styles */

.nivo-caption {position: absolute; left: 0px; bottom: 0px; background: #000; color: #fff; opacity: 0.8;/* Overridden by captionOpacity setting */ width: 96%; z-index: 89; padding: 2%;}

.nivo-caption p {padding: 5px; margin: 0;} /* Direction nav styles (e.g. Next & Prev) */

.nivo-directionNav a {position: absolute; top: 45%; z-index: 99; cursor: pointer;}

.nivo-prevNav {left: 0px;}

.nivo-nextNav {right: 0px;} /* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav a {position: relative; z-index: 99; cursor: pointer;}

.nivo-controlNav a.active {font-weight: bold;}

#custom #qa-page-wrapper {
	float: right;
	overflow: hidden;
	width: 640px;
	padding-bottom: 2em;
}

#sidebar .widget_my_wpmudev_twitter_widget li {
     width: 90%;
     float:left;
     margin: 0px 0px 10px 0px;
     padding: 0px 0px 10px 0px;
     border-bottom: 1px solid #ddd;
      white-space: pre-wrap;
    word-wrap: break-word;
}

#footer .widget_my_wpmudev_twitter_widget li {
     width: 90%;
     float:left;
     margin: 0px 0px 10px 0px;
     padding: 0px 0px 10px 0px;
     border-bottom: 0px none;
      white-space: pre-wrap;
    word-wrap: break-word;
}





#mobile-search {
display: none;
width: 96%;
  padding: 0 2%;
  float:left;
}


.post-content table {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #CCCCCC;
    border-collapse: collapse;
    margin: 5px 0 10px;
}
.post-content th {
    background: none repeat scroll 0 0 #EDEFF0;
}
.post-content th, .post-content td {
    border: 1px solid #CCCCCC;
    padding: 3px 10px;
    text-align: left;
    vertical-align: top;
}

table {clear: both;}

/* added responsive css */

@media only screen and (min-width: 490px) and (max-width: 770px) { /*ipad 768px */
  #random-groups img {
    width: 105px !important;
    height: 105px !important;
  }
   #footer .linkbox {
     width: 45%;
display: block;
   }

    #services-content .sbox {
             margin: 0px 20px;
    width: 38%;
}
.mobile-blk {
  width: 100%;
  float:left;
}


  }

@media only screen and (max-width: 480px) {
.item-list div.action {
  float: left;
  margin: 1em 0;
  top: 0px !important;
  position: relative !important;
  text-align: left !important;
  width: 100%;
}

#custom div#random-groups img { width: auto;
max-width: 80px;
height: auto;
max-height: 80px;
margin: 0px 10px 10px 10px;
 }


.wp-caption {
     max-width: 200px !important;
     padding: 10px !important;
   }
     .post-content img {
     max-width: 200px !important;
     width: auto !important;
     height: auto !important;
   }
      .directory ul.item-list li div.action {
         top: 14px !important;
}

    #sidebar {
      margin: 30px 0px 0px !important;
    }


  #page-navigation,#mobile-search #searchform label,#mobile-search #searchform input[type='submit'] {
    display: none;
  }


#mobile-search {
  display: inline;
}
 form#searchform {
     width: 50%;
     float:left;
     margin: 0px 0px 10px 0px !important;
     padding: 0px;
   }

   form#searchform input[type='text'] {
     width: 90%;
     border: 5px solid #222;
     float:left;
     background: #444 url(../images/magnify.gif) no-repeat 97% center;
     margin: 0px;
     color: #fff;
     font-size: 12px;
     padding: 0.5em 1em;
   }
   #mobile-search select {
     float:right;
        width: 40%;
        background: #444;
     border: 5px solid #222;
          margin: 0px;
     color: #fff;
     font-size: 12px;
     padding: 0.5em 1em;
   }


body#custom {
  width: 100%;
}
h1.post-title {
  font-size: 22px;
  line-height: 27px;
}


#li-user, .user-tab {
  float: none !important;
}

#content-intro-content, #intro-content {
  width: 100%;
}

#header-name-alt, #top-bg .alignleft, #top-bg .alignright, #bottom-content .alignleft, #bottom-content .alignright {
  width: 100%;
  padding: 0px 0px 1em 0px;
  text-align: center;
}


.top-bg-inner {
    width: 100%;
}
#top-bg .alignleft, #top-bg .alignright {
  padding: 0px;
}


.top-bg-inner img {
  max-width: 220px;
  height: auto;
}
#header-gfx, #header-gfx-inner {
     width: 100%;
  margin: 10px 0px;
  overflow: hidden;
}


#footer-wrap, #footer-content, #page-navigation, #wrap-intro-content, #container, .content, .bottom-content-inner, #wrap-top-content, #content-top-content {
  width: 100%;
}
#custom #content, div#post-entry {
  width: 93% !important;
  padding: 0px 3% !Important;
  border: 0px none;
  float:left;
}



#sidebar {
  width: 93%;
  margin: 40px 0px 0px 0px;
  padding: 0px 3%;
}
div#topic-meta div.admin-links {
  right: 19px;
  top: -126px;
}

.linkbox, .services-box {
  width: 90%;
  padding: 1% 4%;

}
#intro-featured-img {
  width: 100%;

}

#services-content {
  width: 96%;
  padding: 20px 2% 0px 2%;
}
.learn-more a, .learn-more a:hover {
  float: none;
  margin: 0 auto;
}


#services-content .sbox  {
  width: 94%;
  margin: 0px 0px 20px 0px;
  padding: 0px;
 height: auto;
        text-align: center;
}

#services-content .sbox .simg  {
  width: 100%;
  padding: 0px;
  border: 0px none;
  background: transparent none;
  height: 100px;
}
.simg .img-services  {
  width: 100%;
  height: 100px;
  border: 0px none;
}

.simg .img-services img {
  max-width: 100%;
  height: auto;
}


#left-panel, #right-panel {
  width: 94%;
  padding: 1% 2%;
              }

div.dir-search {
  float: left;
  width: 100%;
  margin: 10px 0px !important;
}

.directory div.item-title, div.item-desc {
    width: 100% !important;
    margin: 0px !important;
  }

   .directory div.action {
    width: 100%;
    display: block;
    float:left;
    text-align: left !important;
    position: relative !important;
    margin: 5px 0px 20px 0px;
  }




}


@media only screen and (max-width: 768px) {
  #right-panel, #bottom-content, #footer, #header-name-alt {
    width: 96%;
    padding: 1em 2% 2em 2%;
  }
  #top-bg {
    width: 96%;
    padding: 0 2%;
  }


  #left-panel {
    float: none;
    margin: 0 auto;
}

#content, #post-entry {
    border: 0px none !important;
    float: left;
    padding: 0 2% 35px 2%;
    width: 95% !important;
}
#sidebar {
    float: left;
    margin: 0;
    padding: 0;
     padding: 0 2% 15px 2%;
    width: 95% !important;
}
}

@media only screen and (max-width: 320px) {
#intro-featured-img {
  height: 150px;
  }
  }

/* 4-1338868607 */

/* 18246-1344572699-ai */