/***********************************************************
 Global Reset
************************************************************/

*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ul { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight: normal; }
q:before, q:after { content:'' }
a { text-decoration:none }
strong { font-weight:bold }
em { font-style:italic }
* a { position:relative }
a img { border:none }
* { outline: none; }

/***********************************************************
 Let the games begin...
************************************************************/

html {

	font: 62.5% normal "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Verdana, Arial, sans-serif;
}

body {
	background: #FFFFFF url(../images/bodybg.gif) repeat-x;
	font-size: 1.2em;
	color: #555;
	line-height: 170%;
	margin: 0 auto;
}
#wrapper {
	margin: 0px auto;
	width: 960px;
}

div.clear {
	clear: both;
}

a { color: #DA0000; text-decoration: underline; }
a:hover { color: #555; text-decoration: none; }
a.selected { color: #555; text-decoration: none; }

/*** SEARCH / LOGIN BAR **********/

#search-login-bar {
	border-top: 10px solid #DA0000;
	background: #fff9df;
	padding: 7px 20px;
}
	#search-login-bar #search-form {
		float: left;
		margin-top: 1px;
	}
		#search-login-bar #search-terms {
			width: 200px;
			margin-right: 4px;
			color: #888;
		}

		#search-login-bar #search-which {
			margin-right: 2px;
		}

	#search-login-bar #login-form, #logout-link {
		float: right;
	}
	
	#logout-link img {
		vertical-align: middle;
	}


/*** HEADER **********/
/*** For taller logo, replace the height of #header to move the page down **********/
#header {
	padding: 20px;
	height:50px;
}
	#header h1 a {
		text-indent: -999em;
		background: url(../images/logo.png) top left no-repeat;
		overflow: hidden;
		width: 214px;
		height: 35px;
		display: block;
		float:left;
	}
	
	#bp_search_form {
		float:right;
	}
	
#nav {
	background: url(../images/nav_bg.gif) top left no-repeat;
	width: 100%;
	font-family: "Trebuchet MS", Tahoma, "VAGRounded BT", Verdana;

}
	
	#nav ul {
		float: left;

	}
		#nav ul li {
			float: left;

		}
			#nav ul li a {
				color: #fff;
				display: block;
				padding: 5px 15px;
				text-decoration: none;
			}
			
			#nav ul li.selected a {
				color: #FF3939;
				font-weight: bold;
			}
			
/*** popup login **********/

 #popupbox{
	margin: 24px 0 0 0;
	position: absolute;
	z-index: 9;
	visibility: hidden;
	background: #fff;
	float: left;
	border: 5px solid #7C7C7C;
	padding: 15px;
	color: #563C76;
	font: 120% bold "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Verdana, Arial, sans-serif;
	width: 172px;
}

	#login-form-wrap {
		width: 170px;
		margin: 20px auto;
	}
	
	#no-account-register {
		margin-left: 5px;
		color: #DA0000;
		font: 88% normal "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Verdana, Arial, sans-serif;
	}
	
	#close-popup-login a {
	float: right;
	margin-top: 25px;
	text-decoration: none;	
	}
	
	
	
	
	
	
#profile-wrapper {
	background: url(../images/profile-background-shade.jpg) repeat-y;
	border-top: 4px solid #C0C0C0;
	margin: 0px 0 0 2px;
	width: 942px;
		overflow: visible;
		height: 100%;
}

#profile-background {
	background: url(../images/profile-background.jpg) repeat-y;
	margin: 50px 8px 0 8px;
	overflow: visible;
	min-height: 500px;
}

#profile-background-shade-bottom {
	background: url(../images/profile-background-shade-bottom.jpg) repeat-y;
	/* border-bottom: 4px solid #000; */
	margin: 0 0 0 0px;
	width: 942px;
	height: 46px;
}

#activity-rss {
	margin: 8px 2px 3px 0;
}

/**************************
 USER BAR
***************************/

#userbar {
	width: 138px;
	float: left;
	position: relative;
}
	#userbar ul li {
		float: none;
		margin-right: 0;
	}
	
	#userbar h3 {
		font: bold 1em "Georgia", Times, serif;
		text-transform: uppercase;
		text-align: center;
		background: #808080;
		padding:7px 0 8px 0;
		color: #fff;
	}

	#userbar p.avatar {
		text-align: center !important;
		float: none;
		margin: 1em 0 0 0;
	}

	#userbar img.avatar {
		margin: 0;
		float: none;
	}
		.crop-img {
			position: relative;
			padding-left: 276px;
			margin-left: -276px;
		}
			#create-group-form .crop-img {
				padding-left: 476px !important;
				margin-left: -476px !important;	
			}

	#userbar p#login-text {
		text-align: center;
		margin: 0.4em 0;
		float: none;
	}	
	
	#userbar p#login-text {
		padding: 0.5em 1em 0 1em;
	}
	
		p.avatar img {
			border: 4px solid #fff;
		}
	
	#userbar form {
		padding: 1em 1.5em 1em 1em;
	}
		#userbar form input {
			width: 100%;
		}
	
	#userbar ul#bp-nav {
		width: 149px;
		margin: 1.75em 0 0 0;
		z-index: 999 !important;
		position: relative;
	}
		#userbar ul#bp-nav li.current {
			text-decoration: none;
		}
			#userbar ul#bp-nav li a {
				font-size: 1em;
				color: #fff;
				padding: 0.55em 3em 0.55em 0;
				display: block;
				text-align: right;
				margin-right: 0.85em;
				text-decoration: none;
			}
				#userbar ul#bp-nav li.current a {
					color: #C0C0C0;
				}
			
				li a#user-profile, li a#my-profile {
					background: url(../images/profile_bullet.gif) 88% 52% no-repeat;
				}

				li a#user-messages, li a#my-messages {
					background: url(../images/messages_bullet.gif) 89% 52% no-repeat;
				}			
				
				li a#user-blogs, li a#my-blogs {
					background: url(../images/blog_bullet.gif) 87% 52% no-repeat;
				}
				
				li a#user-friends, li a#my-friends {
					background: url(../images/friends_bullet.gif) 87% 52% no-repeat;
				}
				
				li a#user-groups, li a#my-groups {
					background: url(../images/groups_bullet.gif) 88% 52% no-repeat;
				}
				
				li a#user-wire, li a#my-wire {
					background: url(../images/wire_bullet.gif) 88% 52% no-repeat;
				}

				li a#user-activity, li a#my-activity {
					background: url(../images/activity_bullet.gif) 88% 52% no-repeat;
				}
				
				li a#user-settings, li a#my-settings {
					background: url(../images/settings_bullet.gif) 88% 52% no-repeat;					
				}
				
				li a#wp-logout {
					background: url(../images/logout_bullet.gif) 87% 52% no-repeat;
				}
				
				li a#group-home, li a#group-wire, li a#group-photos, li a#group-forum,
				li a#group-members, li a#group-invite, li a#group-leave, li a#group-admin
				li a#request-membership {
					background: url(../images/groups_bullet.gif) 88% 52% no-repeat;
					padding: 0.55em 3.1em 0.55em 0 !important;
					display: block;
					margin-right: 0.85em;
				}
					li a#group-forum {
						background: url(../images/forum_bullet.gif) 88% 52% no-repeat;	
					}

					li a#group-members {
						background: url(../images/friends_bullet.gif) 87% 52% no-repeat;	
					}
					
					li a#group-invite {
						background: url(../images/invite_bullet.gif) 89% 52% no-repeat;	
					}

					li a#group-leave {
						background: url(../images/cross_bullet.gif) 88% 52% no-repeat;	
					}
					
					li a#group-wire {
						background: url(../images/wire_bullet.gif) 88% 52% no-repeat;
					}	
					
					li a#group-admin {
						background: url(../images/blogadmin_icon.gif) 87% 52% no-repeat;
					}
					
					li a#request-membership {
						background: url(../images/request_bullet.gif) 87% 25% no-repeat;
					}

/**************************
 OPTIONS BAR
***************************/

#optionsbar {
	width: 138px;
	float: left;
	position: relative;
}
	#optionsbar ul li {
		float: none;
		margin-right: 0;
	}
	
	#optionsbar p.avatar {
		text-align: center !important;
		float: none;
		margin: 1em 0 0 0;
	}

	#optionsbar img.avatar {
		margin: 0;
		float: none;
	}
	
	#optionsbar h3 {
		font: bold 1em "Georgia", Times, serif;
		text-transform: uppercase;
		text-align: center;
		background: #C0C0C0;
		padding:7px 0 8px 0;
	}
		#optionsbar.arrow h3 {
		font: bold 1em "Georgia", Times, serif;
		text-transform: uppercase;
		text-align: center;
		background: #C0C0C0;
		padding:7px 0 8px 0;
		}
	
	#optionsbar ul#options-nav {
		width: 148px;
		margin: 1.75em 0 0 0;
		position: relative;
		z-index: 1;
	}
		#optionsbar ul#options-nav li.current {

		}
			#optionsbar ul#options-nav li a {
				font-size: 1em;
				color: #000;
				padding: 0.55em 2.5em 0.55em 0;
				display: block;
				text-align: right;
				text-decoration: none;
				font-weight: normal;
			}
			
			#optionsbar ul.icons li a {
				padding-right: 3.1em !important;
				margin-right: 0.7em;
			}

/**************************
 CONTENT HEADER NAVIGATION
***************************/
.content-header a {
	color: #555;
}

ul.content-header-nav {
	margin: -8px 0 0 1.5em;
}
	ul.content-header-nav li {
		float: left;
		padding: 8px 1em;

		font: normal 0.9em "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif !important;
		text-transform: none;
	}
		ul.content-header-nav li a {
			color: #555;
			text-decoration: underline;
		}
			ul.content-header-nav li a:hover {
				color: #555;
				text-decoration: none;
			}
		
		ul.content-header-nav li span {
			color: #999;
		}
	
	ul.content-header-nav li.current {
		background: #C9C9C9;
	}
		ul.content-header-nav li.current a {
			text-decoration: none;
		}
		
		
/**************************
 MAIN CONTENT
***************************/

#main {
	margin-left: 276px;
	min-height: 400px;
	max-height: 3000px;
}
	body.directory #main { margin-left: 0; }
	
	#main div.content-header {
		font: normal 1em "Georgia", Times, serif;
		text-transform: uppercase;
		text-align: center;
		background: url(../images/content_header.gif) top left repeat-x;
		height: 24px;
		padding: 8px 0 8px 0;

	}

	#main #content {
		position: relative;
		padding: 2em 3em;
	}
		#main #content h2, h3#respond, h3#responses {
			font: normal 1.6em Georgia, Times, serif;
			padding-bottom: 0.25em;
			border-bottom: 1px solid #ddd;
			margin-bottom: 1em;
		}
		
		#main #content h3 {
			font: normal 1.3em Georgia, Times, serif;
			padding-bottom: 0.25em;
			margin: 1em 0;	
		}
		
		#main #content .left-menu {
			position: relative;
			float: left;
			width: 158px;
		}
	
		#main img.avatar {
			border: 4px solid #f0f0f0;
		}
	
		
		.main-column h1, #blog-info h1 {
			font: normal 3.2em "Georgia", Times, serif !important;
		}
			.main-column h1 a, #blog-info h1 a {
				color: #646464;
			}
			
			.main-column p.status, #blog-info p.desc {
				color: #f7740a;
				font: normal 1.4em "Georgia", Times, serif;
				font-style: italic;
			}
				
		a.page-numbers:hover { background: #e1e1e1; }

			.pagination-links .current {
				background: #d5d5d5;
				border-bottom: 2px solid #f28935;
			}
				
		.pag-count {
			font-size: 0.9em;
			color: #888;
		}
	
			div.info-group h4 {
				background: url(../images/group_header.gif) repeat-x;
				color: #555;
				font-size: 1em;
				font-weight: bold;
				padding: 2px 0 0 5px;
				height: 27px;
				border-bottom: 1px solid #D7D7D7;
				margin: 0px;

			}
				.left-menu div.info-group h4 {
					background: url(../images/leftmenu_group_header.jpg) top left no-repeat;
					color: #555;				
				}
				
				div.info-group h4 a {
					color: #555;
					font-weight: normal;
				}

	.standard-form input, .standard-form select, .standard-form textarea {
		font-size: 1.3em;
		font-family: inherit;
		color: #777;
	}
	
	
	#message {
		background: url(../images/updated_back.gif) top left repeat-x #ddffc4;
		margin: 0 0 2em 0;
	}
		#message p {
			color: #357c00;
			padding: 1em 2.75em;
			background: url(../images/updated_icon.gif) 1em 1.1em no-repeat;
		}
	
	#message.error {
		background-image: url(../images/error_back.gif);
		background-color: #ff3a3a;
		color: #fff;
	}
		#message.error p {
			background-image: url(../images/error_icon.gif);
			color: #fff;
		}
	
	#message.info {
		background-image: none;
		background-color: #fcfcd0;
		color: inherit;
	}
		#message.info p {
			background-image: url(../images/info_icon.gif);
			color: inherit;
			padding-left: 3.3em;
		}
		
		
		
		


/*************************
 WP PROFILE FIELD FALLBACK  
*************************/

table.wp-profile-fields {
	width: 100%;
}
	table.wp-profile-fields tr td {
		padding: 0.5em 1em;
	}

	table.wp-profile-fields tr td.label {
		width: 130px;
	}

/**************************
 FOOTER
***************************/

#footer {
	clear: both;
	background: url(../images/content_header.gif) repeat-x #eee;
	text-align: center;
	margin-top: 20px;
	padding: 15px;
	font: normal 1.1em Georgia, times, serif;
}

.post {
float: none;
}
