#callout {

	.callout-area {
		padding: 0 20px; 
	}

	.callout_text-pad { 
		padding: 0px 10px 0; 
	}

	.callout_head { 
		display: inline;
	}

	.callout_sub { 
		font-size:1.1em; 
		margin: 0; 
	}

	.callout_text.noimage { 
		width:100%; 
	}

	.callout_image a { 
		display: block;
		line-height: 1em;
	}

	.callout_image { 
		text-align: center; 
		vertical-align: center; 
	}

	.callout_image img {
    	width: 100%;
	}

	.callout_action.img.rtimg {
		float:right;
	}

	.with-callsub .callout_action{
		margin-top: 5px;
	}

	// Legacy Button
	.callout_button {
		font-size: 1.7em;
		padding: 10px 22px;
		float: right;
	}
	.callout-center{
		text-align: center;
		.callout_text{
			margin-bottom: 10px; 
		}
		.callout_head{
			font-size: 1.5em;
			display: block;
			
		}
	}
}

// Media Queries
@media (max-width: 480px) {
	#callout .btn {display:block;}
	.callout_action {
		width:100%; 
		margin-bottom: .5*@baseLineHeight; 
	}
	.callout_action.img.rtimg {margin-left:0;margin-right:0;}
	.callout_text {text-align:center;}
}