#highlight {
	
	text-align: center;

	.content-pad .highlight-area {
		padding: @baseLineHeight 0 @baseLineHeight/2;
	}

	.copy-pad .highlight-area {
		padding: 15px;
	}

	.highlight-head{
		line-height: 1.3em;
		font-size: @h1Size * 1.3;
	}

	.content .highlight-subhead, .copy-pad .highlight-subhead{
		font-size: @h3Size / 1.4;
		color: @highlightSubHeadColor;
		font-weight:normal;
	}
	
	.hl-image-bottom{
		margin: @baseLineHeight 0 0 0;
	}
	
	.highlight-splash img {
		max-width: 100%;
	}

}