a,
a:visited,
.nav a:hover,
.header-social a,
.widget a:hover,
#wp-calendar a,
.portfolio-meta a,
.copyright a:hover,
.entry-title a:hover {
	color: #369;
}
#slogan,
.page-title,
#portfolio-head {
	background: #333;
}
.widget-title span {
	border-bottom-color: #333;
}
#filter li.active{
    background: #369;
}
#filter li:hover{
    background: #369;
}
