/**
 * Hybrid Tabs Widget
 ************************************************/

.widget-tabs {
	padding: 36px 0 0;
	}

.widget-tabs ul.tabs {
	background: #111;
	line-height: 1;
	margin: 0 0 -6px;
	padding: 0;
	}
	
	.widget-tabs ul.tabs li.t {
		background: none;
		display: inline;
		padding: 0;
		}
		
		.widget-tabs ul.tabs li.t a {
			color: #fff;
			display: inline-block;
			font-size: 11px;
			line-height: 18px;
			padding: 10px 20px 9px;
			}
		.widget-tabs ul.tabs li.t a.tab-current{
			background: #171717;
			}
			
.widget-tabs .term-cloud {
	background: #171717;
	margin: 6px 0 0;
	padding: 14px 20px;
	}