/* BrandNav CSS - PageLines 2011 */
#brandnav .content-pad{
	padding-top: 2em;
	padding-bottom: 2em;
}

#brandnav .mainlogo-link, #brandnav .title-container{
    float: left;
    line-height: 0.7em;
	padding: 0 1%;
}
#brandnav .mainlogo-link img{
	max-width: 100%;
}

#brandnav .brandnav-nav{
    float: right;
	margin-left : 20px;
}
	
#brandnav li a, #brandnav .nav-special {
    display: block;
    text-decoration: none;
}