* { margin: 0; padding: 0; }

body{ border-top:0px; background:#fff url(97.jpg) no-repeat bottom right;} 
html {background:transparent;
color:#333;font:normal 15px/20px Arial,Tahoma,Helvetica,Sans-Serif;margin:0;padding:0; }   
#login form .submit input { border: 0px !important; color: #333 !important; } 
#login form .submit input:hover { border: 0px !important; color: #666 !important; } 
.login #nav a { color: #333 !important; } 
.login #nav a:hover { color: #666 !important; }   

form{margin-left: 8px;padding: 16px 16px 40px 16px;font-weight:normal;background:transparent;border:0px solid #fff;}
form .forgetmenot{font-weight:normal;float:left;margin-bottom:0;}
#login form .submit input{font:14px "Lucida Grande",Verdana,Arial, "Bitstream Vera Sans",sans-serif;
padding: 3px 10px;border:none;text-decoration:none;margin-top:-3px;}
#login form p{margin-bottom:0;}
label{color: #333;font-size:13px;}
form .forgetmenot label{font-size: 11px;line-height:19px;}
form .submit {clear:both;text-align:center;width:99%;border:1px solid #fafafa;background:none;}
form p { margin-bottom: 24px; }
h1 a {background: url(01.jpg) no-repeat 0 0;width:412px;height:156px;	
text-indent:-9999px;overflow: hidden;padding-bottom:35px;display: block;}
#backtoblog a{position:absolute;top:7px;left:15px;text-decoration: none;}
#login{width:412px;margin:0em auto 3.0em;}
#login_error,.message{margin:0 0 16px 8px;padding:12px;}
#nav{margin:0 0 0 8px; padding:16px;}
#user_pass, #user_login, #user_email{font-size:24px;width:97%;padding:3px;margin-top:2px;margin-right: 6px;
margin-bottom: 16px;border:0;background:trasnparent;}



