/**
 * The buttons are added dynamically by jCarousel before
 * the <ul> list (inside the <div> described above) and
 * have the classnames "jcarousel-next" and "jcarousel-prev".
 */


/* Colors */ 

@contrast = darken(@pl-base, @invert-dark);

.thecarousel{
	background: @contrast;
}

 #carousel .content ul li a img, #carousel .content ul li a:hover img{
	
	background: lighten(@contrast, 15 );
	box-shadow: 0 1px 4px darken(@contrast, 25 );
}


.jcarousel-clip-horizontal { width: 100%; }
#carousel .jcarousel-next, #carousel .jcarousel-prev {
	z-index: 3;
    position: absolute;
	top: 35%;
    width: 40px;
    height: 40px;
	cursor: pointer;
}
#carousel .jcarousel-next, #carousel .jcarousel-prev{
	opacity: .5;
}
#carousel .jcarousel-next { 
    right: 15px;
    cursor: pointer;
    background: transparent url(@{plSectionsRoot}/carousel/images/carousel_navright.png) no-repeat 0 0;
}

#carousel .jcarousel-prev {
    left: 15px;
    cursor: pointer;    
    background: transparent url(@{plSectionsRoot}/carousel/images/carousel_navleft.png) no-repeat 0 0;
}
#carousel .thecarousel{
	position: relative;
    padding: 30px 67px 25px ;
	overflow: hidden;
	display: none; /* Prevents all images from showing on load; must be shown using JS ahead of carousel init. */
}

#carousel .content ul li{ float: left; text-align: center; position: relative; }
#carousel .content ul li img { padding: 3px;  }

/* for text with hover over effect */
#carousel .content ul li a{ position: relative; display: block;}
#carousel .content ul li a span.list-title{
	color: #fff;
	text-shadow: #000 0 -1px 0;
	background: rgba(0,0,0, .9);
	font-family: 'calibri', 'lucida grande', arial;
	font-weight: bold;
	font-size: 11px;
	opacity:0.8;
	line-height: 1.4em;
	position: absolute;
	width: 100%;
	right: 0;
	bottom: 1px;
	display: none;
	filter:alpha(opacity=95);
}
#carousel .content ul li a:hover span.list-title {display: block;}