#featurenav a{
	background: darken(@pl-base, @invert-dark);
}

#featurenav a.activeSlide{
	background: darken(@pl-base, @invert-dark+7);
}

#featurenav a{
	color: fadeout(@pl-text, 60%);
}
#featurenav a.activeSlide{
	color: fadeout(@pl-text, 30%);
}