/* Links */
a,a:link {
	color:#0af !important;
	text-decoration: none;
}

a:hover {
	color:#444444;
}

/* Header */

div#header {
	background-image: none;
}

html div#header div#access {
	margin-top: 125px !important;
}

/* Navigation */
div#header div#access div.menu ul li a,
div#header div#access div.menu ul li a:hover {
	border-radius: 0;
}

div#header div#access,
div#header div#access div.menu ul,
div#header div#access div.menu ul li,
div#header div#access div.menu ul li a
 {
	background-color: #ffcc00 !important;
	color: #000 !important;
	}

/* Hover */
div#header div#access div.menu ul li:hover,
div#header div#access div.menu ul li a:hover
 {
	background-color: #000 !important;
	color: #ffcc00 !important;
}

#access a, #access ul ul a, 
#access ul.children li.selected > a, 
#access ul li:hover > a, 
#access ul ul *:hover > a, 
#access ul.children li:hover > a, 
#access ul.sub-menu li:hover > a, 
#access ul li.current_page_item > a, 
#access ul li.current-menu-ancestor > a, 
#access ul li.current-menu-item > a, 
#access li.selected > a, 
#access ul li.current-menu-parent > a {}


/* Widgets */
html div.widget h3.widgettitle {
	background-color: #ffcc00 !important;
}

/* Groups */
html body#cc.single-item div#container div#content div#item-header div#item-header-content span.highlight {
	display: none;
}

div.generic-button a,
a.button {
	color: #fff !important;
}


div#item-header div#item-header-content {
	margin: 0 !important;
	padding: 0;
	width: 75%;
	float: left !important;
	
}

div#item-header div#item-header-avatar a img.avatar,
div#item-header div#item-header-avatar {
	float: left !important;
}

div#item-header div#item-actions {
	clear: right;
	float: right !important;
}



div#item-body form#whats-new-form h5 {
	margin-top: 0 !important;
}

/*
div#item-header div#item-header-content span.activity,
div#item-header div#item-header-content div#item-meta {
	float: left;
}

div#item-header div#item-header-content div#item-meta div.generic-button {
	clear: left;
}
*/
