/* change url paths to suit your project */
@font-face {
	font-family: 'OSWALD';
	src: url('../fonts/oswald-webfont.eot');
	src: url('../fonts/oswald-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/oswald-webfont.woff') format('woff'),
		url('../fonts/oswald-webfont.ttf') format('truetype'),
		url('../fonts/oswald-webfont.svg#OSWALD') format('svg');
	font-weight: normal;
	font-style: normal;
}

body,
div.post-content p.date,
div.post-content p.postmetadata {
	font-family: Helvetica, arial, sans-serif;
	font-size: 12px;
	line-height: 1.2;
}

h1, h2, h3, h4, h5,

#donate a.button,
div#header div#logo h1 a,
div.feat-post h1,
div#header div#logo h4,
div#header div#access,
div#header div#logo div#blog-description,
div#item-header div#item-header-content h2 a,
div#container div#top-header h1,
div#top-header p,
div#container div#navigation,
h2.widgettitle,
h3.widgettitle {
	font-family: 'OSWALD', Arial, sans-serif !important; 
	font-weight: normal !important;
	text-transform: uppercase !important;
}

h1, h2, h3, h4, h5,
div#header div#logo h1 a,
div#header div#logo h4 a,
div#header div#logo div#blog-description,
html div.widget h3.widgettitle {
	padding: .125em 0 0 0;
	line-height: 1.25;
	color: #000 !important;
}

h1 { font-size: 3.5em; /* 42px */ }
h2,
div#header div#logo h1 a,
div#header div#logo h4 a { font-size: 2.5em; /* 30px */ }
h3,
div#header div#logo div#blog-description {	font-size: 2em; /* 24px */ }
h4{	font-size: 1.5em; /* 18px */ }
h5{	font-size: 1.25em; /* 15em */ }

#content{
	font-size: 1.2em;
	line-height: 1.5;
	color:#222;
}


#content h2.pagetitle{
	color:#000;
	padding:0;
	font-size:2.5em;
	margin-bottom: .5em;
}

h3.widgettitle{
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}

em{
	color: #000;
	font-size: 1.125em;
	font-style: normal;
}

div#container div.widget {
	padding-top: 15px;
	padding-bottom: 15px;
}



