a,a:link{color:#EE6611;}
a:hover{color:#AA4400;}
a:visited{color:#AA4400;}
.activity-comments ul{border-top:1px solid #EBEBEB;}
.activity-comments li{border-bottom:1px solid #EBEBEB;}
div#item-header h3 span.highlight span,.activity-list div.activity-meta a,div.generic-button a,div.comment-options a{background:#F8F8F8;color:#999999;border:1px solid #EBEBEB;}
.activity-list div.activity-meta a.acomment-reply{background:#F8F8F8;color:#999999;border:1px solid #EBEBEB;}
div.activity-meta a:hover,div.comment-options a:hover,div.generic-button a:hover{background:#AA4400;color:#ffffff;}
div.activity-meta a.acomment-reply:hover{background:#AA4400;color:#ffffff;border-color:#AA4400;}
.alt{background:#F8F8F8;border:1px solid #EBEBEB;}
.entry blockquote{color:#EE6611;border-left:2px solid #EE6611;}
body{color:#111111;background-color:#666666;font-family:Tahoma,Helvetica,Sans-serif;}
.content-box-inner{background-color:#ffffff;border:1px solid #EBEBEB;}
.content-box-outer,#item-header{background-color:#ffffff;}
.content-box-outer-activity{background-color:#ffffff;}
#container-wrapper{background:#f5f5f5;border-top:2px solid #e8e8e8;border-bottom:2px solid #e8e8e8;}
.description{color:#ffffff;text-shadow:#AA4400 1px 1px 0;}
p.description{color:#111111;text-shadow:none;font-size:12px;}
.entry-image{border:2px solid #f3f3f3;}
.entry ul{color:#EE6611;}
.entry ol{color:#EE6611;}
.entry h1{padding-bottom:10px;float:none;color:#EE6611;}
.entry h2{padding-bottom:10px;float:none;color:#EE6611;}
.entry h3{padding-bottom:10px;float:none;color:#EE6611;}
.entry h4{padding-bottom:10px;float:none;color:#EE6611;}
.entry h5{padding-bottom:10px;float:none;color:#EE6611;}
.entry h6{padding-bottom:10px;float:none;color:#EE6611;}
#footer-links{border-top:1px solid #cccccc;color:#AA4400;text-shadow:#fafafa 1px 1px 0;}
#footer-wrapper{background:#DEDEDE;border-top:2px solid #e8e8e8;}
.forum{border:1px solid #eeeeee;}
#front-sidebar{background-color:#ffffff;}
h1,h1 a,h1 a:link,h1 a:visited,h1:hover{color:#AA4400;}
#header h1,#header h1 a,#header h1 a:link,#header h1 a:visited,#header h1:hover{color:#ffffff;text-shadow:#AA4400 1px 1px 0;}
h2{color:#ffffff;text-shadow:#AA4400 1px 1px 0;}
.h3-background h3{color:#AA4400;}
h3{color:#AA4400;}
h4{color:#AA4400;}
.h4-background h4{color:#ffffff;}
.h3-background{background:#e8e8e8;border-bottom:1px solid #ffffff;}
.h4-background{background:#a2a2ac url('../images/sidebar_heading_background.png') repeat-x;}
#header-wrapper{background:#CD6E07 url('rust-images/rust_header_background.png') repeat-x;border-bottom:2px solid #AA4400;border-top:2px solid #AA4400;}
hr{background-color:#f3f3f3;}
img{border:2px solid #EBEBEB;}
.info,.error{background:#F8F8F8;border:1px solid #EBEBEB;}
#info-wrapper{background:#AA4400;border-bottom:2px solid #EE6611;}
a.comment-reply-link, input[type="button"],.button{background:#F8F8F8;border-bottom:1px solid #ddd;border-right:1px solid #ddd;}
textarea{border:1px solid #EBEBEB;background-color:#ffffff;color:#999999;}
input[type="submit"]{border:1px solid #EE6611;background-color:#EE6611;color:#ffffff;}
input[type="text"]{border:1px solid #EBEBEB;background-color:#ffffff;color:#999999;}
input[type="search"]{border:1px solid #EBEBEB;background-color:#ffffff;color:#999999;}
input[type="password"]{border:1px solid #EBEBEB;background-color:#ffffff;color:#999999;}
ul.item-list li{border-bottom:1px solid #EBEBEB;}
div.item-list-tabs{background:#ffffff;}
.item-list-tabs a,.item-list-tabs a:link,.item-list-tabs a:visited{background:#F8F8F8;color:#999999;border:1px solid #EBEBEB;}
.item-list-tabs a:hover{background:#AA4400;color:#ffffff;border-color:#AA4400;}
.item-list-tabs li.selected a{background:#AA4400;color:#ffffff;border-color:#AA4400;}
label{color:#AA4400;}
.latest-update{text-shadow:#AA4400 1px 1px 0;}
#login-wrapper{background:#AA4400;border-bottom:2px solid #EE6611;color:#ffffff;}
#login-wrapper label{color:#ffffff;}
#login-wrapper a,#login-wrapper a:link,#login-wrapper a:hover{color:#ffffff;}
#login-wrapper a:visited{color:#cccccc;}
#login-wrapper .button{border:1px solid #EE6611;background-color:#EE6611;color:#ffffff;font-weight:normal;}
.meta-author{background:url('../images/male.png') no-repeat;background-position:0px 2px;}
.meta-category{background:url('../images/blogs.png') no-repeat;background-position:0px 2px;}
.meta-comments{background:url('../images/listen.png') no-repeat;background-position:0px 2px;}
.meta-date{background:url('../images/options.png') no-repeat;background-position:0px 2px;}
.meta-tag{background:url('../images/tag.png') no-repeat;background-position:0px 2px;}
#navigation-wrapper{background:#68837C url('rust-images/rust_navigation_background.png') repeat-x;border-top:1px solid #ffffff;border-bottom:1px solid #ffffff;}
ol.commentlist li.comment div.vcard img.avatar{border:1px solid #EBEBEB;}
ol.commentlist ul.children li.depth-2{border-left:5px solid #EBEBEB;}
ol.commentlist ul.children li.depth-3{border-left:5px solid #EBEBEB;}
ol.commentlist ul.children li.depth-4{border-left:5px solid #EBEBEB;}
ol.commentlist li.even{background:#F8F8F8;border:1px solid #EBEBEB;}
ol.commentlist li.odd{background:#F8F8F8;border:1px solid #EBEBEB;}
ol.commentlist li.parent{border-left:5px solid #dddddd;}
.post-meta-data{border-bottom:1px solid #f3f3f3;}
select{border:1px solid #EBEBEB;background-color:#ffffff;}
.sf-menu a,.sf-menu a:visited{color:#ffffff;cursor:pointer;}
.sf-menu li li{background-color:#EE6611;cursor:pointer;}
.sf-menu li li li{background-color:#EE6611;cursor:pointer;}
.sf-menu li:hover,.sf-menu li.current,.sf-menu li.current a:visited,.sf-menu li.current_page_item,.sf-menu li.current_page_item a:visited,.sf-menu li.sfHover,
.sf-menu a:focus,.sf-menu a:hover,.sf-menu a:active{color:#ffffff;background-color:#AA4400;cursor:pointer;}
.sf-menu .selected a{color:#ffffff;background-color:#AA4400;cursor:pointer;}
#sidebar,#sidebar-right{background-color:#ffffff;}
#sidebar .widget-wrapper li{background:none;}
#slideshow-image{background:#ffffff;}
#slideshow-text{background:#666666;color:#ffffff;}
.sub-navigation-box{background:#ffffff;border:1px solid #EBEBEB;color:#AA4400;}
#th-title{background:#e8e8e8;border-bottom:1px solid #ffffff;border-right:1px solid #ffffff;}
#th-poster{background:#e8e8e8;border-bottom:1px solid #ffffff;border-right:1px solid #ffffff;}
#th-group{background:#e8e8e8;border-bottom:1px solid #ffffff;border-right:1px solid #ffffff;}
#th-postcount{background:#e8e8e8;border-bottom:1px solid #ffffff;border-right:1px solid #ffffff;}
#th-freshness{background:#e8e8e8;border-bottom:1px solid #ffffff;}
table.forum tr:first-child{background:#e8e8e8;}
table.forum tr.sticky td{background:#E9F8F1;border-top:1px solid #ffffff;border-bottom:1px solid #ffffff;}
table.forum tr.closed td.td-title{background-image:url( ../images/closed_topic.png );background-position:15px 50%;background-repeat:no-repeat;}
table#message-threads tr.unread td{background:#F8F8F8;border-top:1px solid #EBEBEB;border-bottom:1px solid #EBEBEB;font-weight:bold;}
li span.unread-count,tr.unread span.unread-count{background:#e8e8e8;color:#111111;font-weight:bold;}
#message-threads tr{border:1px solid #f3f3f3;}
#url-facebook{background:url(../images/facebook.png) no-repeat 0px 9px;}
#url-flickr{background:url(../images/flickr.png) no-repeat 0px 9px;}
#url-twitter{background:url(../images/twitter.png) no-repeat 0px 9px;}
#url-youtube{background:url(../images/youtube.png) no-repeat 0px 9px;}
.widget-error{background:#F8F8F8;border:1px solid #EBEBEB;}
.widget-wrapper{background:#F8F8F8;border:1px solid #EBEBEB;}
.widget-wrapper li{color:#AA4400;}
.footer-block li,.footer-block-end li{color:#AA4400;background:url('../images/arrowright.png') no-repeat;background-position:0px 3px;}
#whats-new-form,.ac-form{background:#F8F8F8;border:1px solid #EBEBEB;}
.wp-caption{background:#F8F8F8;border:1px solid #EBEBEB;}

/* 18246-1344572760-ai */