#navigation,
#post-entry h2.widgettitle,
#center-column h2.widgettitle,
#right-column h2.widgettitle,
#container .sidebar_list h2.widgettitle,
#userbar #meprofile
 {
	background: url(corporate-light/side.png) repeat-x left bottom!important;
    border: 1px solid #ddd;
    color: #666;
}

ul#nav li a {

    color: #666;
}

ul#nav li.selected a, ul#nav li.current_page_item a {
	background:#929598;
    color: #fff;
}

/* 85361-1343359924 */