
.bizzadmin { padding:0; margin:20px 0 0 10px; position:relative }
.bizzadmin .fl { float: left }
.bizzadmin .fr { float: right }
.bizzadmin a { color:#162CCD; text-decoration:none }
.bizzadmin .themeinfo { margin:1px 0 10px 0; float:left; }

.bizzalert p { line-height:23px }
.bizzadmin .save-popup { position:absolute; background:#FFEEB2; border:1px solid #FFAA00; color:#000000; padding:30px 60px; width:200px; height:25px; font-size:18px; text-align:center; display:none; z-index:3; }
.bizzadmin .ajax-loading { position:absolute; background:#FFEEB2 url(../images/ajax-loader.gif) no-repeat center; border:1px solid #FFAA00; color:#000000; padding:30px 60px; width:200px; height:25px; font-size:18px; text-align:center; display:none; z-index:2; }
.bizzadmin a.where { font:normal 11px Tahoma; margin:0 0 0 5px; padding:0; border:0; text-decoration:none }
.bizzadmin #sortme .list_item:hover, .bizzadmin #sortme .table-row:hover { background:#f1f1f1; cursor: move }

.bizzadmin h2 { line-height:30px; padding:1px 15px 9px 0; margin:0 0 10px 0 }
.bizzadmin h2 .theme-name { background:#6e6e6e; border:1px solid #222222; color:#ffffff; text-shadow:0 -1px 1px #000000; font:21px Georgia; padding:5px 10px 7px 10px }

.bizzadmin h2 a#master_switch { font:normal 16px Georgia; background:#F7F7F7; color:#000000; margin:0; padding:10px 15px 10px 35px; border:1px solid #E3E3E3; position:relative }
.bizzadmin h2 a#master_switch.active{ background:#ffffff; border:1px solid #A5A5A5 }
.bizzadmin h2 a#master_switch:hover{ background:#ffffff }
.bizzadmin h2 a#master_switch span { position:absolute; background:transparent url(../images/toggle-pos.png) no-repeat 0 bottom; width:6px; height:11px; top:13px; left:15px; padding:0 0 0 5px; margin:0 }
.bizzadmin h2 a#master_switch span.neg { color:#ffffff; background:transparent url(../images/toggle-neg.png) no-repeat 0 bottom; height:6px; width:11px; padding:3px 0 0 0 }
.bizzadmin h2 a#master_switch span:hover { color:#ffffff }

.bizzadmin h2 a.optional { font:normal 16px Georgia; background:#EAF2FC; color:#000000; margin:0; padding:10px 15px; border:1px solid #C3CFE5 }
.bizzadmin h2 a.optional:hover{ background:#ffffff }
.bizzadmin h2 a.feedback { font:normal 12px Tahoma; margin:0 0 0 10px; padding:0; border:0; text-decoration:none; color:#000000 }
.bizzadmin h2 a.feedback img { vertical-align:middle }

.bizzadmin .introduction { padding:20px 0 }
.bizzadmin .introduction a { font:normal 14px Verdana; color:#000000; padding:5px 10px; margin:0 10px 0 0; border:1px solid #E3E3E3; background:#F2F2F2 }
.bizzadmin .introduction a:hover{ border:1px solid #36332F }
.bizzadmin .introduction span.open-new-window { background:url(../images/new-window.png) no-repeat 0 bottom; padding: 0 10px; margin:0 -10px 0 0 }
.bizzadmin .box-title { margin:0 !important; background:#EAEAEA url(../images/bgr-box-trans.png) no-repeat top left; border:1px solid #E3E3E3; color:#000000; text-shadow:0 1px 1px #ffffff; padding: 8px 1em 8px 1em; font:bold 14px Georgia; letter-spacing: 1px }
.bizzadmin .box-title em.widgetsurl a { color:#ffffff }

.bizzadmin .maintable { font-family:Tahoma; padding: 0; border: 0; width: 500px; margin:5px 20px 0 0; float:left }
.bizzadmin .maintable .subheading { margin:0; padding:0 }
.bizzadmin .maintable .subheading a { font:normal 14px Georgia; background:#F7F7F7; color:#000000; display:block; margin:0; padding:8px 15px 8px 35px; border:solid #E3E3E3; border-width:0 1px 1px 1px; position:relative }
.bizzadmin .maintable .subheading a.active{ background:#ffffff; border:solid #A5A5A5; border-width:1px 1px 0 1px; margin:-1px 0 0 0 }
.bizzadmin .maintable .subheading a:hover{ background:#ffffff }
.bizzadmin .maintable .subheading span { position:absolute; background:transparent url(../images/toggle-pos.png) no-repeat 0 bottom; width:6px; height:11px; top:12px; left:15px; padding:0 0 0 5px; margin:0 }
.bizzadmin .maintable .subheading span.neg { color:#ffffff; background:transparent url(../images/toggle-neg.png) no-repeat 0 bottom; height:6px; width:11px; padding:3px 0 0 0 }
.bizzadmin .maintable .subheading span:hover { color:#ffffff }
.bizzadmin .maintable .subheading em.widgetsurl a { color:#000; border:0; border-bottom:1px solid; padding:0; font-size:14px }
.bizzadmin .maintable .subheading em.widgetsurl a:hover { color:#000; background:none }
.bizzadmin .maintable .options-box { display:none; background:#ffffff; border:solid #A5A5A5; border-width:0 1px 1px 1px; padding:0 0 15px 0; margin:0 }
.bizzadmin .table-row { color:#000000; margin:0 15px; padding:0 }
.bizzadmin .table-row .bottom-container { border: none; margin: 0; padding:0 }
.bizzadmin .table-row .bottom-container p { font:normal 12px Tahoma; margin:0; padding:0 }
.bizzadmin .table-row .bottom-container p.description { margin:0; padding:10px 0 6px 0; line-height:22px }
.bizzadmin .break { padding:20px 0 0 0 }
.bizzadmin span.important { display:block; background:#eff4fc; border:1px solid #a1b4d9; padding:5px 10px; margin:8px 0 5px 0 }
.bizzadmin .space-line { clear: both; margin: 0; padding: 0; width: auto }
.bizzadmin .maintable .table-row .text { padding:5px; background:#FFF7D7; border:1px solid #FFCC66; margin:0 0 5px 0 }
.bizzadmin .maintable .table-row input, .maintable .table-row textarea { font: normal 0.923em/1.667em Consolas, "Andale Mono", "Courier New", Courier; width:453px; padding:0.333em; color:#3C3D35; background:#ffffff; border:0.083em solid #BFBFBF; border-top-color:#A5A5A5; border-left-color:#A5A5A5 }
.bizzadmin .maintable .table-row input:focus, .maintable .table-row textarea:focus { border:1px solid #888888 }
.bizzadmin .maintable .table-row select { width:453px; font-size:16px; padding:5px; color:#3C3D35; background:#fff; border:0.083em solid #BFBFBF; border-top-color:#A5A5A5; border-left-color:#A5A5A5 }
.bizzadmin .maintable .table-row input.input_checkbox { width:20px; margin:4px 0; background: transparent }

/* style typographic options */
.bizzadmin .maintable .table-row input.text_q { width:125px; padding:0 3px; }
.bizzadmin .maintable .table-row select.select_q { width:100px; padding:5px; border:1px solid; border-color:#A5A5A5 #BFBFBF #BFBFBF #A5A5A5 }
.bizzadmin .maintable .table-row select.q1 { width:60px }
.bizzadmin .maintable .table-row select.q2 { width:170px }
.bizzadmin .maintable .table-row select.q3 { width:70px }
.bizzadmin .maintable .table-row select.q4 { width:245px }
.bizzadmin .maintable .table-row select.q5 { width:153px }

/* multioptions wrapper */
.bizzadmin .wrap-dropdown { text-align:left; width:451px; height:250px; overflow:auto; border:1px solid #7F9DB9; background:#ffffff; margin:1px }
.bizzadmin .wrap-dropdown .list_item { background:none; border:solid #E3E3E3; border-width:0 0 1px 0; padding: 4px 0 5px 5px; margin:0 }
.bizzadmin .wrap-dropdown .list_item:hover { background:#f1f1f1 }
.bizzadmin .wrap-dropdown .table-row{ background: none; margin:0 }
.bizzadmin .wrap-dropdown .bottom-container { width:100%; border:0; padding:0; margin:0; background:none }
.bizzadmin .wrap-dropdown .bottom-container .text { background:none; border:solid #E3E3E3; border-width:0 0 1px 0; padding: 4px 0 5px 5px; margin:0 }
.bizzadmin .wrap-dropdown .bottom-container .text:hover { background:#f1f1f1 }
.bizzadmin .wrap-dropdown .bottom-container p.description { display:none }

/* multiupload wrapper */
.bizzadmin .upc-top { margin-bottom:30px }
.bizzadmin .upc-wrap { text-align:left; position:relative }
.bizzadmin .upc-wrap .list_item { background:none }
.bizzadmin .upc-wrap .list_item:hover { background:#f1f1f1; cursor: move }
.bizzadmin .upc-wrap .table-row{ background: none; margin:0 }
.bizzadmin .upc-wrap .bottom-container { width:100%; border:0; padding:0; margin:0; background:none }
.bizzadmin .upc-wrap .bottom-container .text { background:none; border:none; padding:0; margin:0 }
.bizzadmin .upc-wrap .bottom-container .text #upload-wrap { margin:0 0 5px 0 }
.bizzadmin .upc-wrap .bottom-container p.description { display:none }
.bizzadmin .upc-wrap .addremove { font-size:10px; position:absolute; right:-10px; bottom:-29px; padding:2px 5px; background:#F5F5F5; border:1px solid #BBBBBB }
.bizzadmin .upc-wrap .addremove span { color:#162CCD; cursor:pointer }
.bizzadmin .upc-wrap .addremove span.add { margin:0 10px 0 0 }

.bizzadmin .submit-title { margin: -30px 0 0 0; padding:0 10px 0 0 }
.bizzadmin .submit-title input { width: 95px }
.bizzadmin .reset_save { display:inline; float:left; padding:0; margin:0 }
.bizzadmin .reset { margin:0 0 0 15px }
.bizzadmin .reset input { border:1px solid #ED0000 }

ul.file-select li a { display:block; float:left; padding:5px 10px; margin:5px 10px 10px 0; background:#E3E3E3; color:#000000; border:1px solid #BBBBBB; font-size:12px; text-decoration:none }
ul.file-select li:first-child a { background:#888888; color:#ffffff; border:1px solid #000000 }
ul.file-select li a:hover { background:#ffffff; color:#000000 }
ul.file-select li:first-child a:hover { background:#888888; color:#ffffff }
.editor-area { padding:5px }
.save_button { padding:10px 20px; margin:10px 0 20px 0 }

h5.updates_h5 { margin:30px 0 10px 0 }
.bizzalert_true { background-color:#FEE9EA; border-color:#DE888A }
.bizzalert_false { background-color:#F0FEE9; border-color:#A5D491 }
ul.file-download li a { padding:3px 6px; margin:0 0 10px 0; background:#F4F4F4; color:#000000; border:1px solid #BBBBBB; font-size:11px; text-decoration:none }
ul.file-download li a:hover { background:#ffffff; color:#000000 }
  
/* upload styling */
.bizzadmin #upload-wrap { position:relative; padding:0; height:22px }
.bizzadmin #upload-wrap .upload_button { position:absolute; top:0; left:0; width:80px; height:22px; background:url(../images/btn-choose-file.png) no-repeat scroll 0; cursor:pointer; font-size:11px; padding:0 0 0 7px; line-height:22px }
.bizzadmin #upload-wrap .upload_button:hover { cursor:pointer }
.bizzadmin #upload-wrap .upload_text_input { position:absolute; top:0; left:90px; height:22px; width:335px; margin:0 5px 0 0; }
.bizzadmin #upload-wrap a.img-preview img { position:absolute; top:0; right:0; vertical-align:middle; border:1px solid #A5A5A5; }

/* tooltip styling */
.bizzadmin .table-row .top-container { color:#333333; font-size:11px; border: none; padding:6px 0 0 0; margin:0; line-height:25px }
.bizzadmin .table-row .top-container img { vertical-align:middle; margin:0 0 0 5px; padding:5px }
.bizzadmin .table-row .top-container .name { display:inline; color:#555555; margin:0 0 0 2px } 
.bizzadmin .table-row .top-container .bubbleInfo { position:relative; display:inline; width:65px }
.bizzadmin .table-row .top-container .trigger { color:#162CCD; cursor:pointer }
.bizzadmin .table-row .top-container .trigger:hover { cursor:pointer }
.bizzadmin .table-row .top-container .popup { position:absolute; bottom:25px; right:-30px; display:none; z-index:50; background:#FFEEB2; border:1px solid #FFAA00; padding:20px; width:300px; line-height:20px; font-size:11px; color:#333333; }


/*---:[ meta box styles on the posting screen ]:---*/
.bizz_metaboxes_table .fl { float: left }
.bizz_metaboxes_table .fr { float: right }
.bizz_metaboxes_table .clear { clear: both }
.bizz_metaboxes_table { margin:12px 5px; padding:5px; background:#F8F8F8; border:1px solid #EFEFEF }
.bizz_metaboxes_table:hover { background:#EFEFEF }
.bizz_metaboxes_table p { font-size:12px !important; font-style:normal }
.bizz_metaboxes_table p.title { padding-top:0 }
.bizz_metaboxes_table p.description { padding-top:3px; font-style:oblique }
.bizz_metaboxes_table ul { margin:0 0 6px 6px }
.bizz_metaboxes_table input { display:block }
.bizz_metaboxes_table input.text_input { width:99% }
.bizz_metaboxes_table input.file_input { width:98%; margin-top:5px }
.bizz_metaboxes_table input.chk_input, .bizz_metaboxes_table input.opt_input { display:inline }
.bizz_metaboxes_table input.counter { margin:3px 0 0 2px; display:inline }
.bizz_metaboxes_table span.counter { font-size:11px; color:#999999 }
.bizz_metaboxes_table textarea { display: block; width: 99% }
.bizz_metaboxes_table label { display:block; font-size:11px; color:#999999 }
.bizz_metaboxes_table p.chk_p label, .bizz_metaboxes_table p.opt_p label { font-size:12px; color:#000000; padding:5px 0 }
.bizz_metaboxes_table img.feat { margin:5px 0 0 7px; border:1px solid #DFDFDF; padding:3px; float:left }
.bizz_metaboxes_table .preview_p { font-size:13px; color:#999999; float:left; line-height:85px; margin:0 0 0 10px }

.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0 }
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0 }
* html .clearfix, *:first-child+html .clearfix {	zoom: 1 }
.spb { margin-bottom:5px }

span.richtext, span.richon { color:#21759B; margin:0 0 0 200px }
span.richtext:hover, span.richon:hover { text-decoration:underline; color:#FF0000 }
span.translate { color:#21759B; margin:0 }
span.translate:hover { text-decoration:underline; color:#FF0000 }
.widget-content p .tog { display:none }

span.titicon { color:#21759B; margin:0 0 0 253px }
span.titicon:hover { text-decoration:underline; color:#FF0000 }
.wid_icon { display:none }
.wid_upload_label { padding:0; margin:0; line-height:24px }
.wid_upload_wrap { position:relative; padding:0; margin:0; height:22px }
.wid_upload_button { position:absolute; top:0; left:0; width:80px; height:22px; background:url(../images/btn-choose-file.png) no-repeat scroll 0; cursor:pointer; font-size:11px; padding:0 0 0 7px; line-height:22px }
.wid_upload_input { position:absolute; top:0; left:90px; height:22px; width:317px; margin:0 5px 0 0; }


.column-faq_category, .column-faq_tag, .column-folio_category, .column-folio_tag { width:15%; }

/*=== BORDER-RADIUS ===*/
.bizzadmin .maintable .table-row input.text_q, .bizzadmin .upc-wrap .addremove { 
    border-radius:3px; 
	-moz-border-radius:3px; 
	-webkit-border-radius:3px;
}
.bizzadmin #upload-wrap a.img-preview img, .bizzadmin .table-row .top-container .popup { 
    border-radius:6px; 
	-moz-border-radius:6px; 
	-webkit-border-radius:6px;
}
.bizzadmin .save-popup, .bizzadmin .ajax-loading { 
    border-radius:10px; 
	-moz-border-radius:10px; 
	-webkit-border-radius:10px;
}