#homeitem-panel {
	padding: 0px 10px;
	background: #ffffff;
	border: 1px solid #eeeeee;
	margin: 30px 20px 20px 10px;
}

.homeitemsection{
	clear: both;
	background: #f9f9f9;
	border: 1px solid #EEEEEE;
	padding: 0px 10px 10px 10px;
	margin: 10px 0px;
}

#homeitem-panel h2 {
	font-size: 14px;
	color: #000000;
	float: left;
	width: 100%;
}

#homeitem-panel .button{
	margin: 0px;
}

#homeitem-panel .note{
	clear: both;
	background-color: #FFFFE0;
    border: 1px solid #E6DB55;
	padding: 10px;
	margin: 10px 0px;
	color: #666666;
}

.homeitemsection table{
	width: 400px;
	margin-bottom: 10px;
}

.homeitemsection td{
	padding: 10px;
	border: 1px solid #EEEEEE;
}

.homeitemsection div.updated, .login .message {
    background-color: #FFFFE0;
    border-color: #E6DB55;
	clear: both;
	margin: 10px 0px;
	padding: 10px;
}

.homeitemsection div.updated img{
	margin-top: 10px;
}

/* 18246-1344572888-ai */