body {font: 0.6875em Arial, Tahoma, "Lucida Sans"; color: #292929; margin: 0px; padding: 0px; background: #fff url(../images/top-shades.png) repeat-x top;}
.gallery-caption{}

#commentform label {

}
#commentform input[type='text'] {
  padding: 5px;
  background: #fff;
 border-color: #AAAAAA #DDDDDD #DDDDDD #AAAAAA;
    border-style: solid;
    border-width: 1px;
       display: block;
       width: 90%;
}
input#search-terms  {
  padding: 5px;
  background: #fff;
 border-color: #AAAAAA #DDDDDD #DDDDDD #AAAAAA;
    border-style: solid;
    border-width: 1px;
}

#services .featimg {
  width: 190px; height: 100px; padding: 5px; margin-bottom: 5px; border: 1px solid #ddd;
}
#services .featimg .featbox {
  width: 100%; height: 100px; overflow: hidden;
}
#services .featimg img {
  padding: 0px; border: 0px none;
}

h1, h2, h3, h4, h5, h6 {font-family: Arial, Tahoma, "Lucida Sans"; margin: 0px; padding: 0px;}

img {border: 0;}

#wp-calendar {margin: 0px!important; padding: 0px!important; width: 100%!important; font-size: 1.025em!important; text-align: center!important; clear: both!important; ;}

#gravatar_comments img {background: #FFFFFF; padding: 5px; border: 1px solid #dadada; margin-right: 8px!important;}

.top-header-wrap {margin: 0px; padding: 0px; float: left; width: 100%;}

#top-header {width: 940px; margin-right: auto; margin-left: auto;}

.h-content {float: left; width: 940px; margin: 0px; padding: 1em 0px 0em;}

.top-h-content {margin: 0px; padding: 2em 0px; float: left; width: 940px;}

.bottom-h-content {margin: 0px; padding: 0px; float: left; width: 940px; position: relative; height: 32px;}

.site-logo {margin: 0px; padding: 0px; float: left; font-size: 2em; width: 500px;}

.site-logo h1 {font-size: 1.65em; margin: 0px; padding: 0px; float: left; width: 100%;}

.site-logo a {color: #121212; text-decoration: none;}

.site-logo img {border: 0px;}

.site-testimonial {margin: 0px; padding: 8px 12px; float: right; font-size: 1.5em px; display: block; background: #efefef;}

.site-stats {margin: 6px 0px 0px; padding: 0px 0px 0px 19px; float: right; font-size: 17px; display: block; background: url(../images/pleft.png) no-repeat left center; line-height: 43px; height: 43px; color: #232323 !important;}

.site-stats span {background: url(../images/pright.png) no-repeat right center; margin: 0px; padding: 0px 19px 0px 0px; height: 43px; display: inline-block; float: left; color: #232323 !important;}

#main-header {width: 100%; margin: 0px; padding: 0px; float: left;}

#main-header-content {margin: 0px; padding: 0px; float: left; width: 100%; background: #ecf4f9; border-bottom: 5px solid #D3E7F1;}

#main-header-inner { width: auto; max-width: 940px; margin-right: auto; margin-left: auto; padding: 0px;}

#main-header-inner-content {float: left; width: auto; max-width: 940px; margin: 0px; padding: 2em 0px;}

#main-header-inner-content small a {color: #FFFFFF; text-decoration: none; font-size: 1.25em; padding: 8px; background: #0066CC; display: block; float: right;}

#main-header-inner-content small a:hover {color: #FFFFFF; text-decoration: underline; font-size: 1.25em; background: #0066CC; padding: 8px; display: block; float: right;}

#main-header-inner-content h4 {font-size: 3em; margin: 0px 0px 5px; padding: 0px; float: left; width: 100%; letter-spacing: -1px;}

#main-header-inner-content h4 .alignleft {float: left; width: 70%;}

#main-header-inner-content h4 .alignright {float: right; width: 30%; text-align: right;}

.navigation {float: left; width: 940px; position: absolute; bottom: 0px;}

.navigation .children {display: none;}

.pg-nav {margin: 0px; padding: 0px; list-style: none; float: left; display: inline-block; font-family: Arial, Helvetica;}

.pg-nav ul {margin: 0px; padding: 0px; list-style: none; float: left;}

.pg-nav li {display: inline; margin: 0px 5px 0px 0px; padding: 0px; float: left; font-size: 1.125em; color: #000000; font-weight: bold;}

.pg-nav ul li {display: inline; margin: 0px; padding: 0px; float: left; font-size: 1em; font-weight: normal;}

.pg-nav li a {margin: 0px; padding: 0px 13px; float: left; line-height: 30px; height: 30px; color: #181919; text-decoration: none;}

.pg-nav li a:hover {margin: 0px; padding: 0px 13px; float: left; line-height: 30px; height: 30px; color: #000000; text-decoration: underline; background: #ECF4F9;}

.top-header-wrap #home a {background: #ECF4F9; padding-right: 13px; padding-left: 13px;}

.top-header-wrap #home a:hover {background: #ECF4F9;}

.pg-nav li.current_page_item a, .pg-nav li.selected a {background: #ECF4F9; color: #000000; letter-spacing: normal; word-spacing: normal;}

.pg-nav li.current_page_item a:hover, .pg-nav li.selected a:hover {background: #ECF4F9; letter-spacing: normal; word-spacing: normal;}

#intro-log {margin: 0px; padding: 0.5em 0px 0em; float: left; width: 100%;}

#list-benefits {float: left; width: 650px; margin: 0px; padding: 0.5em 0px 0px;}

#list-benefits ul {margin: 0px; padding: 0px; float: left; width: 100%; list-style: none;}

#list-benefits ul li {margin: 0px 0px 10px; padding: 8px 0px 8px 42px; float: left; width: 90%; list-style: none; font-size: 1.25em; font-weight: bold; background: url(../images/listing.png) no-repeat left 1px;}

.list1 {background: url(../images/list1.gif) no-repeat left 1px;}

.list2 {background: url(../images/list2.gif) no-repeat left center;}

.list3 {background: url(../images/list3.gif) no-repeat left center;}

.list4 {background: url(../images/list4.gif) no-repeat left center;}

.p-avatar {margin: 0px; padding: 0px 15px 10px 0px; float: left;}

.p-user-meta {margin: 0px; padding: 0px; float: left; width: auto;}

#intro-package {float: right; padding-top: 1.05em;}

#edublog-free {float: left; height: 111px; width: 219px; padding: 10px; background: #FFFFFF url(../images/top-shades.png) repeat-x top; border: 1px solid #333333; -moz-border-radius: 10px;}

#edublog-corp {float: right; margin-left: 10px; height: 111px; width: 219px; padding: 10px; background: #FFFFFF url(../images/top-shades.png) repeat-x top; border: 1px solid #333333; -moz-border-radius: 10px;}

#edublog-free h3 {width: 219px; margin: 0px; padding: 5px 0px 0px; float: left; text-align: center; font-size: 1.85em; line-height: 1.2em; color: #222!important;}

#edublog-free p {text-align: center; margin: 0px; padding: 10px 0px 0px; float: left; width: 219px; font-size: 1.35em; font-weight: bold; text-transform: uppercase; text-decoration: underline;}

#edublog-free p a {color: #0066CC; text-decoration: underline;}

#edublog-free p a:hover {color: #000000; text-decoration: underline;}

#edublog-corp h3 {width: 219px; margin: 0px; padding: 5px 0px 0px; float: left; text-align: center; font-size: 1.85em; color: #000000; line-height: 24px;}

#edublog-corp p {text-align: center; margin: 0px; padding: 10px 0px 0px; float: left; width: 219px; font-size: 1.75em; font-weight: bold; text-transform: uppercase; line-height: 20px;}

#edublog-corp p a {color: #F78D11; text-decoration: underline;}

#edublog-corp p a:hover {color: #000000; text-decoration: underline;}

#edublog-corp span {font-size: 1.25em; line-height: 21px;}

#wraps {width: 940px; margin-right: auto; margin-left: auto;}

#container {width: 940px; margin: 0px; float: left; padding: 2em 0px 3em;}

#front-left {float: left; width: 460px;}

#front-right {float: right; width: 460px; margin: 0px; padding: 1em 0px 0px;}

#services {float: left; width: 460px; margin: 0px;}

#services h4 {margin: 0px 0px 1em; padding: 0px 0px 3px; float: left; width: 95%; font-size: 1.5em; border-bottom: 1px solid #ededed;}

.service-block {float: left; width: 210px; height: 250px; padding-right: 20px; padding-left: 0px;}

.service-block a {color: #0066CC; text-decoration: underline;}

.service-block img {margin: 0px 0px 0.5em; padding: 3px; float: left; border: 1px solid #ddd; background: #FFFFFF;}

.service-block h3 {margin: 0px; padding: 0px 3px 3px; float: left; width: 190px; font-size: 1.25em;}

.service-block p {margin: 0px; padding: 0px 3px; float: left; width: 190px; line-height: 18px;}

#more-features {margin: 0px; padding: 1em 0px; float: left; width: 94%;}

#more-features a {margin: 0px; padding: 5px 12px; background: #FFFFFF; display: block; color: #000000; text-decoration: none; border: 1px solid #aaa; font-size: 1.125em; text-align: center; float: right; font-weight: bold;}

#top-right-front {float: left; width: 100%; padding-bottom: 1em;}

#bottom-right-front {float: left; width: 470px;}

#top-right-panel {float: left; width: 180px; background: #ECF4F9; padding: 10px; border: 1px solid #D1E6F1; margin-right: 15px; position: relative;}

#top-right-panel form {margin: 0px; padding: 0px; float: left; width: 180px;}

#top-right-panel h3 {margin: 0px 0px 0.5em; padding: 0px; float: left; width: 180px;}

#top-right-panel label {font-size: 1em; margin: 0px; padding: 0px; float: left; width: 180px; color: #000000; font-weight: bold;}

#top-right-panel p {margin: 0px 0px 10px; padding: 0px; float: left; width: 180px;}

#top-right-panel .inbox {padding: 2px; width: 170px; border-top: 2px solid #999999; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-left: 2px solid #666666; background: #FFFFFF; color: #333333; font-family: Arial, Tahoma, "Lucida Sans";}

#top-right-panel .submit-button {font-size: 1em;}

.chk {color: #000000; font-size: 1em;}

.chk a {color: #166692; text-decoration: underline;}

.needhelp {font-size: 1em; color: #000000;}

.chk a:hover {color: #0066CC; text-decoration: none;}

#top-right-panel #user-profile {margin: 0px; padding: 0px; float: left; width: 180px; font-size: 1em; line-height: 20px;}

#top-right-panel #user-profile img {border: 5px solid #FFFFFF!important;}

#top-right-panel #user-profile a {color: #004E9B; text-decoration: underline;}

#top-right-panel #user-profile a:hover {color: #000000; text-decoration: underline;}

#top-right-panel #user-profile p {margin: 0px 0px 5px; float: left; width: 180px; color: #000000;}

#top-right-panel img {margin: 0px; padding: 0px; float: left; border: 2px solid #FFFFFF;}

#latest-news {float: right; width: 100%;}

#latest-news h3 {font-size: 1.325em; margin: 0px 0px 0.5em; padding: 0px 0px 3px; font-size: 1.125em;}

.news {margin: 0px 0px 1em; padding: 8px 10px 1em; border-bottom: 1px solid #eeeeee; background: url(../images/top-shades.png) repeat-x top;}

.news p {font-size: 1em; line-height: 20px; color: #333333; margin: 0px; padding-top: 0px; padding-right: 0px; padding-left: 0px;}

.news p a {color: #0066CC; text-decoration: none;}

#latest-news .date-in {margin: 0px; padding: 0px 0px 5px; color: #CCCCCC; font: italic 0.85em "Lucida Grande", "Trebuchet MS", Arial;}

.news h1 {font-size: 1.5em; line-height: 20px; margin: 0px; padding: 0px; font-weight: bold;}

.news h1 a {color: #0066CC; text-decoration: none;}

.news h1 a:hover {color: #000000; text-decoration: none;}

.news .com-count {font-size: 0.75em; margin: 0px; padding: 5px 0px 0px;}

.news .com-count a {color: #999; text-decoration: none; background: url(../images/coms.gif) no-repeat left center; padding-left: 17px; padding-top: 2px; padding-bottom: 2px;}

.news .com-count a:hover {color: #000000; text-decoration: underline; background: url(../images/coms.gif) no-repeat left center; padding-left: 17px; padding-top: 2px; padding-bottom: 2px;}

#edusupport {background: #f2f0e4; margin: 0px; padding: 3%; float: left; width: 93%; border: 1px solid #E7E2CB;}

.supporter p {float: right; width: 400px; text-align: right; padding-right: 10px; margin: 0px; line-height: 18px; font-weight: bold; color: #000000; padding-top: 5px; padding-bottom: 5px;}

.supporter p a {color: #4B4012; text-decoration: underline;}

.supporter p a:hover {color: #000000; text-decoration: none;}

#edusupport h3 {line-height: 30px; height: 30px; width: 100%; margin: 0px 0px 10px; padding: 0px; float: left; background:; border-bottom: 1px solid #E7E3CB; font-size: 1.25em; color: #4D503D;}

.supporter {margin: 0px; padding: 0px; float: left; width: 100%;}

.supporter ul {margin: 0px; padding: 0px; float: left; width: 446px; list-style: none;}

.supporter ul li {margin: 0px 10px 10px 0px; padding: 0px; float: left; width: 213px; list-style: none; height: 35px; line-height: 16px; color: #000000; overflow: hidden;}

.supporter img {margin: 0px 5px 0px 0px; padding: 0px; float: left; border: 3px solid #FFFFFF;}

.supporter li a {color: #131313; text-decoration: none;}

.supporter li a:hover {color: #FFFFFF; text-decoration: none; background: #615E29;}

#edutag {background: #f7fafb; margin: 1em 0px 0px; padding: 3%; float: left; width: 93%; border: 1px solid #CCCCCC;}

#edutag p {float: right; width: 400px; font-weight: bold; color: #000000; text-align: right; margin: 0px; padding: 0px 10px 0px 0px;}

#edutag p a {color: #FFFFFF; text-decoration: none; display: block; margin: 0px; padding: 5px 12px; float: right; border: 1px solid #0066D4; background: #0066D4;}

#edutag h3 {margin: 0px 0px 10px; padding: 0px; float: left; height: 30px; width: 100%; font-size: 1.125em; border-bottom: 1px solid #E6E6E6;}

.edtag {margin: 0px; padding: 0px 0px 1.5em; float: left; width: 100%; line-height: 1.4em;}

.edtag a {color: #0066CC; text-decoration: none;}

.edtag a:hover {color: #003399; text-decoration: none;}

#footer {margin: 0px; padding: 0px; float: left; width: 100%; background: #EDF8FE; border-top: 1px solid #C9EAFC; line-height: 20px;}

#incsubfooter {margin: 0px; padding: 0px; float: right; text-align: right; width: 52%;}

.footer a {font-weight: bold; color: #222; text-decoration: none;}

#footer-wrap {width: 940px; margin-right: auto; margin-left: auto;}

#footer-container {width: 940px; margin: 0px; float: left; padding-top: 1.125em; padding-bottom: 1.125em;}

#footer-container p {margin: 0px; padding: 0px;}

#wp-footer {margin: 0px; padding: 0px; float: left; width: 100%;}

.myedu {float: left; width: 45%;}

.myedu a {color: #000000; text-decoration: none;}

.myedu a:hover {color: #000000; text-decoration: underline;}

.incsubfooter {float: right; width: 52%; color: #000000; line-height: 18px; font-weight: bold;}

.ngg-widget, .ngg-widget-slideshow {float:left !important;} /*////////post css //////////////////*/

.content {float: left; width: 100%;}

#post-entry {float: left; width: 600px; padding-right: 30px; border-right: 1px solid #eee;}

h2#post-header {font-size: 1.5em; line-height: 24px; color: #999; margin: 8px 0px 15px; padding: 0px 0px 2px; float: left; width: 90%; border-bottom: 1px solid #ededed;}

#sidebar {float: right; width: 285px; padding-left: 15px;}

div.post, div.page {margin: 0px 0px 2em; padding: 0px 0px 2em; float: left; width: 100%; border-bottom: 1px solid #ededed;}

h1.post-title {margin: 0px; padding: 0px 0px 5px; font-size: 2.5em; font-weight: normal; float: left; width: 100%;}

h1.post-title a {color: #000000; text-decoration: none;}

h1.post-title a:hover {color: #0066CC; text-decoration: none;}

h1.post-title img {margin-right: 3px;}

.post-title {margin: 0px; padding: 0px; float: left; width: 100%;}

.coms-post a {background: url(../images/comment.png) no-repeat left center; display: inline-block; color: #000000; text-decoration: none; padding: 3px 15px 3px 18px;}

.coms-post a:hover {background: url(../images/comment.png) no-repeat left center; display: inline-block; padding-left: 18px; padding-right: 15px;}

.post-title p {float: left; margin: 0px 5px 0px 0px; padding: 0px;}

.post-title p img {border: 4px solid #f6f6f6;}

.post-author {font-size: 0.9em; margin: 0px; padding: 7px 2% 7px 1%; float: left; width: 97%; color: #555; border-top: 1px solid #dadada; border-bottom: 1px solid #DADADA;}

.post-author a {color: #0066CC; text-decoration: underline;}

.post-author a:hover {color: #000000; text-decoration: none;}

.post-author img {height: 16px !important; width: 16px !important;}

.post-author .alignleft {padding-top: 3px;}

.post-under {font-size: 0.9em; margin: 0px; padding: 8px 0px 8px 25px; float: left; width: 94%; color: #666666; background: url(../images/tag.png) no-repeat 3px 7px;}

.post-under a {color: #0066CC; text-decoration: underline;}

.post-under a:hover {color: #0066CC; text-decoration: underline;}

.post-blog-content {font-size: 1em; margin: 0px; padding: 1em 0px; float: left; width: 100%; line-height: 22px; overflow: hidden;}

.post-blog-content a {color: #0066CC; text-decoration: underline;}

.post-blog-content a:hover {text-decoration: none; color: #000000;}

.post-social {margin: 0px; padding: 0px; float: left;}

#post-navigator {margin: 0px; padding: 0em 0px 1em; float: left; width: 99%; font-size: 1em;}

#post-navigator-single {margin: 0px; padding: 5px 0px; float: left; width: 99%;}

.wp-pagenavi {float: left; width: 99%; padding-top: 8px; padding-bottom: 8px; font-size: 1.125em;}

.pages {color: #000000; padding: 2px 5px; margin-right: 5px; font-weight: bold;}

#post-navigator .current {background: #FFFFFF; padding: 4px 8px; margin-left: 4px; color: #000000; border: 1px solid #aaa;}

#post-navigator a {color: #000000; background: #F1FAFE; padding: 4px 8px; margin: 0px 0px 0px 3px; text-decoration: none; font-weight: bold;}

#post-navigator a:hover {color: #FFFFFF; background: #121212; padding: 4px 8px; margin: 0px 0px 0px 3px; text-decoration: none; font-weight: bold;}

#post-navigator-single .alignleft {font-size: 11px; margin: 0px; padding: 0px; float: left; width: 45%; overflow: hidden; text-align: left;}

#post-navigator-single .alignright {margin: 0px; padding: 0px; float: right; width: 45%; overflow: hidden; text-align: right;}

#post-navigator-single a {color: #0066CC; padding: 5px 8px; margin: 0px 0px 0px 3px; text-decoration: underline;}

#post-navigator-single a:hover {color: #333333; padding: 5px 8px; margin: 0px 0px 0px 3px; text-decoration: none;}

#comments-template {float: left; width: 100%; padding-top: 1em; padding-bottom: 1em;}

#comments-template h4 {font-size: 1.45em; margin: 1em 0px; padding: 0px; float: left; width: 100%; line-height: 20px; color: #000000;}

#comments-template #comments {margin: 0px; padding: 0px; font-size: 21px;}

#rss-subscriber {font-size: 12px; line-height: 18px; color: #CCCCCC; margin: 0px 0px 2.125em; padding: 0px; float: left; width: 90%;}

#rss-subscriber a {color: #0066CC; text-decoration: underline;}

#rss-subscriber a:hover {color: #0099FF; text-decoration: none;}

.com-box {margin: 0px 0px 10px; padding: 0px; float: left; width: 100%;}

.com-box a {color: #0066CC; text-decoration: none;}

.com-box a:hover {color: #000000; text-decoration: underline;}

.com-avatar {float: left; height: 54px; width: 54px;}

.com-avatar img {border: 3px solid #F3F3F3;}

.com-wrp {background: url(../images/cc.gif) repeat-y; float: left; width: 551px;}

.com-bottom {background: url(../images/cb.gif) no-repeat bottom; float: right; height: 15px; width: 551px;}

.com-content {background: url(../images/ct.gif) no-repeat top; float: left; width: 501px; padding-top: 10px; padding-left: 30px; padding-right: 20px;}

.com-author {float: left; width: 501px; font-size: 13px; font-weight: bold; color: #000000; line-height: 22px;}

.com-date {margin: 0px; padding: 0px; float: left; width: 501px; font-size: 11px;}

.com-text {margin: 0px; padding: 8px 0px; float: left; width: 501px; font-size: 12px; line-height: 20px; color: #333333; overflow: hidden;}

.com-text a {color: #0066CC; text-decoration: underline;}

.com-text a:hover {color: #0099CC; text-decoration: none;}

.com-wrp-author {background: url(../images/cca.gif) repeat-y; float: left; width: 551px;}

.com-bottom-author {background: url(../images/cba.gif) no-repeat bottom; float: right; height: 15px; width: 551px;}

.com-content-author {background: url(../images/cta.gif) no-repeat top; float: left; width: 501px; padding-top: 10px; padding-left: 30px; padding-right: 20px;}

#comments-template #commentform {margin: 0px!important; padding: 0px; float: left; width: 100%;}

#commentform label {font-size: 13px; font-weight: bold; color: #000000; line-height: 18px;}

#commentform p {margin: 0px 0px 20px; padding: 0px;}

#commentform .comfield {padding: 3px; width: 350px; border-top: 1px solid #666666; border-right: 1px solid #dedede; border-bottom: 1px solid #DEDEDE; border-left: 1px solid #666666; background: #FFFFFF; font: 12px Verdana, Arial, "Times New Roman", sans-serif; color: #666666;}

#commentform #secureimgdiv {font-size: 12px!important; line-height: 18px;}

#commentform label span {font-size: 13px; color: #990000; padding-left: 5px;}

#commentform .comarea {padding: 3px; width: 450px; border-top: 1px solid #666666; border-right: 1px solid #dedede; border-bottom: 1px solid #DEDEDE; border-left: 1px solid #666666; background: #FFFFFF; font: 12px/20px Verdana, Arial, "Times New Roman", sans-serif; color: #666666; height: 250px;}

#commentform .submit-button {font-size: 14px; font-weight: bold; color: #000000;}

#edu-students {font-size: 15px; color: #000000; font-weight: bold; background: #ECF4F9; margin: 0px 0px 1em; padding: 5%; float: left; width: 83%; border: 3px solid #D9E9F2;}

#edu-students h4, #edu-schools h4 {font-size: 1.5em; line-height: 24px;}

#edu-students span {font-size: 13px; color: #444;}

#edu-schools span {font-size: 13px; color: #f6f6f6;}

#edu-students a {color: #FFFFFF; text-decoration: none; background: #0066CC; padding: 4px 12px; margin: 10px 0px 0px; float: left; display: block; font-size: 0.9em;}

#edu-students a:hover {color: #FFFFFF; text-decoration: underline;}

#edu-schools {background:; float: left; width: 83%; font-size: 15px; color: #FFFFFF; font-weight: bold; margin: 0px 0px 2em; padding: 5%; background: #83310b; border: 3px solid #A53F0E;}

#edu-schools a {color: #FFFFFF; text-decoration: none; background: #BF3000; padding: 4px 12px; margin: 10px 0px 0px; float: left; display: block; font-size: 0.9em;}

#edu-schools a:hover {color: #FFFFFF; text-decoration: underline;}

.pullquote-left {color: #000000; margin: 8px 8px 0px 2px; padding: 3px 3px 8px; float: left; width: 30%; text-align: center; font: italic normal 18px/20px Georgia, "Times New Roman", Helvetica, sans-serif;}

.pullquote-right {color: #000000; margin: 8px 8px 0px 2px; padding: 3px 3px 8px; float: right; width: 30%; text-align: center; font: italic normal 18px/20px Georgia, "Times New Roman", Helvetica, sans-serif;}

input, select, textarea {font-family: Arial, Tahoma, "Lucida Sans";}

input.button [ class ] {width: auto;}

fieldset, img {border: 0px none;} /* Captions */

div.aligncenter {display: block; margin: 0px auto;}

div.alignleft {float: left; margin-right: 10px;}

div.alignright {float: right; margin-right: 0px; margin-left: 10px;}

.wp-caption {border: 1px solid #CCCCCC; text-align: center; background: #F8F8F8; padding-top: 4px; margin-top: 10px; margin-bottom: 10px;}

.wp-caption img {margin: 0; padding: 0; border: 0 none;}

.wp-caption p.wp-caption-text {padding: 5px 4px; margin: 0; color: #949494; font: normal 11px/16px Arial, Tahoma, "Lucida Sans";} /* End captions */

p img {padding: 0; max-width: 100%;}

img.centered {display: block; margin-left: auto; margin-right: auto; text-align: center;}

img.alignright {padding: 4px; margin: 0 0 2px 7px; float: right;}

img.alignleft {padding: 4px; margin: 0 7px 2px 0; float: left;}

.alignright {float: right;}

.alignleft {float: left;}

dt {margin-bottom: 5px; margin-top: 0px; font: 400 1em Arial, Helvetica, sans-serif;}

dd {font: italic 1em Arial, Helvetica, sans-serif; margin-bottom: 8px; margin-left: 0px;}

code {font: 1.025em "Courier New", "MS Sans Serif", sans-serif, serif;}

blockquote p {margin: 0px; padding: 0px;}

blockquote {margin: 15px; padding: 12px 0px 12px 10px; border-left: 4px solid #9CB95E; color: #000000; letter-spacing: -1px; font: normal 20px/24px Cambria, Georgia, Geneva, Verdana;}

pre {margin: 8px 0px; padding: 10px; clear: both; width: 92%; overflow: scroll; background: #FFFFFF; color: #000000; font: 13px/22px "Courier New", "MS Sans Serif", sans-serif, serif; white-space: nowrap; border: 1px solid #eeeeee;}

em {font-style: italic; font-weight: normal;}

.post-blog-content img.alignleft {float: left; margin-right: 10px; margin-top: 5px; margin-bottom: 5px; padding: 5px; border: 1px solid #dadada;}

.post-blog-content img.alignright {padding: 5px; float: right; margin-top: 0px; margin-left: 15px; margin-right: 8px; border: 1px solid #dadada;}

.post-blog-content img.center {padding: 5px; display: block; margin: 5px auto 10px; clear: both; border: 1px solid #dadada;}

.post-blog-content ul {margin-bottom: 24px; width: 100%; margin-left: 0px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px; margin-top: 0px; list-style: none;}

.post-blog-content ul ul, .post-blog-content ol ol {margin: 0px; list-style: none;}

.post-blog-content ul li {margin-bottom: 5px; margin-left: 35px; padding-left: 0px; list-style: square;}

.post-blog-content ul li ul li {margin-bottom: 0px; margin-top: 5px; margin-left: 15px; padding-left: 0px; list-style: disc;}

.post-blog-content ol {list-style: decimal; margin-bottom: 24px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px; margin-top: 0px; margin-left: 0px;}

.post-blog-content ol li {margin-bottom: 5px; margin-left: 40px; padding-left: 0px; list-style: decimal;}

.post-blog-content ol li ol li {margin-bottom: 0px; margin-top: 5px; padding-left: 0px; list-style: square; margin-left: 15px;}

.post-blog-content .gallery {margin: 0px; padding: 15px 0px 0px!important; float: left; width: 100%!important;}

dl.gallery-item {display: inline-block!important; margin: 0px 15px 15px 0px!important; padding: 0px!important; float: left!important; width: auto!important;}

dt.gallery-icon {margin: 0px!important; padding: 0px!important; float: left!important;}

.post-blog-content p {margin-top: 0px; margin-bottom: 18px;}

.post-blog-content img {border: 0px;}

.post-blog-content h1 {margin: 0px 0px 5px; padding: 0px 0px 3px; font-size: 17px; font-weight: bold; line-height: 20px; color: #000000;}

.post-blog-content h2 {margin: 0px 0px 5px; padding: 0px 0px 3px; font-size: 17px; font-weight: bold; line-height: 20px; color: #000000;}

.post-blog-content h3 {margin: 25px 0px 5px; padding: 0px 0px 2px; font-size: 18px; font-weight: bold; line-height: 20px; color: #000000; border-bottom: 1px solid #eeeeee;}

.post-blog-content h4 {margin: 0px 0px 5px; padding: 0px; font-size: 18px; font-weight: bold; line-height: 24px;}

.post-blog-content h5 {margin: 0px 0px 5px; padding: 0px; font-size: 16px; font-weight: bold; line-height: 19px;}

#ed_toolbar {margin: 0px; padding: 0px 0px 5px; width: 550px; font: 12px Arial, Tahoma, "Lucida Sans"; color: #000000;}

#ed_toolbar input.ed_button {padding: 2px 3px;}

#ed_toolbar input.ed_button:hover {padding: 2px 3px;}

ul.sidebar_list {margin: 0px; padding: 0px; float: left; width: 100%; list-style: none;}

ul.sidebar_list select {background: #FFFFFF; padding: 3px; width: 90%; border-top: 1px solid #CCCCCC; border-right: 1px solid #dedede; border-bottom: 1px solid #dedede; border-left: 1px solid #dedede;}

ul.sidebar_list .widget_text {font-size: 1em; line-height: 18px;}

ul.sidebar_list a {color: #0066CC; text-decoration: underline;}

ul.sidebar_list li {margin: 0px; padding: 0px 0px 2em; float: left; width: 100%; list-style: none;}

ul.sidebar_list li h3 {margin: 0px 0px 1em; padding: 1% 2%; float: left; width: 96%; list-style: none; font-size: 1.25em; background: #ECF4F9; border: 2px solid #E2EEF5;}

ul.sidebar_list h3 a {color: #222; text-decoration: none;}

ul.sidebar_list li ul {margin: 0px; padding: 0px 2%; float: left; width: 96%; list-style: none;}

ul.sidebar_list li ul li {float: left; width: 100%; list-style: none; font-size: 1em; border-bottom: 1px solid #ededed; padding: 6px 0px; line-height: 1.25em;}

ul.sidebar_list li ul li ul li {float: left; width: 90%; list-style: none; font-size: 1em; border: 0px none; padding: 3px 0px 3px 15px; background: url(../images/children.png) no-repeat left 4px;}

ul.sidebar_list a:hover {color: #222; text-decoration: none;}

input [ type = 'text' ], input [ type = 'password' ], textarea, select {background: #FFFFFF; padding: 4px 2px; border-top: 1px solid #aaa; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; border-left: 1px solid #aaa; font: 1em Arial, sans-serif; color: #666666; margin: 0px 0px 5px;}

input#s, .dir-search input [ type = 'text' ] {width: 65%;}

input [ type = 'submit' ], input [ type = 'button' ], input.button, input.submit {padding: 2px 5px; margin: 0px 0px 5px; font: 12px Arial, sans-serif; text-decoration: none; overflow: visible; background: #0066CC; -moz-border-radius: 6px; -khtml-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 0px none;} /* commentlist with thread comment */

#commentpost {margin: 0px; padding: 0px 2% 2%; float: left; width: 96%;}

#commentpost a {color: #0066CC; text-decoration: underline;}

#commentpost h4, h3#reply-title {font-size: 22px; line-height: 28px; margin: 25px 0px 15px; padding: 0px 0px 10px; float: left; width: 100%; border-bottom: 1px solid #eee;}

#rss-com {margin: 0px; padding: 0px 0px 25px; float: left; width: 100%;}

#rss-com p {margin: 0px; padding: 0px; float: left;}

#rss-com p a {display: inline-block; margin: 0px 20px 0px 0px; padding: 4px 10px; float: left; background: #A83600; color: #FFFFFF; text-decoration: none; font-size: 12px;}

#rss-com p a:hover {display: inline-block; margin: 0px 20px 0px 0px; padding: 4px 10px; float: left; background: #BF3F00; color: #FFFFFF; text-decoration: none; font-size: 12px;}

ol.commentlist {list-style: none; margin: 0; padding: 2em 0; text-indent: 0; float: left; width: 100%;}

ol.commentlist blockquote {margin: 0px 0px 10px; padding: 5px 0px 5px 5px; clear: both; border-left: 5px solid #333333; font-size: 15px; line-height: 19px; font-weight: bold; font-style: italic; letter-spacing: normal; word-spacing: normal;}

ol.commentlist blockquote blockquote {margin: 5px 0px 5px 5px;}

ol.commentlist blockquote p {margin: 0px!important; padding: 0px!important;}

#respond {margin: 0px; padding: 0px; width: 100%;}

ol.commentlist li {border: 1px solid #CCCCCC; border-radius: 5px; -moz-border-radius: 10px; -webkit-border-radius: 10px; height: 1%; margin: 0 0 10px; padding: 12px 15px 12px 80px; position: relative;}

ol.commentlist li.alt {}

ol.commentlist li.bypostauthor {}

ol.commentlist li.byuser {}

ol.commentlist li.comment-author-admin {}

ol.commentlist li.comment {}

ol.commentlist li div.comment-author {padding: 0 170px 0 0;}

ol.commentlist li div.vcard {font-size: 16px; line-height: 25px;}

.fn a {color: #A83600; text-decoration: underline;}

ol.commentlist li div.vcard cite.fn {font-style: normal;}

ol.commentlist li div.vcard cite.fn a.url {color: #A83600; text-decoration: underline;}

ol.commentlist li div.vcard cite.fn a.url:hover {}

ol.commentlist li div.vcard img.avatar {border: 1px solid #d5d5d5; left: 15px; position: absolute; top: 15px; padding: 5px; background: #FFFFFF;}

ol.commentlist li div.vcard img.avatar-32 {}

ol.commentlist li div.vcard img.photo {height: 32px; width: 32px;}

ol.commentlist li div.vcard span.says {}

ol.commentlist li div.commentmetadata {}

ol.commentlist li div.comment-meta {position: absolute; right: 21px; text-align: right; top: 18px; font-size: 10px; line-height: 1.4; margin-bottom: 25px;}

ol.commentlist li div.comment-meta a {color: #A83600; text-decoration: none;}

ol.commentlist li div.comment-meta a:hover {}

ol.commentlist li p {margin: 15px 0 0px; font-size: 1em; line-height: 20px;}

ol.commentlist li p a {color: #A83600; text-decoration: underline;}

ol.commentlist li ul {list-style: square; margin: 0 0 1em; padding: 0; text-indent: 0; font-size: 11px; font-style: normal; line-height: 1.4; font-weight: normal; font-variant: normal;}

ol.commentlist li div.reply {text-align: center; width: 36px; font: 11px/1 Arial, Tahoma, "Lucida Sans"; margin-bottom: 25px; margin-top: 10px;}

#container ol.commentlist li div.reply a {border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color:#333333!important; text-decoration: none; background: #ededed!important; display: block; line-height: 15px; height: 15px; width: 35px; padding: 3px 1px;}

#container #commentpost ol.commentlist li div.reply a:hover {border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; color:#fff!important; text-decoration: none; background: #333333!important; padding: 3px 1px; display: block; line-height: 15px; height: 15px; width: 35px;}

ol.commentlist li ul.children {list-style: none; margin: 1em 0 0; text-indent: 0;}

ol.commentlist li ul.children li {}

ol.commentlist li ul.children li.alt {}

ol.commentlist li ul.children li.bypostauthor {}

ol.commentlist li ul.children li.byuser {}

ol.commentlist li ul.children li.comment {}

ol.commentlist li ul.children li.comment-author-admin {}

ol.commentlist li ul.children li.depth-2 {margin: 0 0 .25em;}

ol.commentlist li ul.children li.depth-3 {margin: 0 0 .25em;}

ol.commentlist li ul.children li.depth-4 {margin: 0 0 .25em;}

ol.commentlist li ul.children li.depth-5 {}

ol.commentlist li ul.children li.odd {}

ol.commentlist li.even {}

ol.commentlist li.odd {}

ol.commentlist li.parent {}

ol.commentlist li.pingback {}

ol.commentlist li.pingback .parent {}

ol.commentlist li.pingback div.vcard {padding: 0 170px 0 0;}

ol.commentlist li.thread-alt {}

ol.commentlist li.thread-even {}

ol.commentlist li.thread-odd {}

ol.pinglist {margin: 0px 0px 25px; padding: 0px; float: left; width: 100%; list-style: none;}

ol.pinglist li {margin: 0px; padding: 0px; float: left; width: 100%; font-size: 1em; line-height: 20px; border-bottom: 1px solid #eee;}

ol.pinglist li a{color: #0066CC; text-decoration: none; display: block; margin: 0px; padding: 1% 2%; float: left; width: 88%;}

ol.pinglist li a:hover {color: #0066CC; text-decoration: underline!important; display: block; margin: 0px; padding: 1% 2%; float: left; width: 88%;}

.cancel-comment-reply {font-size: 11px!important; margin-bottom: 10px;}

#respond a {color: #0066CC; text-decoration: underline;}

#linking li {margin: 0px 0px 8px; padding: 0px; float: left; width: 100%; font-size: 12px; color: #666666;}

#linking li a {font-size: 13px; color: #A83600; text-decoration: underline; font-weight: bold;}

#cf {margin: 0px 0px 2em; padding: 3% 5%; background: #eee; width: 90%; clear: both;}

#cf label {font-size: 1em; margin: 0px; padding: 0px;}

#cf small {font-size: 1em;}

#cf label small {}

#cf a {text-decoration: underline; color: #0066CC;}

#cf p {margin: 5px 0px 25px; padding: 0px;}

#cf .tf {margin: 0px; padding: 7px 5px; width: 55%; font: 12px/20px Arial, Tahoma, "Lucida Sans"; color: #000000; background: #FFFFFF; border-top: 2px solid #999999; border-right: 1px solid #D7D7D7; border-bottom: 1px solid #D7D7D7; border-left: 1px solid #D7D7D7;}

#cf .af {margin: 0px; padding: 7px 5px; width: 95%; font-size: 12px; height: 200px; line-height: 19px; color: #000000; border-top: 2px solid #999999; border-right: 1px solid #D7D7D7; border-bottom: 1px solid #D7D7D7; border-left: 1px solid #D7D7D7;}

#cf .st {margin: 0px; padding: 4px 11px; font-size: 14px; color: #FFFFFF; width: auto; overflow: visible; -moz-border-radius: 8px; -khtml-border-radius: 8px; -webkit-border-radius: 8px; background: #999999; letter-spacing: normal; word-spacing: normal; border-top: 0px none; border-right: 0px none; border-bottom: 0px none; border-left: 0px none;}

#cf .tinput {padding: 2px 5px; margin: 0px; color: #000000; font: bold 13px/18px Arial, Tahoma, "Lucida Sans"; text-decoration: none; overflow: visible;} /* -----------------------------------*/ /* >> Dropdown Navigations <<<-----*/ /* -----------------------------------*/

.tabberlive .tabbertabhide {display: none;}

.tabber {float: left; margin: 0px; padding: 0px;}

.tabbertab img {border: 0px;}

.tabberlive {float: left; width: 455px; padding: 0px; margin-bottom: 15px;} /*--------------------------------------------------   ul.tabbernav = the tab navigation list   li.tabberactive = the active tab   --------------------------------------------------*/

ul.tabbernav {margin: 0px; padding: 0px; float: left; width: 455px; list-style: none; height: 33px;}

ul.tabbernav li {display: inline; margin: 0px; padding: 3px 0px 0px; float: left;}

ul.tabbernav li a {font-size: 1em; line-height: 33px; color: #333333; display: inline; margin: 0px; float: left; text-decoration: none; padding: 0px 12px; height: 33px; background: #FBFEFF; font-weight: bold; border-top: 1px solid #D3E7F1; border-right: 1px solid #D3E7F1; border-left: 1px solid #D3E7F1;}

ul.tabbernav li.tabberactive a {font-size: 1em; line-height: 33px; color: #0066CC; display: inline; margin: 0px; float: left; text-decoration: none; padding: 0px 12px; background: #ECF4F9; font-weight: bold; height: 33px; border-top: 1px solid #D3E7F1; border-right: 1px solid #D3E7F1; border-left: 1px solid #D3E7F1;} /*--------------------------------------------------   .tabbertab = the tab content   Add style only after the tabber interface is set up (.tabberlive)   --------------------------------------------------*/

.tabberlive .tabbertab {margin: 0px; padding: 0px; float: left;}

.tabber .tabbertab {}

.tabbertab p {margin: 0px; padding: 0px;}

.rss-feeds {margin: 0px; padding: 10px; float: left; width: 430px; list-style: none; background: #ECF4F9; border-right: 1px solid #D3E7F1; border-bottom: 1px solid #D3E7F1; border-left: 1px solid #D3E7F1;}

.feed-pull {float: left; width: 100%; border-bottom: 1px solid #CDECFC; padding: 15px 0px; margin: 0px;}

.rss-feeds h1 {margin: 0px; padding: 0px; float: left; width: 100%; font-size: 1.35em;}

.feed-pull h1 a {color: #0066CC; text-decoration: none;}

.feed-pull h1 a:hover {color: #000000; text-decoration: none;}

.rss-author {margin: 0px; padding: 0px 0px 0px 18px; float: left; width: 90%; font-size: 0.9125em; line-height: 1.4em; background: url(../images/authors.gif) no-repeat left center; font-style: italic;}

.rss-content {margin: 0px; padding: 8px 0px; float: left; width: 100%; font-size: 1em; line-height: 1.4em;}

.rss-content a {color: #0066CC; text-decoration: underline;}

.rss-content a:hover {color: #0066CC; text-decoration: none;}

.tabbertab .list {margin: 0px; padding: 15px 0px 15px 10px; float: left; width: 435px; list-style: none; background: #edf8fe; border: 1px solid #B7E3FB;}

.tabbertab .list ul {margin: 0px; padding: 0px; float: left; width: 425px; list-style: none; background: transparent none; border: 0px none;}

.tabbertab .list li {margin: 0px 0px 5px; padding: 0px 0px 0px 28px; float: left; width: 395px; list-style: none; font-size: 11px; line-height: 19px; color: #333333; background: url(images/list.gif) no-repeat left 1px; font-weight: bold;}

.tabbertab .list ul li {margin: 6px 0px 0px; padding: 0px; float: left; width: 395px; list-style: none; font-size: 11px; line-height: 19px; color: #333333;}

.tabbertab .list li a {margin: 0px; color: #0066CC; text-decoration: none; font-weight: normal;}

.tabbertab .list li a:hover {margin: 0px; color: #0066CC; text-decoration: underline;}

.tabbertab .list-alt {margin: 0px; padding: 15px 0px 15px 10px; float: left; width: 435px; list-style: none; background: #edf8fe; border: 1px solid #B7E3FB;}

.tabbertab .list-alt ul {margin: 0px; padding: 0px; float: left; width: 425px; list-style: none; background: transparent none; border: 0px none;}

.tabbertab .list-alt li {margin: 0px 0px 5px; padding: 0px 0px 0px 28px; float: left; width: 385px; list-style: none; font-size: 11px; line-height: 19px; color: #333333; background: url(images/list-alt.gif) no-repeat left 1px; font-weight: bold;}

.tabbertab .list-alt ul li {margin: 6px 0px 0px; padding: 0px; float: left; width: 395px; list-style: none; font-size: 11px; line-height: 19px; color: #333333;}

.tabbertab .list-alt li a {margin: 0px; color: #FF6600; text-decoration: none; font-weight: normal;}

.tabbertab .list-alt li a:hover {margin: 0px; color: #FF3300; text-decoration: underline;}

.tabbertab .nolist {margin: 0px; padding: 15px 0px 15px 10px; float: left; width: 435px; list-style: none; background: #edf8fe; border: 1px solid #B7E3FB;}

.tabbertab .nolist ul {margin: 0px; padding: 0px; float: left; width: 425px; list-style: none; background: transparent none;}

.tabbertab .nolist li {margin: 0px 0px 5px; padding: 0px 0px 0px 5px; float: left; width: 395px; list-style: none; font-size: 11px; line-height: 19px; color: #333333; font-weight: bold;}

.tabbertab .nolist ul li {margin: 6px 0px 0px; padding: 0px; float: left; width: 395px; list-style: none; font-size: 11px; line-height: 19px; color: #333333;}

.tabbertab .nolist li a {margin: 0px; color: #006699; text-decoration: none; font-weight: normal;}

.tabbertab .nolist li a:hover {margin: 0px; color: #990000; text-decoration: underline;} /* If desired, hide the heading since a heading is provided by the tab */

.tabberlive .tabbertab h2 {display: none; margin: 0px; padding: 0px;}

.tabberlive .tabbertab h3 {display: none; margin: 0px; padding: 0px;}

.tabber .tabbertab h2 {margin: 0px; padding: 0px;}

.tabber .tabbertab h3 {margin: 0px; padding: 0px;} /*  * Note: Include the nivo-slider.css file that comes  * with the main download before including this file.  */

#slider-wrapper {width: 420px; height:280px !important;}

#slider {position: relative; background: #181919 url(../images/ajax-loader.gif) no-repeat 50% 50%; width: 100%; height:280px !important;}

#slider h1 {font-size: 1.25em; margin: 0px; padding: 0px;}

#slider img {position: absolute; top: 0px; left: 0px; display: none;}

#slider a {border: 0; display: block;}

.nivo-controlNav {position: absolute; right: 0; display: none; top: 0; padding: 0 5px; background: White; z-index: 999;}

.nivo-controlNav a {display: block; width: 10px; height: 10px; /*background:url(../images/nivo/bullets.png) no-repeat;*/ /*text-indent:-9999px;*/ border: 0; margin-right: 3px; float: left; color: #666666; font: 10px Helvetica, Arial, sans-serif; text-align: center; padding: 2px 2px 4px 2px;}

.nivo-controlNav a.active { /*background-position:-10px 0;*/background: #666666; color: #ffffff;}

.nivo-directionNav a {display: block; width: 32px; height: 34px; background: url(../images/nivo/arrows.png) no-repeat; text-indent: -9999px; border: 0;}

a.nivo-nextNav {background: -32px 0; right: 10px;}

a.nivo-prevNav {left: 10px;} /*  * jQuery Nivo Slider v1.9  * http://nivo.dev7studios.com  *  * Copyright 2010, Gilbert Pellegrom  * Free to use and abuse under the MIT license.  * http://www.opensource.org/licenses/mit-license.php  *  * March 2010  */ /* The Nivo Slider styles */

.nivoSlider {position: relative;}

.nivoSlider img {position: absolute; top: 0px; left: 0px; width: 100% !important; height: auto; float: left;} /* If an image is wrapped in a link */

.nivoSlider a.nivo-imageLink {position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border: 0; padding: 0; margin: 0; z-index: 60; display: none;} /* The slices in the Slider */

.nivo-slice {display: block; position: absolute; z-index: 50; height: 100%;} /* Caption styles */

.nivo-caption {position: absolute; left: 0px; bottom: 0px; background: #000; color: #fff; opacity: 0.8;/* Overridden by captionOpacity setting */ width: 96%; z-index: 89; padding: 2%;}

.nivo-caption p {padding: 5px; margin: 0;} /* Direction nav styles (e.g. Next & Prev) */

.nivo-directionNav a {position: absolute; top: 45%; z-index: 99; cursor: pointer;}

.nivo-prevNav {left: 0px;}

.nivo-nextNav {right: 0px;} /* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav a {position: relative; z-index: 99; cursor: pointer;}

.nivo-controlNav a.active {font-weight: bold;}


/* -----------------------------------*/
/* >> Dropdown Navigations <<<-----*/
/* -----------------------------------*/

#nav li.current_page_item a, #nav li.selected a, #nav li.current_menu_item a, #nav li.current_page_item a:hover, #nav li.current_menu_item a:hover {
  background: #B8CFDD;
  color: #111;
}

#nav {
	margin: 0px !important;
	padding: 0px !important;
	list-style: none;
	float: left;
	position: relative;
	font-size: 1em;
    z-index: 1000 !important;
    width: 100%;
}
#nav ul {}

#nav li {
	position: relative;
	display: inline-block;
	float: left;
    font-weight: bold;
	margin: 0px 5px 0px 0px;
	padding: 0px;
	}


#nav li li {
	padding: 0px !important;
    margin: 0px !important;
	}

#nav li ul {
	position: absolute;
	left: 0px; /* Set 1px less than menu width */
	top: 28px;
	display: none;
	margin: 0px;
	padding: 0px;
	width: 180px;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
	border-top-width: 0px;
	border-top-style: none;
	list-style-type: none;
    box-shadow: 1px 2px 2px #222;
	-moz-box-shadow: 1px 2px 2px #222;
	-webkit-box-shadow: 1px 2px 2px #222;
	}

/* Styles for Menu Items */
#nav li a {
	text-decoration: none;
	color: #222;
	display: inline-block;
	padding: 0px 15px;
	margin: 0px;
	float: left;
	font-size: 1.25em;
	line-height: 28px;
    background: #ECF4F9;
	}

#nav li a:hover {
	text-decoration: none;
	color: #111;
	display: inline-block;
	padding: 0px 15px;
	margin: 0px;
	float: left;
	font-size: 1.25em;
	line-height: 28px;
    background: #B8CFDD;
	}

#nav ul li a {
	text-decoration: none;
	color: #222;
	display: inline-block;
	padding: 5px 15px 5px 15px;
	margin: 0px;
	float: left;
	width: 150px;
	font-size: 1em;
	line-height: 18px;
	border-left: 0px none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-top-style: none;
	border-right-style: none;
    background: #B8CFDD;
	}

#nav ul li a:hover {
	text-decoration: none;
	color: #222;
	display: inline-block;
	padding: 5px 15px 5px 15px;
	margin: 0px;
	float: left;
	width: 150px;
	font-size: 1em;
	line-height: 18px;
	border-left: 0px none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-top-style: none;
	border-right-style: none;
    background: #7096AD;
	}

/* Holly Hack. IE Requirement \*/
* html ul li { float: left; height: 1%; }
* html ul li a { height: 1%; }
/* End */

#nav li:hover ul, #nav li.over ul { display: block; } /* The magic */
#custom #nav li ul li:hover ul, #custom #nav li ul li.over ul { display: block; } /* The magic */
#custom #nav li ul li ul li:hover ul, #custom #nav li ul li ul li.over ul { display: block !important; } /* The magic */
/* -----------------------------------*/
/* >> End Dropdown Navigations <<<-----*/
/* -----------------------------------*/
#custom #nav li ul li ul {
	position: absolute;
	left: 180px; /* Set 1px less than menu width */
	top: 0px;
	display: none;
	margin: 0px;
	padding: 0px;
	width: 180px;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
	border-top-width: 0px;
	border-top-style: none;
	list-style-type: none;
}
#custom #nav li ul li ul li ul {
	position: absolute;
	left: 180px; /* Set 1px less than menu width */
	top: 0px;
	display: none !important;
	margin: 0px;
	padding: 0px;
	width: 180px;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
	border-top-width: 0px;
	border-top-style: none;
	list-style-type: none;
}

.post-blog-content table {

    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    margin: 5px 0 10px;
}
.post-blog-content th {

}
.post-blog-content th, .post-blog-content td {
    border: 1px solid #CCCCCC;
    padding: 3px 10px;
    text-align: left;
    vertical-align: top;
}

table {clear: both;}

#mobile-search {
display: none;
margin: 1em 0 0;
}
#mobile-search select {
width: 70%;
padding: 0.5em;
font-size: 1.25em;
}
/* added responsive css */
@media only screen and (min-width:490px) and (max-width: 770px) {
            #list-benefits {
  float: left;
  margin: 0;
  padding: 0.5em 0 0;
  width: 100% !important;
}
         #intro-package {
  float: left;
  padding-top: 1.05em;
}
     .site-logo {
  width: 50%;
}
       ul.tabbernav {
  width: 100% !important;
}

    .h-content, #wraps, #main-header-content, #footer-wrap {
  float: left;
  margin: 0 !important;
  padding: 0 3% !important;
  width: 94% !important;
}
      .tabberlive {
  width: 95%;
}      .feed-pull {
  float: left;
  margin: 0;
  padding: 15px 0;
  width: 98%;
}
    .rss-feeds, .navigation {
  width: 100%;
}

  .service-block {
  width: 200px;
}

.top-h-content, .bottom-h-content, #top-header, #container, #front-left, #front-right, #services, #footer-container {
  width: 100% !important;
  border: 0 none;
  float:left;
}

#post-entry, #sidebar {
  width: 100% !important;
  border: 0 none;
  padding: 0;
  margin: 0;
  float:left;
}


 #footer-container .myedu, #footer-container #incsubfooter {
  width: 100% !important;
  text-align: center;
  float:left;
}

    #custom #content, #post-entry, #sidebar {
  width: 100% !important;
  border: 0 none;
  padding: 0;
  margin: 0;
  float:left;
}
       #container table.forum {
              margin: 1em 0;
  width: 100%;
}

}


@media only screen and (max-width: 480px) {
              .bbp-topic-title {
  width: 40%;
}
      #list-benefits {
  float: left;
  margin: 0;
  padding: 0.5em 0 0;
  width: 100% !important;
}
         #intro-package {
  float: left;
  padding-top: 1.05em;
}

#mobile-search {
display: inline;
}

                   #custom #whats-new-options {
  height: 95px !important;
}

         .wp-caption {
     max-width: 200px !important;
     padding: 10px !important;
   }
     .post-blog-content img {
     max-width: 200px !important;
     width: auto !important;
     height: auto !important;
   }

    .h-content, #wraps, #main-header-content, #footer-wrap {
  float: left;
  margin: 0 !important;
  padding: 0 3% !important;
  width: 94% !important;
}


       .service-block {
  float: left;
  width: 42% !important;
  height: 250px;
  margin: 0px 3%;
  padding: 0px !important;
  text-align: center;
  overflow: hidden;
  border: 0 none;
}
    #services .featimg {
 border: 0 none !important;
}

          ul.tabbernav {
  width: 100% !important;
}
      .site-logo {
  width: 100%;
}
.bottom-h-content, .site-stats {
   display: none;
}

      .tabberlive {
  width: 95%;
}      .feed-pull {
  float: left;
  margin: 0;
  padding: 15px 0;
  width: 98%;
}
    .rss-feeds {
  width: 100%;
}

  .service-block {
  width: 200px;
}
     #custom div.dir-search input[type="text"] {
  padding: 0.5em 1em;
  width: 60%;
}
 div.dir-search {
    float: left;
    margin: 10px 0 !important;
    width: 100%;
}
              #call-action p {
     width: 100%;
     float:left;
     margin: 0px 0px 10px;
   }

            ul.item-list li div.item-title, ul.item-list li h4 {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    width: 96%;
}
          .directory div.action {
    display: block;
    float: left !important;
    margin: 5px 0 20px !important;
    position: relative !important;
    text-align: left !important;
    width: 100%;
}
               .directory div.item-meta {
    margin: 0px 0px 10px !important;
  }

          .directory div.item-title, div.item-desc {
    width: 100% !important;
    margin: 0px !important;
  }
  ul.item-list li div.action {
   top: 8px !important;
}
.top-h-content, .bottom-h-content, #top-header, #container, #front-left, #front-right, #services, #footer-container {
  width: 100% !important;
  border: 0 none;
  float:left;
}
            #container table.forum {
              margin: 1em 0;
  width: 100%;
}
#custom #content, #post-entry, #sidebar {
  width: 100% !important;
  border: 0 none;
  padding: 0;
  margin: 0;
  float:left;
}


 #footer-container .myedu, #footer-container #incsubfooter {
  width: 100% !important;
  text-align: center;
  float:left;
}

}


@media only screen and (max-width:320px) {
 body {
    padding: 0px !important; margin: 0px;
  }

#wp-admin-bar {
  display: none;
}


}

/* 18246-1344572817-ai */