/* change url paths to suit your project */
@font-face {
	font-family: 'OSWALD';
	src: url('../fonts/oswald-webfont.eot');
	src: url('../fonts/oswald-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/oswald-webfont.woff') format('woff'),
		url('../fonts/oswald-webfont.ttf') format('truetype'),
		url('../fonts/oswald-webfont.svg#OSWALD') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* personal rule not use more than 3*/
h1, h2, h3, h4{
	font-family: 'OSWALD', Arial, sans-serif; font-weight: normal;
	text-transform: uppercase;
	line-height: 1.5;
}

h1{ font-size: 4em; }
h2{ font-size: 2em; }
h3{ font-size: 1.75em; }
h4{ font-size: 1.5em; }
h5{ font-size: 1em; }