/*
-----------------------------------------------------
	Utilitiy Classes, and General 
-----------------------------------------------------
*/

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.floatLeft{ float: left; }
.floatRight{ float: right; }
.hidden, .hideme{ display: none; }
.small{ font-size: .75em; }
ol { list-style: decimal; }

.transBg,
.transBg,
.transBg,
.transBg{
	padding: .25em 0;
	text-indent: 6px;
	background: url(../images/bgBlack70.png);
}


/*
-----------------------------------------------------
	Links
-----------------------------------------------------
*/

a { text-decoration:none; color:#0af; }
a:hover { text-decoration:underline; }
a:focus { outline: 1px dotted; }

h2 a,
h3 a,
h3 a,
h4 a,
h5 a,
.transBg a{
	color: #fc0;
	text-decoration: none;
}

h2 a:hover,
h3 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
.transBg a:hover{
	text-decoration: underline;
}


/*
-----------------------------------------------------
	Homepage Feature
-----------------------------------------------------
*/

.carrousel{
	width: 565px;
	height: 390px;

}

.carrousel ul{
	list-style: none;
}

.carrousel ul.gallery{
 overflow: hidden; 
	height:340px;
}

.carrousel ul.gallery li.post-content{
	position: relative;
	width: 565px;
	height: 340px;
	border: 1px #fff solid;
	overflow: hidden;
}

.carrousel ul.gallery li.post-content a.imageWrapLink,
.carrousel ul.gallery li.post-content .content{
	position: absolute;
	bottom: 0;
	left: 0;
}

.carrousel ul.gallery li.post-content a.imageWrapLink{
	display: block;
	height: 340px;
	overflow: hidden;
	z-index: 1;
}

.carrousel ul.gallery li.post-content .content{
	z-index: 2;
}

.carrousel li.post-content .content{
	background: url( '../images/bgBlack70.png' );
	background: rgba(0,0,0,.7);
	color:#fff;
	padding: .5em 1em;
	margin-left: 0;
	max-height:15em;
}

.carrousel li.post-content a{
	text-decoration: none;
}

.carrousel li.post-content p a{
	color: #eee;
}

.carrousel ul.nav{
	position: relative;
	margin-top: .5em;
}

.carrousel ul.nav li{
	margin: 0 0 .125em 0;
	display: inline !important;
	padding: 0 .25em 0 0 ;
}

.carrousel .really_simple_share{ display: none; }

.carrousel ul.nav li{
	float: left;
	margin: 0 0 0 .25em;
	cursor: pointer;
	text-indent: -3000px;
}

.carrousel ul.nav li:first-child{
	margin-left: 0;
}

.carrousel ul.nav li a{
	display: block;
	width: 16px;
	height: 16px;
	background: url( '../images/navdot_sprite.png' ) top left;
}

.carrousel ul.nav li.active a,
.carrousel ul.nav li a:hover{
	background: url( '../images/navdot_sprite.png') top right;
}

/*
-----------------------------------------------------
	Search Bar
-----------------------------------------------------
*/
	/* position search on top of the buddybar */
	div#search-bar {
		position:relative;
		height:25px;
		top:5px;
		text-align: right;
		z-index:850;
		background:#eee;
		border: 1px solid #ccc;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		-moz-box-shadow:    inset 0 0 10px #ccc;
		-webkit-box-shadow: inset 0 0 10px #ccc;
		box-shadow:         inset 0 0 10px #ccc;
		padding: .5em;
	}
	
		#search-bar .align-right {
			position: absolute;
		}
		
			form#search-form {
				/*display: none;*/
			}
			
				div#search-bar input,
				div#search-bar select {
					border-radius: 4px;
					height: auto;
				}


/*
-----------------------------------------------------
	Homepage Post-Touts
-----------------------------------------------------
*/

.post-tout .toutHeader{
	position: relative;
	height: 120px;
	background: #aaa;
}

.post-tout.grid_5 .toutHeader .imageWrapLink{
	display: block;
	position: absolute;
	height: 120px;
	width: 100%;
	overflow: hidden;
	z-index: 1;
}

.post-tout.grid_5 .toutHeader .titleBlock{
	position: absolute;
	width: 100%;
	top: 4.25em;
	z-index: 12;
	color: #fff;
}

/*
-----------------------------------------------------
	Announcement Bar
-----------------------------------------------------
*/

#announcement .announcement {}

.hero,
.announcement,
body.home .sticky {
background: #aaaaaa; /* Old browsers */
background: -moz-linear-gradient(top,  #aaaaaa 0%, #dddddd 20%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaaaaa), color-stop(20%,#dddddd)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #aaaaaa 0%,#dddddd 20%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #aaaaaa 0%,#dddddd 20%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #aaaaaa 0%,#dddddd 20%); /* IE10+ */
background: linear-gradient(top,  #aaaaaa 0%,#dddddd 20%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */

font-size:16px;
padding:15px;
text-shadow: 1px 1px 0 #eee;
overflow: hidden;
}

.hero  .textwidget,
.announcement  .advanced-recent-posts,
div#announcement.announcement div#featured_slider { 
	background: transparent url(../images/system/speaker.png) no-repeat scroll left center; 
}

div#announcement.announcement div#featured_slider,
div#featured_slider ul#slider
{
	position: auto;
	height: auto;
	min-height: 50px;
	width: 100%;
}

div#announcement.announcement div#featured_slider {
	/* margin: 0; */
	border: none;
	background-color: transparent;

}

div#featured_slider ul#slider {
	margin: 0;
	/* overflow: hidden; */
}

div#featured_slider ul#slider li {
	padding-left: 80px;
	min-width: 600px;
	width: 90%;
	position: relative;
}

div#announcement.announcement ul.advanced-recent-posts li {
	padding-top:2px;
	padding-bottom:2px;
}
div#announcement.announcement ul.advanced-recent-posts li:before {
	content: "\00BB ";
	font-size: 20px;
}
div#announcement.announcement ul.advanced-recent-posts li p,
div#featured_slider ul#slider li p {
	font-size:16px;
	text-shadow: 1px 1px 0 #eee;
	display:inline;
}

div#featured_slider ul#slider li h2,
div#featured_slider ul#slider li p {
	/* display: inline; */
}

div#featured_slider ul#slider li  p:before {
	/* content: " - "; */
}

div#featured_slider ul#slider li h2,
div#announcement div#featured_slider ul#slide li h2 {
		font-size: 20px;
		margin-bottom: 0;
}

div#featured_slider ul#slider li h2 a {
	text-shadow: 1px 1px 0 #eee;
	color: #333;
}

#featured_slider .feat_prev,
#featured_slider .feat_next {
	background: transparent url(http://preview.wp-themix.org/wp-content/plugins/wp-featured-content-slider/images/sprite.png) bottom right no-repeat;
	height: 16px;
	width: 17px;
	float: right;
	margin-right: 10px;
	cursor: pointer;
	bottom: 30px;
	left: auto;
}

#featured_slider .feat_prev {
	background-position: 0 0;	
	right: 50px;
}

#featured_slider .feat_prev:hover {
	background-position: 0 -16px;
}

#featured_slider .feat_next {
	background-position: -17px 0;
	right: 20px;
}

#featured_slider .feat_next:hover {
	background-position: -18px -16px;
}

div.copy_wrap {
	display: none;
}

div#announcement.announcement div#featured_slider ul#slider li div.really_simple_share {
	display: none;
}



/* -------------------------------------------------------- */


.content ul{
	list-style-type: disc !important;
	list-style-position: inside;
}
.content ul li{
	padding: .5em;
}
.content ul li:nth-child(odd){
	background:#f5f5f5;
}


#header h1 a{
	color: #000;
	text-decoration: none;
}

#header h1 a:hover{
	text-decoration: underline;
}

#donate a.button{
	display: block;
	float:right;
	width: 210px;
	background: #0af;
	padding: .125em .25em;
	font-size: 2em;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border-radius: 4px;	
}

#donate a.button:hover{
	background-color:#0090D8;
}

.nav{
	background: #fc0;
	margin: 0;
}

#local-env-flag {
	position: fixed;
	bottom: 0;
	width: 100%;
	opacity: .75;
	padding: 10px 15px;
	text-align: center;
	background: #f00;
	color: #300;
	font-size: 1em;
	line-height: 1.8em;
	z-index: 1000;
}

/* we here in ny really like the tent for home thing */
.nav a.home{
	padding-left: 2em;
	background-image: url( ../images/icon_home.png );
	background-position: -12px 12px;
	background-repeat: no-repeat;	
}

.nav a.home:hover,
.nav a.home.current-menu-item{
	background-image: url( ../images/icon_home.png );
	background-position: 3px 12px;
	background-repeat: no-repeat;	
}

#content{
	padding: 2em 0 6em 0;
	/* overflow: auto; */
}

/* some padding on shadowed bits */
.gridbox{
	margin-bottom: 2em;
}

/* need padding? */
.gridbox .padded {
	padding: .5em;
}

/* section header, mere suggestion */
.gridbox h3,
.gridbox h2{
	background-color:#fc0;
	text-transform: uppercase;
	color: #000;
	padding: .125em 0 0 .5em;
	line-height: 1;
}

.gridbox p{
	padding: 0 0 2em 0;
}

dl{
	list-style: none;
}

dl dt, dl dd{
	display: block;
	clear: both;
}

dl dt{
	font-size: 1em;
}

dl dd{
	padding: 1em 0;
	border-bottom: 1px #dedede solid;
	margin: 0 0 1em 0;
}

/* -------------------------------------------------------------------------------------------------
/* TipTip CSS - Version 1.2
/* for usage http://code.drewwilson.com/entry/tiptip-jquery-plugin
---------------------------------------------------------------------------------------------------- */


#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	/* tamerpered with from original 11px no leading specified */
	font-size: 14px;
	line-height: 1.5;
	/* end tampering */
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: .75em 1em;
	
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}

/*
-----------------------------------------------------
	Sidebar
-----------------------------------------------------
*/

.groups-tout{
	height: 56px;
	background: url( '../images/tout_groupdirectory.jpg') 0 -2em;
}

.tout .toutLink{
	display:block;
	width: 100%;
	height: 34px;
	text-indent: -30000px;
}

.groups-tout h4{
	padding: .5em 0;
	text-align: center;
}

/*
-----------------------------------------------------
	My Groups Widget
-----------------------------------------------------
*/
.widget_nycga_my_groups_widget{
	border-bottom: 4px double #AAAAAA;
    margin-top: 1em;
}

.widget_nycga_my_groups_widget .my-groups-list { 
	border-top: 4px double #AAAAAA;
    height: 15em;
    overflow-y:scroll;
}

.my-groups-list .item-avatar,
ul.my-groups-list li div.item-avatar a img.avatar{
	left: 0.25em;
    margin-right: 1em;
    position: absolute;
    top: 0.25em;
    height: 25px !important;
    width: 25px !important;
}

.my-groups-list .item-title a{
	font-size: 15;
	font-weight: 700;
	text-decoration: none;
}

.my-groups-list li {
	background-color: #EDEDED;
    border-bottom: 2px solid #FFFFFF;
    min-height: 2em;
    padding: 0.25em 0.25em 0.25em 3em;
    position: relative;
}

.my-groups-list li:hover{
	background:#222;
}

/*
-----------------------------------------------------
	MISC
-----------------------------------------------------
*/

/* Thickbox window title style */
.TB_ajaxWindowTitle {
	text-transform: uppercase !important;
	font-size: 1.25em;
	font-family: 'OSWALD', Arial, sans-serif; font-weight: normal;
}