/*
-----------------------------------------------------
	Utilitiy Classes, and General 
-----------------------------------------------------
*/

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.floatLeft{ float: left; }
.floatRight{ float: right; }
.hidden, .hideme{ display: none; }
.small{ font-size: .75em; }
ol { list-style: decimal; }

.transBg,
.transBg,
.transBg,
.transBg{
	padding: .25em 0;
	text-indent: 6px;
	background: url(../images/bgBlack70.png);
}


/*
-----------------------------------------------------
	Links
-----------------------------------------------------
*/

p a { text-decoration:underline; color:#0af; }
a:focus { outline: 1px dotted; }

h2 a,
h3 a,
h3 a,
h4 a,
h5 a,
.transBg a{
	color: #fc0;
	text-decoration: none;
}

h2 a:hover,
h3 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
.transBg a:hover{
	text-decoration: underline;
}


/*
-----------------------------------------------------
	Homepage Feature
-----------------------------------------------------
*/

.carrousel{
	width: 565px;
	height: 390px;

}

.carrousel ul{
	list-style: none;
}

.carrousel ul.gallery{
 overflow: hidden; 
	height:340px;
}

.carrousel ul.gallery li.post-content{
	position: relative;
	width: 565px;
	height: 340px;
	border: 1px #fff solid;
	overflow: hidden;
}

.carrousel ul.gallery li.post-content a.imageWrapLink,
.carrousel ul.gallery li.post-content .content{
	position: absolute;
	top: 0;
	left: 0;
}

.carrousel ul.gallery li.post-content a.imageWrapLink{
	display: block;
	height: 340px;
	overflow: hidden;
	z-index: 1;
}

.carrousel ul.gallery li.post-content .content{
	z-index: 2;
}

.carrousel li.post-content .content{
	margin-top: 13em;
	height: 10em;
	background: url( '../images/bgBlack70.png' );
	color:#fff;
	padding: .5em 1em;
	margin-left: 0;
}

.carrousel li.post-content a{
	text-decoration: none;
}

.carrousel li.post-content p a{
	color: #eee;
}

.carrousel ul.nav{
	position: relative;
	margin-top: .5em;
}

.carrousel ul.nav li{
	margin: 0 0 .125em 0;
	display: inline !important;
	padding: 0 .25em 0 0 ;
}

.carrousel .really_simple_share{ display: none; }

.carrousel ul.nav li{
	float: left;
	margin: 0 0 0 .25em;
	cursor: pointer;
	text-indent: -3000px;
}

.carrousel ul.nav li:first-child{
	margin-left: 0;
}

.carrousel ul.nav li a{
	display: block;
	width: 16px;
	height: 16px;
	background: url( '../images/navdot_sprite.png' ) top left;
}

.carrousel ul.nav li.active a,
.carrousel ul.nav li a:hover{
	background: url( '../images/navdot_sprite.png') top right;
}


/*
-----------------------------------------------------
	Homepage Post-Touts
-----------------------------------------------------
*/

.post-tout .toutHeader{
	position: relative;
	height: 120px;
	background: #aaa;
}

.post-tout.grid_5 .toutHeader .imageWrapLink{
	display: block;
	position: absolute;
	height: 120px;
	width: 100%;
	overflow: hidden;
	z-index: 1;
}

.post-tout.grid_5 .toutHeader .titleBlock{
	position: absolute;
	width: 100%;
	top: 4.25em;
	z-index: 12;
	color: #fff;
}



/* -------------------------------------------------------- */


.content ul{
	list-style-type: disc !important;
	list-style-position: inside;
}
.content ul li{
	padding: .5em;
}
.content ul li:nth-child(odd){
	background:#f5f5f5;
}


#header h1 a{
	color: #000;
	text-decoration: none;
}

#header h1 a:hover{
	text-decoration: underline;
}

#donate a.button{
	display: block;
	float:right;
	width: 180px;
	background: #0af;
	padding: .125em .25em;
	font-size: 2em;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	color: #fff;
	border-radius: 4px;	
}

.nav{
	background: #fc0;
	margin: 0;
}

#local-env-flag {
	position: fixed;
	bottom: 0;
	width: 100%;
	opacity: .75;
	padding: 10px 15px;
	text-align: center;
	background: #f00;
	color: #300;
	font-size: 1em;
	line-height: 1.8em;
	z-index: 1000;
}

/* we here in ny really like the tent for home thing */
.nav a.home{
	padding-left: 2em;
	background-image: url( ../images/icon_home.png );
	background-position: -12px 12px;
	background-repeat: no-repeat;	
}

.nav a.home:hover,
.nav a.home.current-menu-item{
	background-image: url( ../images/icon_home.png );
	background-position: 3px 12px;
	background-repeat: no-repeat;	
}

#content{
	padding: 2em 0 6em 0;
}

/* some padding on shadowed bits */
.gridbox{
	margin-bottom: 2em;
}

/* need padding? */
.gridbox .padded {
	padding: .5em;
}

/* section header, mere suggestion */
.gridbox h3,
.gridbox h2{
	background-color:#fc0;
	text-transform: uppercase;
	color: #000;
	padding: .125em 0 0 .5em;
	line-height: 1;
}

.gridbox p{
	padding: 2em 0 0 0;
}

/* a little emphasis */
.gridbox p.intro{
	font-size: 1.25em;
	line-height: 1.2;
	color: #333;
}

.gridbox ul{
	margin-top: 2em;
	list-style: none;
	list-style-position: inside;
}

.gridbox ul.listing li{
	margin: 0 2em 0 1em;
	padding: 1em 0;
	border-bottom: 1px #dedede solid;
}

.gridbox table{
	margin-top: 2em;
}

.gridbox th{
	text-align: left;
	font-weight: normal;
	padding: 1em 0 .5em .4em;
	border-top: 1px #000 solid;
}

.gridbox td{
	padding: .5em;
	border: 1px #fff solid;
	background: #eee;
}

dl{
	list-style: none;
}

dl dt, dl dd{
	display: block;
	clear: both;
}

dl dt{
	font-size: 1em;
}

dl dd{
	padding: 1em 0;
	border-bottom: 1px #dedede solid;
	margin: 0 0 1em 0;
}

/* -------------------------------------------------------------------------------------------------
/* TipTip CSS - Version 1.2
/* for usage http://code.drewwilson.com/entry/tiptip-jquery-plugin
---------------------------------------------------------------------------------------------------- */


#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 5px;
}

#tiptip_holder.tip_bottom {
	padding-top: 5px;
}

#tiptip_holder.tip_right {
	padding-left: 5px;
}

#tiptip_holder.tip_left {
	padding-right: 5px;
}

#tiptip_content {
	/* tamerpered with from original 11px no leading specified */
	font-size: 12px;
	line-height: 1.5;
	/* end tampering */
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: .5em .75em;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25,25,25,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}


/*
-----------------------------------------------------
	Sidebar
-----------------------------------------------------
*/

.groups-tout{
	height: 56px;
	background: url( '../images/tout_groupdirectory.jpg') 0 -2em;
}

.tout .toutLink{
	display:block;
	width: 100%;
	height: 34px;
	text-indent: -30000px;
}

.groups-tout h4{
	padding: .5em 0;
	text-align: center;
}

/*
-----------------------------------------------------
	My Groups Widget
-----------------------------------------------------
*/
.my-groups-list .item-avatar{
	display: block;
	float: left;
	margin-right: 1em;
}

.my-groups-list li{
	padding: .25em;
	background: #ededed;
	margin-bottom: .125em !important;
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
		background-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_bottom #tiptip_arrow_inner { 
		border-bottom-color: rgba(45,45,45,0.88);
	}
	#tiptip_holder.tip_top #tiptip_arrow_inner { 
		border-top-color: rgba(20,20,20,0.92);
	}
}