body{
	/* bodycopy this will likely change soon to something OS */
	font-family: 'Lucida Grande', Helvetica, arial, sans-serif;
	font-size: 12px;
	line-height: 1.2;
}

h1, h2, h3, h4{
	padding: .125em 0 0 .5em;
	line-height: 1.25;
}

#content{
	font-size: 1.2em;
	line-height: 1.5;
	color:#222;
}


#content h2.pagetitle{
	color:#000;
	padding:0;
	font-size:2.5em;
	margin-bottom: .5em;
}

h3.widgettitle{
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}

em{
	color: #000;
	font-size: 1.125em;
	font-style: normal;
}