body#custom {font-family: Helvetica, Arial, sans-serif!important; color: #FFFFFF!important; background: #3B0C12 no-repeat fixed left top !important;}

h1, h2, h3, h4, h5, h6 {font-family: Helvetica, Arial, sans-serif!important;}

.item-list .meta a, #custom .site-title h1 a {color: #EDA840!important;}

.activity-list .activity-content .activity-header, .activity-list .activity-content .comment-header {
color:#fff;
}
table thead tr, table.forum tr.sticky td {
    background: #3B0C12 none !important;
    border: 0px none;
}
.content a {color: #EDA840!important;}

.content a:hover {color: #FFE70D!important;}

.post-content blockquote {border-left: 4px solid #540C0C!important;}

#post-entry h2.widgettitle {border-bottom: 1px solid #540C0C!important;}

#post-entry .item-list li, .message-box, .info-group, .bp-widget, .alt-post ul li {border-bottom: 1px solid #540C0C!important;}

.group-forum {border-bottom: 1px solid #540C0C!important;}

#bottom-entry {border-top: 1px solid #540C0C!important;}

.wp-caption, ol.commentlist li, #cf {background: #540C0C!important;}

.post, .page .page, h2#post-header, #commentpost h4 {border-bottom: 1px solid #540C0C!important;}

div.crop-img, div.crop-preview img, .post-tagged p.com a {background: #540C0C !important; border: 1px solid #540C0C!important;}

#content #post-navigator a, #setupform {background: #540C0C!important;}

ol.pinglist li {border-bottom: 1px solid #540C0C!important;}

#content #post-navigator a {color: #FFFFFF!important;}

#container h1.post-title a {color: #EDDD8E!important;}

h1.post-title a:hover {color: #FFFFFF!important; text-decoration: underline;}

#sidebar-column .item-list li, div.pagination {border-bottom: 1px solid #540C0C!important;}

#content #sidebar-column a:hover {color: #FFFFFF!important;}

#content #sidebar-column .widgettitle a {color: #FFF1C4!important;}

#container table.forum .alt {background: #A31717 !important;}

#custom .site-title {color: #FFFFFF!important;}

#container #call-action .call-button a {background: #030301!important; color: #FFFFFF!important;}

#container ol.commentlist li div.reply a {background: #030301!important; color: #FFFFFF!important;}

#container #post-navigator .current, #content .button-block a, #content .content-header li a, #content .content-header li.current a, #container .member-entry ul#letter-list li a, ul#letter-list li a:hover, #container .group-button a {background: #030301!important; color: #FFFFFF!important;}

.time-since, .post-author, #container .alt-post small a, span.signup-description {color: #FFFFFF!important;}

ul.pagenav li a, ul.pagenav li.selected a {color: #FFFFFF!important; background: #474747!important;}

#content ul#activity-filter-links li a,#content ul#activity-filter-links li a:hover, #content ul#activity-filter-links li.selected a {color: #FFFFFF!important; background: #474747!important;}

#top-header .navigation {background: #000000 url(_inc/images/gloss.png) repeat-x left -4px!important;}

#top-header .navigation a {color: #FFFFFF!important;}

#top-header .navigation a:hover {color: #FFFA61!important;}

.activity-permalink #activity-stream {background: #731010!important;}

#footer {color: #FFFFFF!important; background: #170707!important;}

#footer a {color: #FFFA61!important;}

#sidebar-column {color: #FFFFFF!important; background: #731010!important;}

#sidebar-column .widgettitle {background: #030301 url(_inc/images/gloss.png) repeat-x left -8px!important; color: #FFFFFF!important;}

#post-entry, #container .content #content {background: #731010!important;}

ul#options-nav li {background: #731010 url(_inc/images/members/options.png) no-repeat 5px center!important;}

#top-header .top-h, #call-action {color: #FFFFFF!important; background: #731010!important;}

#container #content #right-box #optionsbar #options-nav li.current a {color: #FFFFFF!important;}

#top-header .top-h {background: #141414!important;}

#subnav, #user-pag {
  background:#731010 none repeat scroll 0 0 !important;
}
#content .acomment-content {
  color: #222;
}


#object-nav, .item-list-tabs, #whats-new-form, #forum-topic-form .alt, .messages-options-nav, #message-thread .alt, .profile .alt {
background:#3B0C12 !important
}
table tr td.label {
border-right:1px solid #3B0C12;
}

ul.item-list li {
border-bottom:1px solid #3B0C12;
}

.content .activity-list .activity-header a:first-child, .content span.highlight {
color:#026180 !important;
}

/* 18246-1343677369 */