body#custom {font-family: Lucida Grande, Lucida Sans, sans-serif!important; color: #FFFFFF!important; background: #111111 !important;}

h1, h2, h3, h4, h5, h6 {font-family: Lucida Grande, Lucida Sans, sans-serif!important;}

.item-list .meta a, #custom .site-title h1 a {color: #C8FF80!important;}

.content a {color: #C8FF80!important;}

.content a:hover {color: #FFFAF5!important;}

.post-content blockquote {border-left: 4px solid #333333!important;}

#post-entry h2.widgettitle {border-bottom: 1px solid #333333!important;}

#post-entry .item-list li, .message-box, .info-group, .bp-widget, .alt-post ul li {border-bottom: 1px solid #333333!important;}

.group-forum {border-bottom: 1px solid #333333!important;}

#bottom-entry {border-top: 1px solid #333333!important;}

.wp-caption, ol.commentlist li, #cf {background: #333333!important;}

.post, .page .page, h2#post-header, #commentpost h4 {border-bottom: 1px solid #333333!important;}

div.crop-img, div.crop-preview img, .post-tagged p.com a {background: #333333 !important; border: 1px solid #333333!important;}

#content #post-navigator a, #setupform {background: #333333!important;}

ol.pinglist li {border-bottom: 1px solid #333333!important;}

#content #post-navigator a {color: #FFFFFF!important;}

#container h1.post-title a {color: #C6FF7A!important;}

#sidebar-column .item-list li {border-bottom: 1px solid #474747!important;}

#content #sidebar-column a:hover {color: #FFFFFF!important;}

#content #sidebar-column .widgettitle a {color: #FFFACC!important;}

#container #call-action .call-button a {background: #B02832!important; color: #FFFFFF!important;}

#container ol.commentlist li div.reply a {background: #B02832!important; color: #FFFFFF!important;}

#container #post-navigator .current, #content .button-block a, #content .content-header li a, #content .content-header li.current a, #container .member-entry ul#letter-list li a, ul#letter-list li a:hover, #content .item-list .action a {background: #B02832!important; color: #FFFFFF!important;}

.time-since, .post-author, #container .alt-post small a, span.signup-description {color: #FFFFFF!important;}

ul.pagenav li a, ul.pagenav li.selected a {color: #FFFFFF!important; background: #B02832!important;}

#content ul#activity-filter-links li a,#content ul#activity-filter-links li a:hover, #content ul#activity-filter-links li.selected a {color: #FFFFFF!important; background: #B02832!important;}

#top-header .navigation {background: #B02832 !important;}

#top-header .navigation a {color: #FFFFFF!important;}

#top-header .navigation a:hover {color: #FCFFCC!important;}

.activity-permalink #activity-stream {background: #000!important;}

#footer {color: #D6D6D6!important; background: #000000!important;}

#footer a {color: #FFFDB8!important;}

#sidebar-column {color: #FFFFFF!important; background: #050505!important;}

#sidebar-column .widgettitle {background: #B02832 !important; color: #FFFFFF!important;}

#sidebar-column a {color: #C8FF80;}

#post-entry, #container .content #content {background: #050505!important;}

ul#options-nav li {background: #050505 url(_inc/images/members/options.png) no-repeat 5px center!important;}

#top-header .top-h, #call-action {color: #FFFFFF!important; background: #050505!important;}

#container #content #right-box #optionsbar #options-nav li.current a {color: #FFFFFF!important;}

#object-nav, .item-list-tabs, #whats-new-form, #forum-topic-form .alt, .messages-options-nav, #message-thread .alt, .profile .alt {background:#333 !important;}

#subnav, #user-pag {background: #000 !important;}

.item-list li {border-bottom: 1px solid #444 !important;}

.content .acomment-content, div.acomment-meta {color: #222;}

.content .activity-list .activity-header a:first-child, .content span.highlight {background: #D3F0FE none repeat scroll 0 0; border: 1px solid #AFE2FE; color:#026180 !important; margin-right: 3px; padding: 3px 8px; text-decoration: none;}

.content ul ul .acomment-meta a, #container .content a.button {color: #444 !important;}

#content table thead tr, .dir-list .alt {background: #333 none;}

#container #forums-dir-list .sticky td {background: #444 url(none) !important; border-bottom: 1px solid #222; border-top: 1px solid #222;}

div.pagination {border-bottom: 0px none;}

/* 18246-1343677369 */