body#custom {font-family: Lucida Grande, Lucida Sans, sans-serif!important; color: #F5F3E1!important; background: #F7F1E4 !important;}

h1, h2, h3, h4, h5, h6 {font-family: Lucida Grande, Lucida Sans, sans-serif!important;}

.item-list .meta a, #custom .site-title h1 a {color: #C46218!important;}

.content a {color: #C46218!important;}

.content a:hover {color: #D96C1B !important;}

.activity-permalink #activity-stream {background: #24170f !important;}

.post-content blockquote {border-left: 4px solid #4A2F1F!important;}

#post-entry h2.widgettitle {border-bottom: 1px solid #4A2F1F!important;}

#post-entry .item-list li, .message-box, .info-group, .bp-widget, .alt-post ul li {border-bottom: 1px solid #4A2F1F!important;}

.group-forum {border-bottom: 1px solid #4A2F1F!important;}

#bottom-entry {border-top: 1px solid #4A2F1F!important;}

.wp-caption, ol.commentlist li, #cf {background: #4A2F1F!important;}

div.post, div.page .page, h2#post-header, #commentpost h4 {border-bottom: 1px solid #4A2F1F!important;}

div.crop-img, div.crop-preview img, .post-tagged p.com a {background: #4A2F1F !important; border: 1px solid #4A2F1F!important;}

#activity-stream {margin: 0px; padding: 20px 0px 0px !important; float: left; width: 100%;}

#content #post-navigator a, #setupform {background: #4A2F1F!important;}

ol.pinglist li {border-bottom: 1px solid #4A2F1F!important;}

#content #post-navigator a {color: #FFFFFF!important;}

#container h1.post-title a {color: #EFF2C4!important;}

h1.post-title a:hover {color: #FFFFFF!important; text-decoration: underline;}

#sidebar-column div.activity-header {
  color: #181918 !important;
}


#sidebar-column .item-list li {border-bottom: 1px solid #EBE2CE!important;}

#content #sidebar-column a:hover {color: #2B201B!important;}

#content #sidebar-column .widgettitle a {color: #FFEFC2!important;}

#container table.forum .alt {background: #784D32 !important;}

.item-list li, .message-box {border-bottom: 1px solid #3F3F3F;}

#custom .site-title {color: #FFFFFF!important;}

#container #call-action .call-button a {background: #99896D!important; color: #FFFFFF!important;}

#container ol.commentlist li div.reply a {background: #99896D!important; color: #FFFFFF!important;}

#container #post-navigator .current, #content .button-block a, #content .content-header li a, #content .content-header li.current a, #container .member-entry ul#letter-list li a, ul#letter-list li a:hover, #content .item-list .action a, #container .group-button a {background: #99896D!important; color: #FFFFFF!important;}

#content ul#activity-filter-links li a,#content ul#activity-filter-links li a:hover, #content ul#activity-filter-links li.selected a {color: #FFFFFF!important; background: #B33D2B!important;}

#top-header .navigation {background: #472E1D !important;}

#top-header .navigation a {color: #FFFFFF!important;}

#top-header .navigation a:hover {color: #FFE18F!important;}

#footer {color: #2B201B!important; background: #F7F1E4!important;}

#footer a {color: #A8341D!important;}

#sidebar-column {color: #2B201B!important; background: #F7F1E4!important;}

#sidebar-column .widgettitle {background: #99896D !important; color: #FFFFFF!important;}

#sidebar-column a {color: #A8341D!important;}

#post-entry, #container .content #content {background: #24170F!important;}

ul#options-nav li {background: #24170F url(_inc/images/members/options.png) no-repeat 5px center!important;}

#top-header .top-h, #call-action {color: #F5F3E1!important; background: #24170F!important;}

#container #content #right-box #optionsbar #options-nav li.current a {color: #F5F3E1!important;}

#top-header .top-h {background: #24170F!important;}


 #object-nav, .item-list-tabs, #whats-new-form, #forum-topic-form .alt, .messages-options-nav, #message-thread .alt, .profile .alt {
background:#121212 !important
}

#subnav, #user-pag {
  background: #24170F none repeat scroll 0 0 !important;
}

.item-list li {
  border-bottom: 1px solid #444 !important;
}

.content .activity-list .activity-header a:first-child, .content span.highlight {
background:#D3F0FE none repeat scroll 0 0;
border:1px solid #AFE2FE;
color:#026180 !important;
margin-right:3px;
padding:3px 8px;
text-decoration:none;
}
.content ul ul .acomment-meta a, #container .content a.button {
  color: #444 !important;
}
#content table thead tr, .dir-list .alt {
background:#333 none;
}

#container #forums-dir-list .sticky td  {
  background: #444 url(none) !important;
  border-bottom: 1px solid #222;
  border-top: 1px solid #222;
}
div.pagination {
border-bottom:0px none;
}

.activity-list li.mini .activity-content {
margin-right: 5px;
}

#content ul#link-list li div.item-desc {
color: #eee;
}

/* 18246-1343677369 */