body#custom {font-family: Verdana, sans-serif!important; color: #474747!important; background: #000000 no-repeat fixed left top !important;}

h1, h2, h3, h4, h5, h6 {font-family: Helvetica, Arial, sans-serif!important;}

.item-list .meta a, #custom .site-title h1 a {color: #913F1C!important;}

.content a {color: #913F1C!important;}

.content a:hover {color: #000000!important;}

.post-content blockquote {border-left: 4px solid #E3E1E1!important;}

#post-entry h2.widgettitle {border-bottom: 1px solid #E3E1E1!important;}

#post-entry .item-list li, .message-box, .info-group, .bp-widget, .alt-post ul li {border-bottom: 1px solid #E3E1E1!important;}

.group-forum {border-bottom: 1px solid #E3E1E1!important;}

#bottom-entry {border-top: 1px solid #E3E1E1!important;}

.wp-caption, ol.commentlist li, #cf {background: #E3E1E1!important;}

.post, .page .page, h2#post-header, #commentpost h4 {border-bottom: 1px solid #E3E1E1!important;}

div.crop-img, div.crop-preview img, .post-tagged p.com a {background: #E3E1E1 !important; border: 1px solid #E3E1E1!important;}

#content #post-navigator a, #setupform {background: #E3E1E1!important;}

ol.pinglist li {border-bottom: 1px solid #E3E1E1!important;}

#content #post-navigator a {color: #FFFFFF!important;}

#container h1.post-title a {color: #000000!important;}

h1.post-title a:hover {color: #3B0C12!important; text-decoration: underline;}

#sidebar-column .item-list li {border-bottom: 1px solid #3D3D3D!important;}

#container .content #sidebar-column a:hover {color: #FFFFFF!important;}

#container .content #sidebar-column .widgettitle a {color: #F0E4B5!important;}

#container table.forum .alt {background: #DEDEDE !important;}

#custom .site-title {color: #0A0A0A!important;}

#container #call-action .call-button a {background: #2B2B2B!important; color: #FFFFFF!important;}

#container ol.commentlist li div.reply a {background: #2B2B2B!important; color: #FFFFFF!important;}

#container #post-navigator .current, #content .button-block a, #content .content-header li a, #content .content-header li.current a, #container .member-entry ul#letter-list li a, ul#letter-list li a:hover, #content .item-list .action a, #container .group-button a {background: #2B2B2B!important; color: #FFFFFF!important;}

ul.pagenav li a, ul.pagenav li.selected a {color: #E8E8E8!important; background: #545454!important;}

#content ul#activity-filter-links li a,#content ul#activity-filter-links li a:hover, #content ul#activity-filter-links li.selected a {color: #E8E8E8!important; background: #545454!important;}

#top-header .navigation {background: #000000 !important;}

#top-header .navigation a {color: #FFFFFF!important;}

#top-header .navigation a:hover {color: #FFFA61!important;}

#footer {color: #FFFFFF!important; background: #404040!important;}

#footer a {color: #E6E3BE!important;}

#sidebar-column {color: #FFFFFF!important; background: #666666!important;}

#sidebar-column .widgettitle {background: #2B2B2B !important; color: #FFFFFF!important;}

.content #sidebar-column a {color: #E6D87E!important;}

#post-entry, #container .content #content {background: #FFFFFF!important;}

ul#options-nav li {background: #FFFFFF url(_inc/images/members/options.png) no-repeat 5px center!important;}

#top-header .top-h, #call-action {color: #474747!important; background: #FFFFFF!important;}

#container #content #right-box #optionsbar #options-nav li.current a {color: #474747!important;}

#top-header .top-h {background: #FFFFFF!important;}

#container .activity-list .activity-header a:first-child, #container span.highlight {
color:#026180 !important;
}

/* 18246-1343677369 */