body#custom {font-family: Trebuchet MS, sans-serif!important; color: #524F4C!important; background: #EDEDED no-repeat fixed left top !important;}

h1, h2, h3, h4, h5, h6 {font-family: Tahoma, sans-serif!important;}

.item-list .meta a, #custom .site-title h1 a {color: #962D2D!important;}

#container .content a {color: #962D2D!important;}

#container .content a:hover {color: #030303!important;}

.post-content blockquote {border-left: 4px solid #EBEBEB!important;}

#post-entry h2.widgettitle {border-bottom: 1px solid #EBEBEB!important;}

#post-entry .item-list li, .message-box, .info-group, .bp-widget, .alt-post ul li {border-bottom: 1px solid #EBEBEB!important;}

.group-forum {border-bottom: 1px solid #EBEBEB!important;}

#bottom-entry {border-top: 1px solid #EBEBEB!important;}

.wp-caption, ol.commentlist li, #cf {background: #EBEBEB!important;}

.post, .page .page, h2#post-header, #commentpost h4 {border-bottom: 1px solid #EBEBEB!important;}

div.crop-img, div.crop-preview img, .post-tagged p.com a {background: #EBEBEB !important; border: 1px solid #EBEBEB!important;}

#content #post-navigator a, #setupform {background: #EBEBEB!important;}

ol.pinglist li {border-bottom: 1px solid #EBEBEB!important;}

#content #post-navigator a {color: #FFFFFF!important;}

#container h1.post-title a {color: #962D2D!important;}

h1.post-title a:hover {color: #030303!important; text-decoration: underline;}

#sidebar-column .item-list li {border-bottom: 1px solid #EBEBEB!important;}

#content #sidebar-column a:hover {color: #000000!important;}

#content #sidebar-column .widgettitle a {color: #FFFFFF!important;}

#container table.forum .alt {background: #FFFACC !important;}

#custom .site-title {color: #7A2C3C!important;}

#container #call-action .call-button a {background: #962D2D!important; color: #FFFFFF!important;}

#container ol.commentlist li div.reply a {background: #962D2D!important; color: #FFFFFF!important;}

#container #post-navigator .current, #content .button-block a, #content .content-header li a, #content .content-header li.current a, #container .member-entry ul#letter-list li a, ul#letter-list li a:hover, #content .item-list .action a, #container .group-button a {background: #962D2D!important; color: #FFFFFF!important;}

.time-since, .post-author, #container .alt-post small a, span.signup-description {color: #524F4C!important;}

ul.pagenav li a, ul.pagenav li.selected a {color: #FFFFFF!important; background: #7A2C3C!important;}

#content ul#activity-filter-links li a,#content ul#activity-filter-links li a:hover, #content ul#activity-filter-links li.selected a {color: #FFFFFF!important; background: #7A2C3C!important;}

#top-header .navigation {background: #7A2C3C !important;}

#top-header .navigation a {color: #FFFFFF!important;}

#top-header .navigation a:hover {color: #E8FFFD!important;}

#footer {color: #FFFFFF!important; background: #962D2D!important;}

#footer a {color: #FFEEC7!important;}

#sidebar-column {color: #524F4C!important; background: #FFFFFF!important;}

#sidebar-column .widgettitle {background: #962D2D !important; color: #FFFFFF!important;}

#sidebar-column a {color: #962D2D!important;}

#post-entry, #container .content #content {background: #FFFFFF!important;}

ul#options-nav li {background: #FFFFFF url(_inc/images/members/options.png) no-repeat 5px center!important;}

#top-header .top-h, #call-action {color: #524F4C!important; background: #FFFFFF!important;}

#container #content #right-box #optionsbar #options-nav li.current a {color: #524F4C!important;}

#top-header .top-h {background: #FFFFFF!important;}

#object-nav, .item-list-tabs, #whats-new-form, #forum-topic-form .alt, .messages-options-nav, #message-thread .alt, .profile .alt {
background: #eee !important
}
#subnav, #user-pag {
  background: #fff none repeat scroll 0 0 !important;
}

/* 18246-1343677369 */