/* --------------------------------------------------------------

   BuddyPress Components CSS.

-------------------------------------------------------------- */

#content {
       width: 74%;
  float:left;
  padding: 2%;
  border: 1px solid #ddd;
      -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
   -webkit-box-shadow: 0px 0px 3px #aaa;
     -moz-box-shadow: 0px 0px 3px #aaa;
          box-shadow: 0px 0px 3px #aaa;
          background: #fff;
}

div.activity {
  clear:both;
}


#whats-new-options {
  height: 60px !important;
}


.directory li.last {
    float: right;
    line-height: 24px;
    text-align: right;
    width: 300px;
}
.directory li.last select {
    float: right;
    margin-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 5px 0 15px 0;
    letter-spacing: -1px;
}

#wp-admin-bar .padder {
width: 100% !important;
}
.item-options .selected {
	font-weight: bold;
	text-decoration: underline;
}
.invites li p {
  width: 380px;
  font-size: 0.95em !important;
}

div#topic-meta div.admin-links {
top:40px;
}

#object-nav {
  background: #2c2c2c;
   box-shadow: 3px 3px 2px #ccc;
	-moz-box-shadow: 3px 3px 2px #ccc;
	-webkit-box-shadow: 3px 3px 2px #ccc;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

div.activity-type-tabs, .directory div.item-list-tabs {
  background: #2c2c2c;
  color: #fff;
  margin-bottom: 10px !important;
   box-shadow: 3px 3px 2px #ccc;
	-moz-box-shadow: 3px 3px 2px #ccc;
	-webkit-box-shadow: 3px 3px 2px #ccc;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#subnav {
   box-shadow: 0px 0px 0px #fff;
	-moz-box-shadow: 0px 0px 0px #fff;
	-webkit-box-shadow: 0px 0px 0px #fff;
}
#subnav a {
  color: #333;
}

#container div.activity-type-tabs li a, .directory div.item-list-tabs li a {
  background: transparent none;
  color: #fff;
}
#container div.activity-type-tabs li.selected a, .directory div.item-list-tabs li.selected a {
    background: #333333;
    border: 1px solid #444444;
    /* color: #FFCC00 !important; */
}


.activity-list li.mini .activity-content {
    margin-right: 0px;
}
#object-nav li a {
  color: #efefef;
  border: 1px solid #2c2c2c;
}
#object-nav li.current a {
/* color:#FFCC00 !important; */
background: #333;
border: 1px solid #444;
}

.standard-form p {
	clear:both;
}
.padder h3 {
  font-size: 18px;
}
.widget h2.widgettitle {
margin-bottom:12px !important;
}
ul.item-list li {
line-height:18px !important;
}

.padder p, .padder div, .padder li {
font-size: 1em !important;
}


#content .picture-meta {
display:inline;
margin:0 0 20px 0;
width:auto;
}
ul.item-list {
padding-top:10px;
}


.item-list-tabs {
clear:both;
margin: 0px !important;
min-height:35px;
overflow:hidden;
width:100% !important;
}

.registration .register-section {
  margin-top: 20px;
}
.forum .post-content {
float: none !important;
}





.directory div.item-list-tabs {
width: 100%;
}

.dir-search input[type='text'] {
  width: 200px;
  float: left;
  margin-right: 10px;
}

#item-header-content span.activity {
margin-top:15px;

}

#item-buttons div {
  margin-bottom: 6px !important;
}


a {
	color: #0F447A;
	text-decoration: underline;
}
a:hover, a:active {
	color: #C63;
	text-decoration: underline;
}
a:focus { outline: 1px dotted #ccc; }

.clear { clear: left; }



.item-options {
  font-size: 11px;
  margin-bottom: 15px;
}


p:last-child { margin-bottom: 0; }

hr {
	background-color:#E7E7E7;
	border:0 none;
	clear:both;
	height:1px;
	margin: 20px 0;
}

img.avatar {
	float: left;
	border: 2px solid #eee;
}

div.item-list-tabs ul li a, div.item-list-tabs ul li span {
font-size: 11px;
color: #181919;
}

.activity-list .activity-header a:first-child, span.highlight {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	color: #333;
	border: 1px solid #ddd;
	margin-right:3px;
	padding:3px 8px;
	text-decoration:none;
	background: #eee;
}

.activity-list .activity-header a:first-child:hover, span.highlight:hover {
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
	color: #3E2F02 !important;
	border: 1px solid #FCE398;
	margin-right:3px;
	padding:3px 8px;
	text-decoration:none;
	background: #FDEDBD !important;
}

#footer .activity-list .activity-header a:first-child, #footer span.highlight {
color: #333 !important;
}


span.activity {
	color: #333;
	border: 1px solid #ddd;
	margin-right:3px;
	padding:3px 8px;
	text-decoration:none;
	background: #eee;
}

#members-list span.activity {

}

#forums-dir-list {
font-size:12px;
line-height: 20px !important;
}

#footer ul.item-list li {
  border-bottom: 1px solid #333 !important;
}
.activity-list li.mini {
	padding-bottom: 10px !important;
}



#custom .activity-list div.activity-meta a.acomment-reply {
	color: #666 !important;
	background-color: #eee;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
}
#custom .activity-list div.activity-meta a:hover.acomment-reply {
	color: #000 !important;
	text-decoration: none;
	background-color: #CCC;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999;
	border-bottom-color: #999;
}

#custom .activity-list div.activity-meta a.fav {
	color: #666 !important;
	background-color: #eee;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
}
#custom .activity-list div.activity-meta a:hover.fav {
	color: #000 !important;
	text-decoration: none;
	background-color: #CCC;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #999;
	border-bottom-color: #999;
}



p#login-text {
	font-size: 12px;
	line-height: 16px;
}
p#login-text a {
	color: #06C;
	text-decoration: underline;
}
p.forgetmenot {
	font-size: 11px;
	color: #333;
	font-weight: normal;
}
.activity-inreplyto {
	font-size: 12px;
	line-height: 18px;
}

#activity-filter-links {
	margin: 0px;
	padding: 7px 0px;
}
#activity-filter-links li {
	display: inline;
	margin: 0px 5px 5px 0px;
	padding: 2px 5px;
	float: left;
	width: auto;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #333;
	text-decoration: none;
	background-color: #f7f7f7;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #eee;
	border-right-color: #CCC;
	border-bottom-color: #999;
	border-left-color: #eee;
}
#activity-filter-links li a {
	color: #333;
	text-decoration: none;
}

#sidebar .activity-list li.mini .activity-content {
	margin-right: 0px;
}

#sidebar .activity-list li.mini .activity-meta {
position:absolute;
bottom:0;
}

div.dir-search {
	float:right;
	width: 300px;
	margin-top: -40px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

.item-list-tabs select {
	padding-top: 1px;
	padding-bottom: 1px;
}

div.item-list-tabs ul li:first-child {
margin-left:0px;
}

.padder div.item-list-tabs ul li {
margin: 5px 7px 5px 7px;
}

#jes-padder .dir-search .button {

}


#blogs-list li div.meta {
	color:#888888;
	font-size:11px;
	margin-top:10px;
	width: 300px;
	float: right;
}

#custom .bp-widget ul#myflickr li {
	padding: 0px;
	float: left !important;
	list-style-type: none;
	width: 100% !important;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: 0px;
}
#custom .bp-widget ul#myflickr li .flickr_badge_image {
	margin: 0px 10px 10px 0px;
	padding: 5px;
	float: left !important;
	list-style-type: none;
	width: auto !important;
	border: 1px solid #ddd;
}
#custom .bp-widget ul#myflickr li .flickr_badge_image .img {
	margin: 0px;
	padding: 0px !important;
	float: left !important;
	list-style-type: none;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
}
.bp-widget h4, .profile h4, .standard-form h4 {
	font-size: 16px;
	margin: 0px 0px 15px;
	padding: 0px 0px 5px;

	border-bottom: 1px solid #ddd;
}
.bp-widget h4 span {
	font-size: 13px;
	float: right;
}
#search-bar .padder {
	padding: 0px;
	float: left;
	width: 100% !important;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}

#search-form #search-terms {
	width: 50%;
}
div#center-column #search-form #search-terms {
    width: 130px !important;
}
#signup_form select {
	width: 90% !important;
}
#container #top-right-panel .p-user-meta #bplogout {
	color: #333 !important;
	text-decoration: none;
}
#container table.forum {
    margin: 0px;
    width: auto;
}

#container div.pagination {
    padding: 10px 0px;
    font-size: 11px;
    height: 16px;
    margin: 0px;
}

#container ul#topic-post-list {
    margin: 15px -5px;
    width: auto;
}

#post-topic-reply {
  margin-top: 25px;
}

#container #search-form #search-terms {
    float: left;
    margin-bottom: 6px;
}



#container .widget #search-form select  {
    float: left;
    margin: 0 0px 0 10px;
    width: auto;
}

/* 18246-1343677342 */