/* @ MoreFoot Sidebars */
	#morefoot .grid-element{margin-bottom: 0;}
		#morefoot .widget-pad{position: relative;}
		#morefoot .widget-title{
			padding-left: 0;
			margin-bottom: .7em;
		}
		#morefoot p{margin: 1em 0;}
		#morefoot .widget ul{margin-left:10px;}
		
		#morefoot .searchform{left: 10%;}