/*
 * Admin styles
 *
 * @package Fanwood
 * @subpackage Template
 */

.hybrid-core-settings-wrap .inside span.description, .inside .description {
    font-size: 11px;
    line-height: 1.4em;
    font-style: normal;
    color: #999;

}
.form-table th {
    vertical-align: top;
    text-align: left;
    padding: 16px;
    width: 140px;
}
.appearance_page_theme-settings .metabox-holder .side .form-table th {
    font-weight: normal;
    text-align: left;
    width: 110px;
}