img#admin-bar-logo {
	left: -70px !important;
}

input#wire-post-email-notify, input[type='radio'], input[type='checkbox'], input[type='submit'] {
	width: auto;
}

.generic-button, .friendship-button, .group-button, .blog-button {
	display: inline;
}

#profile-wrapper {
border: 0px;
}

 #popupbox{
	margin: 24px 0 0 -225px;
	position: absolute;
	z-index: 2;
	visibility: hidden;
	background: #fff;
	float: left;
	border: 5px solid #7C7C7C;
	padding: 15px;
	color: #563C76;
	font: 120% bold "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Verdana, Arial, sans-serif;
	width: 172px;
}

	#login-form-wrap {
		width: 170px;
		margin: 20px auto;
	}
	
	#no-account-register {
		margin-left: 5px;
		color: #DA0000;
		font: 88% normal "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, Verdana, Arial, sans-serif;
	}
	
	#close-popup-login a {
	float: right;
	margin-top: 25px;
	text-decoration: none;	
	}


