.fixed_width #twitterbar {background: none}
.tbubble-pad{
	font-style:italic;
	background: url(@{plSectionsRoot}/twitterbar/twitter-balloon.png) no-repeat 0 2px;
	padding: 0 0 0 25px;
	text-align: left;
}
.twitteraccount{font-style:normal;}

.widget ul.twitter .twitter-item{
	font-weight: normal;
	font-style: italic;
	margin-bottom: .4em;
	font-size: .9em;
}
#twitterbar{
	background: darken( @pl-base, @invert-dark );
}