#step-panel {
	padding: 10px;
	background: #ffffff;
	border: 1px solid #eeeeee;
	margin: 30px 20px 20px 10px;
	width: 540px;
}

.stepsection{
	clear: both;
	background: #f9f9f9;
	border: 1px solid #EEEEEE;
	padding: 0px 10px 10px 10px;
	margin: 10px 0px;
}

#step-panel h2 {
	font-size: 14px;
	width: 100%;
	margin: 0px;
}

#step-panel h4 {
	color: #660000;
}

#step-panel .note{
	clear: both;
	background-color: #FFFFE0;
    border: 1px solid #E6DB55;
	padding: 10px;
	margin: 10px 0px;
	color: #666666;
}

.stepimage_wrapper{
	background: #F9F9F9;
	padding: 5px;
	border: 5px solid #ffffff;
	-moz-box-shadow: 0 4px 2px #eeeeee;
	-webkit-box-shadow: 0 4px 2px #eeeeee;
	-moz-box-shadow: 0 4px 2px #eeeeee;
}

#homepage_one{
	background: url('faqimages/advanced_1.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#homepage_two{
	background: url('faqimages/advanced_2.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#homepage_three{
	background: url('faqimages/advanced_3.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#homepage_four{
	background: url('faqimages/advanced_4.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#homepage_five{
	background: url('faqimages/advanced_5.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#homepage_six{
	background: url('faqimages/advanced_6.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#homepage_seven{
	background: url('faqimages/advanced_7.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#homepage_eight{
	background: url('faqimages/advanced_8.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#homepage_nine{
	background: url('faqimages/advanced_9.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#homepage_ten{
	background: url('faqimages/advanced_10.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#page_one{
	background: url('faqimages/page_1.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#profile_one{
	background: url('faqimages/profile_1.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#profile_two{
	background: url('faqimages/profile_2.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#profile_three{
	background: url('faqimages/profile_3.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#profile_four{
	background: url('faqimages/profile_4.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#profile_five{
	background: url('faqimages/profile_5.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#profile_six{
	background: url('faqimages/profile_6.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#buddypress_one{
	background: url('faqimages/buddypress_1.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#background_one{
	background: url('faqimages/background_1.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#menus_one{
	background: url('faqimages/menus_1.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

#header_one{
	background: url('faqimages/header_1.jpg') no-repeat;
	height: 150px;
	width: 500px;
}

.accordionButton {	
	background: #eeeeee;
	border: 1px solid #FFFFFF;
	padding: 10px;
	cursor: pointer;
	width: 520px;
	}
	
.accordionContent {	
	background: #f9f9f9;
	padding: 10px;
	width: 520px;
	border: 1px solid #EEEEEE;
	}
	
/***********************************************************************************************************************
 EXTRA STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/

.on {
	background: #660000;
	color: #ffffff;
	}
	
.over {
	background: #660000;
	color: #ffffff;
	}

	#step-panel .note{
		clear: both;
		background-color: #FFFFE0;
	    border: 1px solid #E6DB55;
		padding: 10px;
		margin: 10px 0px;
		color: #666666;
	}

/* 18246-1343677389 */