#faq-panel {
	padding: 0px 10px;
	background: #ffffff;
	border: 1px solid #eeeeee;
	margin: 30px 20px 20px 10px;
}

.faqsection{
	clear: both;
	background: #f9f9f9 url("faqone.png") no-repeat 0px 5px;
	border: 1px solid #EEEEEE;
	padding: 0px 10px 10px 100px;
	margin: 10px 0px;
}

#faq-panel h2 {
	font-size: 14px;
	color: #000000;
	float: left;
	width: 100%;
}

#faq-panel .button{
	margin: 0px;
}

#faq-panel .note{
	clear: both;
	background-color: #FFFFE0;
    border: 1px solid #E6DB55;
	padding: 10px;
	margin: 10px 0px;
	color: #666666;
}

/* 18246-1343677389 */