body {
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:75%;
}

html > body { font-size: 13px;}

/*
|| typo 
*/
* {text-shadow: #000000 0 0 0px; /*Fixes Safari text*/}

/* Headings */
h1, h2, h3, h4, h5, h6, p { font-weight:normal;}
h1, h2, h3, h4, h5, h6 {margin-bottom:18px;letter-spacing:1px;}
.entry-title, .entry-subtitle {margin-bottom:0;}
.entry-title a, .entry-subtitle a  {display:block;padding-bottom:18px;color:#fcfaf4;}
.entry-title a:focus, .entry-subtitle a:focus, .entry-title a:hover , .entry-subtitle a:hover  {color:#a0bd59;text-decoration:none;}

h1 { font-size: 3em;}
h2 { font-size: 1.833em;}
h3 { font-size: 1.5em;}
h4 { font-size: 1.333em;font-weight: bold; }
h5 { font-size: 1.1em;font-weight: bold; }
h6 { font-size: 1em;font-weight: bold; }


/* Text elements*/
p { line-height:18px;font-size:1em; margin:0 0 18px;}
p img {padding:0;}
abbr, acronym { border-bottom: 1px dotted #968b76; }
address { margin-top: 18px; font-style: italic; }
del { color:#968b76; }
strong, th, thead, dt { font-weight: bold; }
cite, em, dfn, i, ins { font-style: italic; }
blockquote { margin: 18px; color: #9f875f; font-style: italic;border-left:3px solid #9f875f;padding-left:18px;}
pre,code,tt { font: 1em 'andale mono', 'monotype.com', 'lucida console', monospace; line-height: 18px; } 
tt { display: block; margin: 18px 0; line-height: 18px; }
small {font-size:0.8em;}
hr {clear:both;color:#32240b; background-color:#32240b; height:1px; border:none;}
sup {height:0;line-height:1;position:relative;top:-0.6em;vertical-align:baseline!important;vertical-align:bottom;}
sub {position:relative;top:0.3em;vertical-align:baseline;}
big {font-size:1.175em;}

/* LISTS  & Links */
.post ul, .page_post ul, .post ol, .page_post ol { margin:0 0 18px 18px; list-style-position:inside;}
.post ul, .page_post ul { list-style:disc;}
.post ol, .page_post ol { list-style-type: decimal;}
.post ol li, .page_post ol li, .post ul li, .page_post ul li {line-height:18px;margin:6px 0;list-style-position:inside;}
.post ol ol, .page_post ol ol {list-style:upper-alpha;}
.post ol ol ol, .page_post ol ol ol {list-style:lower-roman;}
.post ol ol ol ol, .page_post ol ol ol ol {list-style:lower-alpha;}
.post ul ul, .page_post ul ul, .post ol ol, .page_post ol ol, .post ul ol, .page_post ul ol, .post ol ul,  .page_post ol ul {margin-bottom:0;}
dl { margin: 0 0 18px 0; }
dl dt { font-weight: bold;margin:18px 0 6px; }
dd { margin-left: 18px;line-height:18px;}

/*
General Styling for
Links, Messages, Forms, Tables
*/
a { text-decoration:none;color:#a0bd59;}
a:hover, a:focus { text-decoration:underline;}

/*messages*/
.error {color:#ff3333;}
.success {color:#ccff00;}

div.success p {padding:3px;margin-bottom:6px;color:#ccff00;background:#e3edcb;border:1px solid #ebfebc;}
div.error p {padding:3px;margin-bottom:6px;color:#ff3333;background:#f7e6e3;border:1px solid #fecfc7;}

/* FORMS */
fieldset { margin: 0 0 18px 0;}
legend { font-weight: bold; font-size:1.2em; margin-bottom:6px; }
label, input, textarea, select {margin-bottom:6px;display:block;width:250px;}
select {width:262px;cursor: pointer; }
textarea {width:550px;height:225px;}
label {font-size:1.1em;}
input, textarea {padding:4px;}
input[type='button'], input[type='submit'], input[type='checkbox'], input[type='image'], input[type='radio'], input[type='reset'], button { cursor: pointer;width:auto;float:left;margin-right:6px; }
input[type='hidden'] { display:none; }
form br {clear:both;}

/*Form Buttons*/
.formbutton {color:#222d0a; background:#657e2e;font-weight:bold;border:1px solid #394b10;border-top-color:#85a245;border-left-color:#85a245;letter-spacing:1px;}
.formbutton:focus, .formbutton:hover {background:#839f43;border:1px solid #85a245;border-top-color:#394b10;border-left-color:#394b10;}
.formbutton:active {background:#4b601b;}

/* TABLES */
/* tables still need 'cellspacing="0"' in the markup */
table, thead, tbody, tr, th, td {font-size:1em}
table { border-collapse:separate; border-spacing:0; margin-bottom:18px;}
caption, th, td { text-align:left;}
th { border-top: 2px solid #9f875f;border-bottom: 2px solid #9f875f; font-weight: bold;background:#423318; }
td {border-bottom: 1px solid #32240b; }
.even td {background:#1e1301;}
th,td { padding:6px; }
tfoot { font-style: italic; }
caption { background: #1e1301;margin-bottom:9px;}

/*###########################################################################################*/
.clear {clear:both;}
/* This needs to be first because FF3 is now supporting this */
.clearfix {display: inline-block;}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/*################################################################################################*/
/*some wordpress related css*/
.alignleft, img.alignleft {float: left;}
img.alignleft {float: left;margin:0 18px 18px 0;}
.alignright, img.alignright {float: right;}
img.alignright {margin:0 0 18px 18px;}
.aligncenter, img.aligncenter {clear: both;margin:0 auto;}
img.aligncenter {margin:0 auto 18px;display: block;}