#content.widecolumn{
	width: 600px;
	margin: 15px auto;
}

#multisite_area{
	font-size: 1.1em;
	line-height: 1.63em;
}
.mu_register h1, .mu_register h2, .mu_register h3{
	text-align: center;
	margin: 1.5em;
}

#multisite_area .mu_alert{
	margin: 1em 0;
	font-weight: normal;
}

.mu_register ul {
	padding-left: 25px;
	list-style-type: none;
}

.mu_register p{
	font-size: 16px;
	line-height: 1.6em;
}

p.submit, p.submit:hover, p.submit:active{
	background: none;
	border: none;
	box-shadow:none;
}

#multisite_area .mu_register input[type="submit"]{
	width: auto;
	padding: 8px 18px;
}
