body { font-family:arial, sans-serif; font-size: 100%; margin: 0px; padding: 0px; background: #E7F5FE;}
h1, h2, h3, h4, h5, h6 { font-family:arial, sans-serif; font-weight: normal; margin: 0px; padding: 0px;}
.bpfb_form_container {
  float:left;
  width: 93% !important;
  padding: 3%;
  margin: 0px 0px 20px 0px;
}
.bpfb_form_container textarea {
  clear:both;
  width: 80% !important;
  margin: 0px 0px 20px;
}
.sticky{}
.gallery-caption {}

.thenews p {
  margin-bottom: 16px;
}
small, .small {
  font-size: 0.85em !important;
}
#main-column img {
  border: 0px none;
}

.breadcrumbs {font-size: 11px; background: #f7f7f7; margin: 0px; padding: 6px 1% !important; float: left; width: 98% !important; list-style: none;}

.breadcrumbs li {margin: 0px; padding: 0px 5px 0px 0px !important; float: left; width: auto !important;}

.breadcrumbs li a {color: #003399;}

img {border: 0px none;}

#wrapper {width: 960px; margin-right: auto; margin-left: auto; font-size: 0.75em;}

#container {width: 100%; margin: 0px; float: left; padding-top: 2em; background: #fff;}

.content-main {background: #FFF; float: left; width: 950px; margin: 0px; padding: 15px;}

#top-header {margin: 0px; padding: 0px; float: left; width: 100%;}

#site-title {margin: 0px; padding: 5px 20px 20px 20px; float: left; width: 320px;}

#site-title h1 {font-size: 28px; margin: 0px; padding: 10px 0px 0px; float: left; width: 100%;}

#site-title a {color: #000000; text-decoration: none;}

#site-title p {font-size: 13px; margin: 0px; padding: 0px; float: left; width: 100%;}

#searchbox {margin: 5px 0px 0px; padding: 1%; float: left; width: 98%; background: #003D79; border-bottom: 2px solid #0070DF;}

#searchbox #search-form {margin: 0px; padding: 3px 0px 0px; float: left; width: 400px;}

#searchbox #search-form #search-terms {width: 200px; padding: 2px 4px; background: #FFFFFF; border-top: 1px solid #666666; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC;}

#searchbox #search-form #search-which {padding: 2px 4px; background: #FFFFFF; border-top: 1px solid #666666; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC; margin: 0px 10px 0px 0px; }

#logout-link {margin: 0px; padding: 0px 10px 0px 0px; float: right; font-size: 12px; width: auto;}

#logout-link p {margin: 0px; padding: 8px 0px 0px; float: right; width: auto;}

p#profile {font-size: 14px; color: #FFFFFF; margin: 0px; padding: 0px;}

#logout-link img.avatar {margin: 0px 15px 0px 0px; padding: 0px; border: 2px solid #FFFFFF; float: left;}

#logout-link a {color: #EAF4FF; text-decoration: none; border-bottom: 1px dotted #FFFFFF; padding-bottom: 1px;}

#searchbox #login-form {margin: 0px; padding: 4px 0px 0px; float: right;}

#searchbox #user_login {width: 115px; padding: 2px 4px; background: #FFFFFF; border-top: 1px solid #666666; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC;}

#searchbox #user_pass {width: 115px; padding: 2px 4px; background: #FFFFFF; border-top: 1px solid #666666; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC;}

.full-width {width: 96% !important; padding: 2% !important;}

#header {margin: 0px; padding: 0px 0px 5px; float: left; width: 100%; background: #0066CC; color: #FFFFFF; border-bottom: 10px solid #005EBB;}

#header #intro-text {float: left; width: 650px; margin: 0px; padding: 20px 0px 15px 15px;}

#header #intro-text h2 {margin: 0px; padding: 0px 0px 6px; float: left; width: 100%; font-size: 24px;}

#header #intro-text span {margin: 0px; padding: 0px; float: left; width: 100%; font-size: 15px; color: #FFFFFF;}

#signup-button, #login-p {margin: 0px; padding: 26px 20px 0px 15px; float: right;}

#login-p {margin: 0px; padding: 10px 10px 0px 10px; float: right;}

#signup-button a {background: #004891; padding: 5px 11px; font-size: 22px; color: #FFFFFF; text-decoration: none; border: 1px solid #E7F5FE; display: block; margin: 0px; float: left; -moz-border-radius: 6px; -khtml-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px;}

#signup-button a:hover {background: #002D59; padding: 5px 11px; font-size: 22px; color: #FFFFFF; text-decoration: none; border: 1px solid #FFFFFF; display: block; margin: 0px; float: left;}

.content {margin: 0px; padding: 0px; float: left; width: 100%;}

.content a:hover {color: #000000; text-decoration: none;}

#post-entry {margin: 0px; padding: 18px; float: left; width: 660px;}

h2#post-header {margin: 0px 0px 1em; padding: 0px 0px 10px; float: left; width: 100%; font-size: 20px; line-height: 25px; border-bottom: 1px solid #eee; font-weight: 400;}

.post {margin: 0px 0px 30px; padding: 0px 0px 30px; float: left; width: 100%; border-bottom: 1px solid #EFEFEF;}

h1.post-title {margin: 0px; padding: 0px 0px 8px; float: left; width: 100%; font-size: 28px; line-height: 33px; letter-spacing: -1px; color: #121212; font-weight: 400;}

h1.post-title a {color: #0066CC; text-decoration: none;}

h1.post-title a:hover {color: #000000; text-decoration: underline;}

.post-author {font-size: 0.85em; margin: 0px 0px 5px; padding: 0px 0px 5px 20px; float: left; width: 96%; line-height: 1.5em; background: url(../images/site-wide-icon/time.png) no-repeat 2px 4px; border-bottom: 1px solid #eee;}
div.post-single { margin: 0px; padding: 0px 0px 8px 0px;
}
#navigation .current_menu_item, #navigation .current_page_item, #navigation .selected {
  background: #E8E8E8;
}

.post-author a, p.tags a {text-decoration: underline; color: #0066CC;}

.post-content {font-size: 1.125em; margin: 0px; padding: 1em 0px; float: left; width: 100%; line-height: 1.5em;}

.post-content p {margin: 0px 0px 18px;}

.post-content a {color: #0066CC; text-decoration: underline;}

.post-content ul, .post-content ol {margin: 0px; padding: 15px 0px 0px;}

.post-content ul li {margin: 0px 0px 8px 35px; padding: 0px; list-style: disc outside; width: 90%;}

.post-content ol li {margin: 0px 0px 8px 45px; padding: 0px; list-style: decimal outside; width: 90%;}

.post-tagged {margin: 0px; padding: 0px; float: left; width: 100%;}

.post-tagged p.tags {margin: 0px; padding: 0px; float: left; font-size: 0.85em;}

.post-tagged p.com {margin: 0px; padding: 0px 10px 0px 0px; float: right; font-size: 0.785em;}

.post-tagged p.com a {margin: 0px; padding: 3px 10px 6px 30px; float: left; font-size: 13px; color: #000000; display: block; text-decoration: none; background: #FFFFFF url(../images/comments_icon.gif) no-repeat 8px 8px; -moz-border-radius: 1em; border: 1px solid #CCE4FF;}

.post-tagged p.com a:hover {margin: 0px; padding: 3px 10px 6px 30px; float: left; font-size: 13px; color: #000000; display: block; text-decoration: none; background: #FFFFFF url(../images/comments_icon.gif) no-repeat 8px 8px; -moz-border-radius: 1em; border: 1px solid #77B8FF;}

#sidebar {float: right; width: 230px; background: #EAF4FF; padding: 25px 10px; border-left: 5px solid #DFEFFF;}

#left-column {margin: 0px; padding: 0px 4% 0px 0px; float: left; width: 47%;}

#center-column {margin: 0px; padding: 0px; float: left; width: 47%;}

#main-column {margin: 0px 0px 30px; padding: 0px 0px 20px; float: left; width: 98%; border-bottom: 5px solid #F8F8F8;}

#main-news {width: 410px; margin: 0px; padding: 0px 15px 0px 0px; float: left; border-right: 1px solid #eee;}

#main-news img { max-width: 98%; margin-bottom: 15px; }

#main-news a {color: #005EBB; text-decoration: underline;}

#main-news p.normal-class {margin: 0px; padding: 0px 0px 10px; float: left; width: 100%; font-size: 14px; font-weight: 300; text-transform: uppercase;}

#main-news p.thenews {font-size: 13px; line-height: 20px; margin: 0px; padding: 15px 0px 0px; float: left; width: 100%;}

#main-news h1 {font-size: 28px; margin: 0px; padding: 0px; float: left; width: 100%; line-height: 32px; color: #000000;}

#other-news {margin: 0px; padding: 0px; float: right; width: 205px;}

#other-news h2 {font-size: 16px;}

#other-news ul {margin: 0px; padding: 0px 0px 0px; float: left; width: 100%; list-style: none;}

#other-news ul li {float: left; width: 100%; margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #ddd;}
#container div#other-news ul li small {
   font-size: 0.75em !important;
}


#other-news ul li a {color: #0066CC; text-decoration: underline;}

.bpside a {color: #0066CC; text-decoration: underline;}

.bpside h4 {font-size: 17px; color: #000000; padding-bottom: 10px;}

.widget_tag_cloud h2 {margin-bottom: 15px!important;}

.content .bpside h4 a {color: #000000; text-decoration: none;}

.bpside ul {margin: 0px; padding: 10px 0px 0px; float: left; width: 100%; list-style: none;}

.bpside .item-options {margin: 0px; padding: 5px 0px 10px; float: left; width: 100%; font-size: 11px; text-align: right;}

.bpside .item-content {margin: 0px; padding: 0px;}

.item-comments {margin: 0px 0px 0px 65px; padding: 15px 0px 0px;}

.item-comments .item-meta {margin: 0px !important; padding: 7px 0px 0px !important; float: left;}

#post-entry .bpside h2 {margin: 0px; padding: 4px 0px 2px; float: left; width: 100%; font-size: 15px; line-height: 20px; border-bottom: 3px solid #005EBB; color: #111;}

#sidebar .bpside h2 {margin: 0px; padding: 4px 0px 2px; float: left; width: 100%; font-size: 15px; line-height: 20px; border-bottom: 3px solid #D7EAFF; color: #000000;}

h2 a {color: #000000!important; text-decoration: none!important;}

.bpside .widget {margin: 0px; padding: 0px 0px 20px; float: left; width: 100%; overflow: hidden;}

#buddypress-welcome h3 {margin: 0px; padding: 15px 0px 0px; float: left; width: 100%; font-size: 16px; color: #000000;}

#buddypress-welcome p {margin: 0px; padding: 12px 0px; float: left; width: 100%; font-size: 12px; line-height: 20px;}

.textwidget {margin: 0px; padding: 15px 0px 10px; float: left; width: 100%; font-size: 12px; line-height: 18px;}

.textwidget img, .item-content img, blockquote img {max-width: 100%; margin: 0px; padding: 0px; height: auto;}

#buddypress-whosonline .avatar-block img {margin-top: 15px;}

.bpside ul {margin: 0px; padding: 0px; float: left; width: 100%; list-style: none;}

.bpside ul li {margin: 0px 0px 5px!important; padding: 0px 0px 5px 0px !important; float: left; width: 100%;}

.bpside ul li ul {margin: 0px !important; padding: 0px 0px 0px 5% !important; float: left; width: 94%; list-style: none;}

.bpside ul li ul li {margin: 5px 0px 0px!important; font-size: 12px; line-height: 16px; padding: 5px 0px 0px !important; float: left; width: 100%;}

#sidebar .bpside ul li ul li {margin: 5px 0px 0px!important; padding: 0px; float: left; width: 100%; border-bottom: 0px !important; border-bottom-style: none !important;}

#sidebar .bpside ul li ul li ul li {border-bottom: 0px !important; border-bottom-style: none !important;}

div.create-account a {display: block; margin: 0px; padding: 3px 7px; float: left; background: #0066CC; color: #FFFFFF; text-decoration: none;}

div.create-account a:hover {display: block; margin: 0px; padding: 3px 7px; float: left; background: #004993; color: #FFFFFF!important; text-decoration: none;}

#searchform {margin: 0px; padding: 3%; float: left; width: 95%;}

#searchform label {font-size: 14px; display: block;}

#searchform #s {width: 95%; padding: 4px 5px; background: #FFFFFF; margin-bottom: 5px; border-top: 1px solid #666666; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC;}

.widget select {margin: 15px 0px 15px 10px; padding: 3px; width: 95%; background: #FFFFFF; float: left; font-size: 13px; color: #333333; border-top: 1px solid #666666; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-left: 1px solid #CCCCCC;}

#wp-calendar {margin: 0px 0px 10px !important; padding: 3%; float: left; width: 90% !important; text-align: center; font-size: 14px; line-height: 20px;}

#wp-calendar a {color: #0066CC; text-decoration: underline;}

#wp-calendar caption {margin-top: 8px;}

#footer {background: #0066CC; margin: 0px; padding: 0px; float: left; width: 100%; border-bottom: 10px solid #005EBB; font-size: 0.75em; color: #FFFFFF;}

.aleft a, .aright a {color: #FFFFFF; text-decoration: underline; padding-bottom: 1px;}

#footer a:hover {
  color: #fff;
  text-decoration: none !important;
}

#footer-wrap {width: 960px; margin-right: auto; margin-left: auto;}

#footer-content {width: 960px; margin: 0px; padding: 30px 0px; float: left; line-height:1.7em;}

#footer-content .aleft {margin: 0px; padding: 0px; float: left; width: 35%;}

#footer-content .aright {margin: 0px; padding: 0px; float: right; width: 55%; text-align: right;} /***** SIGNUP FORM *******/

#setupform {padding: 15px; background: #FFFFFF; float: left; margin: 0px; width: 90%;}

span.signup-description {display: block; margin-bottom: 16px; margin-top: 5px; font-size: 13px; color: #333333; padding: 0px; float: left; width: 100%;}

#setupform h3 {margin-top: 20px;}

#setupform input, #setupform textarea, #activateform input {width: 95%; padding: 7px 5px; font-size: 1.2em;}

#setupform input [ type = 'radio' ], #setupform input [ type = 'checkbox' ] {width: auto;}

#setupform select {padding: 3px;}

input#submit {width: auto; margin-top: 20px; font-size: 1.2em;}

#setupform label, div.radio span.signup-label, div.checkbox span.signup-label {display: block; font: 1.3em Georgia, serif; margin: 15px 0 5px 0;}

p#intro-text, p#extra-fields-help, p#avatar-help-text, p#blog-help-text, p#blog-details-help {margin-bottom: 15px;}

p.help-text, span.desc {font-size: 11px; color: #888; padding-top: 5px;}

div.field-box, div.mu_alert, div#account-fields, div#extra-form-fields, div.avatar-field, div#blog-or-username-fields, div#blog-details-fields {background: #f9f9f9; padding: 5px 15px 15px 15px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}

div.field-box {padding-top: 15px;}

#signup-welcome {width: 420px !important; margin: 20px 0;}

div.avatar-field {padding-top: 1px;}

div#blog-or-username-fields {padding: 18px 15px 5px 15px;}

div#blog-or-username-fields p {padding-bottom: 10px;}

div#blog-or-username-fields label {margin-left: 3px;}

div#extra-fields, div#avatar-form-fields, div#blog-or-username {margin-top: 30px;}

div.mu_alert {padding-top: 15px; margin-bottom: 15px;}

p.error, div.error {padding: 7px 10px; margin: 0 0 10px 0;}

div.error {margin: 10px 0 4px 0 !important;}

div#extra-fields select {width: 280px; font-size: 1.4em;}

div#extra-fields div.datefield select {width: auto;}

div#extra-fields div.radio label, div#extra-fields div.checkbox label, div#blog-or-username-fields label {display: inline !important; font: normal 1.1em "Lucida Grande", "Lucida Sans Unicode", verdana, arial, sans-serif; float: none; padding: 0 !important; margin-right: 15px;}

div#signup-welcome {font: normal 1.2em georgia, serif;}

div#signup-welcome span.label {font-weight: bold;}

div.crop-img, div.crop-preview img {padding: 4px; background: #f0f0f0; border: 1px solid #ddd;}

div.crop-img {float: left; margin-right: 15px;}

#avatar-cropper h4 {font-weight: bold; font-size: 1.1em; margin-bottom: 5px; margin-top: 20px;}

#avatar_v1 p, #avatar_v2 p {margin-bottom: 20px;}

#avatar_v1 p.submit, #avatar_v2 p.submit {margin-top: 20px;}

p.crop-preview {font-size: 1.2em;}

.sidebar_list {margin: 0px; padding: 15px 0px 0px; float: left; width: 100%;}

.dir-search input [ type = 'text' ] {font-size: 12px; background: #FFFFFF; padding: 3px; width: 50%; border: 1px solid #CCCCCC;}

ul.slideshow {list-style: none; width: 98%; height: 350px; overflow: hidden; position: relative; margin: 1.25em 0; padding: 0; background: #000000; border: 1px solid #999999;}

ul.slideshow li {position: absolute; left: 0; right: 0;}

ul.slideshow li.show {z-index: 500;}

ul img {border: none;}

#slideshow-caption {width: 96%; position: absolute; bottom: 0; left: 0; color: #fff; background: #000; z-index: 500; padding: 15px 2%;}

#slideshow-caption .slideshow-caption-container {padding: 5px 10px; z-index: 1000;}

#slideshow-caption h3 {margin: 0; padding: 0; font-size: 1.5em;}

#slideshow-caption p {margin: 5px 0 0 0; padding: 0; font-size: 1.125em;} /* -----------------------------------*/ /* >> Dropdown Navigations <<<-----*/ /* -----------------------------------*/ /* Holly Hack. IE Requirement \*/

* html ul li {float: left; height: 1%;}

* html ul li a {height: 1%;} /* End */

#wpnv li:hover ul, #wpnv li.over ul, .pagenav li:hover ul, .pagenav li.over ul {display: block;}/* The magic */ /* -----------------------------------*/ /* >> End Dropdown Navigations <<<-----*/ /* -----------------------------------*/

#custom #wpnv li ul li:hover ul, #custom #wpnv li ul li.over ul, #custom .pagenav li ul li:hover ul, #custom .pagenav li ul li.over ul {display: block;}/* The magic */

#custom #wpnv li ul li ul li:hover ul, #custom #wpnv li ul li ul li.over ul, #custom .pagenav li ul li ul li:hover ul, #custom .pagenav li ul li ul li.over ul, #custom .pagenav li ul li ul li ul li:hover ul, #custom .pagenav li ul li ul li ul li.over ul {display: block !important;}/* The magic */

ul#wpnv {margin: 0px 0px 10px; padding: 10px 0px 10px 10px; float: right; list-style: none; position: relative; border-bottom: 1px solid #eee;}

ul#wpnv ul {background: transparent;}

ul#wpnv li {position: relative; display: inline-block; margin: 0px; padding: 0px 20px 0px 0px; float: left; font-size: 12px; color: #FFFFFF;}

ul#wpnv li li {background: transparent none !important; padding: 0px !important; margin: 0px !important; line-height: normal; height: auto !important;}

ul#wpnv li ul {position: absolute; left: 0px;/* Set 1px less than menu width */ top: 15px; display: none; margin: 0px; padding: 8px 0px 0px; width: 180px; border-right: 0px none; border-bottom: 0px none; border-left: 0px none; border-top: 0px; border-top-style: none; list-style: none; z-index: 1000; background: url(../images/nav-arrow.png) no-repeat 25px top;}

ul#wpnv li a {margin: 0px; padding: 0px; float: left; color: #555; text-decoration: none; display: inline-block;}

ul#wpnv li a:hover {color: #000000; text-decoration: none;}

ul#wpnv ul li a {text-decoration: none; color: #FFFFFF; display: inline-block; padding: 5px 15px 5px 15px; margin: 0px; float: left; border-bottom: 1px solid #222; width: 150px; font-size: 12px; line-height: 18px; border-left: 0px none; border-top-width: 0px; border-right-width: 0px; border-top-style: none; border-right-style: none; text-align: left; height: auto !important; background: #000000;}

ul#wpnv ul li a:hover {text-decoration: none; color: #FFFFFF; display: inline-block; padding: 5px 15px 5px 15px; margin: 0px; float: left; background: #333333!important; border-bottom: 1px solid #555; width: 150px; font-size: 12px !important; line-height: 18px; border-left: 0px none; border-top-width: 0px; border-right-width: 0px; border-top-style: none; border-right-style: none; text-align: left; height: auto !important;}

#custom #wpnv li ul li ul {position: absolute;/* Set 1px less than menu width */ top: 0px; display: none; margin: 0px; padding: 0px; width: 180px; border-right: 0px none; border-bottom: 0px none; border-left: 0px none; border-top: 0px; border-top-style: none; list-style: none; left: 180px;}

#custom #wpnv li ul li ul li ul {position: absolute;/* Set 1px less than menu width */ top: 0px; display: none !important; margin: 0px; padding: 0px; width: 180px; border-right: 0px none; border-bottom: 0px none; border-left: 0px none; border-top: 0px; border-top-style: none; list-style: none; left: 180px;}

#custom #wpnv li ul li ul li ul ul {position: absolute;/* Set 1px less than menu width */ top: 0px; display: none !important; margin: 0px; padding: 0px; width: 180px; border-right: 0px none; border-bottom: 0px none; border-left: 0px none; border-top: 0px; border-top-style: none; list-style: none; left: 180px;}

#custom .pagenav li ul li ul {position: absolute;/* Set 1px less than menu width */ top: 0px; display: none; margin: 0px; padding: 0px; width: 180px; border-right: 0px none; border-bottom: 0px none; border-left: 0px none; border-top: 0px; border-top-style: none; list-style: none; left: 180px;}

#custom .pagenav li ul li ul li ul {position: absolute;/* Set 1px less than menu width */ top: 0px; display: none !important; margin: 0px; padding: 0px; width: 180px; border-right: 0px none; border-bottom: 0px none; border-left: 0px none; border-top: 0px; border-top-style: none; list-style: none; left: 180px;}

#custom .pagenav li ul li ul li ul ul {position: absolute;/* Set 1px less than menu width */ top: 0px; display: none !important; margin: 0px; padding: 0px; width: 180px; border-right: 0px none; border-bottom: 0px none; border-left: 0px none; border-top: 0px; border-top-style: none; list-style: none; left: 180px;} /*//////////// nav ////////*/

#navigation {margin: 0px; padding: 0px 2%; float: left; width: 96%;}

ul.pagenav {margin: 0px; padding: 0px; float: right; list-style: none; position: relative;}

ul.pagenav ul {background: transparent;}

ul.pagenav li {position: relative; display: inline-block; margin: 0px 15px 0px 0px; padding: 0px; float: left; font-size: 1.25em; color: #000000; font-weight: bold;}

ul.pagenav li li {background: transparent none !important; padding: 0px !important; margin: 0px !important; line-height: normal; height: auto !important;}

ul.pagenav li ul {position: absolute; left: 0px;/* Set 1px less than menu width */ top: 25px; display: none; margin: 0px; padding: 8px 0px 0px; width: 180px; border-right: 0px none; border-bottom: 0px none; border-left: 0px none; border-top: 0px; border-top-style: none; list-style: none; z-index: 1000; background: url(../images/nav-arrow.png) no-repeat 25px top;}

ul.pagenav li a {margin: 0px; padding: 5px 12px; float: left; color: #111; text-decoration: none; display: inline-block;}

ul.pagenav ul li a {text-decoration: none; color: #FFFFFF; display: inline-block; padding: 5px 15px 5px 15px; margin: 0px; float: left; background: #000000!important; border-bottom: 1px solid #222; width: 150px; font-size: 12px; line-height: 18px; border-left: 0px none; border-top-width: 0px; border-right-width: 0px; border-top-style: none; border-right-style: none; text-align: left; height: auto !important;}

ul.pagenav ul li a:hover {text-decoration: none; color: #FFFFFF; display: inline-block; padding: 5px 15px 5px 15px; margin: 0px; float: left; background: #333333!important; border-bottom: 1px solid #555; width: 150px; font-size: 12px !important; line-height: 18px; border-left: 0px none; border-top-width: 0px; border-right-width: 0px; border-top-style: none; border-right-style: none; text-align: left; height: auto !important;}

ul.pagenav li a:hover {text-decoration: none; display: inline-block; color: #000000;}

ul.slideshow {list-style: none; width: 100%; height: 300px; overflow: hidden; position: relative; margin: 0 0 25px; padding: 0; background: #181919; text-align: center;}

ul.slideshow li {position: absolute; left: 0; right: 0;}

ul.slideshow li.show {z-index: 500;}

ul img {border: none;}

#slideshow-caption {width: 96%; position: absolute; bottom: 0; left: 0; color: #fff; background: #000; z-index: 500; padding: 2%; border-top: 10px solid #111;}

#slideshow-caption .slideshow-caption-container {padding: 5px 10px; z-index: 1000;}

#slideshow-caption h3 {margin: 0; padding: 0; font-size: 20px; font-weight: normal; color: #FFFFFF; text-align: left; letter-spacing: -1px;}

#slideshow-caption p {margin: 5px 0 0 0; padding: 0; font-size: 13px; line-height: 18px; text-align: left;}

#fc_wrap {margin: 0px; padding: 0px; float: right;}

#fc_wrap span, #fc_wrap br {display: none !important; margin: 0px; padding: 0px;}

#fbc_login {margin: 0px; padding: 0px; float: left; border: 0px none;}

#fc_wrap #fbc_login {margin: 0px; padding: 0px; float: right; border: 0px none; width: 120px; position: relative;}

#fc_wrap .dark {margin: 0px !important; padding: 0px !important; position: absolute; top: 0px !important; right: 0px; float: left;}

#fb_login_image {display: none;}

#RES_ID_fb_login {margin: 0px; padding: 0px; float: left;}

.fbconnect_login_button {margin: 0px; padding: 0px; float: left;} /*  * Note: Include the nivo-slider.css file that comes  * with the main download before including this file.  */

#slider-wrapper {width: 99%; background-color: #181919; height:350px !important; margin-bottom: 25px; border: 1px solid #ddd;}

#custom #slider {
position: relative; background: #181919 url(../images/ajax-loader.gif) no-repeat 50% 50%;
width: 100%; height:350px !important;}

#slider h1 {font-size: 1.5em; margin: 0px; padding: 0px;}

#slider img {position: absolute; top: 0px; left: 0px; display: none;}

#slider a {border: 0; display: block;}

.nivo-controlNav {position: absolute; right: 0; display: none; top: 0; padding: 0 5px; background: White; z-index: 999;}

.nivo-controlNav a {display: block; width: 10px; height: 10px; /*background:url(../images/nivo/bullets.png) no-repeat;*/ /*text-indent:-9999px;*/ border: 0; margin-right: 3px; float: left; color: #666666; font: 10px Helvetica, Arial, sans-serif; text-align: center; padding: 2px 2px 4px 2px;}

.nivo-controlNav a.active { /*background-position:-10px 0;*/background: #666666; color: #ffffff;}

.nivo-directionNav a {display: block; width: 32px; height: 34px; background: url(../images/nivo/arrows.png) no-repeat; text-indent: -9999px; border: 0;}

a.nivo-nextNav {background: -32px 0; right: 10px;}

a.nivo-prevNav {left: 10px;} /*  * jQuery Nivo Slider v1.9  * http://nivo.dev7studios.com  *  * Copyright 2010, Gilbert Pellegrom  * Free to use and abuse under the MIT license.  * http://www.opensource.org/licenses/mit-license.php  *  * March 2010  */ /* The Nivo Slider styles */

.nivoSlider {position: relative; }

.nivoSlider img {position: absolute; top: 0px; left: 0px; width: 100% !important; height: auto; float: left;} /* If an image is wrapped in a link */

.nivoSlider a.nivo-imageLink {position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border: 0; padding: 0; margin: 0; z-index: 60; display: none; } /* The slices in the Slider */

.nivo-slice {display: block; position: absolute; z-index: 50; height: 100%;} /* Caption styles */

.nivo-caption { position: absolute; left: 0px; bottom: 0px; background: #000; color: #fff; opacity: 0.8;/* Overridden by captionOpacity setting */ width: 96%; z-index: 89; padding: 2%;}

.nivo-caption p {padding: 5px; margin: 0; font-size: 20px; } /* Direction nav styles (e.g. Next & Prev) */

.nivo-directionNav a {position: absolute; top: 45%; z-index: 99; cursor: pointer;}

.nivo-prevNav {left: 0px;}

.nivo-nextNav {right: 0px;} /* Control nav styles (e.g. 1,2,3...) */

.nivo-controlNav a {position: relative; z-index: 99; cursor: pointer;}

.nivo-controlNav a.active {font-weight: bold;}

form div.error {
font-size: 12px;
font-weight: bold;
color: #660000;
background: #FFDBD2 url(../images/warning.png) no-repeat 8px center;
border-top: 2px solid #FFBBAA;
border-bottom: 2px solid #FFBBAA;
display: block;
margin-bottom: 6px;
padding: 5px 5px 5px 30px;
width: 400px;
margin-top: 6px;
}

#post-navigator {
	color: #000000;
	margin: 0em 0em 3em;
	padding: 0px;
	float: left;
	width: 100%;
}
#post-navigator-single {
	float: left;
	width: 100%;
	font-size: 1em;
	color: #000000;
}
.wp-pagenavi {
	float: left;
	width: 100%;
	margin: 0px;
	padding: 1em 0em;
}
.wp-pagenavi .pages {
	font-size: 12px;
	color: #000000;
	background: #FFFFFF;
	padding: 5px 8px;
	margin-right: 5px;
	border: 1px solid #0066CC;
}
#post-navigator .current {
	padding: 4px 8px;
	margin-left: 4px;
	color: #000000;
	text-decoration: none;
}

#post-navigator a {
	color: #2C2B2A;
	background: #FFFFFF;
	padding: 4px 8px;
	margin: 0px 0px 0px 3px;
	text-decoration: none;
	border: 1px solid #ddd;
}
#post-navigator a:hover {
	color: #333333;
	padding: 4px 8px;
	margin: 0px 0px 0px 3px;
	text-decoration: none;
	border: 1px solid #CCCCCC;
}
#post-navigator-single .alignleft {
	margin: 0px;
    padding: 1em 0em 1em 0em;
	float: left;
	width: 45%;
	overflow: hidden;
}
#post-navigator-single .alignright {
	margin: 0px;
	padding: 1em 0em 1em 0em;
	float: right;
	width: 45%;
	overflow: hidden;
	text-align: right;
}
#post-navigator-single a {
	color: #0066CC;
	text-decoration: none;
}
#post-navigator-single a:hover {
	color: #000000;
	text-decoration: underline;
}

/* commentlist with thread comment */

#commentpost {
	margin: 0px;
	padding: 1em 0px;
	float: left;
	width: 100%;
}

#commentpost #rssfeed a {
  background: url(../images/rss.png) no-repeat left center;
  padding-left: 18px;
}

#commentpost h4, h3#reply-title{
	font-size: 1.65em;
	line-height: 1.8em;
	margin: 1.25em 0px 0px;
	padding: 0px 0px 5px;
	float: left;
	width: 100%;
	color: #121212;
}
.comment h3#reply-title {
	margin: 0px;
	padding: 0px;
}

#rss-com {
  margin: 0px;
  padding: 0px 0px 25px;
  float: left;
  width: 100%;
}

#rss-com p {
  margin: 0px;
  padding: 0px;
  float: left;
}

#rss-com p a {
  display: inline-block;
  margin: 0px 20px 0px 0px;
  padding: 4px 10px;
  float: left;
  background: #0066CC;
  color: #FFFFFF;
  text-decoration: underline;
  font-size: 15px;
}

#rss-com p a:hover {
  display: inline-block;
  margin: 0px 20px 0px 0px;
  padding: 4px 10px;
  float: left;
  background: #0066CC;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 15px;
}

ol.commentlist {
  list-style: none;
  margin: 0;
  padding: 2em 0;
  text-indent: 0;
  float: left;
  width: 100%;
}

#commentpost blockquote {
  padding: 10px;
  width: 90%;
  margin: 1em 0px 0px;
  background: #eee;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#commentpost blockquote blockquote {
  margin: 8px 0px;
  padding: 6px;
}

ol.commentlist blockquote p {
  margin: 0px!important;
  padding: 0px!important;
}

#respond {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

ol.commentlist li {
	height: 1%;
	margin: 0 0 10px;
	padding: 0px 15px 20px 0px;
	position: relative;
	float:left;
	width: 95%;
}

ol.commentlist li li {
	padding: 0px 15px 20px 30px;
	background: url(../images/replyto_arrow.gif) no-repeat 6px 25px !important;
}
ol.commentlist li li img.avatar {
	width: 32px;
	height: 32px;

}
ol.commentlist li.alt {}

ol.commentlist li.bypostauthor {}

ol.commentlist li.byuser {}

ol.commentlist li.comment-author-admin {}

#commentpost ol.commentlist li.comment {
	background: url(../images/inline-com.png) repeat-x left bottom;
	}
#commentpost ol.commentlist li.comment ul li {
	background: transparent none;
	border-top: 1px solid #ddd;
}

ol.commentlist li div.comment-author {
  padding: 10px 0px 0 0;
}
ol.commentlist li div.comment-author small a {
	font-size: 11px;
	color: #999;
	text-decoration: none;
}

ol.commentlist li div.vcard {
	padding-left: 75px;
	padding-top: 0px;
	margin-top: 20px;
}
#commentpost ol.commentlist li ul li .vcard {
	padding-left: 55px !important;
}
ol.commentlist li div.vcard p {
	font-size: 1.125em;
}
.comment-body #respond {
	background: #f2f2f2;
	padding: 2%;
	width: 95%;
	float:left;
	position: relative;
	margin-bottom: 1em;
}
.fn a {
  color: #204C6E;
  text-decoration: underline;
}

ol.commentlist li div.vcard cite.fn {
  font-style: normal;
}

ol.commentlist li div.vcard cite.fn a.url {
  color: #204C6E;
  text-decoration: underline;
}

ol.commentlist li div.vcard cite.fn a.url:hover {
  color: #000000;
}

ol.commentlist li img.avatar {
  border: 1px solid #d5d5d5;
  float:left;
  padding: 5px;
  background: #FFFFFF;
}

ol.commentlist li div.vcard img.avatar-32 {}

ol.commentlist li li div.vcard img.photo {
  height: 32px;
  width: 32px;
}

ol.commentlist li div.vcard span.says {}

ol.commentlist li div.commentmetadata {}

ol.commentlist li div.comment-meta {
  position: absolute;
  right: 21px;
  text-align: right;
  top: 25px;
  font: 10px/1.4 "Lucida Grande", "Trebuchet MS";
  margin-bottom: 25px;
}

ol.commentlist li div.comment-meta a {
  color: #204C6E;
  text-decoration: none;
}

ol.commentlist li div.comment-meta a:hover {
  color: #000000;
}

ol.commentlist li p {
  margin: 15px 0 0px;
  font-size: 1em;
  line-height: 1.5em;
}

ol.commentlist li p a {
  color: #204C6E;
  text-decoration: underline;
}

ol.commentlist li ul {
  list-style: square;
  margin: 0 0 1em;
  padding: 0;
  text-indent: 0;
  font-size: 11px;
  font-style: normal;
  line-height: 1.4;
  font-weight: normal;
  font-variant: normal;
}

ol.commentlist li div.reply {
	text-align: center;
	width: 100%;
	font-size: 0.85em;
	line-height: 1;
	margin-bottom: 15px;
	margin-top: 7px;
	padding: 0px;
	float: left;
}

ol.commentlist li div.reply a {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color:#fff!important;
  text-decoration: none;
  background: #204C6E;
  display: block;
  line-height: 15px;
  height: 15px;
  width: 35px;
  padding: 1px;
}

ol.commentlist li div.reply a:hover {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color:#fff!important;
  text-decoration: underline;
  background: #204C6E;
  padding: 1px;
  display: block;
  line-height: 15px;
  height: 15px;
  width: 35px;
}

ol.commentlist li ul.children {
  list-style: none;
  margin: 1em 0 0;
  text-indent: 0;
}

ol.commentlist li ul.children li {}

ol.commentlist li ul.children li.alt {}

ol.commentlist li ul.children li.bypostauthor {}

ol.commentlist li ul.children li.byuser {}

ol.commentlist li ul.children li.comment {}

ol.commentlist li ul.children li.comment-author-admin {}

ol.commentlist li ul.children li.depth-2 {
  margin: 0 0 .25em;
  background: #f9f9f9;
}

ol.commentlist li ul.children li.depth-3 {
  margin: 0 0 .25em;
}

ol.commentlist li ul.children li.depth-4 {
  margin: 0 0 .25em;
  background: #f7f7f7;
}

ol.commentlist li ul.children li.depth-5 {}

ol.commentlist li ul.children li.odd {}

#commentpost .comment_text ul {
  margin-bottom: 24px;
  width: 100%;
  margin-left: 0px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  list-style: none;
}

#commentpost .comment_text ul ul, #commentpost .comment_text ol ol {
  margin: 0px;
  list-style: none;
}

#commentpost .comment_text ul li {
	margin: 0px 0px 5px 25px !important;
	list-style: square;
	background: transparent none !important;
	border: 0px none !important;
	padding: 0px !important;
	line-height: 20px;
}

#commentpost .comment_text ul li ul li {
  margin-bottom: 0px;
  margin-top: 1px;
  margin-left: 0px;
  list-style: none;
  font-size: 0.85em;
  padding-left: 0px;
}

#commentpost .comment_text ol {
  list-style: decimal;
  margin-bottom: 24px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-left: 0px;
}

#commentpost .comment_text ol li {

	list-style: decimal;
	margin: 0px 0px 5px 25px !important;

	background: transparent none !important;
	border: 0px none !important;
	padding: 0px !important;
	line-height: 20px;
}

#commentpost .comment_text ol li ol li {
  margin-bottom: 0px;
  margin-top: 1px;
  padding-left: 0px;
  list-style: square;
  margin-left: 15px;
  font-size: 0.85em;
}


ol.commentlist li.even {
  background: #fff;
}

ol.commentlist li.odd {
  background: #fff;
}

ol.commentlist li.parent {}

ol.commentlist li.pingback {}

ol.commentlist li.pingback .parent {}

ol.commentlist li.pingback div.vcard {
  padding: 0 170px 0 0;
}

ol.commentlist li.thread-alt {}

ol.commentlist li.thread-even {}

ol.commentlist li.thread-odd {}

ol.pinglist {
	margin: 0px;
	padding: 0px;
}

ol.pinglist li {
	margin: 0px;
	padding: 0px 0px 5px;
	float: left;
	width: 100%;
	font-size: 1em;
	line-height: 1.6em;
	background: url(../images/inline-com.png) repeat-x bottom;
}

ol.pinglist li a{
	color: #204C6E;
	text-decoration: none;
}

ol.pinglist li a:hover {
  color: #000000;
}
p.logged-in-as {
	font-size: 1.025em;
	margin: 0px 0px 1em;
	padding: 0px;
	float: left;
	width: 100%;
}

.cancel-comment-reply {
    bottom: 45px;
    font-size: 11px !important;
    margin-bottom: 10px;
    position: absolute;
    right: 80px;
    z-index: 1000;
}

#respond a {
  color: #174B85;
  text-decoration: underline;
}

#linking li {
  margin: 0px 0px 8px;
  padding: 0px;
  float: left;
  width: 100%;
  font-size: 12px;
  color: #666666;
}

#linking li a {
  font-size: 13px;
  color: #174B85;
  text-decoration: underline;
  font-weight: bold;
}

#commentform {
	margin: 0px;
	padding: 0px;
	width: 100%;
	clear: both;
}

#cf {
  margin: 0px 0px 2em;
  padding: 3% 5%;
  background: #eee;
  width: 90%;
  clear: both;
}

#cf label {
  font-size: 1.2em;
  color: #333333;
  margin: 0px;
  padding: 0px;
  display:inline !important;
}

#cf small {
  font-size: 13px;
}

#cf label small {}

#cf a {
  text-decoration: underline;
  color: #204C6E;
}

#cf p {
  margin: 5px 0px 25px;
  padding: 0px;
}

#cf .tf {
  margin: 0px;
  padding: 7px 5px;
  width: 55%;
  	color: #222;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: #FFF;
	border: 1px solid #ddd;
}

#commentform input[type="text"]{
	margin: 0px 10px 0px 0px;
	padding: 7px;
	width: 180px;
	color: #222;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	background: #FFF;
	border: 1px solid #ddd;
	float: left;
	letter-spacing: normal !important;
}
#commentform input[type="text"]:focus, #commentform textarea:focus {
	border: 1px solid #aaa !important;
	letter-spacing: normal !important;
}


#commentform p {
	margin: 0px 0px 1em;
	padding: 0px;
	float: left;
	width: 100%;
}
#commentform p span.required, .comment-notes {
	display: none;
}
#commentform label {
	font-size: 0.95em;
	color: #333333;
	margin: 0px;
	padding: 0px;
	display:block !important;
	line-height: 2.5em;
	font-weight: bold;
}
#cf .af, #commentform textarea#comment {
	margin: 0px;
	padding: 7px;
	width: 95%;
	font-size: 12px;
	height: 200px;
	line-height: 19px;
	color: #222;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	background: #FFF;
	border: 1px solid #ddd;
}

#cf .st, .form-submit #submit {
  margin: 0px;
  padding: 0.5em 0.8em;
  font-size: 1.125em;
  color: #FFFFFF;
  width: auto;
  overflow: visible;
  -moz-border-radius: 0.8em;
  -khtml-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  border-radius: 0.8em;

 background: #383735; /* Old browsers */
background: -moz-linear-gradient(top, #383735 0%, #161616 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#383735), color-stop(100%,#161616)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #383735 0%,#161616 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #383735 0%,#161616 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #383735 0%,#161616 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383735', endColorstr='#161616',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #383735 0%,#161616 100%); /* W3C */
}


#cf .st:hover, .form-submit #submit:hover {
background: #7c7c7c; /* Old browsers */
background: -moz-linear-gradient(top, #7c7c7c 0%, #161616 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c7c7c), color-stop(100%,#161616)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #7c7c7c 0%,#161616 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #7c7c7c 0%,#161616 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #7c7c7c 0%,#161616 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7C7C7C', endColorstr='#161616',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #7c7c7c 0%,#161616 100%); /* W3C */
}

#cf .tinput {
  padding: 2px 5px;
  margin: 0px;
  color: #333333;
  font: 1em Arial, Tahoma, "Lucida Sans";
  text-decoration: none;
  overflow: visible;
  background: #999999;
}


input, select, textarea {
	font-family: Arial, Tahoma, "Lucida Sans";
        padding: 0.4em 0.75em !important;
}
input.button[class] {
    width: auto;
	}
fieldset, img {
	border-width: 0px;
	border-style: none;
}


/* Captions */
div.aligncenter {
	display: block!important;
	margin: 0px auto;
}
div.alignleft {
	float: left!important;
	margin-right: 10px;
}
div.alignright {
	float: right!important;
	margin-right: 0px;
	margin-left: 10px;
}
.wp-caption {
	border: 1px solid #CCCCCC;
	text-align: center;
	background-color: #F8F8F8;
	padding-top: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
img.wp-post-image {
  float: left;
  margin-right: 10px;
}


.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 16px;
	padding: 5px 4px;
	margin: 0;
	font-family: Arial, Tahoma, "Lucida Sans";
	color: #949494;
	font-style: normal;
}
/* End captions */



.post-content img, .widget img {
	padding: 0;
    width: auto;
    height: auto;
	max-width: 100%;
	}

img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	float: right;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	float: left;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left
	}


dt {
margin-bottom: 5px;
margin-top: 0px;
font-weight: 400;
font-family: Arial, Helvetica, sans-serif;
font-size: 1em;
}



dd {
font-style: italic;
margin-bottom: 8px;
margin-left: 0px;
font-family: Arial, Helvetica, sans-serif;
font-size: 1em;

}
code {
	font-family: "Courier New", "MS Sans Serif", sans-serif, serif;
	font-size: 1.025em;
}


.post-content blockquote p {
	margin: 0px;
	padding: 0px;
}

.post-content blockquote {
	margin: 15px;
	line-height: 22px;
	font-size: 16px;
	padding: 12px 0px 12px 10px;
	font-family: Georgia, Geneva, Verdana;
	border-left: 4px solid #000000;
	color: #121212;
	font-weight: normal;
	font-style: italic;
}

pre {
	margin: 8px 0px;
	padding: 10px;
	clear: both;
	width: 92%;
	overflow: scroll;
	font-family: "Courier New", "MS Sans Serif", sans-serif, serif;
	background: #FFFFFF;
	color: #000000;
	font-size: 13px;
	line-height: 22px;
	white-space: nowrap;
	border: 1px solid #eeeeee;
}
em {
	font-style: italic;
	font-weight: normal;
}

hr {
  display: none !important;
}


.post-content h3 {

	margin: 10px 0px 5px!important;

	padding: 0px;

	font-size: 18px;

	color: #000000;

}

.post-content h4 {

	margin: 2em 0px 0.3em;

	padding: 0px;

	font-size: 16px;

	color: #000000;

}

.post-content h5 {

	margin: 2em 0px 0.3em;

	padding: 0px;

	border-bottom: 1px solid #efefef;

	font-size: 15px;

	color: #000000;

}

.post-content h6 {

	margin: 3em 0px 0.3em;

	padding: 0px;

	font-size: 14px;

	color: #000000;

}
form div.error {
	font-size: 12px;
	font-weight: bold;
	color: #660000;
	background: #FFDBD2 url(../images/warning.png) no-repeat 8px center;
	border-top: 2px solid #FFBBAA;
	border-bottom: 2px solid #FFBBAA;
	display: block;
	margin-bottom: 6px;
	padding: 5px 5px 5px 30px;
	width: 400px;
	margin-top: 6px;
    float: left;
}
#container .feat_box {
  border: 1px solid #ddd;
}
#container .feat_box img {
  border: 0px none !important;
  padding: 0px;
  margin:0px;
}

#login-form #rememberme {
  display: none;
}


div#mobile-search {
  display: none;
  width: 96%;
  padding: 2%;
  background: #eee;
  box-shadow: inset 1px 1px 5px #ccc;
  float:left;
}



.post-content table {

    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    margin: 5px 0 10px;
}
.post-content th {

}
.post-content th, .post-content td {
    border: 1px solid #CCCCCC;
    padding: 3px 10px;
    text-align: left;
    vertical-align: top;
}


.wblock {
    float:right;
    padding: 0em 0px 0px 20px;
  }

   #searchbox #login-form {
  float: left;
  margin: 0;
  width: auto;
  max-width: 700px;
  padding: 4px 0 0;
}


@media only screen and (min-width: 490px) and (max-width: 770px) {
    #custom #wrapper {
      width: 96% !important;
      padding: 0 2% !important;
      float:left;
    }

#post-entry, #custom div#content {
  width: 60% !important;
  padding: 2% !important;
}
     #sidebar {
       width: 30%;
     }

   .wp-caption {
     max-width: 200px !important;
     padding: 10px !important;
   }
     .post-content img {
     max-width: 200px !important;
     width: auto !important;
     height: auto !important;
   }
    #custom #content {
  float: left;
  margin: 0px !important;
  padding: 4% !important;
  width: 92% !important;
}
  .wp-page {
    display: none;
  }

input#search-submit {
  margin: 10px 0px !important;
}
  .wblock {
    float:right;
    padding: 0em 0px 0px 20px;
  }

   #searchbox #login-form {
  float: left;
  margin: 0;
  width: auto;
  max-width: 700px;
  padding: 4px 0 0;
}
#custom #slider-wrapper {
width: 100% !important;
}

#custom #slider, .bpside {
width: 100% !important;
}

#wrapper, #footer-content {
  width: 90% !important;
  padding: 0px 5% !important;
}

#header #intro-text {
  float: left;
  margin: 0;
  padding: 20px 4%;
  width: 92%;
}
#signup-button, #login-p {
  float: left;
  margin: 0px;
  padding: 0px 4%;
        width: 92%;
}



#main-news, #footer-content .aleft, #footer-content .aright, #footer-wrap {
  border-right: 0px none;
  float: left;
  margin: 0;
  text-align: left;
  padding: 0;
  width: 100%;
}

#footer-content .aleft, #footer-content .aright, #footer-wrap {
 font-size: 0.9em;
 line-height: 1.5em;
 text-align: center;
}

.register-section {
    float:left !important;
    padding: 1% 3%;
    width: 90% !important;
  }


 .bpc-button {
    float: left;
    margin: 0;
}

               .directory div.item-meta {
    margin: 0px 0px 10px !important;
  }

           #container h1.post-title {
             font-size: 24px;
             line-height: 28px;
           }

            #container .post-content img, div.wp-caption {
              max-width: 100%;
              height: auto;
            }

             #container #whats-new-submit {
               width: 100%;
               float:left;
             }
              #whats-new-options {
    height: 90px !important;
}

             #container .single-column {
  border-right: 0px none;
 padding:0px;
  width: 100%;
}

  .directory div.item-title, div.item-desc {
    width: 100% !important;
    margin: 0px !important;
  }

   .directory div.action {
    width: 100%;
    display: block;
    float:left;
    text-align: left !important;
    position: relative !important;
    margin: 5px 0px 20px 0px;
  }

   div.dir-search {
    float: left;
    margin: 0px 0px 10px 0px !important;
    width: 100% !important;
}

 #custom #custom-logo {
    width: 100%;
    float:left;
        text-align: center;
  }


         .item-list .meta {
           text-align: right;
         }

      #container #feat-content {
    padding: 4% 4%;
    width: 92%;
}
#feat-content img {
  max-width: 100%;
  height: auto;
}



#custom #footer .item-avatar img  {
  width: 50px !important; height: 50px !important;
}


        #footer .item {
  float: left;
  margin: 0 0 0 20px;
  padding: 0;
  width: 70% !important;
}

         #searchbox {
           width: 94%;
           padding: 2% 3% 4% 3%;
           height: auto !important;
         }
         #searchbox #search-form {

    padding: 3px 0 0;
    width: 100%;
}
        #searchbox #fc_wrap {
   padding: 3px 0 0;
    width: 100%;
    height: auto;

}        #fc_wrap #logout-link {
  float:left;
  margin: 0px 0px 0px 2%;
}


#searchbox #search-form #search-terms {
  max-width: 50%;
  width: 50%;
}
   #call-action p {
     width: 100%;

     float:left;
     margin: 0px 0px 10px;
   }

    #call-action p span {

       line-height: 16px !important;

   }

   #content {
    width: 95% !important;
    padding: 2% !important;
    float:left;
}
       #post-navigator-single #rssfeed {
  width: 65%;
}

#sidebar #center-column {
  margin: 0px; padding: 0px;
}


   .sidebar_list {
     width: 100%;
   }
  #container .sidebar_list h2.widgettitle {

  padding: 2% !important;
  width: 96% !important;
}
  #footer {
  padding-bottom: 30px;
  padding-top: 20px !important;

}

 #footer .footer-inner-class .fbox, #footer-cb {

    padding: 2em 0 0em 0 !important;
    width: 96%
    }

  #footer-cb div {
    width: 100%;
    float:left;
    margin: 0px 0px 12px 0px;
    text-align: center;
  }

    #other-news {
    width: 100%;
    float:left;
    padding: 0em;
  }
  #other-news h2 {
    margin: 20px 0px 10px;
  }

}



@media only screen and (max-width: 480px) {
   .wp-caption {
     max-width: 200px !important;
     padding: 10px !important;
   }
     .post-content img {
     max-width: 200px !important;
     width: auto !important;
     height: auto !important;
   }
    #custom #content {
  float: left;
  margin: 0px !important;
  padding: 4% !important;
  width: 92% !important;
}
  .wp-page {
    display: none;
  }

input#search-submit {
  margin: 10px 0px !important;
}
  .wblock {
    width: 100%;
    float:left;
    padding: 1em 0em;
  }
  #other-news {
    width: 100%;
    float:left;
    padding: 0em;
  }
  #other-news h2 {
    margin: 20px 0px 10px;
  }

#custom #slider-wrapper, #custom #slider, .bpside {
width: 100% !important;
}
#wrapper, #footer-content {
  width: 90% !important;
  padding: 0px 5% !important;
}

#header #intro-text {
  float: left;
  margin: 0;
  padding: 20px 4%;
  width: 92%;
}
#signup-button, #login-p {
  float: left;
  margin: 0px;
  padding: 0px 4%;
        width: 92%;
}

#post-entry, #custom #sidebar, #footer {
  border: 0px none !important;
  float: left;
  margin: 0;
  padding: 6% !important;
  width: 88% !important;
}

#main-news, #footer-content .aleft, #footer-content .aright, #footer-wrap {
  border-right: 0px none;
  float: left;
  margin: 0;
  text-align: left;
  padding: 0;
  width: 100%;
}

#footer-content .aleft, #footer-content .aright, #footer-wrap {
 font-size: 0.9em;
 line-height: 1.5em;
 text-align: center;
}

.register-section {
    float:left !important;
    padding: 1% 3%;
    width: 90% !important;
  }


 .bpc-button {
    float: left;
    margin: 0;
}
  div#mobile-search {
    display: inline;
  }
  #mobile-search select {
    width: 98%;
  }
               .directory div.item-meta {
    margin: 0px 0px 10px !important;
  }

           #container h1.post-title {
             font-size: 24px;
             line-height: 28px;
           }

            #container .post-content img, div.wp-caption {
              max-width: 100%;
              height: auto;
            }

             #container #whats-new-submit {
               width: 100%;
               float:left;
             }
              #whats-new-options {
    height: 90px !important;
}

             #container .single-column {
  border-right: 0px none;
 padding:0px;
  width: 100%;
}

  .directory div.item-title, div.item-desc {
    width: 100% !important;
    margin: 0px !important;
  }

   .directory div.action {
    width: 100%;
    display: block;
    float:left;
    text-align: left !important;
    position: relative !important;
    margin: 5px 0px 20px 0px;
  }

   div.dir-search {
    float: left;
    margin: 0px 0px 10px 0px !important;
    width: 100% !important;
}

 #custom #custom-logo {
    width: 100%;
    float:left;
        text-align: center;
  }


     #custom .home-column {
    border-right: 0px none;
    padding: 0px;
    width: 100%;
}
      #container #feat-content {
    padding: 4% 4%;
    width: 92%;
}
#feat-content img {
  max-width: 100%;
  height: auto;
}
      ul.more-article .alignright {
  text-align: left;
  width: 100%;
}

      #container #side-entry, #container #center-column, #container #right-column {
    float: left;
    border: 0px none !important;
    width: 99%;
}
#custom #footer .item-avatar img  {
  width: 50px !important; height: 50px !important;
}


        #footer .item {
  float: left;
  margin: 0 0 0 20px;
  padding: 0;
  width: 70% !important;
}
   #navigation, #userbar, #pg-nav {
     display: none;
   }
         #searchbox {
           width: 94%;
           padding: 2% 3% 4% 3%;
           height: auto !important;
         }
         #searchbox #search-form {

    padding: 3px 0 0;
    width: 100%;
}
        #searchbox #fc_wrap {
   padding: 3px 0 0;
    width: 100%;
    height: auto;

}        #fc_wrap #logout-link {
  float:left;
  margin: 0px 0px 0px 2%;
}


#searchbox #search-form #search-terms {
  max-width: 50%;
  width: 50%;
}
   #call-action p {
     width: 100%;

     float:left;
     margin: 0px 0px 10px;
   }

    #call-action p span {

       line-height: 16px !important;

   }

   #content {
    width: 95% !important;
    padding: 2% !important;
    float:left;
}
       #post-navigator-single #rssfeed {
  width: 65%;
}

#sidebar #center-column {
  margin: 0px; padding: 0px;
}


   .sidebar_list {
     width: 100%;
   }
  #container .sidebar_list h2.widgettitle {

  padding: 2% !important;
  width: 96% !important;
}
  #footer {
  padding-bottom: 30px;
  padding-top: 20px !important;

}

 #footer .footer-inner-class .fbox, #footer-cb {

    padding: 2em 0 0em 0 !important;
    width: 96%
    }

  #footer-cb div {
    width: 100%;
    float:left;
    margin: 0px 0px 12px 0px;
    text-align: center;
  }

}

/* 18246-1344572798-ai */