/*--------------------------------------------------------------
Hello, this is the BuddyPress Default theme stylesheet.

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset - Based on work by Eric Meyer
2.0 - Structural
	2.1 - Content
	2.2 - Header
	2.3 - Footer
	2.4 - Sidebar
3.0 - Non-structural
	3.1 - Text
	3.2 - Headers
	3.3 - Lists
4.0 - Navigation
	4.1 - Pagination
5.0 - WordPress
	5.1 - Alignments
	5.2 - Comments
	5.3 - Gallery
	5.4 - Images
	5.5 - Posts
6.0 - BuddyPress
	6.1 - Activity
		6.1.1 - Activity Listing
		6.1.2 - Activity Comments
	6.2 - Admin Bar
	6.3 - Directories - Members, Groups, Blogs, Forums
	6.4 - Error / Success Messages
	6.5 - Forms
	6.6 - Ajax Loading
	6.7 - Topics and Tables - Forums and General
	6.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums
	6.9 - Private Messaging Threads
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 - Reset - Reset default browser CSS. Based on work by Eric
Meyer: v1.0  http://meyerweb.com/eric/tools/css/reset/index.html
--------------------------------------------------------------*/

/*--------------------------------------------------------------
2.0 - Structural
--------------------------------------------------------------*/
body {
	background-color: #eaeaea;
	background-image: url( ../images/background.gif );
	background-repeat: repeat-x;
	background-position: top left;
	color: #555;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana, sans-serif;
}
div#container {
	background: #fff;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

/*--------------------------------------------------------------
2.1 - Content
--------------------------------------------------------------*/
div#content {
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
div#content .padder {
	border-right: 1px solid #ddd;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

/*--------------------------------------------------------------
2.2 - Header
--------------------------------------------------------------*/
#header {
background: #c0d54c; /* Old browsers */
background: -moz-linear-gradient(top, #c0d54c 0%, #899738 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c0d54c), color-stop(100%,#899738)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #c0d54c 0%,#899738 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #c0d54c 0%,#899738 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #c0d54c 0%,#899738 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0d54c', endColorstr='#899738',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #c0d54c 0%,#899738 100%); /* W3C */
	-moz-border-radius-bottomleft: 6px;
	-webkit-border-bottom-left-radius: 6px;
	border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-webkit-border-bottom-right-radius: 6px;
	border-bottom-right-radius: 6px;
	color: #fff;
}
#header #search-bar input[type=text] {
	border: 1px inset #888;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#header #search-bar input[type=submit] {
	font-size: 11px;
}
#header h1 a {
	color: #fff;
	font-size: 26px;
	text-decoration: none;
}

/*--------------------------------------------------------------
2.3 - Footer
--------------------------------------------------------------*/
#footer-widgets {
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#site-generator {
	color: #4D4D4D;
	text-align: center;
	text-shadow: #fafafa 1px 1px 0;
}
#footer-widget-area h3.widgettitle {
	background: #eaeaea;
	font-size: 12px;
}

/*--------------------------------------------------------------
2.4 - Sidebar
--------------------------------------------------------------*/
div#sidebar {
	border-left: 1px solid #ddd;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}
div#sidebar div#sidebar-me h4 {
	font-size: 16px;
	font-weight: normal;
}
div#sidebar h3.widgettitle {
	background: #eaeaea;
	font-size: 12px;
}
#footer-widget-area ul.item-list div.item-title,
div#sidebar ul.item-list div.item-title {
	font-size: 12px;
}
#footer-widget-area div.item-options,
div#sidebar div.item-options {
	background: #f5f5f5;
	font-size: 11px;
}
#footer-widget-area div.item-meta,
div#sidebar div.item-meta,
div#sidebar div.item-content {
	font-size: 11px;
}
#footer-widget-area div.tags div#tag-text,
div#sidebar div.tags div#tag-text {
	font-size: 1.4em;
	line-height: 140%;
}

/*--------------------------------------------------------------
3.0 - Non-structural
--------------------------------------------------------------*/
hr {
	background-color: #899738;
	border: 0 none;
}

/*--------------------------------------------------------------
3.1 - Text
--------------------------------------------------------------*/
big {
	font-size: 18px;
}
del {
	text-decoration: line-through;
}
ins {
	background: #fff9db;
	text-decoration: none;
}
pre,
code p {
	background: #f4f4f4;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
code {
	font-family: "Monaco", courier, sans-serif;
}
blockquote {
	font-family: georgia, times, serif;
	font-size: 16px;
	font-style: italic;
	line-height: 150%;
}

/*--------------------------------------------------------------
3.2 - Headers
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.3 - Lists
--------------------------------------------------------------*/
div.page ul,
div.post ul {
	list-style: square;
}
div.page ol,
div.post ol {
	list-style: decimal;
}
div.page ol ol,
div.post ol ol {
	list-style: lower-alpha;
}
div.page ol ol ol,
div.post ol ol ol {
	list-style: lower-roman;
}
dt {
	font-size: 14px;
	font-weight: bold;
}

/*--------------------------------------------------------------
4.0 - Navigation
--------------------------------------------------------------*/
a {
	color: #899738;
}
a:hover,
a:active {
	color: #707C2E;
}
a:focus {
	outline: 1px dotted #ccc;
}
#nav li a {
	background: url( ../images/60pc_black.png );
	color: #fff;
	text-decoration: none;
	text-align: left;
}
#nav > li > a {
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
#nav li.selected a,
#nav > li.current-menu-item a,
#nav > li.current_page_item a,
#nav > li.current_page_ancestor a {
	background: #f5f5f5;
	color: #4D4D4D;
}
#nav > ul li.sfhover a,
#nav > ul li:hover a {
	background: #333;
	color: #fff;
}
#nav ul {
	border: 1px solid #222;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	-moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#nav ul li ul {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#nav .sfhover ul li > a,
#nav :hover ul li > a {
	background: #333;
	color: #fff;
}
#nav ul li.sfhover > a,
#nav ul li:hover > a {
	background-color: #222;
	color: #fff;
}

/*--------------------------------------------------------------
4.1 - Pagination
--------------------------------------------------------------*/
div.pagination {
	background: #f4f4f4;
	border: none;
	color: #888;
	font-size: 11px;
}
div.pagination .pagination-links span,
div.pagination .pagination-links a {
	font-size: 12px;
}
div.pagination .pagination-links a:hover {
	font-weight: bold;
}

/*--------------------------------------------------------------
5.0 - WordPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
5.1 - Alignments
--------------------------------------------------------------*/

/*--------------------------------------------------------------
5.2 - Comments
--------------------------------------------------------------*/
.navigation,
.paged-navigation,
.comment-navigation {
	font-family: georgia, times, serif;
	font-size: 14px;
	font-style: italic;
}
#comments ol.commentlist {
	border-bottom: 1px solid #e4e4e4;
}
#comments ol.commentlist ol {
	list-style-type: decimal;
}
#comments ol.commentlist ol ol {
	list-style: lower-alpha;
}
#comments ol.commentlist ol ol ol {
	list-style: lower-roman;
}
ol.commentlist li.comment {
	border-top: 1px solid #e4e4e4;
}
div.comment-avatar-box img {
	border: 2px solid #eee;
}
div.comment-meta {
	color: #888;
	font-size: 11px;
}
div.comment-meta em {
	font-style: normal;
}
#reply-title small {
	font-size: 11px;
	font-weight: normal;
}
.commentlist ul.children {
	background: #f5f5f5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.commentlist ul.children img.avatar {
	border-style: none;
}
.commentlist ul.children div.comment-meta {
	font-size: 11px;
}
.commentlist ul.children li {
	border-top: 2px solid #fffeff;
}
.commentlist ul.children li:first-child {
	border-top: none;
}
.commentlist ul.children ul li:first-child {
	border-top: 2px solid #fffeff;
}
#respond {
	background-color: #fafafa;
	border: 1px solid #e5e5e5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
h3#reply .comments-header {
	font-size: 14px;
}
#respond div.comment-content {
	border-style: none;
}
.comment-options .comment-reply-link,
.comment-options .comment-edit-link {
	font: normal 11px/20px Arial, Tahoma, Verdana, sans-serif;
}

/*--------------------------------------------------------------
5.3 - Gallery
--------------------------------------------------------------*/
.wp-caption {
	background-color: #f3f3f3;
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
dd.wp-caption p.wp-caption-text,
.wp-caption p.wp-caption-text {
	font-size: 0.9em;
	line-height: 17px;
}
.gallery .gallery-caption {
	color: #555;
}

/*--------------------------------------------------------------
5.4 - Images
--------------------------------------------------------------*/
img.avatar {
	border: 2px solid #eee;
}

/*--------------------------------------------------------------
5.5 - Posts
--------------------------------------------------------------*/
h2.pagetitle a,
h2.posttitle a {
	color: #666;
	text-decoration: none;
}
.edit-link,
.page-link {
	font-weight: bold;
}
div.post table,
div.page table {
	border: 1px solid #eee;
}
div.post table th,
div.page table th {
	border-top: 1px solid #eee;
	text-align: left;
}
div.post table td,
div.page table td {
	border-top: 1px solid #eee;
}
div.author-box {
	background: #f0f0f0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	float: left;
	font-family: georgia, times, serif;
	font-style: italic;
	text-align: center;
}
div.author-box img {
	border: 4px solid #fff;
}
p.date,
p.postmetadata {
	border-bottom: 1px solid #e4e4e4;
	border-top: 1px solid #e4e4e4;
	color: #888;
	font-family: Georgia, times, serif;
	font-size: 12px;
}

/*--------------------------------------------------------------
6.0 - BuddyPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
6.1 - Activity
--------------------------------------------------------------*/
#item-body form#whats-new-form {
	border-bottom: 1px solid #ddd;
}
form#whats-new-form h5 {
	font-weight: normal;
	font-size: 12px;
	color: #888;
}
form#whats-new-form textarea {
	background: #fff;
	border: 1px inset #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #555;
	font-family: inherit;
	font-size: 14px;
}
#whats-new:focus {
	border-color: rgba(31, 179, 221, 0.9) !important;
	outline-color: rgba(31, 179, 221, 0.9);
	box-shadow: 0 0 7px         rgba(31, 179, 221, 0.7);
	-moz-box-shadow: 0 0 7px    rgba(31, 179, 221, 0.7);
	-webkit-box-shadow: 0 0 7px rgba(31, 179, 221, 0.7);
}

/*--------------------------------------------------------------
6.1.1 - Activity Listing
--------------------------------------------------------------*/
.activity-list li.mini {
	font-size: 11px;
}
.activity-list li.mini .activity-comments {
	font-size: 12px;
}
.activity-list li .activity-inreplyto {
	background: url( ../images/replyto_arrow.gif ) 7px 0 no-repeat;
	color: #888;
	font-size: 11px;
}
body.activity-permalink .activity-list li .activity-content {
	background: #fff;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 16px;
	line-height: 150%;
}
body.activity-permalink .activity-list li .activity-header > p {
	background: url( ../images/activity_arrow.gif ) top left no-repeat;
}
.activity-list .activity-content .activity-header,
.activity-list .activity-content .comment-header {
	color: #888;
	font-size: 11px;
	line-height: 220%;
}
a.bp-secondary-action,
span.highlight {
	font-size: 11px;
}
.activity-list li.new_forum_post .activity-content .activity-inner,
.activity-list li.new_forum_topic .activity-content .activity-inner {
	border-left: 2px solid #EAEAEA;
}
.activity-list .activity-content img.thumbnail {
	border: 2px solid #eee;
}
.activity-list li.load-more {
	background: #f0f0f0 !important;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-size: 1.2em;
	text-align: center;
}
.activity-list li.load-more a {
	color: #4D4D4D;
}

/*--------------------------------------------------------------
6.1.2 - Activity Comments
--------------------------------------------------------------*/
div.activity-meta a {
	font: normal 11px/20px Arial, Tahoma, Verdana, sans-serif;
}
a.activity-time-since {
	color: #aaa;
	text-decoration: none;
}
a.activity-time-since:hover {
	color: #888;
	text-decoration: underline;
}
a.bp-primary-action,
#reply-title small a {
	font-size: 11px;
	text-decoration: none;
}
a.bp-primary-action span,
#reply-title small a span {
	background: #999;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-size: 90%;
}
a.bp-primary-action:hover span,
#reply-title small a:hover span {
	background: #555;
	color: #fff;
}
div.activity-comments > ul {
	background: #f5f5f5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
div.activity-comments ul li {
	border-top: 2px solid #fff;
}
div.activity-comments div.acomment-content {
	font-size: 11px;
}
body.activity-permalink div.activity-comments div.acomment-content {
	font-size: 14px;
}
div.activity-comments div.acomment-meta {
	color: #888;
	font-size: 11px;
}
div.activity-comments form.ac-form {
	background: #fafafa;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
div.activity-comments form.loading {
	background-image: url( ../images/ajax-loader.gif );
	background-position: 2% 95%;
	background-repeat: no-repeat;
}
div.activity-comments form .ac-textarea {
	background: #fff;
	border: 1px inset #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
div.activity-comments form textarea {
	border: none;
	color: #555;
	font-family: inherit;
	font-size: 11px;
}
div.ac-reply-avatar img {
	border: 2px solid #fff !important;
}
div.activity-comments form div.ac-reply-content {
	color: #888;
	font-size: 11px;
}
.acomment-options a {
	color: #999;
}
.acomment-options a:hover {
	color: inherit;
}

/*--------------------------------------------------------------
6.2 - Admin Bar
--------------------------------------------------------------*/

/*--------------------------------------------------------------
6.3 - Directories - Members, Groups, Blogs, Forums
--------------------------------------------------------------*/
div.dir-search input[type=text] {
	font-size: 12px;
}

/*--------------------------------------------------------------
6.4 - Errors / Success Messages
--------------------------------------------------------------*/
div#message p {
	font-size: 12px;
}
div#message.error p {
	background-color: #db1717;
	border-color: #a71a1a;
	color: #fff;
}
div#message.updated p {
	background-color: #8ff57a;
	border-color: #80cf70;
	color: #1a6a00;
}
.standard-form#signup_form div div.error {
	background: #e41717;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
}
ul.button-nav li.current a {
	font-weight: bold;
}

/*--------------------------------------------------------------
6.5 - Forms
--------------------------------------------------------------*/
.standard-form textarea,
.standard-form input[type=text],
.standard-form select,
.standard-form input[type=password],
.dir-search input[type=text] {
	border: 1px inset #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #888;
	font: inherit;
	font-size: 14px;
}
.standard-form label,
.standard-form span.label {
	font-weight: bold;
}
.standard-form div.checkbox label,
.standard-form div.radio label {
	color: #888;
	font-size: 14px;
	font-weight: normal;
}
.standard-form p.description {
	color: #888;
	font-size: 11px;
}
.standard-form input:focus,
.standard-form textarea:focus,
.standard-form select:focus {
	background: #fafafa;
	color: #555;
}
div#invite-list {
	background: #f5f5f5;
	border: 1px solid #e4e4e4;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
button,
a.button,
input[type=submit],
input[type=button],
input[type=reset],
ul.button-nav li a,
div.generic-button a,
.comment-reply-link {
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#ededed 100%); /* W3C */
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #777;
	cursor: pointer;
	font: normal 12px/20px Arial, Tahoma, Verdana, sans-serif;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
}
button:hover,
a.button:hover,
a.button:focus,
input[type=submit]:hover,
input[type=button]:hover,
input[type=reset]:hover,
ul.button-nav li a:hover,
ul.button-nav li.current a,
div.generic-button a:hover,
.comment-reply-link:hover {
	background: #ededed;
	background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* W3C */
	border: 1px solid #bbb;
	color: #555;
}

/*--------------------------------------------------------------
6.6 - Ajax Loading
--------------------------------------------------------------*/
a.loading,
input.loading {
    background-image: url( ../images/ajax-loader.gif );
    background-position: 95% 50%;
    background-repeat: no-repeat;
}
a.loading:hover,
input.loading:hover {
    background-image: url( ../images/ajax-loader.gif );
    background-position: 95% 50%;
    background-repeat: no-repeat;
    padding-right: 25px;
    color: #777;
}
a.button.loading,
input[type="submit"].loading,
input[type="button"].loading,
input[type="reset"].loading {
	background-image: url( ../images/ajax-loader.gif ), -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
	background-image: url( ../images/ajax-loader.gif ), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background-image: url( ../images/ajax-loader.gif ), -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background-image: url( ../images/ajax-loader.gif ), -o-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Opera11.10+ */
	background-image: url( ../images/ajax-loader.gif ), -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	background-image: url( ../images/ajax-loader.gif ), linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* W3C */
	padding-right: 25px;
}
a.button.loading:hover,
input[type="submit"].loading:hover,
input[type="button"].loading:hover,
input[type="reset"].loading:hover {
  	background-image: url( ../images/ajax-loader.gif ), -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
	background-image: url( ../images/ajax-loader.gif ), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background-image: url( ../images/ajax-loader.gif ), -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background-image: url( ../images/ajax-loader.gif ), -o-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Opera11.10+ */
	background-image: url( ../images/ajax-loader.gif ), -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	background-image: url( ../images/ajax-loader.gif ), linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* W3C */
	border: 1px solid #ccc;
}
input[type="submit"].pending,
input[type="button"].pending,
input[type="reset"].pending,
input[type="submit"].disabled,
input[type="button"].disabled,
input[type="reset"].disabled,
button.pending,
button.disabled,
div.pending a,
a.disabled {
    border-color: #eee;
    color: #bbb;
}
input[type="submit"]:hover.pending,
input[type="button"]:hover.pending,
input[type="reset"]:hover.pending,
input[type="submit"]:hover.disabled,
input[type="button"]:hover.disabled,
input[type="reset"]:hover.disabled,
button.pending:hover,
button.disabled:hover,
div.pending a:hover,
a.disabled:hover {
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#ededed 100%); /* W3C */
    border-color: #eee;
    color: #bbb;
}

/*--------------------------------------------------------------
6.7 - Forums, Tables and Topics
--------------------------------------------------------------*/
ul#topic-post-list li.alt {
	background: #f5f5f5;
}
ul#topic-post-list li div.poster-meta {
	color: #888;
}
div.topic-tags {
	font-size: 11px;
}
div.admin-links {
	color: #888;
	font-size: 11px;
}
div#topic-meta h3 {
	font-size: 20px;
}
table thead tr {
	background: #eaeaea;
}
table tr td.label {
	border-right: 1px solid #eaeaea;
	font-weight: bold;
}
table tr td.thread-info p.thread-excerpt {
	color: #888;
	font-size: 11px;
}
div#sidebar table td,
table.forum td {
	text-align: center;
}
table tr.alt td {
	background: #f5f5f5;
}
table.notification-settings {
	text-align: left;
}
table.notification-settings .yes,
table.notification-settings .no {
	text-align: center;
}
table.forum tr.sticky td {
	font-size: 1.2em;
	background: #fff9db;
	border-top: 1px solid #ffe8c4;
	border-bottom: 1px solid #ffe8c4;
}
table.forum tr.closed td.td-title {
	background-image: url( ../images/closed.png );
	background-position: 15px 50%;
	background-repeat: no-repeat;
}
table.forum td p.topic-text {
	color: #888;
	font-size: 13px;
}
table.forum tr th#th-title,
table.forum tr th#th-poster,
table.forum tr th#th-group,
table.forum td.td-poster,
table.forum td.td-group,
table.forum td.td-title {
	text-align: left;
}
table.forum tr td.td-title a.topic-title {
	font-size: 1.2em;
}
table.forum td.td-freshness {
	white-space: nowrap;
}
table.forum td.td-freshness span.time-since {
	font-size: 0.9em;
	color: #888;
}
table.forum p.topic-meta {
	font-size: 0.9em;
}

/*--------------------------------------------------------------
6.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums
--------------------------------------------------------------*/
span.activity {
	font-size: 11px;
}
span.user-nicename {
	color: #777;
	font-size: 16px;
	font-weight: bold;
}
span.activity,
div#message p {
	border: 1px solid #e1ca82;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-weight: normal;
	margin-top: 3px;
	text-decoration: none;
	background: #ffeaa6;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, .5)), color-stop(100%,rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
}
div#item-header h2 {
	font-size: 28px;
	line-height: 120%;
}
div#item-header h2 a {
	color: #777;
	text-decoration: none;
}
div#item-header span.activity,
div#item-header h2 span.highlight {
	font-size: 11px;
	font-weight: normal;
	line-height: 170%;
}
div#item-header h2 span.highlight {
	font-size: 16px;
}
div#item-header h2 span.highlight span {
	background: #a1dcfa;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
}
div#item-header div#item-meta {
	font-size: 14px;
	color: #aaa;
}
div#item-header div#item-actions {
	text-align: right;
}
div#item-header div#item-actions h3 {
	font-size: 12px;
}
ul.item-list li {
	border-bottom: 1px solid #eaeaea;
}
ul.item-list li div.item-title,
ul.item-list li h4 {
	font-weight: normal;
	font-size: 14px;
}
ul.item-list li div.item-title span {
	color: #999;
	font-size: 12px;
}
ul.item-list li div.item-desc {
	color: #888;
	font-size: 11px;
}
ul.item-list li div.meta {
	color: #888;
	font-size: 11px;
}
ul.item-list li h5 span.small {
	font-size: 11px;
	font-weight: normal;
}
div.item-list-tabs {
	background: #eaeaea;
}
div.item-list-tabs ul li a {
	text-decoration: none;
}
div.item-list-tabs ul li a span {
	background: #899738;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-size: 90%;
}
div.item-list-tabs ul li.selected a,
div.item-list-tabs ul li.current a {
	background-color: #fff;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	color: #555;
	font-weight: bold;
}
div.item-list-tabs ul li.selected a span,
div.item-list-tabs ul li.current a span,
div.item-list-tabs ul li a:hover span {
	background-color: #999;
}
div.item-list-tabs ul li.selected a span,
div.item-list-tabs ul li.current a span {
	background-color: #555;
}
ul li.loading a {
	background-image: url( ../images/ajax-loader.gif );
	background-position: 92% 50%;
	background-repeat: no-repeat;
}
div#item-nav ul li.loading a {
	background-position: 88% 50%;
}
div.item-list-tabs#subnav {
	background: #fff;
	border-bottom: 1px solid #eaeaea;
}
div.item-list-tabs ul li.feed a {
	background: url( ../images/rss.png ) center left no-repeat;
}

/*--------------------------------------------------------------
6.9 - Private Messaging Threads
--------------------------------------------------------------*/
table#message-threads tr.unread td {
	background: #fff9db;
	border-top: 1px solid #ffe8c4;
	border-bottom: 1px solid #ffe8c4;
	font-weight: bold;
}
li span.unread-count,
tr.unread span.unread-count {
	background: #dd0000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
}
div.item-list-tabs ul li a span.unread-count {
	color: #fff;
}
div.messages-options-nav {
	background: #eee;
	font-size: 11px;
	text-align: right;
}
div#message-thread div.alt {
	background: #f4f4f4;
}
div#message-thread strong {
	font-size: 16px;
}
div#message-thread strong a {
	text-decoration: none;
}

/* 18246-1344572838-ai */