<div id="cjtoolbox-<?php echo $count+1; ?>" class="postbox">
	<div class="handlediv" title="Click to toggle"><br /></div><h3 class='hndle'><span><?php echo sprintf(__('CSS & JavaScript Block: %s', CJTOOLBOX_TEXT_DOMAIN), $count+1) ?></span></h3>
	<div class="inside">
		<?php $this->cjtoolbox_unit('', $args, true); ?>
	</div>
</div>