/* change url paths to suit your project */
@font-face {
	font-family: 'OSWALD';
	src: url('../fonts/oswald-webfont.eot');
	src: url('../fonts/oswald-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/oswald-webfont.woff') format('woff'),
		url('../fonts/oswald-webfont.ttf') format('truetype'),
		url('../fonts/oswald-webfont.svg#OSWALD') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	/* bodycopy this will likely change soon to something OS */
	font-family: 'PTSansRegular', Helvetica, arial, sans-serif;
	font-size: 12px;
	line-height: 1.2;
}

#donate a.button{
	font-family: 'OSWALD', Arial, sans-serif; font-weight: normal;
}

h1, h2, h3, h4, h5{
	padding: .125em 0 0 0;
	line-height: 1.25;
}

h1{ font-size: 3.5em; /* 42px */ }
h2{ font-size: 2.5em; /* 30px */ }
h3{	font-size: 2em; /* 24px */ }
h4{	font-size: 1.5em; /* 18px */ }
h5{	font-size: 1.25em; /* 15em */ }

/* personal rule not use more than 3*/
h1, h2, h3, h4, h5{
	font-family: 'OSWALD', Arial, sans-serif; font-weight: normal;
	text-transform: uppercase;
	line-height: 1.5;
}

#content{
	font-size: 1.2em;
	line-height: 1.5;
	color:#222;
}


#content h2.pagetitle{
	color:#000;
	padding:0;
	font-size:2.5em;
	margin-bottom: .5em;
}

h3.widgettitle{
	font-size: 1.5em;
	margin: 0;
	padding: 0;
}

em{
	color: #000;
	font-size: 1.125em;
	font-style: normal;
}