body{color:#101010;background:#ececec;}
#panel a,#panel a.button:hover{text-decoration:none;color:#e90026;}
#panel a{text-decoration:none;color:#e90026;}
.tab ul.login li a{color:#e90026;}
a:link{color:#e90026;}
a:visited{color:#222222;}
a:active,
a:hover{color:#666666;}
.widget h3,div#sidebar div.item-options,div#sidebar h3.widgettitle{color:#e90026;text-shadow:#ffffff 1px 1px 0px;padding-bottom:10px;}
#feature-wrapper{background:#e90026 url('../../library/styles/red-images/redbackground.png') repeat-x;}
#feature h3,#feature h4{color:#ffffff;text-shadow:#707070 1px 1px 0px;}
#feature{color:#ffffff;}
ul.nav li.selected a,ul.nav li.current_page_item a{background:#e90026;color:#ffffff;}
a.comment-reply-link, ,input[type=submit],input[type=button],
ul.button-nav li a,div.generic-button a{color:#7b7b7b;text-shadow:#ffffff 1px 1px 0px;}
a.comment-reply-link:hover, a.button:hover,a.button:focus,input[type=submit]:hover,input[type=button]:hover,
ul.button-nav li a:hover,ul.button-nav li.current a,
div.generic-button a:hover{color:#7b7b7b;text-shadow:#ffffff 1px 1px 0px;}
#strapline h1,#strapline h2,#site-wrapper-home h1,#site-wrapper-home h2,#site-wrapper-home h3,#site-wrapper-home h4,#site-wrapper-home h5,#site-wrapper-home h6{color:#7b7b7b;text-shadow:#ffffff 1px 1px 0px;}
#site-wrapper h1,#site-wrapper h2,#site-wrapper h3,#site-wrapper h4,#site-wrapper h5,#site-wrapper h6{color:#7b7b7b;text-shadow:#eeeeee 1px 1px 0px;}
#panel h4,#panel h3{text-shadow:#000000 1px 1px 0px;}
#header-wrapper{background:#272727;}
#header h1 a{color:#fff;}
.nav a,.nav a:visited,.nav a:link{color:#e90026;background:#444444;text-shadow:#000000 1px 1px 0px;border:solid 1px #555555;}
.nav .current a,.nav li:hover > a,.nav li.current_page_item a{color:#ffffff;background:#000000;text-shadow:#000000 1px 1px 0px;border:solid 1px #555555;}
.nav ul li:hover a,.nav li:hover li a{color:#ffffff;}
.nav ul a:hover{background:#666666;border:solid 1px #666666;color:#e90026;text-shadow:#000000 1px 1px 0px;}

/* 18246-1344572864-ai */