/**
 * Gravity Forms
 ************************************************/

.gform_wrapper{}
	.gform_title{}
		
	span.gform_description{
		display: block;
		padding: 11px 0;
		}

	.gform_wrapper ul{
		background: transparent;
		list-style: none;
		margin: 0;
		padding: 0;
		}

		.gform_wrapper ul li{
			background: transparent;
			margin: 0;
			padding: 11px 0;
			}
			
			li.gfield_error {
				border-bottom: 1px dotted #f00;
				}
		
			li.gfield label{
				display: block;
				}
				li.gfield label span.gfield_required{
					display: inline-block;
					color: #f00;
					margin-left: 5px;
					}
			
			li.gfield .gfield_label{
				display: inline-block;
				}
				
				ul.gfield_radio,
				ul.gfield_checkbox {
					margin: 7px 0 0;
					}

				ul.gfield_radio label,
				ul.gfield_checkbox label {
					display: inline-block;
					}
				
					ul.gfield_radio li{
						padding: 0;
						}
						
			.ginput_container {
				}
				
				.ginput_container label {
					font-size: 11px;
					line-height: 18px;
					}
				
				.ginput_container input[type="password"],
				.ginput_container input[type="text"],
				.ginput_container select,
				.ginput_container textarea {
					width: 100%;
					}
			
				.ginput_product_price_label {
					padding: 0 0 0 20px;
					}
				.ginput_product_price,
				.ginput_shipping_price,
				.ginput_total {
					color: #ffde01;
					padding: 0 0 0 20px;
					}
		
				img.ui-datepicker-trigger{
					background: transparent;
					margin: 15px 0 0 10px;
					padding: 0;
					}
					
			.ginput_counter {
				display: inline-block;
				color: #999;
				font-size: 11px;
				line-height: 18px;
				padding: 0 0 0 20px;
				}
			
			div.ginput_complex{
				clear: both;
				display: block;
				float: left;
				margin: 0 0 18px;
				width: 100%;
				}

				span.ginput_left,
				.layout-1c span.ginput_left {
					float: left;
					width: 49%;
					}
					
				span.ginput_right,
				.layout-1c span.ginput_right {
					float: right;
					width: 49%;
					}
						
				/* .ginput_complex left/right Variations */
				
					.layout-3c-c span.ginput_left,
					.layout-3c-l span.ginput_left,
					.layout-3c-r span.ginput_left,
					.layout-hl-2c-l span.ginput_left,
					.layout-hl-2c-r span.ginput_left,
					.layout-hr-2c-l span.ginput_left,
					.layout-hr-2c-r span.ginput_left,
					.layout-3c-c span.ginput_right,
					.layout-3c-l span.ginput_right,
					.layout-3c-r span.ginput_right,
					.layout-hl-2c-l span.ginput_right,
					.layout-hl-2c-r span.ginput_right,
					.layout-hr-2c-l span.ginput_right,
					.layout-hr-2c-r span.ginput_right {
						width: 100%;
						}
						
			div.clear-multi { /* Wraps more than two .ginput_container */
				clear: both;
				}
			div.clear-multi:after {
				clear: both;
				content: ".";
				display: block;
				font-size: 0;
				height: 0;
				line-height: 0;
				visibility: hidden;
				}
				div.clear-multi div.ginput_container {
					float: left;
					margin-right: 5px;
					}
				div.clear-multi div.gfield_time_hour label {
					display: inline-block;
					}
			
		.gfield_description {
			color: #ffde01;
			display: block;
			font: normal normal 11px/18px Verdana, Georgia, serif;
			padding: 3px 20px 0;
			}
		
		.validation_message{
			color: #f00;
			}
		
		.gform_footer,
		.gform_page_footer {
			padding: 11px 0;
			}
			
/**
 * Progress Bar
 ************************************************/

.gform_wrapper .gf_progressbar_wrapper {
	clear: both;
	margin: 0 0 18px;
	}
.gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title {
	clear: both;
	color: #ffde01;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	}
.gform_wrapper .gf_progressbar {
	background-color: #fff;
	background-image: url(../images/gforms/percentbar_bg.png);
	background-repeat: repeat-x;
	background-position: bottom;
	border-radius: 5px;
		-khtml-border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	height: 20px;
	line-height: 20px!important;
	overflow: hidden;
	width: 100%;
	}
.gform_wrapper .gf_progressbar_percentage {
	background-repeat: repeat-x;
	color: #fff;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	height: 20px;
	text-align: right;
	text-shadow: 0 1px 1px rgba(0,0,0,0.50);
	}
.gform_wrapper .gf_progressbar_percentage span {
	margin-right: 5px;
	margin-left: 5px;
	}
.gform_wrapper .percentbar_blue {
	background-color: #0072BC;
	background-image: url(../images/gforms/percentbar_blue.png);
	}
.gform_wrapper .percentbar_gray {
	background-color: #666;
	background-image: url(../images/gforms/percentbar_gray.png);
	}
.gform_wrapper .percentbar_green {
	background-color: #94DC21;
	background-image: url(../images/gforms/percentbar_green.png);
	}
.gform_wrapper .percentbar_orange {
	background-color: #DC7021;
	background-image: url(../images/gforms/percentbar_orange.png);
	}
.gform_wrapper .percentbar_red {
	background-color: #DC2521;
	background-image: url(../images/gforms/percentbar_red.png);
	}
.gform_wrapper .percentbar_custom {
	background-image: url(../images/gforms/percentbar_custom.png);
	}


/**
 * Jquery UI Date Picker
 ************************************************/

.ui-datepicker-div,
.ui-datepicker-inline,
#ui-datepicker-div {
	border: 0;
	font-family: Verdana, Georgia, "lucida sans", "lucida grande", lucida , sans-serif;
	list-style: none;
	margin: 0;
	outline: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
	}

.ui-datepicker-div,
#ui-datepicker-div {
	background: #111;
	border: 0;
	display: none;
	margin: 0 0 0 -20px;
	padding: 10px;
	z-index: 9999;
	}
.ui-datepicker-inline {
	display: block;
	float: left;
	}
.ui-datepicker-control {
	display: none;
	}
.ui-datepicker-current {
	display: none;
	}
.ui-datepicker-next,
.ui-datepicker-prev {
	background: #171717;
	position: absolute;
	top: 10px;
	}
.ui-datepicker-prev {
	left: 10px;
	}
.ui-datepicker-next {
	right: 10px;
	}
.ui-datepicker-next:hover,
.ui-datepicker-prev:hover {
	background: #2c2c2c;
	}
.ui-datepicker-next a,
.ui-datepicker-prev a {
	background: url(../images/gforms/datepicker_arrow_left.gif) 50% 50% no-repeat;
	cursor: pointer;
	display: block;
	height: 20px;
	font-size: 1em;
	text-indent: -99999px;
	width: 20px;
	}
.ui-datepicker-next a {
	background: url(../images/gforms/datepicker_arrow_right.gif) 50% 50% no-repeat;
	}
.ui-datepicker-header select {
	margin: 0;
	position:absolute;
	top: 10px;
	width: 100px;
	}
.ui-datepicker-header option:focus,
.ui-datepicker-header option:hover {
	}
.ui-datepicker-header select.ui-datepicker-new-month {
	left: 50px;
	}
.ui-datepicker-header select.ui-datepicker-new-year {
	left: 160px;
	}
table.ui-datepicker {
	clear: both;
	margin: 30px 0 0;
	text-align: right;
	width: 100%;
	}
	table.ui-datepicker th,
	table.ui-datepicker td {
		padding: 6px 10px;
		}
table.ui-datepicker td a {
	cursor:pointer;
	display: block;
	padding: 2px;
	text-align:center;
	}
table.ui-datepicker td a:hover {
	background: #2c2c2c;
	text-decoration: none;
	}
table.ui-datepicker td a:active {
	background: #ffde01;
	color: #000;
	text-decoration: none;
	}
table.ui-datepicker .ui-datepicker-title-row td {
	font-size: 10px;
	text-align:center;
	text-transform:uppercase;
	}
table.ui-datepicker .ui-datepicker-title-row td a {
	}
.ui-datepicker-cover {
	display: none;
	display/**/:block;
	height: 200px;
	filter:mask();
	position:absolute;
	top: -4px;
	left: -4px;
	width: 193px;
	z-index:-1;
	}
img.ui-datepicker-trigger {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	cursor: pointer;
	vertical-align: top;
	width: 17px;
	}
.gform_wrapper input.datepicker.datepicker_with_icon {
	display: -moz-inline-stack;
	display: inline-block;
	*display: inline;
	margin-right: 4px!important;
	zoom: 1;
	}

@media only screen and (max-width: 999px) {
	span.ginput_left,
	span.ginput_right {
		width: 100%;
		}
}

@media only screen and (max-width: 639px) {
	.layout-1c span.ginput_left,
	.layout-1c span.ginput_right {
		width: 100%;
		}
}