/**
 * Jigoshop General
 ************************************************/
 
.demo_store {
	background: #ffde01;
	bottom: 0;
	color: #000;
	padding: 11px 20px;
	position: fixed;
	left: 0;
	width: 100%;
	z-index: 100;
	}
 
/* Breadcrumb */

.jigoshop #breadcrumb {
	color: #666;
	}
	.jigoshop #breadcrumb a {
		color: #ccc;
		}
		
/* Template Notices, Labels, and Messages */

.jigoshop .onsale {
	background: #000;
	color: #fff;
	display: block;
	font: 13px/13px ChunkFiveWeb, Georgia, serif;
	left: 10px;
	margin: 0;
	padding: 8px 10px;
	position: absolute;
	text-transform: uppercase;
	top: 10px;
	z-index: 99;
	}

.jigoshop .stock {
	color: #ffde01;
	}
.jigoshop .nostock,
.jigoshop .out-of-stock {
	color: #e00 !important;
	}

.jigoshop_message,
.jigoshop_error {
	background: #000;
	box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	float: left;
	clear: both;
	margin: 18px 0;
	padding: 6px 20px;
	width: 100%;
	}
	.jigoshop_message .button,
	.jigoshop_error .button {
		margin-right: 10px;
		}
		
.jigoshop-product .jigoshop_message,
.jigoshop-product .jigoshop_error {
	margin: 0;
	}
		
.jigoshop_error {
	background: #d00;
	color: #fff;
	}

.jigoshop .entry-content .info {
	background-image: none;
	padding-left: 20px;
	}
	
/* Forms */
 
.form-row input.input-text,
.form-row select,
.form-row textarea {
	width: 100%;
	}

/* Quantity Field */

.quantity{
	margin-right: 5px;
	position: relative;
	}

	.quantity input.input-text{
		min-width: 70px;
		width: 100%;
		}

	.quantity input.plus, .quantity input.minus{
		background: #eee;
		color: #666;
		font-weight: bold;
		height: 18px;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 0;
		text-shadow: none;
		top: 7px;
		width: 24px;
		z-index: 99;
		}
		
	.quantity input.plus {
		border-bottom: 1px solid #e5e5e5;
		}
	
	.quantity input.minus{
		border-top: 1px solid #f8f8f8;
		top: 25px;
		}
		
/* Start Ratings */
		
.star-rating {
	background: url(../images/star.png) repeat-x left 0;
	display: inline-block;
	height: 16px;
	width: 80px;
	}
.star-rating span {
	background: url(../images/star.png) repeat-x left -32px;
	float: left;
	height: 0;
	overflow: hidden;
	padding-top: 16px;
	text-indent: -9999px;
	}

/**
 * General Products Listing, Shop, Related Products
 ************************************************/
	
	ul.products {
		clear: both;
		list-style: none;
		float: left;
		margin: 0 0 0 -40px;
		padding: 0;
		}
	.layout-1c ul.products {
		padding-left: 20px;
		}
		ul.products li.product {
			background-image: none;
			float: left;
			margin: 18px 0 18px 40px;
			padding: 0;
			width: 240px;
			}
		ul.products li.product.first {
			clear: left;
			}
		ul.products li.product.last {
			clear: right;
			}
			ul.products .product-image-link {
				background: url(../images/shadow-curve.png) center bottom no-repeat;
				display: block;
				margin: 0;
				padding: 0 0 10px;
				position: relative;
				width: 240px;
				}
				ul.products .product-image-link img {
					background: #fff;
					display: block;
					margin: 0;
					max-height: 220px;
					max-width: 220px;
					padding: 10px;
					}
				.products .product-image-link .onsale {
					}
			ul.products .product-title {
				font: bold 12px/22px Verdana, Georgia, serif;
				padding: 8px 0 0;
				}
			ul.products span.price,
			ul.products span.nostock {
				display: block;
				clear: left;
				color: #ffde01;
				font-size: 11px;
				float: left;
				line-height: 18px;
				}
				ul.products .price del {
					display: inline-block;
					margin-right: 5px;
					}
				ul.products .price ins {
					color: #ccc;
					font-style: normal;
					}
			ul.products .button {
				background: url(../images/icon-cart.png) no-repeat;
				float: right;
				height: 25px;
				margin: -16px 0 0;
				padding: 0;
				text-indent: -9999px;
				width: 26px;
				}
			ul.products .summary {
				clear: both;
				font-size: 11px;
				line-height: 18px;
				}
				
/**
 * Single Product
 ************************************************/
 
.jigoshop-product .jigoshop_message,
.jigoshop-product .jigoshop_error {
	padding: 6px 40px;
	}
 
.product-header {
	border-bottom: 1px solid #2c2c2c;
	box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	float: left;
	padding: 18px 40px 17px;
	width: 100%;
	}
	
	.product-header .images {
		float: left;
		margin: 18px 0;
		position: relative;
		width: 240px;
		}
			
		.product-header .images .onsale {
			}
	.product-header .images .zoom {
		background: url(../images/shadow-curve.png) center bottom no-repeat;
		display: block;
		margin: 0;
		padding: 0 0 10px;
		width: 240px;
		}
		.product-header .images .zoom img {
			background: #fff;
			display: block;
			max-height: 220px;
			max-width: 220px;
			padding: 10px;
			-ms-interpolation-mode: bicubic;
			}
	.product-header .images .thumbnails {
		margin-left: -15px;
		}
		.product-header .images .thumbnails .zoom {
			background: none;
			display: inline-block;
			margin: 10px 0 0 15px;
			padding: 0;
			width: 70px;
			}
			.product-header .images .thumbnails .zoom img {
				max-height: 60px;
				max-width: 60px;
				padding: 5px;
				}
				
	.product-header .product-title,
	.product-header .product-summary,
	.layout-1c .product-header .product-title,
	.layout-1c .product-header .product-summary {
		clear: none;
		margin-left: 280px;
		}
		
		/* Single Product Title and Summary Variations */
		
		.layout-3c-c .product-title,
		.layout-3c-l .product-title,
		.layout-3c-r .product-title,
		.layout-hl-2c-l .product-title,
		.layout-hl-2c-r .product-title,
		.layout-hr-2c-l .product-title,
		.layout-hr-2c-r .product-title,
		.layout-3c-c  .product-summary,
		.layout-3c-l  .product-summary,
		.layout-3c-r  .product-summary,
		.layout-hl-2c-l  .product-summary,
		.layout-hl-2c-r  .product-summary,
		.layout-hr-2c-l  .product-summary,
		.layout-hr-2c-r  .product-summary {
			clear: both;
			margin-left: 0;
			}
			
	.product-header .product-title {
		font-size: 20px;
		line-height: 30px;
		}
		
		/* Product Title Variations */
		
		.layout-1c .product-header .product-title {
			font-size: 30px;
			line-height: 36px;
			}

	.product-header p.price {
		color: #ffde01;
		font-size: 12px;
		font-weight: bold;
		line-height: 22px;
		padding: 0 0 12px;
		}
		.product-header p.price del {
			display: inline-block;
			margin-right: 10px;
			}
		.product-header p.price ins {
			color: #ccc;
			font-style: normal;
			}
	.product-header .product_meta {
		font-size: 11px;
		line-height: 18px;
		padding: 12px 0;
		}
	.product-header .social {
		padding: 12px 0;
		}
		
	.product-content {
		border-bottom: 0;
		padding: 0 40px;
		}
		.product-content #tabs {
			margin: 0 -40px;
			}
			.product-content #tabs ul.tabs {
				border-bottom: 1px dotted #2c2c2c;
				font: 12px/18px ChunkFiveWeb, Verdana, Georgia, serif;
				margin: 0;
				padding: 0 20px 12px;
				text-transform: uppercase;
				}
				.product-content #tabs ul.tabs li {
					background-image: none;
					display: inline-block;
					margin: 0 0 0 20px;
					padding: 0;
					}
				.product-content #tabs ul.tabs li a {
					display: block;
					padding: 14px 0 0;
					}
				.product-content #tabs ul.tabs li.active a {
					color: #ffde01;
					}
			.product-content .panel {
				border-bottom: 1px solid #2c2c2c;
				margin: 0;
				padding: 18px 40px;
				}
			
	.product-summary {
		font-size: 11px;
		line-height: 18px;
		}
	.layout-1c .product-summary {
		font-size: 12px;
		line-height: 22px;
		}
	.product-summary .select_label {
		cursor: pointer;
		display: inline-block;
		margin: 0 0 5px;
		padding: 0 0 0 20px;
		}
				
	.product-summary .single_variation {
		padding: 12px 0 0;
		}
				
	.product-summary .cart table td {
		display: block;
		}
		.product-summary .cart table td label {
			padding-left: 0;
			}
		.product-summary .cart table td .stock {
			display: inline-block;
			margin-left: 10px;
			}
			
			/* Product Summary Cart Table Variations */
			
			.layout-1c .product-summary .cart table td {
				display: table-cell;
				}
				
	.jigoshop .related {
		padding: 18px 0;
		}
		
		
/* Jigoshop Reviews/Ratings */

.jigoshop .hreview-aggregate {
	border-bottom: 9px solid #ffde01;
	margin: 0 -40px;
	padding: 0 40px 15px;
	text-transform: capitalize;
	}
	.jigoshop .hreview-aggregate h2 {
		font-size: 30px;
		line-height: 36px;
		}

.jigoshop #comments .star-rating,
.jigoshop.layout-1c #comments .star-rating {
	float: right;
	margin: 18px 0 0 20px;
	}
	
	/* Jigoshop Star Rating Variations */
	
	.jigoshop.layout-3c-c #comments .star-rating,
	.jigoshop.layout-3c-l #comments .star-rating,
	.jigoshop.layout-3c-r #comments .star-rating,
	.jigoshop.layout-hl-2c-l #comments .star-rating,
	.jigoshop.layout-hl-2c-r #comments .star-rating,
	.jigoshop.layout-hr-2c-l #comments .star-rating,
	.jigoshop.layout-hr-2c-r #comments .star-rating {
		float: none;
		margin-left: 0;
		}

.jigoshop #comments ol.commentlist {
	margin: 0 -40px;
	}

		.jigoshop #comments li .comment_container .avatar{
			display: block;
			float: left;
			height: 26px;
			margin: 36px 0 18px 40px;
			padding: 5px;
			width: 26px;
			}
		.jigoshop #comments li .comment_container .comment-text {
			background: none;
			margin-left: 56px;
			}
			
.jigoshop #comments p.add_review {
	margin: 18px 0 0;
	}

#review_form {
	background: url(../images/bg-main.jpg) repeat-y;
	color: #ccc;
	}
	#review_form #reply-title {
		color: #fff;
		}
		
p.stars {
	margin: 0 0 0 20px;
	overflow: hidden;
	padding: 0;
	zoom: 1;
	}
	p.stars span {
		background: url(../images/star.png) repeat-x left 0;
		float: left;
		height: 16px;
		position: relative;
		width: 80px;
		}
		p.stars span a {
			float: left;
			height: 0;
			left: 0;
			padding-top: 16px;
			position: absolute;
			overflow: hidden;
			top: 0;
			width: 16px;
			}
		p.stars span a:hover,
		p.stars span a:focus {
			background: url(../images/star.png) repeat-x left -16px;
			}
		p.stars span a.active {
			background: url(../images/star.png) repeat-x left -32px;
			}
		p.stars span a.star-1 {
			width: 16px;
			z-index: 10;
			}
		p.stars span a.star-2 {
			width: 32px;
			z-index: 9;
			}
		p.stars span a.star-3 {
			width: 48px;
			z-index: 8;
			}
		p.stars span a.star-4 {
		  width: 64px;
			z-index: 7;
			}
		p.stars span a.star-5 {
			width: 80px;
			z-index: 6;
			}
			
.jigoshop-product .comment-pagination {
	clear: both;
	float: none;
	margin: 0 -40px;
	width: auto;
	}
			
/**
 * Cart Page
 ************************************************/

.shop_table {
	clear: both;
	}
.shop_table .applied-coupons-values {
	color: #ffde01;
	}

.shop_table th,
.shop_table td {
	padding: 5px 10px;
	}
.shop_table td.product-name {
	color: #ffde01;
	font-weight: bold;
	}
.shop_table .product-thumbnail img {
	padding: 5px;
	}

.shop_table .button,
.shop_table .checkout-button {
	float: left;
	margin-right: 10px;
	}
	
.layout-1c .shop_table .button,
.layout-1c .shop_table .checkout-button {
	float: right;
	margin-left: 10px;
	margin-right: 0;
	}
	
.shop_table .coupon {
	}
	
.layout-1c .shop_table .coupon {
	float: left;
	width: 50%;
	}

	.shop_table .coupon label {
		padding: 0 10px 0 0;
		}
	.shop_table #coupon_code {
		margin-right: 5px;
		}	
	.shop_table .coupon .button {
		float: none !important;
		margin: 7px 0 !important;
		}
		
select#calc_shipping_country {
	width: 240px;
	}

	
/* Cart Shop Table Variations */

.layout-1c .shop_table th,
.layout-1c .shop_table td {
	padding: 12px 20px;
	}

.layout-3c-c .shop_table,
.layout-3c-l .shop_table,
.layout-3c-r .shop_table,
.layout-hl-2c-l .shop_table,
.layout-hl-2c-r .shop_table,
.layout-hr-2c-l .shop_table,
.layout-hr-2c-r .shop_table {
	border: 0;
	border-bottom: 1px solid #2c2c2c;
	display: block;
	float: left;
	width: 100%;
	}

.layout-3c-c .shop_table th,
.layout-3c-l .shop_table th,
.layout-3c-r .shop_table th,
.layout-hl-2c-l .shop_table th,
.layout-hl-2c-r .shop_table th,
.layout-hr-2c-l .shop_table th,
.layout-hr-2c-r .shop_table th {
	display: none;
	}
	
.layout-3c-c .shop_table td,
.layout-3c-l .shop_table td,
.layout-3c-r .shop_table td,
.layout-hl-2c-l .shop_table td,
.layout-hl-2c-r .shop_table td,
.layout-hr-2c-l .shop_table td,
.layout-hr-2c-r .shop_table td {
	border: 1px solid #2c2c2c;
	border-bottom: 0;
	box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	display: block;
	float: left;
	padding: 10px;
	width: 100%;
	}
	
/* Cart Totals Table */

.cart_totals_table small {
	color: #ffde01;
	}
	
/**
 * Checkout Page
 ************************************************/
	
#payment div.form-row:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
	}
	
#payment ul {
	clear: both;
	margin: 0 0 18px;
	padding: 0;
	}
	#payment ul li {
		background-image: none;
		border-bottom: 1px dotted #2c2c2c;
		padding: 18px 0;
		}
		#payment ul li label img {
			margin: 0 0 0 10px;
			padding: 0;
			vertical-align: middle;
			}
		#payment ul li .payment_box {
			background: #000;
			margin: 18px 0 0;
			padding: 12px 20px;
			}
.jigoshop #payment noscript {
	background: #000;
	border: 0;
	display: block;
	font: 12xp/22px Verdana, Georgia, serif;
	padding: 0 20px;
	}
	
#payment div.form-row {
	padding: 0 0 11px;
	}
	
#payment div.form-row:after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
	}
	
.jigoshop #payment .button,
.jigoshop #payment #place_order {
	float: left;
	margin-right: 10px;
	}
	
/**
 * My Account
 ************************************************/
 
.jigoshop ul.digital-downloads .count {
	color: #ffde01;
	}
	
.shop_table td.alignright,
.layout-1c .shop_table td.alignright {
	float: none;
	margin: 0;
	}
	
.layout-3c-c .shop_table td.alignright,
.layout-3c-l .shop_table td.alignright,
.layout-3c-r .shop_table td.alignright,
.layout-hl-2c-l .shop_table td.alignright,
.layout-hl-2c-r .shop_table td.alignright,
.layout-hr-2c-l .shop_table td.alignright,
.layout-hr-2c-r .shop_table td.alignright {
	float: left;
	}
	
.jigoshop-myaccount .addresses .col-1,
.jigoshop-myaccount .addresses .col-2 {
	float: left;
	width: 50%;
	}

/**
 * Jigoshop Widgets
 ************************************************/

.jigoshop_cart .empty,
.price_slider_wrapper,
.jigoshop_product_search form#searchform,
.widget_product_tag_cloud .tagcloud {
	background: #171717;
	display: block;
	margin: 6px 0 0;
	padding: 2px 20px;
	}

.jigoshop_cart .empty {
	padding: 14px 20px;
	}
	
.jigoshop_login_widget {
	background: #171717;
	display: block;
	margin: 6px 0 0;
	padding: 2px 20px;
	}
	.jigoshop_login_widget .input-submit {
		margin-right: 10px;
		}

	/* Product List */

	.widget .product_list_widget li,
	.widget .cart_list li {
		background-image: none;
		box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			-o-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		float: left;
		padding: 7px 20px;
		width: 100%;
		}
	.widget .product_list_widget li:hover,
	.widget .cart_list li:hover {
		background-image: none;
		}
		.widget .product_list_widget li img,
		.widget .cart_list li img {
			float: left;
			height: 26px;
			margin: 6px 20px 7px 0;
			width: 26px;
			}
		.widget .product_list_widget .js_widget_product_title,
		.widget .cart_list .js_widget_product_title {
			display: block;
			
			}
		.widget .product_list_widget .js_widget_product_price,
		.widget .cart_list .js_widget_product_price{
			display: block;
			font-size: 11px;
			line-height: 18px;
			}
		.widget .product_list_widget .star-rating {
			display: inline-block;
			float: none;
			margin: 2px 10px 0 0;
			}

/* Jigoshop Cart */

.jigoshop_cart .total,
.jigoshop_cart .buttons {
	background: #171717;
		box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			-o-box-sizing: border-box;
			-webkit-box-sizing: border-box;
	clear: both;
	color: #ffde01;
	display: block;
	float: left;
	margin: 6px 0 0;
	padding: 12px 20px;
	text-align: center;
	width: 100%;
	}
.jigoshop_cart .buttons {
	text-align: left;
	}
	
/* Jigoshop Price Filter */

.price_slider_wrapper {
	padding: 14px 20px;
	}

.jigoshop_price_filter .ui-widget-content {
	background: #2c2c2c !important;
	border: 0;
	height: 9px;
	margin: 6px 0 0;
	}

	.jigoshop_price_filter .ui-slider-horizontal .ui-slider-range {
		background-position: 0 0;
		border: 0;
		display: block;
		font-size: .7em;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 1;
		}
	.jigoshop_price_filter .ui-slider-horizontal .ui-slider-handle {
		border: 0;
		cursor: default;
		height: 13px;
		margin: 0 0 0 -7px;
		position: absolute;
		top: -.2em;
		width: 13px;
		z-index: 2;
		}
	
.jigoshop_price_filter .price_slider_amount {
	padding: 12px 0 0;
	}
	.jigoshop_price_filter .price_slider_amount button {
		margin-right: 10px;
		}
	
/* Jigoshop Product Search */

.jigoshop_product_search form#searchform {
	padding: 14px 20px;
	}
	
.widget_product_tag_cloud .tagcloud {
	padding: 14px 20px;
	}
	
/* Jigoshop Layered Nav */

	.widget_layered_nav .layerd_nav_clear {
		background: #171717 url(../images/icon-x.png) 92% 13px no-repeat;
		display: block;
		font-weight: bold;
		margin: 6px 0 0;
		padding: 7px 20px;
		}
	.widget_layered_nav .layerd_nav_clear:hover {
		background-color: #222;
		}
	.widget_layered_nav li .count {
		background: #2c2c2c;
		display: inline-block;
		float: right;
		padding: 0 5px;
		}
	.widget_layered_nav li.chosen .count {
		color: #ffde01;
		}

@media only screen and (max-width: 999px) {

	/* Single Product */
	
	.product-header .product-title,
	.product-header .product-summary {
		clear: both;
		margin-left: 0;
		}
		
	/* Single Product Title */
	
	.layout-1c .product-header .product-title {
		font-size: 20px;
		line-height: 30px;
		}
		
	.layout-1c .product-summary {
		font-size: 11px;
		line-height: 18px;
		}
		
	/* Product Summary Cart Table Variations */
			
	.layout-1c .product-summary .cart table td {
		display: block;
		}
		
	/* Jigoshop Star Rating */
	
	.jigoshop #comments .star-rating {
		float: none;
		margin-left: 0;
		}
		
	/* Cart Page */
		
	.shop_table {
		border: 0;
		border-bottom: 1px solid #2c2c2c;
		display: block;
		float: left;
		width: 100%;
		}
	.shop_table th {
		display: none;
		}
	.shop_table td {
		border: 1px solid #2c2c2c;
		border-bottom: 0;
		box-sizing: border-box;
			-moz-box-sizing: border-box;
			-ms-box-sizing: border-box;
			-o-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		display: block;
		float: left;
		padding: 10px;
		width: 100%;
		}
		
	.layout-1c .shop_table {
		border: 0;
		border-top: 1px solid #2c2c2c;
		border-left: 1px solid #2c2c2c;
		display: table;
		float: none;
		}
		.layout-1c .shop_table th,
		.layout-1c .shop_table td {
			padding: 10px;
			}
		.layout-1c .shop_table th {
			display: table-cell;
			}
		.layout-1c .shop_table td {
			border: 0;
			border-right: 1px solid #2c2c2c;
			border-bottom: 1px solid #2c2c2c;
			display: table-cell;
			float: none;
			width: auto;
			}
		
	.layout-1c .shop_table .coupon {
		float: none;
		width: 100%;
		}
	.layout-1c .shop_table .button,
	.layout-1c .shop_table .checkout-button {
		float: left;
		margin-right: 10px;
		margin-left: 0;
		}
		
	/* My Account */
	
	.shop_table td.alignright {
		float: left;
		}

}

@media only screen and (max-width: 639px) {

	/* Products Listing */
	
	.layout-1c ul.products {
		padding-left: 0;
		}
		
	/* Single Product */
	
	.layout-1c .product-header .product-title,
	.layout-1c .product-header .product-summary {
		clear: both;
		margin-left: 0;
		}
		
	/* Jigoshop Star Rating */
	
	.jigoshop.layout-1c #comments .star-rating {
		float: none;
		margin-left: 0;
		}
		
	/* Cart Page */
	
	.layout-1c .shop_table {
		border: 0;
		border-bottom: 1px solid #2c2c2c;
		float: left;
		width: 100%;
		}
	.layout-1c .shop_table th {
		display: none;
		}
	.layout-1c .shop_table td {
		border: 1px solid #2c2c2c;
		border-bottom: 0;
		display: block;
		float: left;
		width: 100%;
		}
		
	/* My Account */
	
	.layout-1c .shop_table td.alignright {
		float: left;
		}

}