.postinn{
display:none;}
.hrline,.hrlineB,.hrlineC { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2f2f2f2,endColorstr=#f2f2f2f2);zoom: 1; }
#header
{
 background-image: none;
 filter:
progid:DXImageTransform.Microsoft.AlphaImageLoader(src=images/yourImage.png,
sizingMethod='scale');
}
