/* change url paths to suit your project */
@font-face {
	font-family: 'OSPDIN';
	src: url('../fonts/OSP-DIN-webfont.eot');
	src: url('../fonts/OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/OSP-DIN-webfont.woff') format('woff'),
		url('../fonts/OSP-DIN-webfont.ttf') format('truetype'),
		url('../fonts/OSP-DIN-webfont.svg#OSPDIN') format('svg');
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4{
	font-family: 'OSPDIN', Arial, sans-serif; font-weight: normal;
	text-transform: uppercase;
	line-height: 1.5;
}

h1{ font-size: 5em; }
h2{ font-size: 3.5em; }
h3{ font-size: 2.5em; }
h4{ font-size: 1.5em; }
h5{ font-size: 1em; }