/* begin child theme css style here */
/*
 rename this to child-style.css
 any custom css can be input here to prevent any css edit missing when version updates to themes
 to effective overide some css used #custom first id hack

 sample:
 #custom .myclass {}  or used !important for better css hack overide

 sample
 #custom .myclass {
 color: #fff !important;
 size: 14px !important;
 }

 try not to touch the css from other stylesheet for better and easy updates.
*/

/* 18246-1343677369 */