a#my-events,
a#bp-admin-events ul
{
	display:none;
}

body.events div#subnav
{
	border: 0;
	min-height: 0;
	height: 1px;
}

div.event-actions
{
	margin: 9px 0;
	font-size: 0px;
}

div.event-actions a.button
{
	font: 11px/20px Arial,Tahoma,Verdana,sans-serif;
	padding: 4px 8px;
}

table.events-table
{
    border-width: 0px !important;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 15px;
}

table.events-table tr.header-row
{
/*
	color: #FFF;
	background-color: #686868;
*/
}

table.events-table tr
{
	background-color: #F4F4F4;
}

table.events-table tr.alternate
{
	background-color: #fff;
}

table.events-table td
{
	vertical-align: top;
    border-top: 1px solid #eaeaea !important;
}

td.event-title a:link,
td.event-title a:visited
{
	text-decoration: none;
}

table.events-table .recurrence-descr
{
	font-size: 12px;
}

table.events-table th
{
	font-size: 12px !important;
}

table.events-table th.event-date
{
	width:90px;
	text-align: center;
	font-family: Arial,Tahoma,Verdana,sans-serif !important;
}

table.events-table th.event-time
{
	width: 115px;
}

table.events-table .event-location
{
	width: 100px;
}

table.events-table .event-date
{
	font-family: Arial,Tahoma,Verdana,sans-serif !important;
/* 	color: #999; */
}

table.events-table div.event-date
{
	font-weight: bold;
	font-size: 1.2em;
	background: none repeat scroll 0 0 #FFCC0F;
/* 	color: #000; */
	margin: 0 auto;
	padding: 5px;
/* 	width: 70px; */
	display: block;
}

table.events-table .event-time
{
	padding-top: 10px;
	font-weight: bold;
}

table.events-table .event-date span
{
	display: block;
	font-size: 11px;
}

table.events-table .event-group
{
	text-align: center;
	font-size: 11px;
	width: 50px;
	line-height: normal;
}

table.events-table .event-group a
{
	text-decoration: none;
}

table.events-table .event-group .avatar
{
	float: none;
	height: 30px;
	width: 30px;
}

.em-events-search input[type=text],
/* .em-events-search select, */
/* #event-form select, */
#event-form input[type=text]
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px inset #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    font-family: inherit;
    font-size: 14px;
    padding: 1px 3px;
    width: 150px;
}

input#em-date-start-loc,
input#em-date-end-loc
{
	width: 75px;
}

div.em-events-search
{
	margin-bottom: 18px;
}

#event-form label 
{
	float: left;
	height: 18px;
	width: 125px;
	font-weight: bold;
	margin: 4px 0;
    font-size: 14px;
    text-align: right;
    padding-right: 4px;
    clear: left;
}

#event-form input,
#event-form select
{
	display: block;
	margin: 4px 0;
}

#event-form div.event-form-when label,
#event-form div.event-form-when input,
#event-form div.event-form-recurrence label,
#event-form div.event-form-recurrence input,
#event-form div.event-form-recurrence select
{
	display: inline;
	float: none;
}

#event-form textarea
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px inset #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
    font-family: inherit;
    font-size: 14px;
    height: 100px;
    padding: 6px;
    width: 780px;
}

#event-form textarea:focus {
    border-color: rgba(31, 179, 221, 0.9) !important;
    box-shadow: 0 0 7px rgba(31, 179, 221, 0.7);
    outline-color: rgba(31, 179, 221, 0.9);
}

#event-form div.event-cats 
{
    float: left;
    margin-left: 18px;
    width: 260px;
}

#event-form div.event-cats input
{
	display: inline;
}

#event-form div.event-cats span
{
	float: left;
	width: 130px;
}

#event-form input.disabled
{
	border: 0;
}

legend
{
    border-bottom: 1px solid #EAEAEA;
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 0;
    width: 100%;
}

#event-form fieldset
{
    padding: 8px 0 0 0;
	margin-top: 18px;
}

#event-form p.note
{
	font-size: 12px;
	margin: 0;
}

#event-form input.readonly
{
	color: #555;
}

#event-form #em-location-data input[disabled=disabled],
#event-form #em-location-data select[disabled=disabled]
{
	color: #555;
	background-color: #e7e7e7 !important;
}

div.tablenav-pages
{
	font-size: 14px;
	font-weight: bold;
}

div.tablenav-pages span.displaying-num
{
	float: right;
	font-weight: normal;
}

div.tablenav-pages .page-numbers
{
	display: block;
	float: left;
	padding: 2px 8px;
	margin: 2px;
	border-radius: 3px;
}


div.tablenav-pages span.page-numbers,
div.tablenav-pages a.page-numbers:link,
div.tablenav-pages a.page-numbers:visited
{
	background: #fff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#ededed 100%); /* W3C */
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #777;
	font: normal 12px/20px Arial, Tahoma, Verdana, sans-serif;
	outline: none;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
	line-height: 14px;
}

div.tablenav-pages a.page-numbers:hover,
div.tablenav-pages a.page-numbers:active
{
	background: #ededed;
	background: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#e0e0e0 100%); /* W3C */
	border: 1px solid #bbb;
	color: #555;
	outline: none;
	text-decoration: none;
}


div.tablenav-pages span.page-numbers
{
	background: #e7e7e7;
/* 	color: #A25047; */
	font-weight: bold;
}

div.tablenav-pages span.dots
{
	background-color: transparent;
	color: inherit;
	border: none;
}

div.tablenav
{
	margin-bottom: 8px;
}

table.events-table a.row-title
{
	font-weight: bold;
}

p.recurrence-descr
{
	background-image: url(img/system/icon-recurring.png);
	background-repeat: no-repeat;
	padding-left: 15px;
	background-position: center left;
}

ul.event-categories,
ul.event-categories li
{
	padding: 0 !important;
	margin: 0 !important;
	list-style-type: none !important;
	display: inline;
}

/*
table.events-table tr.alternate
{

}
*/

.event-title p
{
	margin-bottom: 5px;
}

a.ics-download
{
	background-image: url("img/system/icon-ics.png");
	background-repeat: no-repeat;
	background-position: left center;
	display: -moz-inline-box;
	display: inline-block;
	margin-left: 18px;
	padding-left: 18px;
	position: relative;
	top: 7px;
}

a.events-rss
{
	background-image: url("/wp-content/plugins/buddypress/bp-themes/bp-default/_inc/images/rss.png");
	background-repeat: no-repeat;
	background-position: left center;
	display: -moz-inline-box;
	display: inline-block;
	margin-left: 18px;
	padding-left: 18px;
	position: relative;
	top: 7px;
}

div.tablenav
{
	position: relative;
}

div#ics-link
{
	visibility: hidden; 
	position: absolute;
	padding: 10px;
	background-color: #FFF;	
	border-radius: 3px 3px 3px 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
    width: 250px;
}

div#ics-link input
{
	width: 244px;
	padding: 2px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px inset #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #555555;
}

div#ics-link input:focus
{
    box-shadow: 0 0 7px rgba(31, 179, 221, 0.7);
}

a#close-ics
{
	position: absolute;
	top: 10px;
	right: 10px;
}